<apex:page sidebar="false" id="myPage" showHeader="true" applyBodyTag="false" applyHtmlTag="true" controller="Claim_getClaimStatus">
<apex:form id="myForm">
   
    <!-- <c:SalesPlanningComponent /> -->
    <html>
        <head>
           <!-- <c:SalesPlanningComponentHeader />
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/> -->
           <apex:stylesheet value="{!URLFOR($Resource.Bootstrap_LESS,'/bootstrap-3.3.4-dist/css/bootstrap.css')}"/>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
          <!-- alertify -->
            <apex:stylesheet value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/themes/alertify.core.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/themes/alertify.bootstrap.css')}"/>
            <apex:includeScript value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/lib/alertify.min.js')}"/>
          <style type="text/css">
            
.table td {
  background-color: #fff !important;
}
.table th {
    background-color: #0055aa  !important;
    color: #fff;
    font-family: sans-serif;
}
 .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  } 

  .btn {
  display: inline-block !important;
  padding: 8px 12px !important;
  margin-bottom: 0 !important;
  font-size: 13px !important;
  font-weight: normal !important;
  line-height: 1.428571429 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  cursor: pointer !important;
  background-image: none !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
       -o-user-select: none !important;
          user-select: none !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #0055aa !important;
  border-color: #0055aa !important;
}

.btn-primary > .disabled {
    color: #ffffff;
    background-color: #325d88;
    border-color: transparent;
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
}

.btn-lg {
  padding: 14px 16px !important;
  font-size: 17px !important;
  line-height: 1.33 !important;
  border-radius: 6px !important;
}

.btn-sm {
  padding: 5px 10px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}

.btn-xs {
  padding: 1px 5px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}
    .activeTab {background-color: #f5822d; color:white; background-image:none;height:20px;line-height: 20px;font-family: sans-serif;letter-spacing: 1px;font-size: 12px;box-shadow: 3px 0 5px -3px #999,-3px 0 5px -3px #999;}
    .inactiveTab { background-color: #0055aa; color:white; background-image:none;height:20px;line-height: 20px;font-family: sans-serif;letter-spacing: 1px;font-size: 12px;border-top-left-radius: 7px;border-top-right-radius: 7px;box-shadow: 3px 0 5px -3px #999,-3px 0 5px -3px #999;}
    .tabHeight{ height:40px;border-top-left-radius: 7px;border-top-right-radius: 7px;box-shadow: 3px 0 5px -3px #999,-3px 0 5px -3px #999;}
    .panelPosition{float:left;}
    .contentC {background-color: #FFF;}
    p{
      font-size: 12px;
      font-family:sans-serif;
      letter-spacing: 1px;
    } 
    .centeralign{
        text-align: center !important;
    }

          </style>
        </head>
        <script>
            $j = jQuery.noConflict();
            $j( document ).ready(function() {
                fetchDetails();
            });
            
            function fetchDetails() {
            	//var claimId = (window.location.search).split("?id=");
            	//document.getElementById("claimid").innerHTML = claimId[1];
                $j("#el_loading").show();
                var tab = $j("#tableOfSales");
                //var tab2 = $j('#tableBody');
                resLength = 0;
                var customArr = [];
                Visualforce.remoting.timeout = 120000;
                var catResultLength;
                $j('#tableBody').empty();
                $j('#tableOfSales').empty();
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.Claim_getClaimStatus.fetchClaimStatus}','{!$CurrentPage.parameters.Id}', function(result,event) {
                    //alert(result.length+'fggg');
                    console.log(result);
                    if(result == undefined){
                        $j("#el_loading").hide();
                        alertify.alert(event.message);
                    }
                else{
                    $j("#el_loading").hide();
                    console.log(result);
                    var rowL = '<tr class="centeralign">';
                    var trsN;
                    rowL = rowL + trsN;
                    rowL + '</tr>'; 
                    tab.append(rowL);    
                    var bodyRow = '';
                      for(var i=0;i<result.length;i++){
                          console.log('===== '+i);
                          bodyRow = '<tr>';
                          var bodyTd = '';
                              bodyTd =  
                              			'<tr><td class="centeralign"> Claim Number </td> <td class="centeralign">'+'{!$CurrentPage.parameters.Id}'+'</td></tr>'+
                              			'<tr><td class="centeralign"> Notification Number </td> <td class="centeralign">'+(result[i].claim_notificationNumber)+'</td></tr>'+
//                               			'<tr><td class="centeralign"> Notification No </td> <td class="centeralign">'+(result[i].claim_notificationNo )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Plant </td> <td class="centeralign">'+(result[i].claim_plantForNotification )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Date on Which Record Was Created </td> <td class="centeralign">'+(result[i].claim_recordCreatedDate)+'</td></tr>'+
                              			'<tr><td class="centeralign"> Sold-To-Party </td> <td class="centeralign">'+(result[i].claim_soldToParty)+'</td></tr>'+
                              			'<tr><td class="centeralign"> Sold-To-Party Name</td> <td class="centeralign">'+(result[i].claim_soldToPartyName)+'</td></tr>'+
                              			'<tr><td class="centeralign"> Customer Name </td> <td class="centeralign">'+(result[i].claim_customerName )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Customer Address </td> <td class="centeralign">'+(result[i].claim_customerAddress)+'</td></tr>'+
                              			'<tr><td class="centeralign"> Material Number </td> <td class="centeralign">'+(result[i].claim_materialNumber )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Material Group </td> <td class="centeralign">'+(result[i].claim_materialGroup)+'</td></tr>'+
                              			'<tr><td class="centeralign"> Material Description </td> <td class="centeralign">'+(result[i].claim_materialDescription )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Sales Group </td> <td class="centeralign">'+(result[i].claim_salesGroup )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Serial Number </td> <td class="centeralign">'+(result[i].claim_serialNumber )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Inspection Date </td> <td class="centeralign">'+(result[i].claim_inspectionDate)+'</td></tr>'+
                              			'<tr><td class="centeralign"> Disposition </td> <td class="centeralign">'+(result[i].claim_codeGroupProblem )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Damage Code </td> <td class="centeralign">'+(result[i].claim_problemOrDamageCode)+'</td></tr>'+
                              			'<tr><td class="centeralign"> Defect Code </td> <td class="centeralign">'+(result[i].claim_defectCode)+'</td></tr>'+
                              			'<tr><td class="centeralign"> Actual NSD </td> <td class="centeralign">'+(result[i].claim_actualNSD )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Wear% </td> <td class="centeralign">'+(result[i].claim_wearPercent)+'</td></tr>'+
                              			'<tr><td class="centeralign"> NBP </td> <td class="centeralign">'+(result[i].claim_nbp)+'</td></tr>'+
                              			'<tr><td class="centeralign"> Repl-Offer </td> <td class="centeralign">'+(result[i].claim_replOffer )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Claim Loss </td> <td class="centeralign">'+(result[i].claim_claimLoss )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Invoice CL / 10 </td> <td class="centeralign">'+(result[i].claim_invoiceCL10)+'</td></tr>'+
                              			'<tr><td class="centeralign"> CL9/ND6 </td> <td class="centeralign">'+(result[i].claim_cl9Nd6 )+'</td></tr>'+
                              			'<tr><td class="centeralign"> CL9/ND6 Date </td> <td class="centeralign">'+(result[i].claim_cl9Nd6Date )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Invoice/CL 10 Date </td> <td class="centeralign">'+(result[i].claim_invoiceCL10Date )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Inspected By </td> <td class="centeralign">'+(result[i].claim_insepectedBy)+'</td></tr>'+
                              			'<tr><td class="centeralign"> Docket Number </td> <td class="centeralign">'+(result[i].claim_docketNumber )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Mobile Number </td> <td class="centeralign">'+(result[i].claim_mobileNumber)+'</td></tr>'+
                              			'<tr><td class="centeralign"> Sales district </td> <td class="centeralign">'+(result[i].claim_salesDistrict)+'</td></tr>'+
                              			'<tr><td class="centeralign"> Out Door Inspection Slip Number </td> <td class="centeralign">'+(result[i].claim_outDoorInspection )+'</td></tr>'+
                              			'<tr><td class="centeralign"> Out Door Inspection Slip Date </td> <td class="centeralign">'+(result[i].claim_billingDateforBilling)+'</td></tr>';

                          bodyRow += bodyTd;
                          
                          $j('#tableBody').append(bodyRow);
                      }
                    //bodyRow = '<tr><td class="leftalign" colspan="6"> <b>MOQ</b> : Order quantity is below the Minimum Order Quantity</td> </tr>';
                    //bodyRow = bodyRow + '<tr><td class="leftalign" colspan="2"> <b>Load Failure</b> :  Order quantity is less than container load</td> </tr>';
                     // $j('#tableBody').append(bodyRow);  
                }
                });
            }
        </script>
        
        <body>
          <div class="nm">
          
             <apex:tabPanel styleClass="panelPosition" switchType="client" selectedTab="name2" id="theTabPanel" activeTabClass="activeTab" inactiveTabClass="inactiveTab" width="100%" contentClass="contentC">
             <apex:tab label="Claim Number" name="PI_Number" id="piNumber">
              <div class="input-group" style="padding-top : 2%; margin-left: 1%;">
<!--               		Claim Status for: <span id="claimid"></span> -->
                  <!-- <label for="pinumber">PI Number</label> -->
<!--                   <input type="text" id="pinumber" class="form-control" placeholder="Enter Docket Number" aria-describedby="sizing-addon1"> -->
<!--                   </input> -->
              </div>
<!--               <input type="button" value="Get Claim Details" class="btn-primary btn-md" style="margin-top: -2.5%;position: absolute; margin-left: 30%; height:30px" onclick="fetchDetails(); return false;"> </input> -->
                   
                  <table class="table table-bordered" id="demo_stupidtable" style="border: 1px solid;margin-top: 1%;">
                      <thead id="tableOfSales" style="border: 1px solid;">
                      </thead>
                      <tbody id="tableBody" class="stickyTop fontFamily" style="height:33px;border: 1px solid ;">
                      </tbody> 
                      <tfoot id="tablefoot" class="stickyTop fontFamily" style="border: 1px solid ;">
                      </tfoot>
                  </table>    
                  <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height: 120%;opacity:0.65;width:100%; display:None;" onclick="return false;"> 
                  <div class="waitingHolder" style="center: 104.2px; width: 100px; right:50px;">
                      <img class="waitingImage" src="/img/loading32.gif" title="Please Wait..." />
                      <span class="waitingDescription">Loading ...</span>
                  </div>
              </div>
            </apex:tab>
            </apex:tabPanel>
            </div> 
        </body>
    </html>
</apex:form>    
</apex:page>