<apex:page standardController="Account" extensions="ComplaintBPOController" id="MyPage" >
<apex:sectionHeader title="New Customer Registration" subtitle="Complaints Customer" id="sectionhead"/>


<apex:form id="CustomerForm" >
<html>
<head>
<apex:stylesheet value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/themes/alertify.core.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/themes/alertify.bootstrap.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/lib/alertify.min.js')}"/>
<script>
function getAllDistricts(state){
           console.log('state@@',state)
              ComplaintBPOController.getDistricts(state,
                function(result, event)
                { 
                 if(event.status)
                    { 
                        document.getElementById("disrtict").options.length = 0;
                        var lstObjFields = document.getElementById('disrtict');
                        for(var i = 0; i < result.length; i++)
                        {
                            var objFields  = document.createElement('option');
                            objFields.value = result[i];
                            objFields.text =  result[i];
                            lstObjFields.appendChild(objFields);
                        }
                    }
            });
       }
     
        function getAllTowns(dist){
           console.log('dist@@',dist);
           
      
              ComplaintBPOController.getTowns(dist,
                function(result, event)
                { 
                     if(event.status)
                        { 
                        document.getElementById("town").options.length = 0;
                        var lstObjFields = document.getElementById('town');
                        for(var i = 0; i < result.length; i++)
                        {
                            var objFields  = document.createElement('option');
                            objFields.value = result[i];
                            objFields.text =  result[i];
                            lstObjFields.appendChild(objFields);
                        }

                    }
            });
      
      
       }
       
       function saveComplaintCustomer(){
       alertify.set({ labels: {
                    ok     : "Ok"
                    
                } });
                 
        var isGap0 = true;
        var errMsg = '';
        var compEmail='null';
        var compStreet1='null';
       var compName  =document.getElementById('MyPage:CustomerForm:compcustomerDetails:Details:name').value;
       var compPhone =document.getElementById('MyPage:CustomerForm:compcustomerDetails:Details:phone').value;
       var compState =document.getElementById('MyPage:CustomerForm:compcustomerDetails:Details:state').value;
       var compDistrict =document.getElementById('disrtict').value;
       var compEmail = document.getElementById('MyPage:CustomerForm:compcustomerDetails:Details:email').value;
       var compStreet1 = document.getElementById('MyPage:CustomerForm:compcustomerDetails:Details:Street1').value;
       var compTown = document.getElementById('town').value;
       var compTypeOfCust = document.getElementById('MyPage:CustomerForm:compcustomerDetails:Details:TypeCust').value;
       console.log('name',compName);
       console.log('name',compPhone);
       console.log('state',compState);
       console.log('name',compDistrict);
       console.log('name',compEmail);
       console.log('name',compStreet1);
       console.log('name',compTown);
       console.log('name',compTypeOfCust);
       if(compName == ''){
                        errMsg += 'Name'+'\n'+'<br/>';
                        isGap0 = false;
                 }
       if(compPhone == ''){
                        errMsg += 'Phone'+'\n'+'<br/>';
                        isGap0 = false;
                 }
      if(compState == '--None--' || compState == ''){
                        errMsg += 'State'+'\n'+'<br/>';
                        isGap0 = false;
                 }
      if(compDistrict == '--None--' || compDistrict == ''){
                        errMsg += 'District'+'\n'+'<br/>';
                        isGap0 = false;
                 }
                    if(isGap0 == false){
                    alertify.alert("Following required fields are missing :<br/>"+errMsg, function(e){
                        if(e){
                            isGap0 = true;
                        } else {
                            isGap0 = false;
                           
                        }                             
                    });
                }
                if(isGap0 == true ) {
                    alertify.set({ labels: {
                    ok     : "OK"
                    
                    } });
                  
                
                 
                                      
       Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.ComplaintBPOController.saveComplaintCustomer}',compName,compPhone,compState,compDistrict,compTown,compEmail,compStreet1,compTypeOfCust,function(result, event){
                if(result!=null){
                            
                            alertify.alert("Saved Successfully");
                           // window.open(result,'_self');
                             //location.replace(document.referrer);
                             window.location.href = '/apex/ComplaintBPOPage_V2?AccountId='+result;
                            
                        }else{
                            alertify.alert("Please try again");
                        }

                      
        });
        }
       }

</script>
<apex:pageBlock id="compcustomerDetails">
<apex:pageBlockSection ><apex:outputLabel style="color:red;font-family:verdana;
    font-size:150%;"> * - Mandatory Fields</apex:outputLabel></apex:pageBlockSection>
  <apex:pageBlockSection title="Complaint Customer Details" id="Details" >    
     
      <apex:InputField value="{!Account.Name}" label="Customer Name *" id="name" /> 
      <apex:InputField value="{!Account.Type_Of_Customer__c}" label="Type Of Customer" id="TypeCust"/ >
      <apex:InputField value="{!Account.AD_TLNMBR__c}" label="Phone *" id="phone"/ >
      <apex:InputField value="{!Account.Email__c}" label="Email Id" id="email"/>
      <apex:InputField value="{!Account.Street_1__c}" label="Street 1" id="Street1"/>
      <apex:selectList label="State *"  id="state" size="1" value="{!selectedState}"  onchange="getAllDistricts(this.value);" >
                  <apex:selectOptions value="{!stateList}"  />
       </apex:selectList>
       
      <apex:pageBlockSectionItem >
      <apex:outputLabel >District *</apex:outputLabel>
       <select label="District *" id="disrtict" name="disrtict" onChange="getAllTowns(this.value);" value="District">
        <option value="">--None--</option>
       </select>
     </apex:pageBlockSectionItem>
    <apex:pageBlockSectionItem >
    <apex:outputLabel >Town</apex:outputLabel>
    <select label="Town" id="town" name="town" value="Town">Town
     <option value="">--None--</option>
    </select>
    </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
    <apex:pageblockbuttons id="IdPBSection1">            
            <apex:commandbutton value="Save" onclick="saveComplaintCustomer();return false;" />
            <apex:commandbutton value="Cancel" action="{!Cancel}"/>
  </apex:pageblockbuttons> 
      
  
  </apex:pageBlock>
  </head>
  </html>
  </apex:form>
  
</apex:page>