<apex:page controller="CPORT_PortalHomeController"
            
           >

<html ng-app="ceatapp" lang="en">
<head>
<title>Customer 360 Exports</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<apex:includeScript value="{!URLFOR($Resource.JQuery,'jquery-ui-1.10.3.custom/js/jquery-1.9.1.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.JQuery,'jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}"/>

<link href="{!URLFOR($Resource.JQuery,'jquery-ui-1.10.3.custom/css/start/jquery-ui-1.10.3.custom.css')}" rel="stylesheet" />
<link href="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/css/ng-table.min.css')}" rel="stylesheet" />
<apex:includeScript value="{!URLFOR($Resource.ExcellentExport,'/excellentexport-1.4/excellentexport.min.js')}"/>
<link href="{!URLFOR($Resource.LoadingAnimation)}" rel="stylesheet" />    

<script type="text/javascript">
    var $j = jQuery.noConflict();
    $j(document).ready(function(){
        $j(".datepicker").datepicker({
            defaultDate:0,
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true
            
        });
    });

</script>
    
<script type="text/javascript">
var myapp = angular.module('ceatapp', ['ngTable','ui']);

myapp.factory('FETCHDETAILS', ['$q', '$log', function($q, $log){
        var handleReq = function(remoteCall,customerId,fromDAte,ToDate) {
        var defer = $q.defer();
        remoteCall(customerId,fromDAte,ToDate,'',
          function(result, event) {
            if(event.status) {
              defer.resolve(result);
            }
            else {
              $log.error(event.message);
              defer.reject(event.message);
            }
          },
          {escape:false, buffer: false}
        );
        return defer.promise;
      }

      return {
        getRecordsFromSFDC: function(methodName,customerId,fromDAte,ToDate) {
          return handleReq(methodName,customerId,fromDAte,ToDate);
        }
      }
}]);
myapp.factory("SFDC", ['$q', '$log', function($q, $log){
        var handleReq = function(remoteCall,accId) {
        var defer = $q.defer();
        remoteCall(accId,
          function(result, event) {
            if(event.status) {
              defer.resolve(result);
            }
            else {
              $log.error(event.message);
              defer.reject(event.message);
            }
          },
          {escape:false, buffer: false}
        );
        return defer.promise;
      }

      return {
        getCustomerLimits: function(accId) {
          return handleReq(CPORT_PortalHomeController.getAccountInfo,accId);
        }

      }
  }]);
myapp.factory('GETDETAILS', ['$q', '$log', function($q, $log){
        var handleReq = function(remoteCall,custNum,fdate,tdate) {
        var defer = $q.defer();
        remoteCall(custNum,fdate,tdate,
          function(result, event) {
            if(event.status) {
              defer.resolve(result);
            }
            else {
              $log.error(event.message);
              defer.reject(event.message);
            }
          },
          {escape:false, buffer: false}
        );
        return defer.promise;
      }

      return {
        getRecordsFromSFDC: function(methodName,custNum,fdate,tdate) {
          return handleReq(methodName,custNum,fdate,tdate);
        }
      }
}]);

myapp.factory('CONVERT_DATE', ['$log', function($log){
  return function(currenteDate){
      var temp = currenteDate.split("-");

      return (temp[2]+'-'+temp[1]+'-'+temp[0]);
  };
}])

myapp.controller('CollapseDemoCtrl',['CONVERT_DATE','GETDETAILS','SFDC','FETCHDETAILS','$scope','$filter','$q','$log','$sce','ngTableParams','$window',function(CONVERT_DATE,GETDETAILS,SFDC,FETCHDETAILS,$scope,$filter,$q,$log,$sce,ngTableParams,$window) {

var dateToday = $filter('date')(new Date(),'dd-MM-yyyy');
$scope.urlParma = '{!$currentpage.parameters.Id}';

$scope.pannelTitle      = "Account Statement";
$scope.accountStatement = true;
$scope.loadingH         = true; 
$scope.filterOption     = true;   
$scope.show             = false;
  
$scope.salesList   = [];
$scope.accountList = [];
$scope.invoiceList = [];

$scope.filterOptionSR      = true;   
$scope.filterOptionINV     = true;   

$scope.Total = 0;

var filter = false ;
var data = [];   
            $q.all({ 
                    LIMIT_DET : SFDC.getCustomerLimits($scope.urlParma),
                   
            }).then(function(resp) {
                    $log.debug($scope.urlParma);                    
                    $scope.userDetails = resp.LIMIT_DET;                   
                    $scope.loadingH = false;
                    
            });

$scope.changeFilterToDefault = function(){
  $log.info('HERE');
  $scope.filterOption = true;
}

// Date Support
  $scope.todayDate = function(){
    var d  = new Date();
    var mn = d.getMonth()+1;
    var dd = d.getDate();
    var temp = (dd.toString().length < 2 ? '0'+dd.toString():dd.toString())+'-'+(mn.toString().length < 2 ? '0'+mn.toString(): mn.toString())+'-'+d.getFullYear();
    return temp;
  }; 

  $scope.firstDayMonth = function(){
    var d  = new Date();
    var mn = d.getMonth()+1;
    var temp = '01-'+(mn.toString().length < 2 ? '0'+mn.toString(): mn.toString())+'-'+d.getFullYear();
    return temp;
  };
 
    $scope.fromDate    =  $scope.firstDayMonth();
    $scope.toDate      =  $scope.todayDate();
    
    $scope.fromDateSR  =  $scope.firstDayMonth();
    $scope.toDateSR    =  $scope.todayDate();

    $scope.showOptions = function(){
        $scope.filterOption = ($scope.filterOption ? false : true);
    };
    $scope.showOptionsSR = function(){
        $scope.filterOptionSR = ($scope.filterOptionSR ? false : true);
    };
    
    $scope.showOptionsINV = function(){
        $scope.filterOptionINV = ($scope.filterOptionINV ? false : true);
    };
   

  // Date Over  
  $scope.hoverIn = function(){
    this.hoverEdit = true;
  };

  $scope.hoverOut = function(){
    this.hoverEdit = false;
  };
  // Account Statement Table

  $scope.showDetails = function(){
    
    $log.debug($scope.fromDate);
    $scope.AccountStatementSum = {};
    $scope.loadingH = true;
            $q.all({ 
                    USER_MAP : FETCHDETAILS.getRecordsFromSFDC(CPORT_PortalHomeController.fetchCreditDebitNotes,$scope.userDetails.account.KUNNR__c,CONVERT_DATE($scope.fromDate),CONVERT_DATE($scope.toDate))
            }).then(function(resp) {
                     data = [];
                    //$log.debug(JSON.stringify(resp));
                    var delInvc = 0;
                    var payments = 0;
                    var sds = 0;
                    var clainIvc = 0;
                   
                    $scope.filterOption = false;
                    $scope.filterOptionID = true;
                    $scope.filterOptionCR = true;
                    $scope.filterOptionSR = true;
                    $scope.filterOptionCNDN = true;
                    $scope.filterOptionDS = true;
                    $scope.filterOptionPL = true;
                    var bal = 0;
                    $scope.accountStatementArray = resp.USER_MAP.records;
                    angular.forEach(resp.USER_MAP,function(rec,key){
                        
                        $log.info(bal);
                       if(rec.ItemText=='Opening Balance'){
                         $scope.openingBal = rec.AmtDoccur1 - rec.AmtDoccur;
                         rec.Balance = parseInt(rec.AmtDoccur1) - parseInt(rec.AmtDoccur); 
                         bal =  rec.Balance;
                                              
                         data.push(rec);
                       }else{ //  if(rec.ItemText !='Sds Interest')
                         rec.Balance = (bal +  parseInt(rec.AmtDoccur1)) - parseInt(rec.AmtDoccur); 
                         bal = rec.Balance;
                         data.push(rec);
                         
                         //$log.info(rec.ItemText.toUpperCase() + ' ' + rec.Cdnum + ' ' + rec.AmtDoccur1);
                         
                         if(rec.ItemText.toUpperCase().trim().indexOf("DEALER") > -1){
                            if(rec.Cdnum != '' ){
                                payments = payments + parseInt(rec.AmtDoccur);
                                
                            }else{
                                delInvc = delInvc + parseInt(rec.AmtDoccur1);
                            }
                            
                         }else if(rec.ItemText.toUpperCase().trim().indexOf("CLAIM") > -1){
                            clainIvc = clainIvc + parseInt(rec.AmtDoccur1);
                         }else if(rec.ItemText.toUpperCase().trim() == 'CUSTOMER DOCUMENT'){
                            sds = sds + parseInt(rec.AmtDoccur1);
                         }
                           
                       }
                       if($scope.AccountStatementSum[rec.ItemText] == '' || $scope.AccountStatementSum[rec.ItemText] == null){
                          //$log.debug('Outside If ' + JSON.stringify(rec.AmtDoccur1));
                          if(rec.AmtDoccur1 != "0.0") {
                            $scope.AccountStatementSum[rec.ItemText] = rec.AmtDoccur1;
                          }else {
                            $scope.AccountStatementSum[rec.ItemText] = rec.AmtDoccur;
                          }
                     
                      }else{
                        if(rec.AmtDoccur1 != "0.0") {
                            var temp = parseFloat(rec.AmtDoccur1) + parseFloat($scope.AccountStatementSum[rec.ItemText]);
                            $scope.AccountStatementSum[rec.ItemText] = temp;
                        }
                        else {
                          var temp = parseFloat(rec.AmtDoccur) + parseFloat($scope.AccountStatementSum[rec.ItemText]);
                            $scope.AccountStatementSum[rec.ItemText] = temp;
                        }
                      }

                       
                    });
                    
                    /*$scope.accountSummary = [];
                    $scope.accountSummary.push({ title : "Dealer Invoice" , outP : delInvc });
                    $scope.accountSummary.push({ title : "SDS Transfer" , outP : sds });
                    $scope.accountSummary.push({ title : "Claim Invoice" , outP : clainIvc });
                    $scope.accountSummary.push({ title : "Payment" , outP : payments });*/
                    
                    delete $scope.AccountStatementSum['Opening Balance'];
                    delete $scope.AccountStatementSum['Closing Balance'];
                    data = [];
                    $scope.filterOption = false;
                    angular.forEach(resp.USER_MAP,function(rec,key){
                        data.push(rec);
                    });
                    $log.debug('IN METHOD',data);                    
                    $scope.accountStatementTable.reload();
                    $scope.accountList = resp.USER_MAP;
                    $scope.loadingH = false; 
                   
            });
    
  }

   $scope.accountStatementTable = new ngTableParams({
                page: 1,            // show first page
                count: 15
                         // count per page
            }, {
                counts:[],
                total: data.length, // length of data
                getData: function($defer, params) {
                    params.total(data.length);
                    $defer.resolve(data.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
   });

 // Invoice Due 
 
 $scope.showDetailsInvDue = function(){
  $scope.loadingH = true; 
            $q.all({ 
                    USER_MAP : FETCHDETAILS.getRecordsFromSFDC(CPORT_PortalHomeController.fetchCustomerInvoiceDue,$scope.userDetails.account.KUNNR__c,'2014-12-12','2014-12-12')
            }).then(function(resp) {
                data = [];
                $scope.filterOption    = true;
                $scope.filterOptionINV = false;
                $scope.filterOptionSR  = true;
                
                //$scope.accountStatementArray = resp.USER_MAP.records;
                angular.forEach(resp.USER_MAP,function(rec,key){
                      data.push(rec);
                    });
                    $log.debug('IN METHOD',data.length);
                    
                    $scope.invoiceDueStatementTable.reload();
                    $scope.invoiceList = resp.USER_MAP; 
                    $scope.loadingH = false; 
            });
 }

 // Invoice due Table

        $scope.invoiceDueStatementTable = new ngTableParams({
                page: 1,            // show first page
                count: 10
                         // count per page
            }, {
              counts:[],
                total: data.length, // length of data
                getData: function($defer, params) {
                  params.total(data.length);
                    $defer.resolve(data.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
       });

     $scope.calculateTotal=function(itemTotal) {
        $scope.Total += itemTotal;

     }
     
     $scope.calcCurr=function(curVle){
      $scope.Currency =curVle;
      //console.log('done');
      }
      
     $scope.calculatePageRec=function(){
       $scope.pageRec += 1;
       }
 // Sales Register
 $scope.showDetailsSalesReg = function(){
     
     $scope.Currency = '';
     $scope.Total=0;
     $scope.pageRec=0;
     $scope.ExportsValue=true; 
    $scope.loadingH = true;
            
            $q.all({ 
                    USER_MAP : GETDETAILS.getRecordsFromSFDC(CPORT_PortalHomeController.fetchSalesRegisterValuesExports,$scope.userDetails.account.KUNNR__c,CONVERT_DATE($scope.fromDateSR),CONVERT_DATE($scope.toDateSR))
            }).then(function(resp) {
                
                data = [];
                $scope.filterOption    = true;
                $scope.filterOptionINV = true;
                $scope.filterOptionSR  = false;
                             
                angular.forEach(resp.USER_MAP,function(rec,key){
                      data.push(rec);
                      $log.info('SALES REGISTER' + JSON.stringify(rec));
                    });
                    $log.debug('IN METHOD--------',data.length);                    
                    $scope.salesRegisterTable.reload();   
                    $scope.salesList = resp.USER_MAP;                
                    $scope.loadingH = false; 
            });

           
 }    


  // Sales Register Table
        $scope.salesRegisterTable = new ngTableParams({
                page: 1,            // show first page
                count: 15
                         // count per page
            }, {
              counts:[],
                total: data.length, // length of data
                getData: function($defer, params) {
                  params.total(data.length);
                    $defer.resolve(data.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
       });


 
}]);




</script>
<style type="text/css">
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table {
  max-width: 100%;
  background-color: transparent;
}
th {
  text-align: center;
}

.table {
  width: 80%;
  margin-bottom: 18px;
  
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 3px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  font-size: 12px;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #f7f7f7;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

.table > thead > tr > .active,
.table > tbody > tr > .active,
.table > tfoot > tr > .active,
.table > thead > .active > td,
.table > tbody > .active > td,
.table > tfoot > .active > td,
.table > thead > .active > th,
.table > tbody > .active > th,
.table > tfoot > .active > th {
  background-color: #f5f5f5;
}

.table-hover > tbody > tr > .active:hover,
.table-hover > tbody > .active:hover > td,
.table-hover > tbody > .active:hover > th {
  background-color: #e8e8e8;
}

.table > thead > tr > .success,
.table > tbody > tr > .success,
.table > tfoot > tr > .success,
.table > thead > .success > td,
.table > tbody > .success > td,
.table > tfoot > .success > td,
.table > thead > .success > th,
.table > tbody > .success > th,
.table > tfoot > .success > th {
  background-color: #dff0d8;
}

.table-hover > tbody > tr > .success:hover,
.table-hover > tbody > .success:hover > td,
.table-hover > tbody > .success:hover > th {
  background-color: #d0e9c6;
}

.table > thead > tr > .danger,
.table > tbody > tr > .danger,
.table > tfoot > tr > .danger,
.table > thead > .danger > td,
.table > tbody > .danger > td,
.table > tfoot > .danger > td,
.table > thead > .danger > th,
.table > tbody > .danger > th,
.table > tfoot > .danger > th {
  background-color: #f2dede;
}

.table-hover > tbody > tr > .danger:hover,
.table-hover > tbody > .danger:hover > td,
.table-hover > tbody > .danger:hover > th {
  background-color: #ebcccc;
}

.table > thead > tr > .warning,
.table > tbody > tr > .warning,
.table > tfoot > tr > .warning,
.table > thead > .warning > td,
.table > tbody > .warning > td,
.table > tfoot > .warning > td,
.table > thead > .warning > th,
.table > tbody > .warning > th,
.table > tfoot > .warning > th {
  background-color: #fcf8e3;
}

.table-hover > tbody > tr > .warning:hover,
.table-hover > tbody > .warning:hover > td,
.table-hover > tbody > .warning:hover > th {
  background-color: #faf2cc;
}
thead {
    display: table-header-group;
  }
.table td {
    background-color: #fff !important;
    text-align: center;
}
td div.left { text-align:left; }

th div.colW { 
  -webkit-column-width: 50px; 
    -moz-column-width: 50px; 
    column-width: 50px;
  }

.table th {
    background-color: #0055aa  !important;
    color: #fff;
    font-family: sans-serif;
}
 .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }  


.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 18px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 8px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #999999;
  cursor: default;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 14px 16px;
  font-size: 17px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pager {
  padding-left: 0;
  margin: 18px 0;
  text-align: center;
  list-style: none;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
}

.btn {
  display: inline-block !important;
  padding: 8px 12px !important;
  margin-bottom: 0 !important;
  font-size: 13px !important;
  font-weight: normal !important;
  line-height: 1.428571429 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  cursor: pointer !important;
  background-image: none !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
       -o-user-select: none !important;
          user-select: none !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #0055aa !important;
  border-color: #0055aa !important;
}

.btn-primary > .disabled {
    color: #ffffff;
    background-color: #325d88;
    border-color: transparent;
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
}

.btn-lg {
  padding: 14px 16px !important;
  font-size: 17px !important;
  line-height: 1.33 !important;
  border-radius: 6px !important;
}

.btn-sm {
  padding: 5px 10px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}

.btn-xs {
  padding: 1px 5px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}
    .activeTab {background-color: #f5822d; color:white; background-image:none;height:20px;line-height: 20px;font-family: sans-serif;letter-spacing: 1px;font-size: 12px;}
    .inactiveTab { background-color: #0055aa; color:white; background-image:none;height:20px;line-height: 20px;font-family: sans-serif;letter-spacing: 1px;font-size: 12px;}
    .tabHeight{ height:40px;}
    .panelPosition{float:left;}
    .contentC {background-color: #FFF;}
    p{
        font-size: 12px;
        font-family:sans-serif;
        letter-spacing: 1px;
    }
</style>
</head>

<body ng-controller="CollapseDemoCtrl">
<div class="loading" ng-show="loadingH" >Loading&#8230;</div>
<apex:tabPanel styleClass="panelPosition" switchType="client" selectedTab="name2" id="theTabPanel" activeTabClass="activeTab" inactiveTabClass="inactiveTab" width="100%" contentClass="contentC">

<apex:tab label="Account Statement" name="account_statement" id="account_statement">
        
   <button class="btn btn-primary btn-sm" style="float:right;" ng-click="showOptions()">Filter</button>
    <table class="table" ng-show="filterOption">
        <tr>
            <td><b>Name</b></td><td>{{ userDetails.account.Name }} </td><td><b>Customer Number</b></td><td>{{ userDetails.account.KUNNR__c }}</td>
        </tr>   
        <tr>
            <td><b>Address</b></td><td colspan="3">{{ userDetails.account.Street_1__c}} {{ userDetails.account.Street_2__c}} {{ userDetails.account.Town__c}} {{ userDetails.account.State__c}} {{ userDetails.account.District__c}} {{ userDetails.account.PIN_code__c}}</td>
        </tr>
        <tr>
          <td><b>From Date</b></td><td>
         
              <input type="text" class="datepicker" ng-model="fromDate" />
              

            </td><td><b>To Date</b></td><td>                
           
                  <input type="text" class="datepicker" ng-model="toDate"  />                  

            </td>
        </tr>
        <tr>
            <td><div class="left"> <button class="btn btn-primary btn-sm" ng-click="showDetails();">Generate Report</button></div> </td><td colspan="2"> &nbsp;</td>
        </tr>

    </table>
    <div ng-show="!filterOption">
       <!--    <p><strong>Opening Balance : </strong> {{openingBal }} &nbsp; &nbsp;&nbsp; &nbsp;  <strong>Closing Balance : </strong> {{closingBal }}</p> -->
        <p>Data displayed from <strong> {{fromDate |  date:"dd/MM/yyyy" }} </strong> to  <strong> {{toDate |  date:"dd/MM/yyyy"}} </strong></p>

    <table ng-table="accountStatementTable" class="table table-bordered table-striped" >               
            <tbody>
                <tr ng-repeat="tp in $data">
                     
                    <td data-title="'Date'" >

                        {{tp.PstngDate |  date:"dd/MM/yyyy" }}
                    </td>
                    <td data-title="'Text'" >
                        {{tp.ItemText}}
                        
                    </td>
                    <td data-title="'A/c Doc No'" >
                        {{tp.Vbeln}}
                    </td>
                    <td data-title="'Doc No'" >
                        {{tp.DocNo}}
                    </td>
                   <!-- <td ng-hide="ExportsValue" >
                        {{tp.SpGlInd}}
                    </td>-->
                    <td data-title="'Cheque No'" >
                        {{tp.Cdnum}}
                    </td>
                    <td data-title="'Narration'" >
                        {{tp.ItemText1}}
                    </td>
                   <!-- <td ng-hide="ExportsValue">
                        {{tp.Fkart}}
                    </td>-->
                   <td data-title="'Debit Amt'" >
                        {{tp.AmtDoccur1}}
                    </td>
                    <td data-title="'Credit Amt'" >
                        {{tp.AmtDoccur}}
                    </td>
                          
                    <!--  <td data-title="'Balance'" >
                       {{tp.Balance | number:2 }}
                    </td> -->
                </tr>
                </tbody>
            </table> 
            <table class="table table-bordered table-striped">
                            <thead>
                                <th>Item Text</th>
                                <th>Summary Amount</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat = "(key, value) in AccountStatementSum">
                                  <td>{{key}}</td>
                                  <td>{{value | number:2}}</td>
                                </tr>
                            </tbody>
                        </table>
           <table id ="AccountStatementTable1" style="Display:none;">
                            <tr>
                                <td>
                                    <table  class="table table-bordered table-striped" >
                                        <tbody>
                                            <tr>
                                                <th>Date</th>
                                                <th>Text</th>
                                                <th>A/c Doc No </th>
                                                <th>Doc No</th>
                                                <th>Org Doc No</th>
                                                <th>Cheque No</th>
                                                <th>Narration </th>
                                                <th>On A/C Payment Indicator </th>
                                                <th>Debit Amt </th>
                                                <th>Credit Amt </th>
                                                <th>Balance</th>
                                            </tr>
                                            <tr ng-repeat="tp in accountList">
                                                <td data-title="'Date'" >
                        {{tp.PstngDate |  date:"dd/MM/yyyy" }}
                    </td>
                                                <td data-title="'Text'" >
                        {{tp.ItemText}}                        
                    </td>
                                                <td data-title="'A/c Doc No'" >
                        {{tp.DocNo}}
                    </td>
                                                <td data-title="'Doc No'" >
                        {{tp.Vbeln}}
                    </td>
                                                <td data-title="'Org Doc No'" >
                        {{tp.SpGlInd}}
                    </td>
                                                <td data-title="'Cheque No'" >
                        {{tp.Cdnum}}
                    </td>
                                                <td data-title="'Narration'" >
                        {{tp.ItemText1}}
                    </td>
                                                <td data-title="'On A/C Payment Indicator'" >
                        {{tp.SpGlInd}}
                    </td>
                                                <td data-title="'Debit Amt'" >
                        {{tp.AmtDoccur1}}
                    </td>
                                                <td data-title="'Credit Amt'" >
                        {{tp.AmtDoccur}}
                    </td>
                                                <td data-title="'Balance'" >
                       {{tp.Balance | number:2 }}
                    </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <th>Item Text</th>
                                            <th>Summary Amount</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat = "(key, value) in AccountStatementSum">
                                              <td>{{key}}</td>
                                              <td>{{value | number:2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                <a class="btn btn-primary btn-sm" style="float:right;margin-right:10px;" download="AccountStatement.xls" href="#" onclick="return ExcellentExport.excel(this, 'AccountStatementTable1', 'Account Statement');">Download as Excel</a>
                     
            </div>
    </apex:tab>
    <!-- Invoice Due -->
    <apex:tab label="Invoices Outstanding " name="invoice_due" id="invoice_due">
            <!-- INVOIVE DUE -->
      <button class="btn btn-primary btn-sm" style="float:right;" ng-click="showOptionsINV()">Filter</button>
      <table class="table" ng-show="filterOptionINV">
      <tr>
        <td><b>Name</b></td><td>{{ userDetails.account.Name }} </td><td><b>Customer Number</b></td><td>{{ userDetails.account.KUNNR__c }}</td>
      </tr> 
      <tr>
        <td><b>Address</b></td><td colspan="3">{{ userDetails.account.Street_1__c}} {{ userDetails.account.Street_2__c}} {{ userDetails.account.Town__c}} {{ userDetails.account.State__c}} {{ userDetails.account.District__c}} {{ userDetails.account.PIN_code__c}}</td>
      </tr>      

      <tr>
        <td colspan="2"><div class="left"> <button class="btn btn-primary btn-sm" ng-click="showDetailsInvDue();">Generate Report</button></div> </td><td colspan="2"> &nbsp;</td>
      </tr>
    </table>

     <div ng-show="!filterOptionINV">
             <p>Page: {{invoiceDueStatementTable.page()}} </p>
             <p>Total Records: {{invoiceDueStatementTable.total()}} </p>

             <table ng-table="invoiceDueStatementTable" class="table table-bordered table-striped">
               
            <tbody>
                <tr ng-repeat="tp in $data">                 
                     <td data-title="'Invoice Type'" >
                        {{tp.Vtext}}
                    </td>
                    <td data-title="'Billing Doc No'" >
                        {{tp.Vbeln}}
                    </td>
                    <td data-title="'Billing Date'" >
                        {{tp.Fkdat |  date:"dd/MM/yyyy"}}
                    </td>                   
                    <td data-title="'Outstanding Amount'" class="col-sm-1 col-md-1 col-lg-1" >
                       {{tp.Curr}}  {{tp.AmtDoccur}}
                    </td>
                    
                    
                                  
                </tr>
                </tbody>
            </table>
             <table id ="invoiceTable" class="table table-bordered table-striped" style="Display:none;">            
            <tbody>
                <tr> 
                    <th><div class="colW">Invoice Type</div></th>                      
                    <th><div class="colW">Billing Doc No</div> </th>
                    <th><div class="colW">Billing Date</div></th>                   
                    <th><div class="colW">Outstanding Amount</div></th>
                                       
                </tr>                 
                <tr ng-repeat="tp in invoiceList">                                 
                     <td data-title="'Invoice Type'" >
                        {{tp.Vtext}}
                    </td>
                    <td data-title="'Billing Doc No'" >
                        {{tp.Vbeln}}
                    </td>
                    <td data-title="'Billing Date'" class="col-sm-1 col-md-1 col-lg-1">
                        {{tp.Fkdat |  date:"dd/MM/yyyy"}}
                    </td>                   
                    <td  class="col-sm-1 col-md-1 col-lg-1">
                        {{tp.Curr}}  {{tp.AmtDoccur}}
                    </td>
                    
                                
                        
                </tr>              
                </tbody>
            </table>   
             <a class="btn btn-primary btn-sm" style="float:right;margin-right:10px;" download="InvoicesDue Statements.xls" href="#" onclick="return ExcellentExport.excel(this, 'invoiceTable', 'Invoices Due');">Download as Excel</a>
             
            </div>    
   </apex:tab>
       <apex:tab label="Sales Register" name="sales_register" id="sales_register">
       <button class="btn btn-primary btn-sm" style="float:right;" ng-click="showOptionsSR()">Filter</button> 
      <table class="table" ng-show="filterOptionSR">
      <tr>
       <td><b>Name</b></td><td>{{ userDetails.account.Name }} </td><td><b>Customer Number</b></td><td>{{ userDetails.account.KUNNR__c }}</td>
      </tr> 
      <tr>
        <td><b>Address</b></td><td colspan="3">{{ userDetails.account.Street_1__c}} {{ userDetails.account.Street_2__c}} {{ userDetails.account.Town__c}} {{ userDetails.account.State__c}} {{ userDetails.account.District__c}} {{ userDetails.account.PIN_code__c}}</td>
      </tr>
      <tr>
        <td><b>From Date</b></td><td>         
      
         <input type="text" ng-model="fromDateSR" class="datepicker" />
        </td><td><b>To Date</b></td><td>
          
           <input type="text" ng-model="toDateSR" class="datepicker" />
        </td>       
      </tr>
      <tr>
         <td colspan="2"><div class="left"> <button class="btn btn-primary btn-sm" ng-click="showDetailsSalesReg();">Generate Report</button></div> </td><td colspan="2"> &nbsp;</td>
      
      </tr> 

    </table>
      
      <div ng-show="!filterOptionSR">
             <p>Page: {{salesRegisterTable.page()}} </p>
             
             
             <table ng-table="salesRegisterTable" class="table table-bordered table-striped" style="width:50%;">       
             <thead>        
                <th>Category</th>
                <th>Invoice Qty</th>
                <th ng-hide="ExportsValue"></th>

             </thead>
             <tbody>
                <tr ng-repeat="tp in $data" ng-if="!((tp.catName.match('TUBES'))|| (tp.catName.match('FLAPS')))" >
                    <td>
                        {{tp.catName | uppercase}}
                    </td>
                    <td>
                        {{tp.qty}}
                    </td> 
                    <td ng-hide="ExportsValue" ng-init="curVle = tp.curVal;calcCurr(curVle);" >{{curVle}}
                    </td>
                    </tr>
               <tr ng-repeat="tp in salesList" ng-hide="ExportsValue" ng-if="!((tp.catName.match('TUBES'))|| (tp.catName.match('FLAPS')))"> 
                      <td ng-hide="ExportsValue" ng-init="calculatePageRec();"> </td>
                      
                    </tr>  
                    <p>Total Records:{{pageRec}}</p>
                  
                  <tr ng-repeat="tp in salesList"  ng-hide="ExportsValue">
                    <td ng-hide="ExportsValue"  ng-init="itemTotal = tp.exports_value  ; calculateTotal(itemTotal);" >{{itemTotal}} 
                    </td>
                    
                </tr>
                   <p>Total Sales for the period <strong>{{fromDateSR}}</strong> to <strong>{{toDateSR}}</strong>:&nbsp;{{Currency}} {{ Total|number:2}}</p>
               
                </tbody>
            </table>
            <table id ="salesTable" class="table" style="Display:none;"> 
                    
            <tbody>
                <tr> 
                    <th>Category</th>                      
                    <th>Invoice Qty</th>                      
                                                           
                </tr>                 
                <tr ng-repeat="tp in salesList">                                    
                     <td data-title="'Category'" >
                        {{tp.catName | uppercase}}
                    </td>
                    <td data-title="'Invoice Qty'" >
                        {{tp.qty}}
                    </td> 
                    <!--<td data-title="'Export Value'" ng-show="{!hideValueColumnInPortal}" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut();">
                       {{tp.exports_value}}                        
                    </td> -->    
                </tr>
                </tbody>  
            </table>
             <a class="btn btn-primary btn-sm" style="float:right;margin-right:10px;" download="Sales Register.xls" href="#" onclick="return ExcellentExport.excel(this, 'salesTable', 'Sales Register');">Download as Excel</a>
    
            </div> 
   </apex:tab>

  </apex:tabPanel> 
        <!--  JS Files -->
   <apex:includeScript value="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/js/angular.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/js/ng-table.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/js/angular_ui.js')}"/>
</body>
</html>
</apex:page>