<apex:page controller="CPORT_PortalHomeController"
           extensions="CPORT_DISC_PLD" tabStyle="CustomerPortal__tab" >
           <html ng-app="ceatapp">
<head>
<title>Customer Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<apex:includeScript value="{!URLFOR($Resource.JQuery,'jquery-ui-1.10.3.custom/js/jquery-1.9.1.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.JQuery,'jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}"/>
<link href="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/css/BootStrapCustom.css')}" rel="stylesheet" />
<link href="{!URLFOR($Resource.JQuery,'jquery-ui-1.10.3.custom/css/start/jquery-ui-1.10.3.custom.css')}" rel="stylesheet" />
<link href="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/css/ng-table.min.css')}" rel="stylesheet" />
<apex:includeScript value="{!URLFOR($Resource.ExcellentExport,'/excellentexport-1.4/excellentexport.min.js')}"/>
<link href="{!URLFOR($Resource.LoadingAnimation)}" rel="stylesheet" />    
<script type="text/javascript">
    var $j = jQuery.noConflict();
    $j(document).ready(function(){
        $j(".datepicker").datepicker({
            defaultDate:0,
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true
            
        });
    });

    changeFilter = function(){
      console.log('In JS');    
    }

   


</script>
<script type="text/javascript">
var myapp = angular.module('ceatapp', ['ngTable','ui']);

myapp.factory("SFDC", ['$q', '$log', function($q, $log){
        var handleReq = function(remoteCall,accId) {
        var defer = $q.defer();
        remoteCall(accId,
          function(result, event) {
            if(event.status) {
              defer.resolve(result);
            }
            else {
              $log.error(event.message);
              defer.reject(event.message);
            }
          },
          {escape:false, buffer: false}
        );
        return defer.promise;
      }

      return {
        getCustomerLimits: function(accId) {
          return handleReq(CPORT_PortalHomeController.getAccountInfo,accId);
        }

      }
  }]);

  

myapp.factory("SFDC_DISCOUNTS", ['$q', '$log', function($q, $log){
        var handleReq = function(remoteCall,circleN,customerId) {
        var defer = $q.defer();
        remoteCall(circleN,customerId,
          function(result, event) {
            if(event.status) {
              defer.resolve(result);
            }
            else {
              $log.error(event.message);
              defer.reject(event.message);
            }
          },
          {escape:false, buffer: false}
        );
        return defer.promise;
      }

      return {
        getAllDiscounts: function(methodName,circleN,customerId) {
          return handleReq(methodName,circleN,customerId);
        }

      }
  }]);

myapp.factory('DELETEREC', ['$q', '$log', function($q, $log){
    return function(inputString) {
            var deferred = $q.defer();
 
            ORG_UserTerritoryMapping.deactivateUserSharing(
                inputString,
                function(result, event) {
                    
                      if (event.status) {
                        deferred.resolve(result);
                      } else {
                        deferred.reject(event);
                      }
                    
                },
                { buffer: true, escape: true, timeout: 30000 }
            );
 
            return deferred.promise;
    }
}]);

myapp.factory('FETCHDETAILS', ['$q', '$log', function($q, $log){
        var handleReq = function(remoteCall,customerId,fromDAte,ToDate) {
        var defer = $q.defer();
        remoteCall(customerId,fromDAte,ToDate,'',
          function(result, event) {
            if(event.status) {
              defer.resolve(result);
            }
            else {
              $log.error(event.message);
              defer.reject(event.message);
            }
          },
          {escape:false, buffer: false}
        );
        return defer.promise;
      }

      return {
        getRecordsFromSFDC: function(methodName,customerId,fromDAte,ToDate) {
          return handleReq(methodName,customerId,fromDAte,ToDate);
        }
      }
}]);
myapp.factory('GETDETAILS', ['$q', '$log', function($q, $log){
        var handleReq = function(remoteCall,custNum,fdate,tdate,territory) {
        var defer = $q.defer();
        remoteCall(custNum,fdate,tdate,territory,
          function(result, event) {
            if(event.status) {
              defer.resolve(result);
            }
            else {
              $log.error(event.message);
              defer.reject(event.message);
            }
          },
          {escape:false, buffer: false}
        );
        return defer.promise;
      }

      return {
        getRecordsFromSFDC: function(methodName,custNum,fdate,tdate,territory) {
          return handleReq(methodName,custNum,fdate,tdate,territory);
        }
      }
}]);
myapp.factory('NBP', ['$q', '$log', function($q, $log){
        var handleReq = function(remoteCall,matnr,matkl) {
        var defer = $q.defer();
        remoteCall(matnr,matkl,
          function(result, event) {
            if(event.status) {
              defer.resolve(result);
            }
            else {
              $log.error(event.message);
              defer.reject(event.message);
            }
          },
          {escape:false, buffer: false}
        );
        return defer.promise;
      }

      return {
        getRecordsFromSFDC: function(methodName,matnr,matkl) {
          return handleReq(methodName,matnr,matkl);
        }
      }
}]);
myapp.factory('SFDC_MAT', ['$q', '$log', function($q, $log){
        var handleReq = function(remoteCall) {
        var defer = $q.defer();
        remoteCall(
          function(result, event) {
            if(event.status) {
              defer.resolve(result);
            }
            else {
              $log.error(event.message);
              defer.reject(event.message);
            }
          },
          {escape:false, buffer: false}
        );
        return defer.promise;
      }

      return {
        getMaterialFromSFDC: function(methodName) {
          return handleReq(methodName);
        }
      }
}]);
myapp.factory('CONVERT_DATE', ['$log', function($log){
  return function(currenteDate){
      var temp = currenteDate.split("-");

      return (temp[2]+'-'+temp[1]+'-'+temp[0]);
  };
}])
myapp.controller('CollapseDemoCtrl',['SFDC_MAT','NBP','GETDETAILS','SFDC','SFDC_DISCOUNTS','DELETEREC','FETCHDETAILS','$scope','$filter','$q','$log','ngTableParams','$window','CONVERT_DATE',function(SFDC_MAT,NBP,GETDETAILS,SFDC,SFDC_DISCOUNTS,DELETEREC,FETCHDETAILS,$scope,$filter,$q,$log,ngTableParams,$window,CONVERT_DATE) {

var dateToday = $filter('date')(new Date(),'dd-MM-yyyy');
$scope.urlParma = '{!$currentpage.parameters.Id}';

//$log.info(CONVERT_DATE('19-03-2015'));

var yearG = (new Date()).getFullYear();
$scope.pannelTitle = "Account Statement";
$scope.accountStatement = true;
$scope.nbpPriceS                = false;  
$scope.loadingH     = true; 
$scope.filterOption = true;
$scope.filterOptionSDS = true;
$scope.filterOptionID = true;
$scope.filterOptionCR = true;
$scope.filterOptionSR = true;
$scope.filterOptionCNDN = true;
$scope.filterOptionDS = true;
$scope.filterOptionPL = true;

$scope.detailed =  false;
$scope.summerized =  false;
$scope.summerizedSalesRegister=  false;
$scope.summerizedSalesRegisterTable=  false;
$scope.selectedInvoice = ''; 
$scope.searchMaterial = [];
$scope.searchCategory = [];
$scope.discMonths = [{month:'Jan',code:'01'},{month:'Feb',code:'02'},{month:'Mar',code:'03'},{month:'Apr',code:'04'},
                     {month:'May',code:'05'},{month:'Jun',code:'06'},{month:'Jul',code:'07'},{month:'Aug',code:'08'},
                     {month:'Sep',code:'09'},{month:'Oct',code:'10'},{month:'Nov',code:'11'},{month:'Dec',code:'12'}];
$scope.monthDISC = $scope.discMonths[(new Date()).getMonth()];

$scope.discYears = [];
$scope.discYears.push(yearG-1);
for(var i = yearG;i<(yearG+3);i++){
  $scope.discYears.push(i);
}                    

$scope.yearDISC = $scope.discYears[1];

$scope.accountList = [];
$scope.invoiceList = [];
$scope.claimList = [];
$scope.salesList = [];
$scope.salesSummerizedList = [];
$scope.cndnList = [];
$scope.discountList = [];
$scope.priceList = [];

 $scope.closingBal = 0;                    
 $scope.openingBal = 0;
                    
var data = [];
$scope.discountsList = [];
    //alert($scope.userDetails.account.KUNNR__c);
            $q.all({ 
                    LIMIT_DET : SFDC.getCustomerLimits($scope.urlParma),
                    DISCOUNTS_ITEM : SFDC_DISCOUNTS.getAllDiscounts(CPORT_PortalHomeController.fetchDiscountMaster,'H','H'),
                    MATER_ITEM : SFDC_MAT.getMaterialFromSFDC(CPORT_PortalHomeController.getAllMaterialCodes)
            }).then(function(resp) {
                   // $log.debug($scope.urlParma);
                    //$log.debug($location.path);
                    $scope.userDetails = resp.LIMIT_DET;

                    var tempCirc = [];

                    angular.forEach(resp.LIMIT_DET.account.Customer_Discounts__r,function(record,key){

                      var temp = '00000000'+record.Circular_Number__c;

                      tempCirc.push(temp);
                    });

                   // $log.info("CIRC " + JSON.stringify(tempCirc));
                    var todayD =  new Date().getTime();

                    angular.forEach(resp.DISCOUNTS_ITEM,function(record,key){
                          var fromD  =  $filter('date')(record.Begda1,'yyyy-MM-dd');
                          var toDate =  $filter('date')(record.Endda,'yyyy-MM-dd');
                          
                          var fD = new Date(fromD.split('-')[0],fromD.split('-')[1],fromD.split('-')[2]);
                          var tD = new Date(toDate.split('-')[0],toDate.split('-')[1],toDate.split('-')[2]);

                        //$log.info(fD.getTime() + ' - ' + tD.getTime() + ' = ' + todayD + ' CI' + parseInt(record.Srnum));

                        if($scope.toDateCompare(toDate)){ 
                          if(tempCirc.indexOf(record.Srnum) != -1){
                             //if(record.Endda>=d.getDate()){
                                  record.Srnum = parseInt(record.Srnum);
                                  $scope.discountsList.push(record);
                            // }
                          }
                        }
                    });
                    //$log.info("DISC  "+ JSON.stringify(resp.DISCOUNTS_ITEM));
                    var elem = {Name:'-All--',Material_Group__c:'',Material_Number__c:'',Mat_Grp_Desc__c:'-Select One--'};
                    
                    $scope.materialList = resp.MATER_ITEM;  
                    $scope.searchCategory = elem;
                    $scope.searchMaterial = elem;
                    $scope.materialList.unshift(elem); 
                   $scope.loadingH = false;
                    
            });



var CheckGreater= function(b, t){
var retVal= false;
    var toD = b;
    $log.info(toD.split('-'));
    var todayD =  new Date(); 
    if(t==1){
    
        if(parseInt(toD.split('-')[0],10) >= parseInt(todayD.getFullYear(),10))
            retVal= true;
    }
    if(t==2){
     
        if(parseInt(toD.split('-')[1],10) >= parseInt((todayD.getMonth()+1),10))
            retVal =true;
    }
    else{
      
        if(parseInt(toD.split('-')[2],10) >= parseInt(todayD.getDate(),10))
            retVal=true;
    }
    return retVal;
}


$scope.toDateCompare = function(toD){ 
    console.log('1:' + CheckGreater(toD,1) + ',2:' + CheckGreater(toD,2) + ',3:' +CheckGreater(toD,3));
    
var expireDateArr = toD.split("/");
var expireDate = new Date(expireDateArr[2], expireDateArr[0], expireDateArr[1]);
var todayDate = new Date();

if (expireDate > todayDate ) return true; else return false;
    /*
    if(CheckGreater(toD,1)){
        if(CheckGreater(toD,2)){
            if(CheckGreater(toD,3)){
                return true;
            }
        }
    }
    */
    
}

// Date Support
 $scope.todayDate = function(){
    var d  = new Date();
    var mn = d.getMonth()+1;
    var dd = d.getDate();
    var temp = (dd.toString().length < 2 ? '0'+dd.toString():dd.toString())+'-'+(mn.toString().length < 2 ? '0'+mn.toString(): mn.toString())+'-'+d.getFullYear();
    return temp;
 }; 

 $scope.firstDayMonth = function(){
    var d  = new Date();
    var mn = d.getMonth()+1;
    var temp = '01-'+(mn.toString().length < 2 ? '0'+mn.toString(): mn.toString())+'-'+d.getFullYear();
    return temp;
 };
 

    $scope.fromDate = $scope.firstDayMonth();
    $scope.toDate = $scope.todayDate();
    
    $scope.fmDate = $scope.firstDayMonth();
    $scope.tDate = $scope.todayDate();
    
    $scope.fromDateSR = $scope.firstDayMonth();
    $scope.toDateSR = $scope.todayDate();
    
  $scope.fromDateCNDN = $scope.firstDayMonth();
  $scope.toDateCNDN = $scope.todayDate();

  $scope.fromDateSDS = $scope.firstDayMonth();
  $scope.toDateSDS = $scope.todayDate();
     





$scope.showOptions = function(){
    $scope.filterOption = ($scope.filterOption ? false : true);
};

$scope.showOptionsID = function(){
    $scope.filterOptionID = ($scope.filterOptionID ? false : true);
};

$scope.showOptionsCR = function(){
    $scope.filterOptionCR = ($scope.filterOptionCR ? false : true);
};

$scope.showOptionsSR = function(){
    $scope.filterOptionSR = ($scope.filterOptionSR ? false : true);
};

$scope.showOptionsCNDN = function(){
    $scope.filterOptionCNDN = ($scope.filterOptionCNDN ? false : true);
};

$scope.showOptionsDS = function(){
    $scope.filterOptionDS = ($scope.filterOptionDS ? false : true);
};

$scope.showOptionsPL = function(){
    $scope.filterOptionPL = ($scope.filterOptionPL ? false : true);
};

$scope.showOptionsSDS = function(){
    $scope.filterOptionSDS = ($scope.filterOptionSDS? false : true);
};

  // Date Over

  $scope.showDetails = function(){
   // $log.debug($scope.fromDate);
    $scope.accountSummary = {};
    $scope.loadingH = true;
            
            $q.all({ 
                    USER_MAP : FETCHDETAILS.getRecordsFromSFDC(CPORT_PortalHomeController.fetchCreditDebitNotes,$scope.userDetails.account.KUNNR__c,CONVERT_DATE($scope.fromDate),CONVERT_DATE($scope.toDate))
            }).then(function(resp) {
                    data = [];
                    //$log.debug(JSON.stringify(resp));
                    var delInvc = 0;
                    var payments = 0;
                    var sds = 0;
                    var clainIvc = 0;
                   
                    $scope.filterOption = false;
                    $scope.filterOptionSDS = true;
                    $scope.filterOptionID = true;
                    $scope.filterOptionCR = true;
                    $scope.filterOptionSR = true;
                    $scope.filterOptionCNDN = true;
                    $scope.filterOptionDS = true;
                    $scope.filterOptionPL = true;
                    var bal = 0;
                    $scope.accountStatementArray = resp.USER_MAP.records;
                    angular.forEach(resp.USER_MAP,function(rec,key){
                        
                       // $log.info(bal);
                       if(rec.ItemText=='Opening Balance'){
                         $scope.openingBal = rec.AmtDoccur1 - rec.AmtDoccur;
                         rec.Balance = parseInt(rec.AmtDoccur1) - parseInt(rec.AmtDoccur); 
                         bal =  rec.Balance;
                                              
                         data.push(rec);
                       }else if(rec.ItemText == 'Closing Balance'){
                          rec.Balance = parseInt(rec.AmtDoccur1);
                          data.push(rec);
                       }else{ 
                         
                         $log.info('AMOUNT DEBIT' + rec.AmtDoccur + '  PARSE ' + parseInt(rec.AmtDoccur));


                         rec.Balance = (bal +  parseInt(rec.AmtDoccur1)) - parseInt(rec.AmtDoccur); 
                         bal = rec.Balance;
                         data.push(rec);
                         
                         //$log.info(rec.ItemText.toUpperCase() + ' ' + rec.Cdnum + ' ' + rec.AmtDoccur1);
                        if($scope.accountSummary[rec.ItemText] == '' || $scope.accountSummary[rec.ItemText] == null){
                           if(parseInt(rec.AmtDoccur) == 0){
                              $scope.accountSummary[rec.ItemText] = rec.AmtDoccur1;
                           }else{
                              $scope.accountSummary[rec.ItemText] = rec.AmtDoccur;
                           }
                           
                        }else{

                          if(parseInt(rec.AmtDoccur) == 0){
                              var temp = parseFloat(rec.AmtDoccur1) + parseFloat($scope.accountSummary[rec.ItemText]);
                              $scope.accountSummary[rec.ItemText] = temp;
                           }else{
                              var temp = parseFloat(rec.AmtDoccur) + parseFloat($scope.accountSummary[rec.ItemText]);
                              $scope.accountSummary[rec.ItemText] = temp;
                           }
                          
                        }

                      }


                       //   if(rec.ItemText.toUpperCase().trim().indexOf("DEALER") > -1){
                       //      if(rec.Cdnum != '' ){
                       //          payments = payments + parseInt(rec.AmtDoccur);
                                
                       //      }else{
                       //          delInvc = delInvc + parseInt(rec.AmtDoccur1);
                       //      }
                            
                       //   }else if(rec.ItemText.toUpperCase().trim().indexOf("CLAIM") > -1){
                       //      clainIvc = clainIvc + parseInt(rec.AmtDoccur1);
                       //   }else if(rec.ItemText.toUpperCase().trim() == 'CUSTOMER DOCUMENT'){
                       //      sds = sds + parseInt(rec.AmtDoccur1);
                       //   }
                           
                       // }
                       
                    });
                    
                    // $scope.accountSummary = [];
                    // $scope.accountSummary.push({ title : "Dealer Invoice" , outP : delInvc });
                    // $scope.accountSummary.push({ title : "SDS Transfer" , outP : sds });
                    // $scope.accountSummary.push({ title : "Claim Invoice" , outP : clainIvc });
                    // $scope.accountSummary.push({ title : "Payment" , outP : payments });
                    
                    
                    $scope.closingBal = bal;         
                    $scope.accountStatementTable.reload(); 
                    $scope.accountList = resp.USER_MAP;                                
                    $scope.loadingH = false; 
            });

  }
  $scope.SDSaccountList = [];
  $scope.showDetailsSDS = function(){
      $scope.loadingH = true;
            $q.all({ 
                    USER_MAP : FETCHDETAILS.getRecordsFromSFDC(CPORT_PortalHomeController.fetchSDSaccounts,$scope.userDetails.account.KUNNR__c,CONVERT_DATE($scope.fromDateSDS),CONVERT_DATE($scope.toDateSDS))
            }).then(function(resp) {
                    data = [];
                    angular.forEach(resp.USER_MAP,function(rec,key){
                      data.push(rec);  
                    });
                    $scope.SDSaccountList = resp.USER_MAP;
                    $scope.filterOption = true;
                    $scope.filterOptionSDS = false;
                    $scope.filterOptionID = true;
                    $scope.filterOptionCR = true;
                    $scope.filterOptionSR = true;
                    $scope.filterOptionCNDN = true;
                    $scope.filterOptionDS = true;
                    $scope.filterOptionPL = true;  

                    $scope.accountStatementTableSds1.reload(); 
                                                    
                    $scope.loadingH = false; 
            });
  }
    // SDS Account Statement

    $scope.accountStatementTableSds1 = new ngTableParams({
                  page: 1,            // show first page
                  count: 15
                           // count per page
              }, {
                  counts:[],
                  total: data.length, // length of data
                  getData: function($defer, params) {
                      params.total(data.length);
                      $defer.resolve(data.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                  }
    });
  // Show Claim details
  $scope.showClaimDetails = function(){
        $scope.loadingH = true; 
        
        var fromDate = $filter('date')($scope.fmDate, "yyyy-MM-dd");
        var toDate = $filter('date')($scope.tDate, "yyyy-MM-dd");
       // $log.debug($scope.userDetails);
        
        $q.all({ 
                    USER_MAP : GETDETAILS.getRecordsFromSFDC(CPORT_PortalHomeController.fetchClaimData,$scope.userDetails.account.KUNNR__c,CONVERT_DATE($scope.fmDate),CONVERT_DATE($scope.tDate),'')
            }).then(function(resp) {
                    data = [];   
                   // $log.info(resp); 
                    $scope.filterOption = true;
                    $scope.filterOptionID = true;
                    $scope.filterOptionSDS = true;
                    $scope.filterOptionCR = false;
                    $scope.filterOptionSR = true;
                    $scope.filterOptionCNDN = true;
                    $scope.filterOptionDS = true;
                    $scope.filterOptionPL = true;                
                    angular.forEach(resp.USER_MAP,function(rec,key){
                        rec.claim_Invoice_Number = parseInt(rec.claim_Invoice_Number);
                        rec.Kunum = parseInt(rec.Kunum);
                        data.push(rec);
                    });
                   
                    $scope.claimRegisterTable.reload();
                    $scope.claimList = resp.USER_MAP;
                    $scope.loadingH = false; 
            });
        
    }
    
  
  // Claim Register Table
        $scope.claimRegisterTable = new ngTableParams({
                page: 1,            // show first page
                count: 15
                         // count per page
            }, {
              counts:[],
                total: data.length, // length of data
                getData: function($defer, params) {
                  params.total(data.length);
                    $defer.resolve(data.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
       });

  // Account Statement Table

            $scope.accountStatementTable = new ngTableParams({
                page: 1,            // show first page
                count: 15
                         // count per page
            }, {
                counts:[],
                total: data.length, // length of data
                getData: function($defer, params) {
                    params.total(data.length);
                    $defer.resolve(data.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
       });
   
  
 // Invoice Due 
 
 $scope.showDetailsInvDue = function(){
  $scope.loadingH = true; 
            $q.all({ 
                    USER_MAP : FETCHDETAILS.getRecordsFromSFDC(CPORT_PortalHomeController.fetchCustomerInvoiceDue,$scope.userDetails.account.KUNNR__c,'2014-12-12','2014-12-12')
            }).then(function(resp) {
                data = [];
                $scope.filterOption = true;
                    $scope.filterOptionID = false;
                    $scope.filterOptionSDS = true;
                    $scope.filterOptionCR = true;
                    $scope.filterOptionSR = true;
                    $scope.filterOptionCNDN = true;
                    $scope.filterOptionDS = true;
                    $scope.filterOptionPL = true;
                //$scope.accountStatementArray = resp.USER_MAP.records;
                
                angular.forEach(resp.USER_MAP,function(rec,key){
                      //rec.Kunnr = parseInt(rec.Kunnr);
                      data.push(rec);
                    });
                    // $log.debug('Records----',resp.USER_MAP.records);
                    $scope.invoiceDueStatementTable.reload();   
                    $scope.invoiceList = resp.USER_MAP;             
                    $scope.loadingH = false; 
            });
 }

 // Invoice due Table

        $scope.invoiceDueStatementTable = new ngTableParams({
                page: 1,            // show first page
                count: 10
                         // count per page
            }, {
              counts:[],
                total: data.length, // length of data
                getData: function($defer, params) {
                  params.total(data.length);
                    $defer.resolve(data.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
       });

 // Sales Register
 $scope.showDetailsSalesReg = function(){
   
    $scope.salesRegisterSum = {};

    $scope.loadingH = true;
            
            $q.all({ 
                    USER_MAP : FETCHDETAILS.getRecordsFromSFDC(CPORT_PortalHomeController.fetchSalesRegisterValues,$scope.userDetails.account.KUNNR__c,CONVERT_DATE($scope.fromDateSR),CONVERT_DATE($scope.toDateSR))
            }).then(function(resp) {
                data = [];
                    $scope.filterOption = true;
                    $scope.filterOptionID = true;
                    $scope.filterOptionSDS = true;
                    $scope.filterOptionCR = true;
                    $scope.filterOptionSR = false;
                    $scope.filterOptionCNDN = true;
                    $scope.filterOptionDS = true;
                    $scope.filterOptionPL = true;
                    $scope.invoiceTypeList = [];

                    $scope.invoiceTypeList.push({Name :'All'});
                    angular.forEach(resp.USER_MAP,function(rec,key){
                      rec.material_Num = parseInt(rec.material_Num);
                      $scope.invoiceTypeList.push({Name :rec.invoiceType });
                      data.push(rec);
                      if($scope.salesRegisterSum[rec.invoiceType] == '' || $scope.salesRegisterSum[rec.invoiceType] == null){
                         $scope.salesRegisterSum[rec.invoiceType] = rec.invoiceValue;
                      }else{
                        var temp = parseFloat(rec.invoiceValue) + parseFloat($scope.salesRegisterSum[rec.invoiceType]);
                        $scope.salesRegisterSum[rec.invoiceType] = temp;
                      }

                    });
                   // $log.debug('IN METHOD',data.length);  
                    //$log.debug('IN METHOD' + JSON.stringify($scope.salesRegisterSum));                    
                    $scope.salesRegisterTable.reload();
                    $scope.salesList = resp.USER_MAP;
                    

                    $scope.loadingH = false; 
            });
 }    
 //Summerized Sales Register 
 $scope.showSummerizedSalesReg = function(){
    //$log.debug($scope.selectedInvoice.invoiceType);
    $scope.loadingH = true;
     var fromDate = $filter('date')($scope.fromDateSR, "yyyy-MM-dd");
    var toDate = $filter('date')($scope.toDateSR, "yyyy-MM-dd");       
            $q.all({ 
                    USER_MAP : GETDETAILS.getRecordsFromSFDC(CPORT_PortalHomeController.getSummerizedSalesRegisterValues,$scope.userDetails.account.KUNNR__c,CONVERT_DATE($scope.fromDateSR),CONVERT_DATE($scope.toDateSR),$scope.selectedInvoice.Name)
            }).then(function(resp) {
                data = [];
                $scope.summerizedSalesRegisterTable = true;                
                angular.forEach(resp.USER_MAP,function(rec,key){                      
                        data.push(rec);
                    }); 
                   // $log.debug(data);                                      
                    $scope.salesRegisterSummerizedTable.reload(); 
                    $scope.salesSummerizedList = resp.USER_MAP;                                    
                    $scope.loadingH = false; 
            });
 }
 
  // Sales Register Table

        $scope.salesRegisterTable = new ngTableParams({
                page: 1,            // show first page
                count: 10
                         // count per page
            }, {
              counts:[],
                total: data.length, // length of data
                getData: function($defer, params) {
                  params.total(data.length);
                    $defer.resolve(data.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
       });
   // Summerized Sales Register Table

        $scope.salesRegisterSummerizedTable = new ngTableParams({
                page: 1,            // show first page
                count: 10
                         // count per page
            }, {
              counts:[],
                total: data.length, // length of data
                getData: function($defer, params) {
                  params.total(data.length);
                    $defer.resolve(data.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
       });
  $scope.showDetailsCNDN = function(){
    
    $scope.loadingH = true;
            
            $q.all({ 
                    USER_MAP : FETCHDETAILS.getRecordsFromSFDC(CPORT_PortalHomeController.fetchCreditDebitNotesCNDN,$scope.userDetails.account.KUNNR__c,CONVERT_DATE($scope.fromDateCNDN),CONVERT_DATE($scope.toDateCNDN))
            }).then(function(resp) {
                data = [];
                    $scope.filterOption = true;
                    $scope.filterOptionID = true;
                    $scope.filterOptionSDS = true;
                    $scope.filterOptionCR = true;
                    $scope.filterOptionSR = true;
                    $scope.filterOptionCNDN = false;
                    $scope.filterOptionDS = true;
                    $scope.filterOptionPL = true;
                //$scope.accountStatementArray = resp.USER_MAP.records;
                angular.forEach(resp.USER_MAP,function(rec,key){
                
                if(rec.Fkart!='ZCLC')
                      data.push(rec);
                    });
                  //  $log.debug('IN METHOD',data.length);
                    //$scope.accountStatementTable.page(1);
                    $scope.creditDebitNotesTable.reload();
                    $scope.cndnList = resp.USER_MAP;
                    //$window.alert(JSON.stringify(resp.USER_MAP));
                    $scope.loadingH = false; 
            });
  }
  
  $scope.showDetailsNBP = function(){
        $scope.loadingH = true; 
        if($scope.searchMaterial == '' || $scope.searchMaterial == null){
             $scope.searchMaterial.Material_Number__c = '';
        }
        if($scope.searchCategory == '' || $scope.searchCategory == null){
             $scope.searchCategory.Material_Group__c = '';
        }
       // $log.debug('material grp----------',$scope.searchCategory.Material_Group__c);
       // $log.debug('no----------',$scope.searchMaterial);
         
        $q.all({ 
                    USER_MAP : NBP.getRecordsFromSFDC(CPORT_PortalHomeController.getNbpPriceListDetails,$scope.searchCategory.Material_Group__c,$scope.searchMaterial.Material_Number__c)
            }).then(function(resp) {
                    data = [];   
                    $scope.filterOption = true;
                    $scope.filterOptionID = true;
                    $scope.filterOptionCR = true;
                    $scope.filterOptionSDS = true;
                    $scope.filterOptionSR = true;
                    $scope.filterOptionCNDN = true;
                    $scope.filterOptionDS = true;
                    $scope.filterOptionPL = false;               
                    angular.forEach(resp.USER_MAP,function(rec,key){
                     
                       if(rec.tube!=''){
                         rec.tube = parseInt(rec.tube);
                       }
                        data.push(rec);
                    });
                   // $log.debug('IN NBPPriceTable-----------',data.length);
                    $scope.NBPPriceTable.reload();
                    $scope.priceList = resp.USER_MAP;
                    $scope.loadingH = false; 
            });
   }
   
   // NBP Table
   $scope.NBPPriceTable = new ngTableParams({
                page: 1,            // show first page
                count: 15
                         // count per page
            }, {
              counts:[],
                total: data.length, // length of data
                getData: function($defer, params) {
                  params.total(data.length);
                    $defer.resolve(data.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
       });
  // Account Statement Table

        $scope.creditDebitNotesTable = new ngTableParams({
                page: 1,            // show first page
                count: 15
                         // count per page
            }, {
              counts:[],
                total: data.length, // length of data
                getData: function($defer, params) {
                  params.total(data.length);
                    $defer.resolve(data.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
       });
  
        $scope.disL  = [];

        $scope.showDetailsDISC = function() {
            
          $scope.disL  = [];

            $log.info(JSON.stringify($scope.userDetails.account));

            var tempCirc = [];
            

            angular.forEach($scope.userDetails.account.Customer_Discounts__r,function(record,key){

              var temp = '00000000'+record.Circular_Number__c;
              tempCirc.push(temp);
            });

           // $log.info(JSON.stringify(tempCirc));
            angular.forEach($scope.discountsList,function(record,key){
                  if(tempCirc.indexOf(record.Srnum) != -1){                      
                      $scope.disL.push(record);
                  }
            });

           // $log.info(JSON.stringify($scope.disL));
            $scope.discountsTable.reload();
            $scope.discountList = resp.USER_MAP;
                    $scope.filterOption = true;
                    $scope.filterOptionID = true;
                    $scope.filterOptionSDS = true;
                    $scope.filterOptionCR = true;
                    $scope.filterOptionSR = true;
                    $scope.filterOptionCNDN = true;
                    $scope.filterOptionDS = false;
                    $scope.filterOptionPL = true;
            $scope.showDiscountTable = true;
        }
       
        // Discounts Table

     
        $scope.discountsTable = new ngTableParams({
                page: 1,            // show first page
                count: 15
                         // count per page
          }, {
              counts:[],
                //total: $scope.disL.length, // length of data
                getData: function($defer, params) {
                  params.total($scope.discountsList.length);
                    $defer.resolve($scope.discountsList.slice((params.page() - 1) * params.count(), params.page() * params.count()));
          }
        });

        
       $scope.openWebService = function(tp){ 
            var pageName = '{!$Label.CPORT_DiscountDetailPage}';
            var url = pageName+"?circularno="+tp.Srnum+"&kunnar="+$scope.userDetails.account.KUNNR__c+"&cd="+tp.Sapdisc+'&subcd='+tp.Subcod;
            var newwindow;
            if(tp.Sapdisc == '0023'){
                newwindow=window.open(url,'Discount','height=1200,width=450');
            }else{
                newwindow=window.open(url,'Discount','height=1200,width=950');
            }
            
              if (window.focus) {newwindow.focus()}
                return false;
       } 

        $scope.showDiscountInfo = function(docNum){
           // $log.info(docNum);
            var pageName = '{!$Label.CPORT_CNDN_WorksheetPage}';
            var url = pageName+docNum;
            newwindow=window.open(url,'Worksheet','height=1200,width=950');
                      if (window.focus) {newwindow.focus()}
                        return false;
        }
       
}]);
</script>

</head>
<body ng-controller="CollapseDemoCtrl" id="bodyTag">
<div class="loading" ng-show="loadingH" >Loading&#8230;</div>
 <apex:tabPanel styleClass="panelPosition" switchType="client" selectedTab="name2" id="theTabPanel" activeTabClass="activeTab" inactiveTabClass="inactiveTab" width="100%" contentClass="contentC">
        <apex:tab label="Billing Limits" name="billing_limits" id="billing_limits">
        <table class="table table-bordered table-striped" style="width:50%;">
            <tr><td><b>Available Limit</b></td><td>{{ userDetails.limitavailable | number:2 }}</td></tr>
            <tr><td><b>SDS</b></td><td>{{ userDetails.deposit | number:2 }}</td></tr>
            <tr><td><b>Permissible Limit</b></td><td>{{ userDetails.permisbleamt | number:2 }}</td></tr>
            <tr><td><b>Advance</b></td><td>{{ userDetails.advance | number:2 }}</td></tr>
            <tr><td><b>Net Outstanding</b></td><td>{{ userDetails.netoutstand | number:2 }}</td></tr>
            <tr><td><b>Total Outstanding</b></td><td>{{ userDetails.totoutstand | number:2 }}</td></tr>
            <tr><td><b>Total Overdue</b></td><td>{{ userDetails.totoverdue  | number:2 }}</td></tr>
        </table>

        </apex:tab>

    <apex:tab label="Account Statement"  name="account_statement" id="account_statement">
    
    <div> 
        <button type="button" class="btn btn-primary btn-sm" ng-click="trendingAccount=true;sdsAccount=false;filterOptionAccountTable=true"> Trading Account 
        </button>          
        <button type="button" class="btn btn-primary btn-sm" ng-click="sdsAccount=true;trendingAccount=false;filterOptionAccountTable=true">SDS Account
        </button>
    </div>
    <!-- TRENDING ACCOUNT -->
    <div ng-show="trendingAccount">
      <button class="btn btn-primary btn-sm" style="float:right;" ng-click="showOptions()">Filter</button>
      <table class="table" ng-show="filterOptionAccountTable">
        <tr>
            <td><b>Name</b></td><td>{{ userDetails.account.Name }} </td><td><b>Customer Number</b></td><td>{{ userDetails.account.KUNNR__c }}</td>
        </tr>   
        <tr>
            <td><b>Address</b></td><td colspan="3">{{ userDetails.account.Street_1__c}} {{ userDetails.account.Street_2__c}} {{ userDetails.account.Town__c}} {{ userDetails.account.State__c}} {{ userDetails.account.District__c}} {{ userDetails.account.PIN_code__c}}</td>
        </tr>
        <tr>
            <td><b>From Date</b></td><td>
         
              <input type="text" class="datepicker" ng-model="fromDate" />
              

            </td><td><b>To Date</b></td><td>
                
           
                  <input type="text" class="datepicker" ng-model="toDate"  />
                  

            </td>
        </tr>
        <tr>
            

            <td colspan="2"> <button class="btn btn-primary btn-sm" ng-click="showDetails()">Generate Report</button> </td><td colspan="2"> &nbsp;</td>

        </tr>
    </table>
      <div ng-show="!filterOption">
       
        <p><strong>Opening Balance : </strong> {{openingBal }} &nbsp; &nbsp;&nbsp; &nbsp;  <strong>Closing Balance : </strong> {{closingBal }}</p>
        <p>Data displayed from <strong> {{fromDate |  date:"dd/MM/yyyy" }} </strong> to  <strong> {{toDate |  date:"dd/MM/yyyy"}} </strong></p>
    
    <table id ="AccountStatementTable" ng-table="accountStatementTable" class="table table-bordered table-striped" >            
            <tbody>
                <tr ng-repeat="tp in $data" >                   
                    <td data-title="'Date'" >
                        {{tp.PstngDate |  date:"dd/MM/yyyy" }}
                    </td>
                    <td data-title="'Text'" >
                        {{tp.ItemText}}                        
                    </td>
                    <td data-title="'A/c Doc No'" >
                        {{tp.DocNo}}
                    </td>
                    <td data-title="'Doc No'" >
                        {{tp.Vbeln}}
                    </td>
                    <td data-title="'Org Doc No'" >
                        <!-- {{tp.DocType}} -->
                    </td>
                    <td data-title="'Cheque No'" >
                        {{tp.Cdnum}}
                    </td>
                    <td data-title="'Narration'" >
                        {{tp.ItemText1}}
                    </td>
                    <td data-title="'On A/C Payment Indicator'" >
                        {{tp.SpGlInd}}
                    </td>
                    <td data-title="'Debit Rs'" >
                        {{tp.AmtDoccur1 == 0 ?'':tp.AmtDoccur1}}
                    </td>
                    <td data-title="'Credit Rs'" >
                        {{tp.AmtDoccur == 0 ?'':tp.AmtDoccur}}
                    </td>                    
                    <td data-title="'Balance'" >
                       {{tp.Balance | number:2 }}
                    </td>
                </tr>
                </tbody>
            </table>
             <table class="table table-bordered table-striped">
              <thead>
                <th>Item Text</th>
                <th>Summary Amount</th>
              </thead>
              <tbody>
                <tr ng-repeat="(key,value) in accountSummary">
                  <td>{{key}}</td>
                   <td>{{value | number:2}}</td>
                </tr>
              </tbody>
            </table>
           <table id ="AccountStatementTable1" style="Display:none;">
            <tr><td>
            <table  class="table table-bordered table-striped" >            
            <tbody>
                <tr>                    
                    <th>Date</th>    
                    <th>Text</th>                      
                    <th>A/c Doc No </th>
                    <th>Doc No</th>
                    <th>Org Doc No</th>
                    <th>Cheque No</th>
                    <th>Narration </th>
                    <th>On A/C Payment Indicator </th>
                    <th>Debit Rs </th>
                    <th>Credit Rs </th>
                    <th>Balance</th>
                </tr>
                <tr ng-repeat="tp in accountList">                    
                    <td data-title="'Date'" >
                        {{tp.PstngDate |  date:"dd/MM/yyyy" }}
                    </td>
                    <td data-title="'Text'" >
                        {{tp.ItemText}}                        
                    </td>
                    <td data-title="'A/c Doc No'" >
                        {{tp.DocNo}}
                    </td>
                    <td data-title="'Doc No'" >
                        {{tp.Vbeln}}
                    </td>
                    <td data-title="'Org Doc No'" >
                       <!--  {{tp.DocType}} -->
                    </td>
                    <td data-title="'Cheque No'" >
                        {{tp.Cdnum}}
                    </td>
                    <td data-title="'Narration'" >
                        {{tp.ItemText1}}
                    </td>
                    <td data-title="'On A/C Payment Indicator'" >
                        {{tp.SpGlInd}}
                    </td>
                    <td data-title="'Debit Rs'" >
                        {{tp.AmtDoccur1 == 0 ?'':tp.AmtDoccur1}}
                    </td>
                    <td data-title="'Credit Rs'" >
                        {{tp.AmtDoccur == 0 ?'':tp.AmtDoccur}}
                    </td>                    
                    <td data-title="'Balance'" >
                       {{tp.Balance | number:2 }}
                    </td>
                </tr>
                </tbody>
                </table>
                </td></tr>
              
               <tr><td>
                 <table class="table table-bordered table-striped">
                  <thead>
                    <th>Item Text</th>
                    <th>Summary Amount</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in accountSummary">
                      <td>{{item.title}}</td>
                      <td>{{item.outP | number:2}}</td>
                    </tr>
                  </tbody>  
                 </table>
               </td></tr>
            </table>
            <a class="btn btn-primary btn-sm" style="float:right;margin-right:10px;" download="AccountStatement.xls" href="#" onclick="return ExcellentExport.excel(this, 'AccountStatementTable1', 'Account Statement');">Download as Excel</a>
            
        </div>
    </div>
    <!-- SDS ACCOUNT -->
    <div ng-show="sdsAccount">
       <button class="btn btn-primary btn-sm" style="float:right;" ng-click="showOptionsSDS()">Filter</button>
       <table class="table" ng-show="filterOptionAccountTable">
        <tr>
            <td><b>Name</b></td><td>{{ userDetails.account.Name }} </td><td><b>Customer Number</b></td><td>{{ userDetails.account.KUNNR__c }}</td>
        </tr>   
        <tr>
            <td><b>Address</b></td><td colspan="3">{{ userDetails.account.Street_1__c}} {{ userDetails.account.Street_2__c}} {{ userDetails.account.Town__c}} {{ userDetails.account.State__c}} {{ userDetails.account.District__c}} {{ userDetails.account.PIN_code__c}}</td>
        </tr>
        <tr>
            <td><b>From Date</b></td><td>
         
              <input type="text" class="datepicker" ng-model="fromDateSDS" />
              

            </td>
                <td><b>To Date</b></td>
            <td>
                <input type="text" class="datepicker" ng-model="toDateSDS"  />
                  

            </td>
        </tr>
        <tr>
            

            <td colspan="2"> <button class="btn btn-primary btn-sm" ng-click="showDetailsSDS()">Generate Report</button> </td><td colspan="2"> &nbsp;</td>

        </tr>
    </table>

    <div ng-show="!filterOptionSDS">
       
        <!-- <p><strong>Opening Balance : </strong> {{openingBal }} &nbsp; &nbsp;&nbsp; &nbsp;  <strong>Closing Balance : </strong> {{closingBal }}</p> -->
        <p>Data displayed from <strong> {{fromDateSDS |  date:"dd/MM/yyyy" }} </strong> to  <strong> {{toDateSDS |  date:"dd/MM/yyyy"}} </strong></p>
    
    <table id ="AccountStatementTableSDS1" ng-table="accountStatementTableSds1" class="table table-bordered table-striped" >            
            <tbody>
                <tr ng-repeat="tp in $data" >                   
                    <td data-title="'A/C Doc No'" >
                        {{tp.AcDocNo}}
                    </td>
                    <td data-title="'Cheque No'" >
                        {{tp.ChecNo}}
                    </td>
                    <td data-title="'Doc No'" >
                        {{tp.DocNo}}
                    </td>
                     <td data-title="'Text'" >
                        {{tp.ItemText}}
                    </td>
                    <td data-title="'Narration'" >
                        {{tp.ItemText1}}
                    </td>
                    <td data-title="'Org Doc No'" >
                        {{tp.OrgDocNo}}
                    </td>
                     <td data-title="'Date'" >
                        {{tp.PstngDate |  date:"dd/MM/yyyy" }}
                    </td>
                    <td data-title="'Online Payment Indicator'" >
                        {{tp.SpGlInd }}
                    </td>
                    <td data-title="'Debit Rs'" >
                        {{tp.AmtDoccur1 == 0 ?'':tp.AmtDoccur1}}
                    </td>
                    <td data-title="'Credit Rs'" >
                        {{tp.AmtDoccur == 0 ?'':tp.AmtDoccur}}
                    </td>
                    <td data-title="'Balance'" >
                        {{tp.Balance == 0 ?'':tp.Balance}}
                    </td>
                   
                </tr>
                </tbody>
            </table>
             
           <table id ="AccountStatementTableSDS" style="Display:none;">
            <tr><td>
            <table  class="table table-bordered table-striped" >            
            <tbody>
                <tr>                    
                    <th>A/C Doc No</th>    
                    
                    <th>Cheque No</th>
                    <th>Doc No</th>                      
                    <th>Text</th>
                    <th>Narration</th>
                    <th>Org Doc No</th>
                    <th>Narration </th>
                    <th>Date </th>
                    <th>Online Payment Indicator</th>
                    <th>Debit Rs </th>
                    <th>Credit Rs </th>
                    <th>Balance</th>
                </tr>
                <tr ng-repeat="tp in SDSaccountList">                    
                     <td data-title="'A/C Doc No'" >
                        {{tp.AcDocNo}}
                    </td>
                    <td data-title="'Cheque No'" >
                        {{tp.ChecNo}}
                    </td>
                    <td data-title="'Doc No'" >
                        {{tp.DocNo}}
                    </td>
                     <td data-title="'Text'" >
                        {{tp.ItemText}}
                    </td>
                    <td data-title="'Narration'" >
                        {{tp.ItemText1}}
                    </td>
                    <td data-title="'Org Doc No'" >
                        {{tp.OrgDocNo}}
                    </td>
                     <td data-title="'Date'" >
                        {{tp.PstngDate |  date:"dd/MM/yyyy" }}
                    </td>
                    <td data-title="'Indicator'" >
                        {{tp.SpGlInd }}
                    </td>
                    <td data-title="'Debit Rs'" >
                        {{tp.AmtDoccur1 == 0 ?'':tp.AmtDoccur1}}
                    </td>
                    <td data-title="'Credit Rs'" >
                        {{tp.AmtDoccur == 0 ?'':tp.AmtDoccur}}
                    </td>
                    <td data-title="'Balance'" >
                        {{tp.Balance == 0 ?'':tp.Balance}}
                    </td>
                </tr>
                </tbody>
                </table>
                </td></tr>
              
               
            </table>
            <a class="btn btn-primary btn-sm" style="float:right;margin-right:10px;" download="SDSAccountStatement.xls" href="#" onclick="return ExcellentExport.excel(this, 'AccountStatementTableSDS', 'SDS Account Statement');">Download as Excel</a>
            
        </div>
    </div>
    </apex:tab>

  


        <apex:tab label="Invoices Due" ontableave="changeFilter()" name="invoice_due" id="invoice_due">
            <!-- INVOIVE DUE -->
             <button class="btn btn-primary btn-sm" style="float:right;" ng-click="showOptionsID()">Filter</button>
        <table class="table" ng-show="filterOptionID">
              <tr>
                <td><b>Name</b></td><td>{{ userDetails.account.Name }} </td><td><b>Customer Number</b></td><td>{{ userDetails.account.KUNNR__c }}</td>
              </tr> 
              <tr>
                <td><b>Address</b></td><td colspan="3">{{ userDetails.account.Street_1__c}} {{ userDetails.account.Street_2__c}} {{ userDetails.account.Town__c}} {{ userDetails.account.State__c}} {{ userDetails.account.District__c}} {{ userDetails.account.PIN_code__c}}</td>
              </tr>
              <tr>
                
                <td colspan="2"> <button class="btn btn-primary btn-sm" ng-click="showDetailsInvDue()">Generate Report</button> </td><td colspan="2"> &nbsp;</td>

              </tr>

        </table>

        <div ng-show="!filterOptionID">
           
             <table id ="invoiceDueStatementTable" ng-table="invoiceDueStatementTable" class="table table-bordered table-striped" >               
            <tbody>
                <tr ng-repeat="tp in $data">
                    <td data-title="'Billing Type'" >
                        {{tp.Fkart}}
                    </td>
                     <td data-title="'Invoice Type'" >
                        {{tp.Vtext}}
                    </td>
                    <td data-title="'Billing Doc No'" >
                        {{tp.Vbeln}}
                    </td>
                    <td data-title="'Billing Date'" >
                        {{tp.Fkdat |  date:"dd/MM/yyyy"}}
                    </td>
                    <td data-title="'Despatch Date'" >
                        {{tp.Despda |  date:"dd/MM/yyyy"}}
                    </td>                    
                    <td data-title="'Outstanding'" >
                        {{tp.OutstandAmt}}
                    </td>
                    <td data-title="'Due Date'" >
                        {{tp.Duedate |  date:"dd/MM/yyyy"}}
                    </td>
                    <td data-title="'Outstanding Days'" >
                        {{tp.OsDays}}
                    </td>
                    <td data-title="'Cheque No'" >
                        {{tp.Chequeno}}
                    </td>                    
                    <td data-title="'Cheque Date'" >                       
                        {{tp.Chequedate == '0000-00-00' ?'': tp.Chequedate}}
                    </td>                    
                </tr>
                </tbody>
            </table>
            <table id ="invoiceTable" class="table table-bordered table-striped" style="Display:none;">            
            <tbody>
                <tr>                    
                    <th>Billing Type</th>    
                    <th>Invoice Type</th>                      
                    <th>Billing Doc No </th>
                    <th>Billing Date</th>
                    <th>Despatch Date</th>
                    <th>Outstanding</th>
                    <th>Due Date</th>
                    <th>Outstanding Days</th>
                    <th>Cheque No</th>
                    <th>Cheque Date</th>
                </tr>                 
                <tr ng-repeat="tp in invoiceList">
                    <td data-title="'Billing Type'" >
                        {{tp.Fkart}}
                    </td>
                     <td data-title="'Invoice Type'" >
                        {{tp.Vtext}}
                    </td>
                    <td data-title="'Billing Doc No'" >
                        {{tp.Vbeln}}
                    </td>
                    <td data-title="'Billing Date'" >
                        {{tp.Fkdat |  date:"dd/MM/yyyy"}}
                    </td>
                    <td data-title="'Despatch Date'" >
                        {{tp.Despda |  date:"dd/MM/yyyy"}}
                    </td>                    
                    <td data-title="'Outstanding'" >
                        {{tp.OutstandAmt}}
                    </td>
                    <td data-title="'Due Date'" >
                        {{tp.Duedate |  date:"dd/MM/yyyy"}}
                    </td>
                    <td data-title="'Outstanding Days'" >
                        {{tp.OsDays}}
                    </td>
                    <td data-title="'Cheque No'" >
                        {{tp.Chequeno}}
                    </td>                    
                    <td data-title="'Cheque Date'" >                       
                        {{tp.Chequedate == '0000-00-00' ?'': tp.Chequedate}}
                    </td>                   
                </tr>              
                </tbody>
            </table>   
             <a class="btn btn-primary btn-sm" style="float:right;margin-right:10px;" download="InvoicesDue Statements.xls" href="#" onclick="return ExcellentExport.excel(this, 'invoiceTable', 'Invoices Due');">Download as Excel</a>
             
            </div>
        </apex:tab>
        <apex:tab label="Claim Register" name="claim_register" id="claim_register">
            <!-- CLAIM REGISTER -->
            <button class="btn btn-primary btn-sm" style="float:right;" ng-click="showOptionsCR()">Filter</button>

            <table class="table" ng-show="filterOptionCR">
      <tr>
        <td><b>Name</b></td><td>{{ userDetails.account.Name }} </td><td><b>Customer Number</b></td><td>{{ userDetails.account.KUNNR__c }}</td>
      </tr> 
      <tr>
        <td><b>Address</b></td><td colspan="3">{{ userDetails.account.Street_1__c}} {{ userDetails.account.Street_2__c}} {{ userDetails.account.Town__c}} {{ userDetails.account.State__c}} {{ userDetails.account.District__c}} {{ userDetails.account.PIN_code__c}}</td>
      </tr>
     
       <tr>
            <td><b>From Date</b></td><td>              
    
            <input type="text" ng-model="fmDate" class="datepicker" />
            </td><td><b>To Date</b></td><td>               
            
            <input type="text" ng-model="tDate" class="datepicker" />
            </td>
        </tr>
        <tr>
           


                <td colspan="2"> <button class="btn btn-primary btn-sm" ng-click="showClaimDetails()">Generate Report</button> </td><td colspan="2"> &nbsp;</td>
        </tr>
    </table>

      <div ng-show="!filterOptionCR">     
       
        <p>Data displayed from <strong> {{fmDate |  date:"dd/MM/yyyy" }} </strong> to  <strong> {{tDate |  date:"dd/MM/yyyy"}} </strong></p>
      <div>  
      <table id="claimRegisterTable" ng-table="claimRegisterTable" class="table table-bordered table-striped" style="font-size:11px;">               
          <tbody>
                <tr ng-repeat="tp in $data">  
                    <td data-title="'Docket Number'" >
                        {{tp.Docket}}                        
                    </td>
                    <td data-title="'Claim Number'" >
                        {{tp.bill_Number}}                        
                    </td>
                    <td data-title="'Date'" >
                        {{tp.Erdat |  date:"dd/MM/yyyy"}}
                    </td>
                    <td data-title="'Customer Name'" >
                        {{tp.Zname1}}
                    </td>
                     <td data-title="'Customer Address'" >
                        {{tp.customer_Address}}
                    </td>                   
                     <td data-title="'Mobile No.'" >
                        {{tp.Telf2}}
                    </td> 
                    <td data-title="'Material Code'" >
                        {{tp.Matnr}}
                    </td>
                    <td data-title="'Material Description'" >
                        {{tp.material_Description}}
                    </td>                    
                    <td data-title="'Serial Number'" >
                        {{tp.claim_Number}}
                    </td> 
                    <td data-title="'Inspection Date'" >
                        {{tp.Insdate |  date:"dd/MM/yyyy"}}
                    </td> 
                    <td data-title="'Disposition'" >
                        {{tp.disposition}}
                    </td> 
                    <td data-title="'Defect'" >
                        {{tp.defect}}
                    </td>                    
                    <td data-title="'Actual NSD'" >
                        {{tp.actual_nsd}}
                    </td>
                    <td data-title="'Wear (%)'" >
                        {{tp.wear}}
                    </td>
                     <td data-title="'NBP'" >
                        {{tp.Closs}}
                    </td>  
                    <td data-title="'Repl-Offer'" >
                        {{tp.Netwr}}
                    </td>
                     <td data-title="'Claim Invoice Number'" >
                        {{tp.Vbeln }}
                    </td>
                    <td data-title="'Claim Invoice Date'" >
                        {{tp.Fkdat}}
                    </td>                                  
                </tr>
                </tbody>
            </table> 
         </div>   
             <table id ="claimTable" class="table " style="Display:none;">            
            <tbody>
                <tr>
                    <th>Docket Number</th>                                        
                    <th>Claim Number</th>
                    <th>Date</th>  
                    <th>Customer Name </th>
                    <th>Customer Address</th>                    
                    <th>Mobile Number</th>
                    <th>Material Code</th>                    
                    <th>Material Description</th>
                    <th>Serial Number</th>                    
                    <th>Inspection Date</th>
                    <th>Disposition</th>
                    <th>Defect</th>   
                    <th>Actual NSD</th>  
                    <th>Wear(%)</th>  
                    <th>NBP</th>  
                    <th>Repl-Offer</th> 
                    <th>Claim Invoice Number</th>   
                    <th>Claim Invoice Date</th>               
                </tr>                 
                <tr ng-repeat="tp in claimList">                                    
                    <td data-title="'Docket Number'" >
                        {{tp.Docket}}                        
                    </td>
                    <td data-title="'Claim Number'" >
                        {{tp.bill_Number}}                        
                    </td>
                    <td data-title="'Date'" >
                        {{tp.Erdat |  date:"dd/MM/yyyy"}}
                    </td>
                    <td data-title="'Customer Name'" >
                        {{tp.Zname1}}
                    </td>
                     <td data-title="'Customer Address'" >
                        {{tp.customer_Address}}
                    </td>                   
                     <td data-title="'Mobile No.'" >
                        {{tp.Telf2}}
                    </td> 
                    <td data-title="'Material Code'" >
                        {{tp.Matnr}}
                    </td>
                    <td data-title="'Material Description'" >
                        {{tp.material_Description}}
                    </td>                    
                    <td data-title="'Serial Number'" >
                        {{tp.claim_Number}}
                    </td> 
                    <td data-title="'Inspection Date'" >
                        {{tp.Insdate |  date:"dd/MM/yyyy"}}
                    </td> 
                    <td data-title="'Disposition'" >
                        {{tp.disposition}}
                    </td> 
                    <td data-title="'Defect'" >
                        {{tp.defect}}
                    </td>                    
                    <td data-title="'Actual NSD'" >
                        {{tp.actual_nsd}}
                    </td>
                    <td data-title="'Wear (%)'" >
                        {{tp.wear}}
                    </td>
                     <td data-title="'NBP'" >
                        {{tp.Closs}}
                    </td>  
                    <td data-title="'Repl-Offer'" >
                        {{tp.Netwr}}
                    </td>
                     <td data-title="'Claim Invoice Number'" >
                        {{tp.Vbeln }}
                    </td>
                    <td data-title="'Claim Invoice Date'" >
                        {{tp.Fkdat}}
                    </td>                                                
                </tr>       
                </tbody>
            </table>        
            <a class="btn btn-primary btn-sm" style="float:right;margin-right:10px;" download="Claim Register.xls" href="#" onclick="return ExcellentExport.excel(this, 'claimTable', 'Claim Register');">Download as Excel</a>
             
   </div>

        </apex:tab>
        <apex:tab label="Sales Register" name="sales_register" id="sales_register">
            

         <div> 
          <button type="button" class="btn btn-primary btn-sm" ng-click="detailed=true;summerized=false;filterOptionSRfilterOptionSR=true">Detailed</button>
          
          <button type="button" class="btn btn-primary btn-sm" ng-click="summerized=true;detailed=false;filterOptionSRfilterOptionSR=true">Summarized</button>
         </div>
        <div ng-show="detailed">
        <button class="btn btn-primary btn-sm" style="float:right;" ng-click="showOptionsSR()">Filter</button> 
       <table class="table" ng-show="filterOptionSRfilterOptionSR">
      <tr>
        <td><b>Name</b></td><td>{{ userDetails.account.Name }} </td><td><b>Customer Number</b></td><td>{{ userDetails.account.KUNNR__c }}</td>
      </tr> 
      <tr>
        <td><b>Address</b></td><td colspan="3">{{ userDetails.account.Street_1__c}} {{ userDetails.account.Street_2__c}} {{ userDetails.account.Town__c}} {{ userDetails.account.State__c}} {{ userDetails.account.District__c}} {{ userDetails.account.PIN_code__c}}</td>
      </tr>
      <tr>
        <td><b>From Date</b></td><td>          
      
         <input type="text" ng-model="fromDateSR" class="datepicker" />
        </td><td><b>To Date</b></td><td>
          
           <input type="text" ng-model="toDateSR" class="datepicker" />
        </td>
       
      </tr>

      <tr>
       
        <td colspan="2"> <button class="btn btn-primary btn-sm" ng-click="showDetailsSalesReg();filterOptionSR=true;">Generate Report</button> </td><td colspan="2"> &nbsp;</td>
      </tr>
    </table> 

    <div ng-show="!filterOptionSR">           
             <p>Data displayed from <strong> {{fromDateSR |  date:"dd/MM/yyyy" }} </strong> to  <strong> {{toDateSR |  date:"dd/MM/yyyy"}} </strong></p>
             <table id="salesRegisterTable" ng-table="salesRegisterTable" class="table table-bordered table-striped" >
               
            <tbody>
                <tr ng-repeat="tp in $data">                   
                    <td data-title="'Invoice Date'" >
                        {{tp.fkDate |  date:"dd/MM/yyyy"}}
                    </td>
                    <td data-title="'Invoice type'" >
                        {{tp.invoiceType}}                        
                    </td>                    
                    <td data-title="'Invoice Number'" >
                        {{tp.vbeln}}
                    </td>
                    <td data-title="'Material Code'" >
                        {{tp.material_Num}}
                    </td>
                    <td data-title="'Material Desc'" >
                        {{tp.material_Description}}
                    </td>

                    <td data-title="'Pre Tax'" >
                        {{tp.preTax}}
                    </td>
                    <td data-title="'Invoice Qty'" >
                        {{tp.fkImg}}
                    </td>
                    <td data-title="'Cancel Invoice No'" >
                        {{tp.candoc}}
                    </td>
                    <td data-title="'Invoice Value'" >
                        {{tp.invoiceValue}}
                    </td>
                    <td data-title="'Category'" >
                        {{tp.categoryT}}
                    </td>
                    <td data-title="'Tax Value'" >
                        {{tp.taxValue}}
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-striped">
              <thead>
                    <th>Item Text</th>
                    <th>Value</th>
              </thead>
              <tbody>
                <tr ng-repeat="(key, value) in salesRegisterSum">
                    <td>{{key}}</td>
                    <td>{{value | number:2}}</td>
                </tr>
              </tbody>
                
            </table>
            <table id ="salesTable" class="table" style="Display:none;"> 
            <tr><td>
            <table>        
            <tbody>
                <tr>                    
                    <th>Invoice Date</th>    
                    <th>Invoice type</th>                      
                    <th>Invoice Number</th>
                    <th>Material Code</th>
                    <th>Material Desc</th>
                    <th>Pre Tax</th>
                    <th>Invoice Qty</th>
                    <th>Cancel Invoice No</th>
                    <th>Invoice Value</th>
                    <th>Category</th>   
                    <th>Tax Value</th>                                       
                </tr>                 
                <tr ng-repeat="tp in salesList">                                    
                     <td data-title="'Invoice Date'" >
                        {{tp.fkDate |  date:"dd/MM/yyyy"}}
                    </td>
                    <td data-title="'Invoice type'" >
                        {{tp.invoiceType}}                        
                    </td>                    
                    <td data-title="'Invoice Number'" >
                        {{tp.vbeln}}
                    </td>
                    <td data-title="'Material Code'" >
                        {{tp.material_Num}}
                    </td>
                    <td data-title="'Material Desc'" >
                        {{tp.material_Description}}
                    </td>
                    <td data-title="'Pre Tax'" >
                        {{tp.preTax}}
                    </td>
                    <td data-title="'Invoice Qty'" >
                        {{tp.fkImg}}
                    </td>
                    <td data-title="'Cancel Invoice No'" >
                        {{tp.candoc}}
                    </td>
                    <td data-title="'Invoice Value'" >
                        {{tp.invoiceValue}}
                    </td>
                    <td data-title="'Category'" >
                        {{tp.categoryT}}
                    </td>
                    <td data-title="'Tax Value'" >
                        {{tp.taxValue}}
                    </td>           
                </tr>
                </tbody>
                
                </table>
                </td></tr> 
                <tr><td>
                 <table class="table table-bordered table-striped">
                  <thead>
                        <th>Item Text</th>
                        <th>Value</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="(key, value) in salesRegisterSum">
                        <td>{{key}}</td>
                        <td>{{value | number:2}}</td>
                    </tr>
                  </tbody>                  
                </table>
                </td></tr>  
            </table>
             <a class="btn btn-primary btn-sm" style="float:right;margin-right:10px;" download="Sales Register.xls" href="#" onclick="return ExcellentExport.excel(this, 'salesTable', 'Sales Register');">Download as Excel</a>
     </div> 

    </div>
    <div ng-show="summerized">
        <button class="btn btn-primary btn-sm" style="float:right;" ng-click="showOptions()">Filter</button> 
    <table class="table" ng-show="filterOptionSR" >
      <tr>
        <td><b>Name</b></td><td>{{ userDetails.account.Name }} </td><td><b>Customer Number</b></td><td>{{ userDetails.account.KUNNR__c }}</td>
      </tr> 
      <tr>
        <td><b>Address</b></td><td colspan="3">{{ userDetails.account.Street_1__c}} {{ userDetails.account.Street_2__c}} {{ userDetails.account.Town__c}} {{ userDetails.account.State__c}} {{ userDetails.account.District__c}} {{ userDetails.account.PIN_code__c}}</td>
      </tr>
      <tr>
        <td><b>From Date</b></td><td>
          
      
        <input type="text" ng-model="fromDateSR" class="datepicker" />

        </td><td><b>To Date</b></td><td>
          
        

          <input type="text" ng-model="toDateSR" class="datepicker" />
        </td>
      </tr>     
      <tr>
        

         <td colspan="2"> <button class="btn btn-primary btn-sm" ng-click="showDetailsSalesReg();filterOptionSR=false;">Generate Report</button> </td><td colspan="2"> &nbsp;</td>
      </tr>
    </table>

    <div ng-show="!filterOptionSR">
        <b>Select Invoice : </b>
        <select ng-model="selectedInvoice" ng-options="inv.Name for inv in invoiceTypeList | unique : 'Name'"/>
        <button class="btn btn-primary btn-sm" ng-click="showSummerizedSalesReg()">Generate Report</button>
        
        <div ng-show="!filterOptionSR">            
         <p>Data displayed from <strong> {{fromDateSR |  date:"dd/MM/yyyy" }} </strong> to  <strong> {{toDateSR |  date:"dd/MM/yyyy"}} </strong></p>
         <table id="summerizedTable" ng-table="salesRegisterSummerizedTable" class="table table-bordered table-striped" >               
            <tbody>
                <tr ng-repeat="tp in $data">                   
                    <td data-title="'Category'" >
                        {{tp.catName}}
                    </td>
                    <td data-title="'Qty Brought'" >
                        {{tp.qty}}                        
                    </td>                    
                    <td data-title="'Value'" >
                        {{tp.value}}
                    </td>                   
                </tr>
                </tbody>
            </table>
            
            <table id="summerizedTable1" class="table table-bordered table-striped" style="Display:none;">    
            <thead>
                    <tr>
                        <td>Category</td>
                        <td>Qty Brought</td>
                        <td>Value</td>
                    </tr>
            </thead>           
            <tbody>
                <tr ng-repeat="tp in salesSummerizedList">                   
                    <td data-title="'Category'" >
                        {{tp.catName}}
                    </td>
                    <td data-title="'Qty Brought'" >
                        {{tp.qty}}                        
                    </td>                    
                    <td data-title="'Value'" >
                        {{tp.value}}
                    </td>                   
                </tr>
             </tbody>
            </table>
            <a class="btn btn-primary btn-sm" style="float:right;margin-right:10px;" download="Summerized Sales Register.xls" href="#" onclick="return ExcellentExport.excel(this, 'summerizedTable1', 'Summerized Sales Register');">Download as Excel</a>
    
            </div>
      </div>

    </div>

     
        </apex:tab>
        <apex:tab label="Credit/Debit Notes" name="credit_notes" id="credit_notes">
            <button class="btn btn-primary btn-sm" style="float:right;" ng-click="showOptionsCNDN()">Filter</button>
            <table class="table" ng-show="filterOptionCNDN">
      <tr>
        <td><b>Name</b></td><td>{{ userDetails.account.Name }} </td><td><b>Customer Number</b></td><td>{{ userDetails.account.KUNNR__c }}</td>
      </tr> 
      <tr>
        <td><b>Address</b></td><td colspan="3">{{ userDetails.account.Street_1__c}} {{ userDetails.account.Street_2__c}} {{ userDetails.account.Town__c}} {{ userDetails.account.State__c}} {{ userDetails.account.District__c}} {{ userDetails.account.PIN_code__c}}</td>
      </tr>
      <tr>
        <td><b>From Date</b></td><td>
          
      
         <input type="text" ng-model="fromDateCNDN" class="datepicker" />
        </td><td><b>To Date</b></td><td>
          
        
          <input type="text" ng-model="toDateCNDN" class="datepicker" />
        </td>
      </tr>

      <tr>
        <td colspan="2"> <button class="btn btn-primary btn-sm" ng-click="showDetailsCNDN()">Generate Report</button> </td><td colspan="2"> &nbsp;</td>
      </tr>
    </table>
    <div ng-show="!filterOptionCNDN">    
      <p>Data displayed from <strong> {{fromDateCNDN |  date:"dd/MM/yyyy" }} </strong> to  <strong> {{toDateCNDN |  date:"dd/MM/yyyy"}} </strong></p>
    <table id="creditDebitNotesTable" ng-table="creditDebitNotesTable" class="table table-bordered table-striped" >
               
            <tbody>
                <tr ng-repeat="tp in $data">                   
                    <td data-title="'Date'" >
                        {{tp.PstngDate |  date:"dd/MM/yyyy"}}
                    </td>                   
                    <td data-title="'Document Type'" >
                        {{tp.DocType}}                        
                    </td>
                     <td data-title="'CN/DN Type'" >
                        {{tp.Fkart}}                        
                    </td>
                    <td data-title="'Accounting Doc No'" >
                        {{tp.DocNo}}
                    </td>
                    <td data-title="'Document  No'" >
                        {{tp.Vbeln}}
                    </td>
                    <td data-title="'Org Doc No'" >
                        {{tp.SpGlInd}}
                    </td>
                    <td data-title="'Narration'" >
                        {{tp.ItemText1}}
                    </td>                   
                    <td data-title="'Debit Rs'" >
                        {{tp.AmtDoccur1 == 0?'':tp.AmtDoccur1}}
                    </td>
                    <td data-title="'Credit Rs'" >
                        {{tp.AmtDoccur== 0?'':tp.AmtDoccur}}
                    </td>
                    <td data-title="'Worksheet'" ng-if="tp.Vbeln && tp.Fkart != 'ZCCR' && tp.Fkart != 'ZDRR' && tp.Fkart != 'S2' ">
                        <button class="btn btn-primary btn-sm" ng-click="showDiscountInfo(tp.Vbeln)">View</button>
                    </td>
                    
                </tr>
                </tbody>
            </table>
            
            <table id ="cndnTable" class="table" style="Display:none;">            
            <tbody>
                <tr>                    
                    <th>Date</th>
                    <th>Document Type</th>    
                    <th>CN/DN Type</th>
                    <th>Accounting Doc No</th>
                    <th>Document No</th>
                    <th>Org Doc No</th>
                    <th>Narration</th>
                    <th>Debit Rs</th>
                    <th>Credit Rs</th>                                                  
                </tr>                 
                <tr ng-repeat="tp in cndnList">                                    
                     <td data-title="'Date'" >
                        {{tp.PstngDate |  date:"dd/MM/yyyy"}}
                    </td>                    
                    <td data-title="'Document Type'" >
                        {{tp.DocType}}                        
                    </td>
                    <td data-title="'CN/DN Type'" >
                        {{tp.ItemText}}                        
                    </td>                    
                    <td data-title="'Accounting Doc No'" >
                        {{tp.DocNo}}
                    </td>
                    <td data-title="'Document No'" >
                        {{tp.Vbeln}}
                    </td>
                    <td data-title="'Org Doc No'" >
                        {{tp.SpGlInd}}
                    </td>
                    <td data-title="'Narration'" >
                        {{tp.ItemText1}}
                    </td>                   
                    <td data-title="'Debit Rs'" >
                        {{tp.AmtDoccur1}}
                    </td>
                    <td data-title="'Credit Rs'" >
                        {{tp.AmtDoccur}}
                    </td>            
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary btn-sm" style="float:right;margin-right:10px;" download="CreditDebit Notes.xls" href="#" onclick="return ExcellentExport.excel(this, 'cndnTable', 'CreditDebit Notes');">Download as Excel</a>
    
            </div>
            
        </apex:tab>
       <apex:tab label="Discounts & Schemes" name="discounts_sch" id="discounts_sch" rendered="true">
            

          <table id="discountsTable" ng-table="discountsTable" class="table table-bordered table-striped">               
            <tbody>
               <tr ng-repeat="tp in discountsList" style="cursur:pointer;" >                   
                    <td data-title="'Circular Number'" >
                        {{tp.Srnum}}                        
                    </td>
                    <td data-title="'Scheme Name'" >
                        {{tp.Zscheme}}
                    </td>
                    <td data-title="'From Date'" >
                        {{tp.Begda1 |  date:"dd/MM/yyyy"}}
                    </td>
                    <td data-title="'To Date'" >
                        {{tp.Endda |  date:"dd/MM/yyyy"}}
                    </td>
                    <td data-title="'View'" >
                         <button class="btn btn-primary btn-sm" ng-click="openWebService(tp)">View</button>
                    </td>                    
                </tr>
                </tbody>
            </table>
            <table id ="discountTable" class="table" style="Display:none;">            
            <tbody>
                <tr>                    
                    <th>Circular Number</th>    
                    <th>Scheme Name</th>                      
                    <th>Discount Code</th>
                    <th>Discount Sub Code</th>
                    <th>Discount Description</th>
                    <th>From Date</th>
                    <th>To Date</th>                                                                   
                </tr>                 
                <tr ng-repeat="tp in discountList">                                    
                     <td data-title="'Circular Number'" >
                        {{tp.Srnum}}                        
                    </td>
                    <td data-title="'Scheme Name'" >
                        {{tp.Zscheme}}
                    </td>  
                    <td data-title="'From Date'" >
                        {{tp.Begda1 |  date:"dd/MM/yyyy"}}
                    </td>
                    <td data-title="'To Date'" >
                        {{tp.Endda |  date:"dd/MM/yyyy"}}
                    </td>                     
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary btn-sm" style="float:right;margin-right:10px;" download="DiscountsTable.xls" href="#" onclick="return ExcellentExport.excel(this, 'discountTable', 'Discounts');">Download as Excel</a>

        </apex:tab>
        <apex:tab label="Price List" name="price_list" id="price_list">
            <button class="btn btn-primary btn-sm" style="float:right;" ng-click="showOptionsPL()">Filter</button>

            <table class="table" ng-show="filterOptionPL">
          <tr>
            <td><b>Select Category</b></td>            
            <td>                
              <select ng-model="searchCategory" ng-options="(cat.Material_Group__c +'-'+cat.Mat_Grp_Desc__c) for cat in materialList | unique : 'Material_Group__c' | orderBy:'Material_Group__c'" />
             
            </td>
            <td><b>Select SKU</b></td>
            <td>
                <select  ng-model="searchMaterial" ng-options="mat.Name for mat in materialList | filter:{ Material_Group__c : searchCategory.Material_Group__c } | orderBy:'Name' "  />
                 
            </td>
         </tr>
         <tr>
            <td colspan="2"> <button class="btn btn-primary btn-sm" ng-click="showDetailsNBP()">Generate Report</button> </td><td colspan="2"> &nbsp;</td>
        </tr>
   </table>
   <div ng-show="!filterOptionPL">
         <table ng-table="NBPPriceTable" class="table table-bordered table-striped" >               
          <tbody>
              <tr ng-repeat="tp in $data">                  
                    <td data-title="'Material Group'" >
                        {{tp.matkl}}
                    </td> 
                    <td data-title="'Material Group Desc'" >
                        {{tp.matkl_desc}}
                    </td>
                    <td data-title="'Material Number '" >
                        {{tp.matnr}}                        
                    </td> 
                    <td data-title="'Material Desc'" >
                        {{tp.matnr_desc}}                        
                    </td>
                    
                    <td data-title="'Tyre Price'" >
                        {{tp.tyre_price}}
                    </td>  
                    <td data-title="'Tube Price'" >
                        {{tp.tube_price}}
                    </td> 
                    <td data-title="'Flap Price'" >
                        {{tp.flap_price}}
                    </td>                    
                    <td data-title="'Set Price'" >
                        {{tp.set_price}}
                    </td>
                    <td data-title="'Pair Price'" >
                        {{tp.pair_price}}
                    </td>                                      
                </tr>
                </tbody>
            </table>
              <table id ="priceTable" class="table" style="Display:none;">            
            <tbody>
                <tr>                    
                    <th>Material Group</th>    
                    <th>Material Group Desc</th>                      
                    <th>Material Desc</th>                   
                    <th>Tube Price</th>  
                    <th>Tyre Price</th>  
                    <th>Set Price</th>   
                    <th>Pair Price</th>                                                               
                </tr>                 
                <tr ng-repeat="tp in priceList">                                    
                   <td data-title="'Material Group'" >
                        {{tp.matkl}}
                    </td> 
                    <td data-title="'Material Group Desc'" >
                        {{tp.matkl_desc}}
                    </td> 
                    <td data-title="'Material Desc'" >
                        {{tp.matnr_desc}}                        
                    </td>
                    <!-- <td data-title="'Flap'" >
                        {{tp.flap}}
                    </td>
                    <td data-title="'Flap Desc'" >
                        {{tp.flap_desc}}
                    </td>
                     <td data-title="'Tube'" >
                        {{tp.tube}}
                    </td>
                    <td data-title="'Tube Desc'" >
                        {{tp.tube_desc}}
                    </td>  -->                   
                    <td data-title="'Tube Price'" >
                        {{tp.tube_price}}
                    </td> 
                    <td data-title="'Tyre Price'" >
                        {{tp.tyre_price}}
                    </td>                    
                    <td data-title="'Set Price'" >
                        {{tp.set_price}}
                    </td>
                    <td data-title="'Pair Price'" >
                        {{tp.pair_price}}
                    </td>                     
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary btn-sm" style="float:right;margin-right:10px;" download="NBP Price List Table.xls" href="#" onclick="return ExcellentExport.excel(this, 'priceTable', 'NBP Price List');">Download as Excel</a>
    
            </div>
        </apex:tab>
    </apex:tabPanel>

    <apex:includeScript value="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/js/angular.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/js/ng-table.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/js/angular_ui.js')}"/>
</body> 
</html>   
</apex:page>