<apex:page sidebar="false" id="myPage" showHeader="false" applyBodyTag="false" applyHtmlTag="false"  controller="Dashboard_Output_Controller" >
<apex:form id="myForm">
    <c:DashboardComponentHeader />
             <style>
               html, body{
                    overflow:initial ! important;
                }
                #header-fixed {
                    position: fixed;
                    top: 0px; display:none;
                }
             </style>
    <html>
        <head>
            <apex:includeScript value="{!URLFOR($Resource.ExcellentExport,'/excellentexport-1.4/excellentexport.min.js')}"/>
        </head>
        <body >
         <script>
            $j = jQuery.noConflict();
            $j( document ).ready(function() {
                fetchDashboardScore();
                console.log( "document loaded" );                
            });  
            var resLength           = 0;
            var catSetLength        = 0;
            var listLength          = 0;            
            var tablefix;
            function fetchDashboardScore() {
                
                var tab = $j("#tableOfSales");
                var tab2 = $j('#tableBody');
                
                var tab3 = $j("#tableOfSales1");
                var tab4 = $j('#tableBody1');
                //var tab3 = $j('#tablefoot');                
                
               var customArr = [];  
               //var tablefix;
              
               Dashboard_Output_Controller.getDashboardData(function(result,event){
               if(result == null){
                             $j("#el_loading").hide();
                             alert("Dashboard not available");
               }else{
                var rowL = '<tr style="background:#f5822d ! important;height:33px; ">';
                //var trsN= trsN +'<th style="width:150px;padding:0px;background:#213F99;"><div style="background:#213F99;width:130px;color:White;height:30px;text-align: center;">Date</div></th>';
                
                rowL = rowL + trsN;
                var st="13-Apr-2015@@Territory@@B0082@@TL Name@@Ram Uttamrao <br/>Temkar@@Designation@@TL@@@@@@@@";
                var col=st.split('@@');
                for(var j=0;j < 2 ;j++){       
                                  var thsN = '<th  class="textCenter" style="width:102px !important;margin-left: -1px;background:#f5822d;">';
                                  thsN = thsN + '<div class="textCenter colorWhite" style="height:40px;" id="cat_catname_'+j+'"></div>';//+col[j]+'
                                  thsN = thsN+'</th>';
                                  rowL = rowL + thsN;                               
                      }
                      //for(var j=0;j<col.length ;j++){       
                                  //thsN = '<th  class="textCenter" style="width:102px;margin-left: -1px;background:#f5822d;">';
                                  thsN = thsN + '<th class="textCenter" style="width:102px;margin-left: -1px;background:#f5822d;><td><div class="textCenter colorWhite" style="padding-top: 11%;height:40px;text-align: center;" id="cat_catname_'+j+'">{!loggedInUserTerritory}</div></th></td>';//+col[j]+'
                                  thsN = thsN + '<th class="textCenter" style="width:102px;margin-left: -1px;background:#f5822d;><td><div class="textCenter colorWhite" style="padding-top: 11%;height:40px;text-align: center;" id="cat_catname_'+j+'">Territory</div></th></td>';//+col[j]+'
                                  thsN = thsN + '<th class="textCenter" style="width:102px;margin-left: -1px;background:#f5822d;><td><div class="textCenter colorWhite" style="padding-top: 11%;height:40px;text-align: center;" id="cat_catname_'+j+'">{!loggedInUserTerritory}</div></th></td>';//+col[j]+'
                                  thsN = thsN + '<th class="textCenter" style="width:102px;margin-left: -1px;background:#f5822d;><td><div class="textCenter colorWhite" style="padding-top: 11%;height:40px;text-align: center;" id="cat_catname_'+j+'">TL Name</div></th></td>';//+col[j]+'
                                  thsN = thsN + '<th class="textCenter" style="width:102px;margin-left: -1px;background:#f5822d;><td><div class="textCenter colorWhite" style="padding-top: 11%;width:74px;height:40px;text-align: center;" id="cat_catname_'+j+'">{!loggedInUserName}</div></th></td>';//+col[j]+'
                                  thsN = thsN + '<th class="textCenter" style="width:102px;margin-left: -1px;background:#f5822d;><td><div class="textCenter colorWhite" style="padding-top: 11%;height:40px;text-align: center;" id="cat_catname_'+j+'">Designation</div></th></td>';//+col[j]+'
                                  thsN = thsN + '<th class="textCenter" style="width:102px;margin-left: -1px;background:#f5822d;><td><div class="textCenter colorWhite" style="padding-top: 11%;height:40px;text-align: center;" id="cat_catname_'+j+'">TL</div></th></td>';//+col[j]+'
                                  thsN = thsN + '<th class="textCenter" style="width:102px;margin-left: -1px;background:#f5822d;><td><div class="textCenter colorWhite" style="height:40px;text-align: center;" id="cat_catname_'+j+'"></div></th></td>';//+col[j]+'
                                  thsN = thsN + '<th class="textCenter" style="width:102px;margin-left: -1px;background:#f5822d;><td><div class="textCenter colorWhite" style="height:40px;text-align: center;" id="cat_catname_'+j+'"></div></th></td>';//+col[j]+'
                                  thsN = thsN + '<th class="textCenter" style="width:102px;margin-left: -1px;background:#f5822d;><td><div class="textCenter colorWhite" style="height:40px;text-align: center;" id="cat_catname_'+j+'"></div></th></td>';//+col[j]+'
                                  //thsN = thsN+'</th>';
                                  //thsN = thsN;
                                  rowL = rowL + thsN;                               
                     // }
                rowL + '</tr>';
                  //alert({!loggedInUserTerritory}+'gggg');
                rowL = rowL + '<tr style="height:33px; ">';  
                var trsN= trsN +'<th style="width:150px;padding:0px;background:#213F99;"><div class="textCenter" style="background:#213F99;width:130px;color:White;height:30px;text-align: center;">Output(50%)</div></th>';
                                
                rowL = rowL + trsN;
                var st="Weightage@@Parameters@@No of dealers/<br/>distributors@@No of dealers <br/>planned@@No of dealers <br/>billed@@LYCM@@L3M@@Plan@@MTD Target@@MTD Actual@@Achievement<br/>(MTD)@@Score";
                var col=st.split('@@');
                      //for(var j=0;j<col.length ;j++){       
                                  //var thsN = '<th  style="background:#213F99;padding:0px;width:118px;">';
                                  var thsN =  '<th  style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="padding-top: 11px;Width:90px;height:44px;text-align: center;" id="cat_catname_'+j+'">Weightage</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="padding-top: 11px;Width:150px;height:44px;text-align: center;" id="cat_catname_'+j+'">Parameters</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="Width:120px;height:44px;text-align: center;" id="cat_catname_'+j+'">No of dealers/<br/>distributors</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="Width:120px;height:44px;text-align: center;" id="cat_catname_'+j+'">No of dealers <br/>planned</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="Width:110px;height:44px;text-align: center;" id="cat_catname_'+j+'">No of dealers <br/>billed</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:30px !important;text-align: center;"><div class="colorWhite" style="padding-left: 26%;padding-top: 11px;Width:30px;height:44px;text-align: center;" id="cat_catname_'+j+'">LYCM</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:30px !important;text-align: center;"><div class="colorWhite" style="padding-left: 26%;padding-top: 11px;Width:30px;height:44px;text-align: center;" id="cat_catname_'+j+'">L3M</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:30px !important;text-align: center;"><div class="colorWhite" style="padding-left: 26%;padding-top: 11px;Width:30px;height:44px;text-align: center;" id="cat_catname_'+j+'">Plan</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="padding-top: 11px;Width:70px;height:44px;text-align: center;" id="cat_catname_'+j+'">MTD Target</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="padding-top: 11px;Width:100px;height:44px;text-align: center;" id="cat_catname_'+j+'">MTD Actual</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="Width:100px;height:44px;text-align: center;" id="cat_catname_'+j+'">Achievement<br/>(MTD)</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:50px;"><div class="colorWhite" style="padding-left: 26%;padding-top: 11px;Width:50px;height:44px;text-align: center;" id="cat_catname_'+j+'">Score</div>';
                                  thsN = thsN+'</th>';
                                  rowL = rowL + thsN;                               
                      //}
                rowL + '</tr>';                        
                tab3.append(rowL);  
                var scorevar="5.10@@12.85";
                var col1=scorevar.split('@@');
                var bodyRow = '';
                bodyRow = '<tr style="background-color:#E9ECF5 !important;height:33px;"><div style="background:#E9ECF5;"><td class="fontBold" style="height:33px;line-height:30px;text-align: center;">Total Value(In Lakhs)</td>'; 
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+result[0].dashboardSummaryScore.Dashboard_Weightage_Master__r.Weightage__c +'%</td>';
                for(var k=0;k<4;k++){
                        //for(var m=0;m<result[i].dashboardOutputScore.length;m++){
                             bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:26px;text-align: center;font-weight: bold;"></td>';
                         //}
                }
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result[0].dashboardSummaryScore.Total_Value_LYCM__c).toFixed(2) +'</td>';
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result[0].dashboardSummaryScore.Total_Value_L3M__c).toFixed(2) +'</td>';
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result[0].dashboardSummaryScore.Total_Value__c).toFixed(2) +'</td>';
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result[0].dashboardSummaryScore.Total_MTD_Target__c).toFixed(2) +'</td>';
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result[0].dashboardSummaryScore.Total_MTD_Actual__c).toFixed(2) +'</td>';
                bodyRow = bodyRow + '<td id="valueScore" class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result[0].dashboardSummaryScore.Achievement__c).toFixed(2) +'%</td>';
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result[0].dashboardSummaryScore.Score__c).toFixed(2) +'%</td>';
                
                tab4.append(bodyRow);
                for(var i=0;i<result.length;i++){                    
                    
                    bodyRow = '<tr style="background-color:#E9ECF5 !important;height:33px;"><div style="background:#E9ECF5;"><td class="fontBold" style="height:33px;line-height:30px;text-align: center;">'+result[i].catName+'</td>'; 
                    bodyRow = bodyRow + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result[i].catWeight +'%</td>';
                    //for(var k=0;k<10;k++){
                        //for(var m=0;m<result[i].dashboardOutputScore.length;m++){
                             //bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;"></td>';
                         //}
                    //}
                  for(var z=0;z<result[i].dashboardOutputScore.length;z++){  
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">Total</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardOutputScore[z].Total_No_of_Dealers_Distributor__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardOutputScore[z].Total_No_of_dealers_distributors_planned__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardOutputScore[z].Total_dealers_distributors_billed_since__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardOutputScore[z].Total_LYCM__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardOutputScore[z].Total_L3M__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardOutputScore[z].Total_Monthly_Target__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardOutputScore[z].Total_MTD_Target__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardOutputScore[z].Total_Actual_MTD__c+'</td>';
                    bodyRow = bodyRow + '<td id="totalachv_'+i+'" class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardOutputScore[z].Achievement_MTDTest__c+'%</td>';
                    bodyRow = bodyRow + '<td class="font14" style="color:#CC3300;background:white;padding:6px;text-align: center;font-weight: bold;">'+(result[i].dashboardOutputScore[z].Final_Score__c).toFixed(2)+'%</td>';
                  }  
                  for(var j=0;j<result[i].dashboardScore.length;j++){
                              var bodyTd = '';
                                     
                                      bodyTd = '<tr style="height:33px;"><td style="background:white;padding:0px;"></td><td style="background:white;padding:0px;"></td>';
                                      
                                      bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;"><input type="hidden" id="param_'+j+'" value="'+result[i].dashboardScore[j].Parameters__c+'"/>'+result[i].dashboardScore[j].Parameters__c+'</td>';
                                      bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardScore[j].Number_of_Dealers_Distributors__c+'</td>';
                                      bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardScore[j].No_of_Dealer_Distributor_Plan__c+'</td>';
                                      bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardScore[j].No_of_Dealer_Distributor_Billed_Since__c+'</td>';
                                      bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardScore[j].LYCM__c+'</div></td>';
                                      bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardScore[j].L3M__c+'</td>';
                                      bodyTd = bodyTd + '<td  class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardScore[j].Monthly_Target__c+'</td>';
                                      bodyTd = bodyTd + '<td  class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardScore[j].MTD_Target__c+'</td>';
                                      bodyTd = bodyTd + '<td  class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardScore[j].Actual_MTD__c+'</td>';
                                      bodyTd = bodyTd + '<td id="achv_'+i+j+'" class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result[i].dashboardScore[j].Achievement_MTD__c+'%';
                                      bodyTd = bodyTd + '<td id="ach" class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">';
                                     bodyTd = bodyTd + '</td></tr>'; 
                                     bodyRow = bodyRow + bodyTd;
                                 
                       } 
                       bodyRow = bodyRow + '</tr>';
                          tab4.append(bodyRow);
                          
                      for(var j=0;j<result[i].dashboardScore.length;j++){
                        if(parseInt($j("#achv_"+i+j).text()) >=100 || parseInt($j("#achv_"+i+j).text()) >=85) {
                              //  console.log('---------'+$j("#achvtd_"+i+j).text())
                                $j("#achv_"+i+j ).css("background-color","#00FF00");
                                       
                            }else if(parseInt($j("#achv_"+i+j).text()) >=70 && parseInt($j("#achv_"+i+j).text()) <=85){
                                $j( "#achv_"+i+j ).css("background-color","Yellow");                                       
                             }else if(parseInt($j("#achv_"+i+j).text()) <=70){
                                $j( "#achv_"+i+j ).css("background-color","#FF0000");                                       
                             }
                             if(parseInt($j("#totalachv_"+j).text()) >=100 || parseInt($j("#totalachv_"+j).text()) >=85) {
                              //  console.log('---------'+$j("#achvtd_"+i+j).text())
                                $j("#totalachv_"+j).css("background-color","#00FF00");
                                       
                            }else if(parseInt($j("#totalachv_"+j).text()) >=70 && parseInt($j("#totalachv_"+j).text()) <=85){
                                $j( "#totalachv_"+j ).css("background-color","Yellow");                                       
                             }else if(parseInt($j("#totalachv_"+j).text()) <=70){
                                $j( "#totalachv_"+j).css("background-color","#FF0000");                                       
                             }
                        }
                        
                      }
                      
                      //var tablefix = $j('#demo_stupidtable1').DataTable( {
                            //scrollY: '470px',
                            //scrollX: "100%",
                            //searching: false,
                            //scrollCollapse: true,
                            //paging: false,
                            //ordering:  false,
                            //info:false
                           
                        //} ); 
                        //$j("body").css("overflow" , "overlay");
                       
                        if(parseInt($j("#valueScore").text()) >=100 || parseInt($j("#valueScore").text()) >=85) {
                              //  console.log('---------'+$j("#achvtd_"+i+j).text())
                                $j("#valueScore" ).css("background-color","#00FF00");
                                       
                            }else if(parseInt($j("#valueScore").text()) >=70 && parseInt($j("#valueScore").text()) <=85){
                                $j( "#valueScore" ).css("background-color","Yellow");                                       
                             }else if(parseInt($j("#valueScore").text()) <=70){
                                $j( "#valueScore" ).css("background-color","#FF0000");                                       
                             }
                       //for(var j=0;j<result.length;j++){
                        
                        //}      
                     }
                     
                          
                }); 
            } 
             function paramNameOnMouseOver(got,th) {
                            var moveLeft = 10;
                            var moveDown = 10;        
                            $j('div#pop-up').show();       
                            $j('div#pop-up').css('top', got.pageY + moveDown);
                            $j('div#pop-up').css('left', got.pageX + moveLeft);  
                           
                            var x = $j(th).find('input').val();
                            //var details=x.split('@@');
                     
                            //console.log('---this.val---'+x);
                            
                            $j('div#pop-up').html('<b>'+x+'</b>');
                           
            } 
            function paramNameOnMouseOut(got) {
                        $j('div#pop-up').hide();   
                                  
            } 
        </script> 
          <div id="salesPlan"> 
           <div class="navbar navbar-inverse navbar-collapse collapse navbar-inverse-collapse" style="background:#213F99 !important;">
              <div class="navbar-header">
               <a class="navbar-brand" href="/" title="Home"><img id="imgCeat1"  src="{!$Resource.CeatLogo}" alt="Logo not found" style="margin-top:-8px;" align="right"/></a>
              </div>
                <div>
                  <a style="color:white;font-size: 17px;margin-top: 22px;font-weight:bold;margin-left: 419px;position: fixed;" href="#" class="fontFamily"></a>
                  </div>            
            </div>
            </div>
            <div class="panel-body,container" id="panelbody1" style="padding-top: 10px;">
                <table class="table table-bordered" id="demo_stupidtable1" style="background:#E9ECF5;border: 1px solid;">
                    <thead id="tableOfSales1" class="fontFamily" style="border: 1px solid;">
                    </thead>
                    <tbody id="tableBody1" class="stickyTop fontFamily" style="height:33px;border: 1px solid ;">
                    </tbody> 
                    <tfoot id="tablefoot1" class="stickyTop fontFamily" style="border: 1px solid ;">
                    </tfoot>
                </table>                 
                
            </div>
            
            <br/><br/><br/>
            <!--
            <div class="panel-body,container" id="panelbody" style="padding-top: 10px;">
                <table class="table table-bordered" id="demo_stupidtable" style="background:#E9ECF5;border: 1px solid;">
                    <thead id="tableOfSales" class="fontFamily" style="border: 1px solid;">
                    </thead>
                    <tbody id="tableBody" class="stickyTop fontFamily" style="height:33px;border: 1px solid ;">
                    </tbody> 
                    <tfoot id="tablefoot" class="stickyTop fontFamily" style="border: 1px solid ;">
                    </tfoot>
                </table>                 
                
            </div>
            -->
            <div id="totals" style="display:none;">
                <div class="fontFamily font14 widthOfColTwo" style="float:left;padding:0px;height:35px;width:360px;background:#213F99;color:Yellow;">
                    <table class="table table-bordered"><tr>
                    <th style="border: 3px solid;height:35px;width:177px;background:#213F99;text-align:center;"><b>Total Weights</b></th>
                    <th id="totalwht" style="border: 3px solid;height:35px;width:177px;background:#213F99;font-weight:bold;text-align:center;"></th>
                    </tr>
                    </table>
                </div>
                <div id="totalScore" class="fontFamily font14 widthOfColTwo" style="color:Yellow;font-weight:bold;float:right;padding:0px;height:35px;width:156px;background:#213F99;text-align:center;"></div>
            
            </div>
            <br/><br/><br/>
            <div id="totalIpOtpScore" style="display:none;">
                <div class="fontFamily font14 widthOfColTwo" style="float:left;padding:0px;height:120px;width:360px;background:#213F99;color:Yellow;">
                    <table class="table table-bordered">
                    <tr>
                        <th style="border: 3px solid;height:35px;width:177px;background:#213F99;text-align:center;color:Yellow;"><b>Total Output Score</b></th>
                        <th id="totalOptScore" style="border: 3px solid;height:35px;width:177px;background:#213F99;color:Yellow;;font-weight:bold;text-align:center;"></th>
                    </tr>
                    <tr>
                        <th style="border: 3px solid;height:35px;width:177px;background:#213F99;text-align:center;color:Yellow;"><b>Total Input Score</b></th>
                        <th id="totalInpScore" style="border: 3px solid;height:35px;width:177px;background:#213F99;color:Yellow;font-weight:bold;text-align:center;"></th>
                    </tr>
                    <tr>
                        <th style="border: 3px solid;height:35px;width:177px;background:#213F99;text-align:center;color:Yellow;"><b>Total Score</b></th>
                        <th id="ttlScore" style="border: 3px solid;height:35px;width:177px;background:#213F99;color:Yellow;font-weight:bold;text-align:center;"></th>
                    </tr>
                    </table>
                </div>
         </div>
        <div id="pop-up">
        </div>
        <a class="btn btn-success" style="float:right;margin-right:10px;" download="Category Target VS Actual.xls" href="#" onclick="return ExcellentExport.excel(this, 'demo_stupidtable1', 'Dashboard');">Download as Excel</a>
        </body>
    </html>
</apex:form>
</apex:page>