<apex:page sidebar="false" id="myPage" showHeader="false" applyBodyTag="false" applyHtmlTag="false"  controller="Dashboard_Output_Controller_RM" >
<apex:form id="myForm">
    <c:DashboardComponentHeader />
             <style>
               html, body{
                    overflow:initial ! important;
                }
                #header-fixed {
                    position: fixed;
                    top: 0px; display:none;
                }
             </style>
    <html>
        <head>
            <apex:includeScript value="{!URLFOR($Resource.ExcellentExport,'/excellentexport-1.4/excellentexport.min.js')}"/>
        </head>
        <body >
         <script>
            $j = jQuery.noConflict();
            $j( document ).ready(function() {
                fetchDashboardScore();
                console.log( "document loaded" );                
            });
            var totalWHt           = 0;
            var totalScore              = 0;
            var Score1= 0;
            var totalWHt1          = 0;   
            var resLength           = 0;
            var catSetLength        = 0;
            var listLength          = 0;            
            var tablefix;
            
            var theMonths = ["January", "February", "March", "April", "May",
			  "June", "July", "August", "September", "October", "November", "December"];
			  
            function fetchDashboardScore() {
                
                var tab = $j("#tableOfSales");
                var tab2 = $j('#tableBody');
                
                var tab3 = $j("#tableOfSales1");
                var tab4 = $j('#tableBody1');
               
               var customArr = [];  
              
               Dashboard_Output_Controller_RM.getDashboardData('{!userId}','{!selectedMonth}','{!selectedYear}',function(result,event){
               if(result == null){
                             $j("#el_loading").hide();
                              alertify.alert("Dashboard not available for the month : <b>"+theMonths[{!selectedMonth}]+"</b>");
               }else{
                 
                //var rowL = '<tr style="background:#f5822d ! important;height:33px; ">';
                
                var rowL = rowL + trsN;
                
                  //alert({!loggedInUserRO}+'gggg');
                rowL = rowL + '<tr style="height:33px; ">';  
                var trsN= trsN +'<th style="width:150px;padding:0px;background:#213F99;"><div class="textCenter" style="background:#213F99;width:130px;color:White;height:30px;text-align: center;">Output(50%)</div></th>';
                                
                rowL = rowL + trsN;
                      
                                  //var thsN = '<th  style="background:#213F99;padding:0px;width:118px;">';
                                  var thsN =  '<th  style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="color:White;padding-top: 11px;Width:90px;height:44px;text-align: center;" id="cat_catname_'+j+'">Weightage</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="color:White;padding-top: 11px;Width:150px;height:44px;text-align: center;" id="cat_catname_'+j+'">Parameters</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="color:White;Width:120px;height:44px;text-align: center;" id="cat_catname_'+j+'">No of dealers/<br/>distributors</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="color:White;Width:120px;height:44px;text-align: center;" id="cat_catname_'+j+'">No of dealers <br/>planned</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="color:White;Width:110px;height:44px;text-align: center;" id="cat_catname_'+j+'">No of dealers <br/>billed</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:30px !important;text-align: center;"><div class="colorWhite" style="color:White;padding-left: 26%;padding-top: 11px;Width:30px;height:44px;text-align: center;" id="cat_catname_'+j+'">LYCM</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:30px !important;text-align: center;"><div class="colorWhite" style="color:White;padding-left: 26%;padding-top: 11px;Width:30px;height:44px;text-align: center;" id="cat_catname_'+j+'">L3M</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:30px !important;text-align: center;"><div class="colorWhite" style="color:White;padding-left: 26%;padding-top: 11px;Width:30px;height:44px;text-align: center;" id="cat_catname_'+j+'">Plan</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="color:White;padding-top: 11px;Width:70px;height:44px;text-align: center;" id="cat_catname_'+j+'">MTD Target</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="color:White;padding-top: 11px;Width:100px;height:44px;text-align: center;" id="cat_catname_'+j+'">MTD Actual</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:118px;"><div class="colorWhite" style="color:White;Width:100px;height:44px;text-align: center;" id="cat_catname_'+j+'">Achievement<br/>(MTD)</div></th>';
                                  thsN = thsN + '<th style="background:#213F99;padding:0px;width:50px;"><div class="colorWhite" style="color:White;padding-left: 26%;padding-top: 11px;Width:50px;height:44px;text-align: center;" id="cat_catname_'+j+'">Score</div>';
                                  thsN = thsN+'</th>';
                                  rowL = rowL + thsN;                               
                      
                rowL + '</tr>';                        
                tab3.append(rowL);  
                var scorevar="5.10@@12.85";
                var col1=scorevar.split('@@');
                var bodyRow = '';
                bodyRow = '<tr style="background-color:#E9ECF5 !important;height:33px;"><div style="background:#E9ECF5;"><td class="fontBold" style="height:33px;line-height:30px;text-align: center;">Total Value(In Lakhs)</td>'; 
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+result.outputDb[0].dashboardSummaryScore.Dashboard_Weightage_Master__r.Weightage__c +'%</td>';
                totalWHt1 = result.outputDb[0].dashboardSummaryScore.Dashboard_Weightage_Master__r.Weightage__c ;
                for(var k=0;k<4;k++){
                        
                             bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:26px;text-align: center;font-weight: bold;"></td>';
                         
                }
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result.outputDb[0].dashboardSummaryScore.Total_Value_LYCM__c).toFixed(2) +'</td>';
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result.outputDb[0].dashboardSummaryScore.Total_Value_L3M__c).toFixed(2) +'</td>';
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result.outputDb[0].dashboardSummaryScore.Total_Value__c).toFixed(2) +'</td>';
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result.outputDb[0].dashboardSummaryScore.Total_MTD_Target__c).toFixed(2) +'</td>';
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result.outputDb[0].dashboardSummaryScore.Total_MTD_Actual__c).toFixed(2) +'</td>';
                bodyRow = bodyRow + '<td id="valueScore" class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result.outputDb[0].dashboardSummaryScore.Achievement__c).toFixed(2) +'%</td>';
                bodyRow = bodyRow + '<td class="font14" style="background:white;padding:26px;text-align: center;font-weight: bold;">'+(result.outputDb[0].dashboardSummaryScore.Score__c).toFixed(2) +'%</td>';
                Score1= result.outputDb[0].dashboardSummaryScore.Score__c;
                 
                tab4.append(bodyRow);
                for(var i=0;i<result.outputDb.length;i++){                    
                    
                    bodyRow = '<tr style="background-color:#E9ECF5 !important;height:33px;border-top-width:2px !important; border:inherit;"><div style="background:#E9ECF5;"><td class="fontBold" style="height:33px;line-height:30px;">'+result.outputDb[i].catName+'</td>'; 
                    bodyRow = bodyRow + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].catWeight +'%</td>';
                    totalWHt1 = totalWHt1 + result.outputDb[i].catWeight;
                    
                  for(var z=0;z<result.outputDb[i].dashboardOutputScore.length;z++){  
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">Total</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardOutputScore[z].Total_No_of_Dealers_Distributor__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardOutputScore[z].Total_No_of_dealers_distributors_planned__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardOutputScore[z].Total_dealers_distributors_billed_since__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardOutputScore[z].Total_LYCM__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardOutputScore[z].Total_L3M__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardOutputScore[z].Total_Monthly_Target__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardOutputScore[z].Total_MTD_Target__c+'</td>';
                    bodyRow = bodyRow + '<td class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardOutputScore[z].Total_Actual_MTD__c+'</td>';
                    bodyRow = bodyRow + '<td id="totalachv_'+i+'" class="font14" style="background:#E9ECF5;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardOutputScore[z].Achievement_MTDTest__c+'%</td>';
                    bodyRow = bodyRow + '<td class="font14" style="color:#CC3300;background:white;padding:6px;text-align: center;font-weight: bold;">'+(result.outputDb[i].dashboardOutputScore[z].Final_Score__c).toFixed(2)+'%</td>';
                    Score1= Score1 + result.outputDb[i].dashboardOutputScore[z].Final_Score__c;
                  }  
                  for(var j=0;j<result.outputDb[i].dashboardScore.length;j++){
                              var bodyTd = '';
                                     
                                      bodyTd = '<tr style="height:33px;"><td style="background:white;padding:0px;"></td><td style="background:white;padding:0px;"></td>';
                                      
                                      bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: left;font-weight: bold;"><input type="hidden" id="param_'+j+'" value="'+result.outputDb[i].dashboardScore[j].Parameters__c+'"/>'+result.outputDb[i].dashboardScore[j].Parameters__c+'</td>';
                                      bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardScore[j].Number_of_Dealers_Distributors__c+'</td>';
                                      bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardScore[j].No_of_Dealer_Distributor_Plan__c+'</td>';
                                      bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardScore[j].No_of_Dealer_Distributor_Billed_Since__c+'</td>';
                                      bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardScore[j].LYCM__c+'</div></td>';
                                      bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardScore[j].L3M__c+'</td>';
                                      bodyTd = bodyTd + '<td  class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardScore[j].Monthly_Target__c+'</td>';
                                      bodyTd = bodyTd + '<td  class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardScore[j].MTD_Target__c+'</td>';
                                      bodyTd = bodyTd + '<td  class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardScore[j].Actual_MTD__c+'</td>';
                                      bodyTd = bodyTd + '<td id="achv_'+i+j+'" class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.outputDb[i].dashboardScore[j].Achievement_MTD__c+'%';
                                      bodyTd = bodyTd + '<td id="ach" class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">';
                                     bodyTd = bodyTd + '</td></tr>'; 
                                     bodyRow = bodyRow + bodyTd;
                                 
                       } 
                       bodyRow = bodyRow + '</tr>';
                          tab4.append(bodyRow);
                          
                      for(var j=0;j<result.outputDb[i].dashboardScore.length;j++){
                        if(parseInt($j("#achv_"+i+j).text()) >=100 || parseInt($j("#achv_"+i+j).text()) >=85) {
                              
                                $j("#achv_"+i+j ).css("background-color","#00FF00");
                                       
                            }else if(parseInt($j("#achv_"+i+j).text()) >=70 && parseInt($j("#achv_"+i+j).text()) <=85){
                                $j( "#achv_"+i+j ).css("background-color","Yellow");                                       
                             }else if(parseInt($j("#achv_"+i+j).text()) <=70){
                                $j( "#achv_"+i+j ).css("background-color","#FF0000");                                       
                             }
                             if(parseInt($j("#totalachv_"+i).text()) >=100 || parseInt($j("#totalachv_"+i).text()) >=85) {
                             
                                $j("#totalachv_"+i).css("background-color","#00FF00");
                                       
                            }else if(parseInt($j("#totalachv_"+i).text()) >=70 && parseInt($j("#totalachv_"+i).text()) <=85){
                                $j( "#totalachv_"+i).css("background-color","Yellow");                                       
                             }else if(parseInt($j("#totalachv_"+i).text()) <=70){
                                $j( "#totalachv_"+i).css("background-color","#FF0000");                                       
                             }
                        }
                        
                      }
                      
                     
                       
                        if(parseInt($j("#valueScore").text()) >=100 || parseInt($j("#valueScore").text()) >=85) {
                             
                                $j("#valueScore" ).css("background-color","#00FF00");
                                       
                            }else if(parseInt($j("#valueScore").text()) >=70 && parseInt($j("#valueScore").text()) <=85){
                                $j( "#valueScore" ).css("background-color","Yellow");                                       
                             }else if(parseInt($j("#valueScore").text()) <=70){
                                $j( "#valueScore" ).css("background-color","#FF0000");                                       
                             }
                             
                        //*************************************************** Input Section Start *******************************************************
                            
                            var param = '';
                            var module = '';
                            
                            
                           param = '{!$Label.RM_Parameters}';
                           module = '{!$Label.RM_Modules}';
                            
                            
                            var paramList = param.split(';');
                            var moduleList = module.split(';');
                            
                            var rowL = '';
                            var trsN = '';
                            var rowL = '<tr style="height:33px;">';
                            var trsN= trsN +'<th style="width:150px;padding:0px;background:#213F99;"><div style="background:#213F99;width:150px;color:White;height:30px;text-align: center;">Input (50%)</div></th>';
                                               
                            rowL = rowL + trsN;
                            var st="Weightage@@Parameters@@Monthly Target@@MTD Target@@Actual MTD@@Achievement@@Score";
                            var col=st.split('@@');
                                  for(var j=0;j<col.length ;j++){       
                                              var thsN = '<th  class="widthOfColTwo textCenter" style="background:#213F99;padding:0px;">';
                                              if(j==1){
                                                    thsN = thsN + '<div class="colorWhite textCenter" style="color:White;width:230px;height:30px;" id="cat_catname_'+j+'">'+col[j]+'</div>';//+col[j]+'
                                              }else{
                                                    thsN = thsN + '<div class="colorWhite textCenter" style="color:White;width:100px;height:30px;" id="cat_catname_'+j+'">'+col[j]+'</div>';//+col[j]+'
                                              }
                                              thsN = thsN+'</th>';
                                              rowL = rowL + thsN;                               
                                  }
                            rowL + '</tr>';                        
                            tab.append(rowL);
                           
                           for(var k=0;k<result.inputDb.moduleSet.length;k++){ 
                            var bodyRow1 =  '';
                            if(result.inputDb.moduleSet[k]=='PJP Input'){
                               bodyRow1 = bodyRow1+'<tr><td style="background-color:#f5822d !important;padding:1px;"><div class="fontBold" style="font-size:17px;height:30px;width:729%;line-height:30px;background-color:#f5822d !important;text-align: center;">Dealers</div></td></tr>'; 
                            
                            }
                            
                            if(result.inputDb.moduleSet[k]=='TL_Distributor'){
                              bodyRow1 = bodyRow1+'<tr style="height:30px !important;"><td style="background-color:#f5822d !important;padding:1px;"><div class="fontBold" style="font-size:17px;height:30px;width:729%;line-height:30px;background-color:#f5822d !important;text-align: center;">Distributors</div></td></tr>'; 
                            }
                            
                            if(result.inputDb.moduleSet[k]=='Efleet'){
                              bodyRow1 = bodyRow1+'<tr style="height:30px !important;"><td style="background-color:#f5822d !important;padding:1px;"><div class="fontBold" style="font-size:17px;height:30px;width:729%;line-height:30px;background-color:#f5822d !important;text-align: center;">Truck Customer Module</div></td></tr>'; 
                            }
                           
                            if(result.inputDb.moduleSet[k]=='Action Log Input'){
                              bodyRow1 = bodyRow1+'<tr style="height:30px !important;"><td style="background-color:#f5822d !important;padding:1px;"> <div class="fontBold" style="font-size:17px;height:30px;width:729%;line-height:30px;background-color:#f5822d !important;text-align: center;">Action Log</div></td></tr>'; 
                            }
                             tab2.append(bodyRow1);
                            for(p=0;p<moduleList.length;p++){ 
                             for(var i=0;i<result.inputDb.catSet.length;i++){                    
                               var bodyRow = '';
                               if(moduleList[p]==result.inputDb.catSet[i]){
                               var st=result.inputDb.catSet[i].split('@@');
                              
                               if(result.inputDb.moduleSet[k]==st[0]){ 
                                   bodyRow = bodyRow+'<tr style="background-color:rgba(93, 116, 121, 0.28)  !important;height:33px;border-top-width:2px !important;border:inherit"><td class="fontBold" style="height:33px;line-height:30px;text-align: center;">'+st[1]+'</td>'; 
                                  for(m=0;m<paramList.length;m++){   
                                   for(var j=0;j<result.inputDb.dbInputScore.length;j++){
                                        
                                          var bodyTd = '';
                                          if((result.inputDb.dbInputScore[j].RecordTypeName__c+'@@'+result.inputDb.dbInputScore[j].Category__c)==result.inputDb.catSet[i]){
                                                  if(result.inputDb.dbInputScore[j].Parameters__c == paramList[m]){
                                                 
                                                  totalWHt = totalWHt + result.inputDb.dbInputScore[j].Dashboard_Weightage_Master__r.Weightage__c;
                                                  bodyTd = '<tr style="height:33px;"><td style="background:white;padding:0px;"></td>';
                                                  bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.inputDb.dbInputScore[j].Dashboard_Weightage_Master__r.Weightage__c+'%</td>';
                                                  
                                                  bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: left;font-weight: bold;"><input type="hidden" id="param_'+j+'" />'+result.inputDb.dbInputScore[j].Parameters__c+'</td>';
                                                  bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.inputDb.dbInputScore[j].Total_Monthly_Target__c+'</td>';
                                                  bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.inputDb.dbInputScore[j].Total_MTD_Target__c+'</td>';
                                                  bodyTd = bodyTd + '<td class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+result.inputDb.dbInputScore[j].Total_Actual_MTD__c+'</div></td>';
                                                  bodyTd = bodyTd + '<td id="achvtd_'+j+'" class="font14" style="padding:6px;text-align: center;font-weight: bold;">'+result.inputDb.dbInputScore[j].Achievement__c+'%</td>';//(result.inputDb.desbdRecList[j].achv!='undefined'?result.inputDb.desbdRecList[j].achv:0)
                                                  bodyTd = bodyTd + '<td id="score_'+j+'" class="font14" style="background:white;padding:6px;text-align: center;font-weight: bold;">'+(result.inputDb.dbInputScore[j].ScoreMTD__c).toFixed(2)+'%';//color: #FF6600;
                                                  
                                                 bodyTd = bodyTd + '</td></tr>'; 
                                                 bodyRow = bodyRow + bodyTd;
                                             }
                                            }  
                                         }
                                     }                                    
                                       bodyRow = bodyRow + '</tr>';
                                       
                                       tab2.append(bodyRow);
                                       
                                         for(var j=0;j<result.inputDb.dbInputScore.length;j++){
                                           
                                          if(parseInt($j("#achvtd_"+j).text()) >=100 || parseInt($j("#achvtd_"+j).text()) >=85) {
                                                
                                                $j( "#achvtd_"+j ).css("background-color","#00FF00");
                                                       
                                            }else if(parseInt($j("#achvtd_"+j).text()) >=70 && parseInt($j("#achvtd_"+j).text()) <=85){
                                                    $j( "#achvtd_"+j ).css("background-color","Yellow");  
                                            }
                                            else if(parseInt($j( "#achvtd_"+j).text()) <=70){
                                                $j( "#achvtd_"+j ).css("background-color","#FF0000");                                       
                                             }
                                        }
                                       
                                      
                                      }
                                    } 
                                    }
                                    }
                                   }
                                    
                        
                        //*************************************************** Input Section End *******************************************************
                       $j("#tablefoot").show();
                       $j("#totalwht").text(totalWHt.toFixed(2)+'%');
                       $j("#totalScore").text(result.inputDb.dashboardSummaryScore.Input_Score__c.toFixed(2)+'%');    
                     
                       $j("#dwnButton").show();
                       $j("#tablefoot1").show();
                       $j("#totalwht1").text(totalWHt1.toFixed(2)+'%');
                       $j("#totalScore1").text(Score1.toFixed(2)+'%');
                      
                     
                       $j("#totalIpOtpScore").show();  
                       $j("#totalOptScore").text(Score1.toFixed(2)+'%');
                       $j("#totalInpScore").text(result.inputDb.dashboardSummaryScore.Input_Score__c.toFixed(2)+'%');   
                       $j("#ttlScore").text((Score1+ result.inputDb.dashboardSummaryScore.Input_Score__c).toFixed(2)+'%');   
                      
                         
                     }
                     
                          
                }); 
            } 
             
        </script> 
          <div id="salesPlan"> 
           <div class="navbar navbar-inverse navbar-collapse collapse navbar-inverse-collapse" style="background:#213F99 !important;">
              <div class="navbar-header">
               <a class="navbar-brand" href="/" title="Home"><img id="imgCeat1"  src="{!$Resource.CeatLogo}" alt="Logo not found" style="margin-top:-8px;" align="right"/></a>
              </div>
                <div>
                  <a style="color:white;font-size: 17px;margin-top: 22px;font-weight:bold;margin-left: 419px;position: fixed;" href="#" class="fontFamily"></a>
                  </div>            
            </div>
            </div>
             <a class="btn btn-primary" style="color:white;background: #0000CC;float:right;margin-right:10px;" download="RMDashboard.xls" href="#" onclick="return ExcellentExport.excel(this, 'dashboardTab', 'Dashboard');">Download as Excel</a>
     
            <table style="height:33px;width:20%;background:#f5822d;border: 1px solid;">
                        <thead >
                        </thead>
                        <tbody >
                            <tr style="height:33px;width:20%;">    
                                <td ><b>Dashboard as on </b></td>
                                <td> <b>{!lastDateRun}</b> </td>
                            </tr>
                            <tr style="height:33px;width:20%;">
                                <td ><b>Zone Name </b></td>
                                <td> <b>{!loggedInUserZone}</b> </td>
                            </tr>
                            <tr style="height:33px;width:20%;">
                                <td ><b>RO Name </b></td>
                                <td> <b>{!loggedInUserRO}</b> </td>
                            </tr>
                            
                            <tr style="height:33px;width:20%;">    
                                <td ><b>Name </b></td>
                                <td> <b>{!loggedInUserName}</b> </td>
                            </tr>
                            <tr style="height:33px;width:20%;">    
                                <td ><b>Degination</b></td>
                                <td> <b>{!loggedInUserRole}</b> </td>
                            </tr>
                            
                        </tbody> 
                        <tfoot>
                            
                        </tfoot>
              </table> 
        <table id="dashboardTab" >
              <tr>
          <td>
                  <!--<div class="panel-body,container" id="panelbody1" style="padding-top: 10px;"> -->
                    <table class="table table-bordered" id="summarytl" style="background:#f5822d;border: 1px solid; display: none;">
                        <thead id="summryhead" class="fontFamily" style="border: 1px solid;">
                        </thead>
                        <tbody id="summarybody" class="stickyTop fontFamily" border="0" style="height:33px;">
                            <tr >
                                <td ><b>Dashboard as on : {!lastDateRun}</b></td>
                            </tr>
                            <tr >
                                <td ><b>Zone Name : {!loggedInUserZone}</b></td>                                
                                
                            </tr>
                            <tr >
                                <td ><b>Region Name : {!loggedInUserRO}</b></td>                               
                                
                            </tr>
                            
                            <tr >    
                                <td ><b>Name : {!loggedInUserName}</b></td>
                            </tr>
                            <tr >    
                                <td ><b>Degination : {!loggedInUserRole}</b></td>
                            </tr>
                        </tbody> 
                        <tfoot id="summaryfoot">
                            
                        </tfoot>
                    </table> 
                <!--</div> --> 
      </td>
      </tr> 
           <tr>
           <td>
            <div class="panel-body,container" id="panelbody1" style="padding-top: 10px;">
                <table class="table table-bordered" id="demo_stupidtable1" style="background:#E9ECF5;border: 1px solid;">
                    <thead id="tableOfSales1" class="fontFamily" style="border: 1px solid;">
                    </thead>
                    <tbody id="tableBody1" class="stickyTop fontFamily" style="height:33px;border: 1px solid ;">
                    </tbody> 
                    <tfoot id="tablefoot1" class="stickyTop fontFamily" style="display:none;border: 1px solid ;">
                        <tr>
                                <th style="color:Yellow;border: 3px solid;height:35px;width:150px;background:#213F99;text-align:center;"><b>Total Weightage</b></th>
                                <th id="totalwht1" style="color:Yellow;border: 3px solid;height:35px;width:150px;background:#213F99;font-weight:bold;text-align:center;"></th>
                                <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                                <th id="totalScore1" style="color:Yellow;border: 3px solid;height:35px;width:150px;background:#213F99;font-weight:bold;text-align:center;"></th>
                        </tr>
                    </tfoot>
                </table>                 
                
            </div>
            </td></tr>
            
            <tr><td>
            <div class="panel-body,container" id="panelbody" style="padding-top: 10px;">
                <table class="table table-bordered" id="demo_stupidtable" style="background:#E9ECF5;border: 1px solid;">
                    <thead id="tableOfSales" class="fontFamily" style="border: 1px solid;">
                    </thead>
                    <tbody id="tableBody" class="stickyTop fontFamily" style="height:33px;border: 1px solid ;">
                    </tbody> 
                    <tfoot id="tablefoot" class="stickyTop fontFamily" style="display:none;border: 1px solid ;">
                         <tr>
                                <th style="color:Yellow;border: 3px solid;height:35px;width:150px;background:#213F99;text-align:center;"><b>Total Weightage</b></th>
                                <th id="totalwht" style="color:Yellow;border: 3px solid;height:35px;width:150px;background:#213F99;font-weight:bold;text-align:center;"></th>
                                <th></th><th></th><th></th><th></th><th></th>
                                <th id="totalScore" style="color:Yellow;border: 3px solid;height:35px;width:150px;background:#213F99;font-weight:bold;text-align:center;"></th>
                         </tr>
                    </tfoot>
                </table>                 
                
            </div>            
            </td></tr>
            <tr><td></td></tr>
            <tr><td>
            <div id="totalIpOtpScore" style="display:none;">
                <div class="fontFamily font14 widthOfColTwo" style="float:left;padding:0px;height:120px;width:360px;background:#213F99;color:Yellow;">
                    <table class="table table-bordered">
                    <tr>
                        <th style="border: 3px solid;height:35px;width:177px;background:#213F99;text-align:center;color:Yellow;"><b>Total Output Score</b></th>
                        <th id="totalOptScore" style="border: 3px solid;height:35px;width:177px;background:#213F99;color:Yellow;;font-weight:bold;text-align:center;"></th>
                    </tr>
                    <tr>
                        <th style="border: 3px solid;height:35px;width:177px;background:#213F99;text-align:center;color:Yellow;"><b>Total Input Score</b></th>
                        <th id="totalInpScore" style="border: 3px solid;height:35px;width:177px;background:#213F99;color:Yellow;font-weight:bold;text-align:center;"></th>
                    </tr>
                    <tr>
                        <th style="border: 3px solid;height:35px;width:177px;background:#213F99;text-align:center;color:Yellow;"><b>Total Score</b></th>
                        <th id="ttlScore" style="border: 3px solid;height:35px;width:177px;background:#213F99;color:Yellow;font-weight:bold;text-align:center;"></th>
                    </tr>
                    </table>
                </div>
         </div>
         </td></tr>
         </table>
        <div id="pop-up">
        </div>
        </body>
    </html>
</apex:form>
</apex:page>