<apex:page showHeader="false" 
           sidebar="false" 
           docType="html-5.0" 
           standardStylesheets="false" 
           applyBodyTag="false">
<div class="loading" ng-show="loadingH" >Loading&#8230;</div>
<div class="slds"> 
<div class="slds-button-group" role="group">
  <a ng-href="#/home" class="slds-button slds-button--neutral">Back to Home</a>
 
  
</div>
<div class="slds-form-element">
  <label class="slds-form-element__label" for="sample1">Search Records</label>
  <div class="slds-form-element__control">
    <input id="sample1" class="slds-input" ng-model="searchTable" type="text" placeholder="Search" />
  </div>
</div>
   <table class="slds-table slds-table--bordered slds-max-medium-table--stacked-horizontal">
  <thead >
    <tr class="slds-text-heading--label">
          <!-- <th>Mandt</th>     -->
                    <th scope="col" ><span class="slds-truncate">Amount (INR) Number </span> </th>                      
                    <th scope="col" ><span class="slds-truncate">Billing Date</span></th>
                    <th scope="col"><span class="slds-truncate">Billing Doc</span></th>
                    <th scope="col"><span class="slds-truncate">Billing Type</span></th>
                    <th scope="col"><span class="slds-truncate">Cheque #</span></th>
                    <th scope="col"><span class="slds-truncate">Cheque Recived Date</span></th>
                    <th scope="col"><span class="slds-truncate">Discription</span></th>
                    <th scope="col"><span class="slds-truncate">Dispatched Date</span></th>
                    <th scope="col"><span class="slds-truncate">Doc Date</span></th>                                                                   
                    <th scope="col"><span class="slds-truncate">Outstanding Days</span></th>
                   
      

    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tp in BillingLimits | filter:searchTable " class="slds-hint-parent">
                  <!--  <td >
                        {{tp.Mandt }}
                    </td> -->
                    <td data-label="Amount(INR) ">
                       <span class="slds-truncate"> {{tp.amount_in_localCurrency}}      </span>                  
                    </td>
                    <td data-label="Billing Date">
                      <span class="slds-truncate">  {{tp.date_of_billing |  date:"dd/MM/yyyy"}}</span>
                    </td>
                    <td data-label="Billing Doc">
                       <span class="slds-truncate"> {{tp.billing_doc}}</span>
                    </td>
                    <td data-label="Billing Type">
                      <span class="slds-truncate">  {{tp.billing_type}}</span>
                    </td>
                    <td data-label="Cheque No">
                      <span class="slds-truncate">  {{tp.cheqNo}}</span>
                    </td>
                    <td data-label="Cheque Recived Date">
                       <span class="slds-truncate"> {{tp.chequeRecivedDate}}</span>
                    </td>
                    <td data-label="Discription">
                      <span class="slds-truncate">  {{tp.discription}}</span>
                    </td>
                    <td data-label="Dispatched Date">
                      <span class="slds-truncate">  {{tp.dispatched_date |  date:"dd/MM/yyyy"}}</span>
                    </td>
                    <td data-label="Doc Date">
                      <span class="slds-truncate">  {{tp.doc_date |  date:"dd/MM/yyyy"}}</span>
                    </td>
                    <td data-label="Outstanding Days">
                      <span class="slds-truncate">  {{tp.outstanding_days}}</span>
                    </td>
                   
                </tr>
  </tbody>
</table>

</div>


</apex:page>