<apex:page showHeader="false" 
           sidebar="false" 
           docType="html-5.0" 
           standardStylesheets="false" 
           applyBodyTag="false">
           
           <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    
                    <h3 class="panel-title text-center" style="font-size:18px;">Tyre Details</h3>
                </div>
                <div class="panel-body" >
                    <ul class="list-group" >
                        <input type="text" class="form-control" ng-model="" placeholder="Search Customer.."/>
                       <li class="list-group-item" ng-repeat="t in Tyres" style="cursor:pointer;">
                          <div class="row">
                            <label class="col-sm-1">ID:</label>
                            <span class="col-sm-2">{{t.Id}}</span>
                            <label class="col-sm-1">Brand:</label>
                            <span  class="col-sm-2">{{t.Tyre_Brand__c}}</span>
                            <label class="col-sm-1">Pattern:</label>
                            <span  class="col-sm-2">{{t.Tyre_Pattern__c}}</span>
                            <label class="col-sm-1">Size:</label>
                            <span  class="col-sm-2">{{t.Tyre_Size__c}}</span>
                          </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
	
</apex:page>