<apex:page showHeader="false" 
           sidebar="false" 
           docType="html-5.0" 
           standardStylesheets="false" 
           applyBodyTag="false">
    <style>
        .dateInput{
        background-color: white !important;
        cursor: default !important;
        }
    </style> 
  
        
            <script>
                function validate(evt) {
                  var theEvent = evt || window.event;
                  var key = theEvent.keyCode || theEvent.which;
                  key = String.fromCharCode( key );
                  var regex = /[0-9]|\./;
                  if( !regex.test(key) ) {
                  alert('U cant enter alphabet');
                    document.getElementById("num").value = "";
                  }
                }
            </script>

   
      
    
    <div id="loadingDiv" class="loadingDivClass" ng-show="isLoading">
        
        <div class="loadingImg">
            <span class="laodingText">Loading ... &nbsp;&nbsp;</span>
            <img src="/img/loading.gif" /> 
        </div> 
        
    </div>
    
    <div  ng-show="showVehicalAddition">
        <div class="panel panel-primary">
            <div class="panel-heading" style="height:50px;">
                
                <h3 class="panel-title text-center" style="font-size:18px;float:left;padding-left:35%;">Add Fleet Truck</h3>
            </div>
            <div class="panel-body">
                
                <fieldset>
                    
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Transporter Name</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="customerName" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Driver Name</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="vehical.Driver_Name__c" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Driver Contact</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="vehical.Driver_Contact__c" maxlength="10" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Truck Number</label>
                        
                        <div class="col-xs-12" style="padding:0px;">
                            <div class="col-xs-2" style="padding-left:0px;">
                                
                                <select class="form-control" ng-model="vehical.State_Code__c" ng-options="o as o for o in stateCodes | orderBy:'toString()'">
                                </select>
                                <!-- <input class="form-control" type="text" maxlength="2" ng-model="vehical.State_Code__c" />
-->
                            </div>
                            <div class="col-xs-2" style="padding-left:0px;"> 
                                <select class="form-control" ng-model="vehical.RTO_Code__c" ng-options="o as o for o in rtoCodes | orderBy:'toString()'"></select>
                                <!-- <input class="form-control" type="text" maxlength="2" ng-model="vehical.RTO_Code__c"/>
-->
                            </div>
                            <div class="col-xs-4" style="padding-left:0px;"> 
                                <input class="form-control" type="text" maxlength="2" ng-model="vehical.Vehicle_No_Text__c"/>
                            </div>
                            <div class="col-xs-4" style="padding-left:0px;"> 
                                <input class="form-control" type="text" maxlength="4" ng-model="vehical.Vehicle_Number__c"/>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Application Type</label>
                        <div class="col-xs-12">
                            
                            <select class="form-control" ng-model="vehical.Application_Type__c" ng-options="o as o for o in applicationType">
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group" >
                        <label for="inputEmail" class="col-xs-12 control-label">Payload</label>
                        <div class="col-xs-12" >
                            
                            
                            <input type="text"  class="form-control"  maxlength="2"    ng-model="vehical.Payload_Value__c" />
                            
                         </div>   
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 control-label">Vehicle Make</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-model="vehical.VehicleMake__c" required="true" ng-options="make for make in VehicleMakes" ng-change="fillVehicleModels()"></select>
                            <!--<input type="Text" class="form-control" ng-model="Fitment.VehicleMake"/>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 control-label">Vehicle Model</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-model="vehical.VehicleModel__c" required="true" ng-options="model for model in VehicleModels"></select>
                            <!--<input type="Text" class="form-control" ng-model="Fitment.VehicleModel"/>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 control-label"> Haul Type</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-model="vehical.HaulType__c" required="true" ng-options="hmodel for hmodel in HaulTypes"></select>
                            <!--<input type="Text" class="form-control" ng-model="Fitment.VehicleModel"/>-->
                        </div>
                    </div>
                        <label for="inputEmail" class="col-xs-12 control-label">Truck Type</label>
                        <div class="col-xs-12">
                            
                            <select ng-disabled=" (VehicleIdByUrl=='null') ?  false : true"  class="form-control" ng-model="vehical.Truck_Type__c" ng-options="o as o for o in truckType" ng-change="appropriateWheelType()">
                            </select>
                                            </div>
                    
                    
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Wheel Type</label>
                        <div class="col-xs-12">
                            
                            <select ng-disabled=" (VehicleIdByUrl=='null') ?  false : true" class="form-control" ng-model="vehical.Wheel_Type__c" ng-options="o as o for o in wheelType  | orderBy:'toString()'">
                            <!--<option ng-if="vehical.Truck_Type__c=='Car Carrier'">10WCC</option>
                            <option  ng-repeat="o in wheelType">{{o}}</option>-->
                            </select>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Route From State</label>
                        <div class="col-xs-12">
                            
                            <select class="form-control" ng-model="vehical.Route_From_State__c" ng-options="o as o for o in stateFrom | orderBy:'toString()'" ng-change="populateFromDistrict()">
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Route From District</label>
                        <div class="col-xs-12">
                            
                            <select class="form-control" ng-model="vehical.Route_From_District__c" ng-options="o as o for o in districtFrom  | orderBy:'toString()'" ng-change="populateFromTown()">
                            </select>
                        </div>
                    </div>
                    <!-- 
<div class="form-group">
<label for="inputEmail" class="col-xs-12 control-label">Route From Town</label>
<div class="col-xs-12">

<select class="form-control" ng-model="vehical.Route_From__c" ng-options="o as o for o in townFrom">
</select>
</div>
</div>
-->
                    
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Route To State</label>
                        <div class="col-xs-12">
                            
                            <select class="form-control" ng-model="vehical.Route_To_State__c" ng-options="o as o for o in stateTo | orderBy:'toString()'" ng-change="populateToDistrict()">
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Route To District</label>
                        <div class="col-xs-12">
                            
                            <select class="form-control" ng-model="vehical.Route_To_District__c" ng-options="o as o for o in districtTo | orderBy:'toString()'" ng-change="populateToTown()">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Customer Mileage Expectation</label>
                        <div class="col-xs-12">                            
                            <input type="number" class="form-control" ng-model="vehical.Customer_Mileage_Expectation__c" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Remarks</label>
                        <div class="col-xs-12">
                            
                            <textarea class="form-control" ng-model="vehical.Remarks__c" ></textarea>
                        </div>
                    </div>
                    
                    <!-- div class="form-group">
<label for="inputEmail" class="col-xs-12 control-label">Route To Town</label>
<div class="col-xs-12">

<select class="form-control" ng-model="vehical.Route_To__c" ng-options="o as o for o in townTo">
</select>
</div>
</div-->
                    
                    
                    
                    
                    <div class="form-group">
                        <div class="col-xs-12 col-xs-offset-2">
                            <a ng-href="#/TyreTracker/true/{{vehical.Account__c}}" class="btn btn-primary">Back</a>
                            <!-- <button type="reset" class="btn btn-default">Save &amp; Add New</button> -->
                            <button type="submit" class="btn btn-primary" ng-click="SaveVehicalInfo()">Save &amp; Next</button>
                        </div>
                    </div>
                </fieldset>
                
            </div>
        </div>
    </div>
    
    <!-- div class="container" ng-show="showVehicalDetail">
<a ng-href="#/home" class="btn btn-primary btn-block">Back to Home</a>  
</div-->
    
    <div ng-show="showVehicalDetail">
        <div class="panel panel-primary">
            <div class="panel-heading" style="height:50px;">
                <a type="button" class="btn btn-danger pull-left" style="line-height:0px" ng-href="#/TyreTracker/true/{{vehical.Account__c}}">Home</a>
                <h3 class="panel-title text-center" style="font-size:18px;float:left;padding-left:35%;">Vehicle Layout</h3>
                
            </div>
            <div class="panel-body">
                <div ng-include="templateName"></div>
            </div>
        </div>
    </div>
    
    <div ng-show="showVehicalTyreForm">
        <div class="panel panel-default" ng-show="showTyreForm">
            <div class="panel-body">
                <fieldset>
                    
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Tyre Sr. No<span style="color:red">*</span></label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="singleWheelInformation[indexofTyre].Tyre_Sr_No__c" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Tyre Brand</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-model="singleWheelInformation[indexofTyre].Tyre_Brand__c" ng-options="o as o for o in ceatbrands" ng-change="populateTyreSize()">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Tyre Size</label>
                        <div class="col-xs-12">
                            
                            <select class="form-control" ng-model="singleWheelInformation[indexofTyre].Tyre_Type__c" ng-options="o as o for o in tyreSize" ng-change="populateTyrePattern()">
                            </select>
                        </div>
                    </div>          
                    
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Tyre Pattern</label>
                        <div class="col-xs-12">
                            <select class="form-control" ng-model="singleWheelInformation[indexofTyre].Tyre_Pattern__c" ng-options="o as o for o in tyrePattern">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                          <label for="inputEmail" class="col-xs-12 control-label">RTD Tyre</label>
                          <div class="col-xs-12" style="padding-left:50%">
                            <input type="checkbox" ng-model="singleWheelInformation[indexofTyre].Rtd_Tyre__c" ng-click="toggleCheckBox()" />
                          </div>
                        </div>
                        
                        <div class="form-group">
                          <label for="inputEmail" class="col-xs-12 control-label">Test Tyre</label>
                          <div class="col-xs-12" style="padding-left:50%">
                            <input type="checkbox"  ng-model="singleWheelInformation[indexofTyre].Test_Tyre__c" ng-click="toggleCheckBox2()"/>
                          </div>
                        </div>
                    
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Date of Fit<span style="color:red">*</span></label>
                        <div class="col-xs-12">
                            <!--  <input class="datepicker form-control" data-date-format="dd/mm/yyyy" ng-model="singleWheelInformation[indexofTyre].Date_of_Fit__c"/>
<input type="date" class="form-control" ng-model="singleWheelInformation[indexofTyre].Date_of_Fit__c" />-->
                            <!-- <p class="input-group">
<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="singleWheelInformation[indexofTyre].Date_of_Fit__c" is-open="opened" datepicker-options="dateOptions" max-date="maxDateValue" close-text="Close" readonly="true" />
<span class="input-group-btn">
<button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
</span>
</p> -->
                            <input type="text" class="form-control dateInput" ng-model="singleWheelInformation[indexofTyre].Date_of_Fit__c" data-date-format="dd/MM/yyyy"  data-max-date="maxDateValue" data-autoclose="1" name="date2" bs-datepicker="bs-datepicker" readonly="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Odo Reading at Fitment</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="singleWheelInformation[indexofTyre].Odo_Reading_at_Fitment__c" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-xs-12 control-label">Remarks</label>
                        <div class="col-xs-12">
                            <textarea class="form-control" ng-model="singleWheelInformation[indexofTyre].Remarks__c" ></textarea>
                        </div>
                    </div>
                    
                </fieldset> 
                <div class="form-group">
                    <div class="col-xs-12 col-xs-offset-2">
                        <button class="btn btn-default" ng-click="SaveTyreDetails()">Save</button>
                        <button  class="btn btn-primary" ng-click="SaveTyreDetailsInsp()">Save &amp; Add Inspection</button>
                        <button  class="btn btn-default" ng-click="cancelTyreAdd()">Back</button>
                    </div>
                </div> 
                <br/>
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th>Odo Reading</th>
                            <th>NSD(Gr1)</th>
                            <th>NSD(Gr2)</th>
                            <th>NSD(Gr3)</th>
                            <th>NSD(Gr4)</th>
                            <th>Tyre Pressure</th>
                            <th>NSD(Avg)</th>
                        </tr>
                        <tr ng-repeat="insp in inspectionsList track by $index" ng-if="insp.Tyre__c == singleWheelInformation[indexofTyre].Id">
                            <td>{{insp.OdoReading__c}}</td>
                            <td>{{insp.NSD_Gr1__c}}</td>
                            <td>{{insp.NSD_Gr2__c}}</td>
                            <td>{{insp.NSD_Gr3__c}}</td>
                            <td>{{insp.NSD_Gr4__c}}</td>
                            <td>{{insp.Tyre_Pressure__c}}</td>
                            <td>{{insp.NSD_Avg}}</td>
                        </tr>
                    </tbody>
                </table>  
            </div>
        </div>
        
        <div class="panel panel-default" ng-show="!showTyreForm" style="padding-left:15px;padding-right:15px;">
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th>Tyre Serial Number</th><td>{{singleWheelInformation[indexofTyre].Tyre_Sr_No__c}} </td>
                        </tr>
                        <tr>
                            <th>Tyre Size</th><td>{{singleWheelInformation[indexofTyre].Tyre_Type__c}}</td>
                        </tr>
                        <tr>
                            <th>Tyre Pattern</th><td>{{singleWheelInformation[indexofTyre].Tyre_Brand__c}}</td>
                        </tr>
                        <tr>
                            <th>Date of Fit</th><td>{{singleWheelInformation[indexofTyre].Tyre_Pattern__c}}</td>
                        </tr>
                        <tr>
                            <th>Date of Fit</th><td>{{singleWheelInformation[indexofTyre].Date_of_Fit__c | date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>  
                <br/>
                <div>
                    <fieldset>                        
                        <div class="form-group">
                            <label for="inputEmail" class="col-xs-12 control-label">OdoReading</label>
                            <div class="col-xs-12">
                                <input type="number" class="form-control" ng-model="insp.OdoReading__c" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="inputEmail" class="col-xs-12 control-label">NSD(Gr1)</label>
                            <div class="col-xs-12">
                                <input type="number" class="form-control" ng-model="insp.NSD_Gr1__c" ng-keyup="calculateAvg()"/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="inputEmail" class="col-xs-12 control-label">NSD(Gr2)</label>
                            <div class="col-xs-12">
                                <input type="number" class="form-control" ng-model="insp.NSD_Gr2__c" ng-keyup="calculateAvg()"/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="inputEmail" class="col-xs-12 control-label">NSD(Gr3)</label>
                            <div class="col-xs-12">
                                <input type="number" class="form-control" ng-model="insp.NSD_Gr3__c" ng-keyup="calculateAvg()"/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="inputEmail" class="col-xs-12 control-label">NSD(Gr4)</label>
                            <div class="col-xs-12">
                                <input type="number" class="form-control" ng-model="insp.NSD_Gr4__c" ng-keyup="calculateAvg()"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail" class="col-xs-12 control-label">Tyre Pressure</label>
                            <div class="col-xs-12">
                                <input type="number" class="form-control" ng-model="insp.Tyre_Pressure__c" ng-keyup=""/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="inputEmail" class="col-xs-12 control-label">NSD(Avg)</label>
                            <div class="col-xs-12">
                                <input type="number" class="form-control" ng-model="insp.NSD_Avg"  ng-disabled="true"/>
                            </div>
                        </div>                                                                        
                    </fieldset>
                    <bt/>
                    <div class="form-group">
                        <div class="col-xs-12 col-xs-offset-2">
                            <button class="btn btn-default" ng-disabled="disableSaveInspectionButton" ng-click="saveInspection()">Save</button>                            
                            <button  class="btn btn-default" ng-click="cancelTyreAdd()">Back</button>
                        </div>
                    </div>  
                </div>
                <br/>
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th>Odo Reading</th>
                            <th>NSD(Gr1)</th>
                            <th>NSD(Gr2)</th>
                            <th>NSD(Gr3)</th>
                            <th>NSD(Gr4)</th>
                            <th>Tyre Pressure</th>
                            <th>NSD(Avg)</th>
                        </tr>
                        <tr ng-repeat="insp in inspectionsList track by $index" ng-if="insp.Tyre__c == singleWheelInformation[indexofTyre].Id">
                            <td>{{insp.OdoReading__c}}</td>
                            <td>{{insp.NSD_Gr1__c}}</td>
                            <td>{{insp.NSD_Gr2__c}}</td>
                            <td>{{insp.NSD_Gr3__c}}</td>
                            <td>{{insp.NSD_Gr4__c}}</td>
                            <td>{{insp.Tyre_Pressure__c}}</td>
                            <td>{{insp.NSD_Avg}}</td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
        
        
    </div>
    <script type="text/javascript">
    var $j = jQuery.noConflict();
    $j('.datepicker').datepicker({
        minDate: 0
        //startDate: '-3d'
    });
    </script>
</apex:page>