<apex:page sidebar="false" id="myPage" showHeader="true" applyBodyTag="false" applyHtmlTag="true" controller="ETDDetails">
<apex:form id="myForm">
   
    <!-- <c:SalesPlanningComponent /> -->
    <html>
        <head>
           <!-- <c:SalesPlanningComponentHeader />
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/> -->
           <apex:stylesheet value="{!URLFOR($Resource.Bootstrap_LESS,'/bootstrap-3.3.4-dist/css/bootstrap.css')}"/>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
          <!-- alertify -->
            <apex:stylesheet value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/themes/alertify.core.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/themes/alertify.bootstrap.css')}"/>
            <apex:includeScript value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/lib/alertify.min.js')}"/>
          <style type="text/css">
            /*table {
  border-collapse: collapse;
  border-spacing: 0;
}
table {
  max-width: 100%;
  background-color: transparent;
}
th {
  text-align: center !important;
}

.table {
  width: 100%;
  margin-bottom: 18px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 3px;
  line-height: 1.428571429;
  vertical-align: bottom;
  border-top: 1px solid #dddddd;
  font-size: 12px;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #f7f7f7;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

.table > thead > tr > .active,
.table > tbody > tr > .active,
.table > tfoot > tr > .active,
.table > thead > .active > td,
.table > tbody > .active > td,
.table > tfoot > .active > td,
.table > thead > .active > th,
.table > tbody > .active > th,
.table > tfoot > .active > th {
  background-color: #f5f5f5;
}

.table-hover > tbody > tr > .active:hover,
.table-hover > tbody > .active:hover > td,
.table-hover > tbody > .active:hover > th {
  background-color: #e8e8e8;
}

.table > thead > tr > .success,
.table > tbody > tr > .success,
.table > tfoot > tr > .success,
.table > thead > .success > td,
.table > tbody > .success > td,
.table > tfoot > .success > td,
.table > thead > .success > th,
.table > tbody > .success > th,
.table > tfoot > .success > th {
  background-color: #dff0d8;
}

.table-hover > tbody > tr > .success:hover,
.table-hover > tbody > .success:hover > td,
.table-hover > tbody > .success:hover > th {
  background-color: #d0e9c6;
}

.table > thead > tr > .danger,
.table > tbody > tr > .danger,
.table > tfoot > tr > .danger,
.table > thead > .danger > td,
.table > tbody > .danger > td,
.table > tfoot > .danger > td,
.table > thead > .danger > th,
.table > tbody > .danger > th,
.table > tfoot > .danger > th {
  background-color: #f2dede;
}

.table-hover > tbody > tr > .danger:hover,
.table-hover > tbody > .danger:hover > td,
.table-hover > tbody > .danger:hover > th {
  background-color: #ebcccc;
}

/*.table > thead > tr > .warning,
.table > tbody > tr > .warning,
.table > tfoot > tr > .warning,
.table > thead > .warning > td,
.table > tbody > .warning > td,
.table > tfoot > .warning > td,
.table > thead > .warning > th,
.table > tbody > .warning > th,
.table > tfoot > .warning > th {
  background-color: #fcf8e3;
}

.table-hover > tbody > tr > .warning:hover,
.table-hover > tbody > .warning:hover > td,
.table-hover > tbody > .warning:hover > th {
  background-color: #faf2cc;
}
thead {
    display: table-header-group;
  }*/
.table td {
  background-color: #fff !important;
}
.table th {
    background-color: #0055aa  !important;
    color: #fff;
    font-family: sans-serif;
}
 .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  } 

  .btn {
  display: inline-block !important;
  padding: 8px 12px !important;
  margin-bottom: 0 !important;
  font-size: 13px !important;
  font-weight: normal !important;
  line-height: 1.428571429 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  cursor: pointer !important;
  background-image: none !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
       -o-user-select: none !important;
          user-select: none !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #0055aa !important;
  border-color: #0055aa !important;
}

.btn-primary > .disabled {
    color: #ffffff;
    background-color: #325d88;
    border-color: transparent;
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
}

.btn-lg {
  padding: 14px 16px !important;
  font-size: 17px !important;
  line-height: 1.33 !important;
  border-radius: 6px !important;
}

.btn-sm {
  padding: 5px 10px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}

.btn-xs {
  padding: 1px 5px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}
    .activeTab {background-color: #f5822d; color:white; background-image:none;height:20px;line-height: 20px;font-family: sans-serif;letter-spacing: 1px;font-size: 12px;box-shadow: 3px 0 5px -3px #999,-3px 0 5px -3px #999;}
    .inactiveTab { background-color: #0055aa; color:white; background-image:none;height:20px;line-height: 20px;font-family: sans-serif;letter-spacing: 1px;font-size: 12px;border-top-left-radius: 7px;border-top-right-radius: 7px;box-shadow: 3px 0 5px -3px #999,-3px 0 5px -3px #999;}
    .tabHeight{ height:40px;border-top-left-radius: 7px;border-top-right-radius: 7px;box-shadow: 3px 0 5px -3px #999,-3px 0 5px -3px #999;}
    .panelPosition{float:left;}
    .contentC {background-color: #FFF;}
    p{
      font-size: 12px;
      font-family:sans-serif;
      letter-spacing: 1px;
    } 
    .centeralign{
        text-align: center !important;
    }

          </style>
        </head>
        <script>
            $j = jQuery.noConflict();
            function fetchDetails() {
                $j("#el_loading").show();
                var tab = $j("#tableOfSales");
                //var tab2 = $j('#tableBody');
                resLength = 0;
                var customArr = [];
                //alert($j("#pinumber").val());
                Visualforce.remoting.timeout = 120000;
                var catResultLength;
                $j('#tableBody').empty();
                $j('#tableOfSales').empty();
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.ETDDetails.getAllETDDetails}',$j("#pinumber").val(), function(result,event) {
                    //alert(result.length+'fggg');
                    if(result.length == 0){
                        $j("#el_loading").hide();
                        alertify.alert("Details Not avilable");
                    }
                else{
                    $j("#el_loading").hide();
                    console.log(result);
                    var rowL = '<tr class="centeralign">';
                    var trsN= trsN +'<th class="centeralign">PI No</th>';
                    trsN = trsN +'<th class="centeralign">MATERIAL CODE</th>';
                    trsN = trsN +'<th class="centeralign">MATERIAL DESCRIPTION</th>';
                    trsN = trsN +'<th class="centeralign">QUANTITY</th>';
                    trsN = trsN +'<th class="centeralign">ETD</th>';
                    trsN = trsN +'<th id="reason" class="centeralign">REASON</th>';
                    rowL = rowL + trsN;
                    rowL + '</tr>'; 
                    tab.append(rowL);    
                    var bodyRow = '';
                      for(var i=0;i<result.length;i++){
                          console.log('===== '+i);
                          bodyRow = '<tr>';
                          var bodyTd = '';
                          //bodyTd = '<td style="padding:0px;border-right-width: 2px;border-right-color: black;">'; 
                          
                              bodyTd =  '<td class="centeralign">'+(result[i].PI_NO)+'</td><td class="centeralign">'+(result[i].MATERIAL_NO)+'</td><td class="centeralign">'+(result[i].MAT_DESCRIPTION)+'</td><td class="centeralign">'+(result[i].Quantity)+'</td><td class="centeralign">'+(result[i].ETD_Date)+'</td><td class="centeralign" >'+(result[i].REASON)+'</td></tr>';

                          bodyRow += bodyTd;
                          
                          $j('#tableBody').append(bodyRow);
                      }
                    bodyRow = '<tr><td class="leftalign" colspan="6"> <b>MOQ</b> : Order quantity is below the Minimum Order Quantity</td> </tr>';
                    bodyRow = bodyRow + '<tr><td class="leftalign" colspan="2"> <b>Load Failure</b> :  Order quantity is less than container load</td> </tr>';
                      $j('#tableBody').append(bodyRow);  
                }
                });
            }
        </script>
        
        <body>
          <div class="nm">
            
          
            <!-- <div class="navbar navbar-inverse navbar-collapse collapse navbar-inverse-collapse" style="background:#213F99 !important;">
              <div class="navbar-header">
               <a class="navbar-brand" href="/" title="Home"><img id="imgCeat1"  src="{!$Resource.CeatLogo}" alt="Logo not found" style="margin-top: -9px;margin-left: -19px;position: fixed;" align="right"/></a>
              </div>
             </div> -->
             <apex:tabPanel styleClass="panelPosition" switchType="client" selectedTab="name2" id="theTabPanel" activeTabClass="activeTab" inactiveTabClass="inactiveTab" width="100%" contentClass="contentC">
             <apex:tab label="PI Number" name="PI_Number" id="piNumber">
              <div class="input-group" style="padding-top : 2%; margin-left: 1%;">
                  <!-- <label for="pinumber">PI Number</label> -->
                  <input type="text" id="pinumber" class="form-control" placeholder="Enter PI Number" aria-describedby="sizing-addon1">
                  </input>
              </div>
              <input type="button" value="View Details" class="btn-primary btn-md" style="margin-top: -2.5%;
position: absolute; margin-left: 30%; height:30px" onclick="fetchDetails(); return false;"> </input>
                     
                  <table class="table table-bordered" id="demo_stupidtable" style="border: 1px solid;margin-top: 1%;">
                      <thead id="tableOfSales" style="border: 1px solid;">
                      </thead>
                      <tbody id="tableBody" class="stickyTop fontFamily" style="height:33px;border: 1px solid ;">
                      </tbody> 
                      <tfoot id="tablefoot" class="stickyTop fontFamily" style="border: 1px solid ;">
                      </tfoot>
                  </table>    
                  <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height: 120%;opacity:0.65;width:100%; display:None;" onclick="return false;"> 
                  <div class="waitingHolder" style="center: 104.2px; width: 100px; right:50px;">
                      <img class="waitingImage" src="/img/loading32.gif" title="Please Wait..." />
                      <span class="waitingDescription">Loading ...</span>
                  </div>
              </div>
            </apex:tab>
            </apex:tabPanel>
            </div>
        </body>
    </html>
</apex:form>    
</apex:page>