<apex:page standardcontroller="Account" extensions="ProspectControllerSpecailty" sidebar="false" showHeader="true" id="IdPage">
    <!-- alertify -->
    <apex:stylesheet value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/themes/alertify.core.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/themes/alertify.bootstrap.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/lib/alertify.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.JqueryKishlay,'/jquery-ui-1.11.1.custom/external/jquery/jquery.js')}"/> 
    <apex:includeScript value="{!URLFOR($Resource.Bootstrap, '/bootstrap-3.2.0-dist/js/bootstrap.js')}"/> 
    <apex:sectionheader title="New Prospect"/>
    <script type="text/javascript">
    window.onload=function(){ 
        
        
        var lstDistrictPick = document.getElementById('DistrictNames');
        var option1 = document.createElement("option");
        option1.text = "None";
        lstDistrictPick.add(option1);
        
        var lstTownPick = document.getElementById('TownNames');
        var option2 = document.createElement("option");
        option2.text = "None";
        lstTownPick.add(option2); 
        DepDistrict('ANDAMAN & NICOBAR ISLANDS');
    }
    

    function DepDistrict(state){
        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.ProspectControllerSpecailty.DistrictsNameList}',state,
            function(result, event)
            {
                if(event.status)
                { 
                    document.getElementById("DistrictNames").options.length = 0;
                    document.getElementById("TownNames").options.length = 0;
                    var lstTownPick = document.getElementById('TownNames');
                    var option = document.createElement("option");
                    option.text = "None";
                    lstTownPick.add(option); 
                    var lstObjFields = document.getElementById('DistrictNames');
                    for(var i = 0; i < result.length; i++)
                    {
                        var objFields  = document.createElement('option');
                        objFields.value = result[i];
                        objFields.text =  result[i];
                        lstObjFields.appendChild(objFields);
                    }
                }
            }
        );   
    }
    
    function DepTown(District){
        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.ProspectControllerSpecailty.DepTown}',District,
            function(result, event)
            { 
                if(event.status)
                { 
                    document.getElementById("TownNames").options.length = 0;
                    var lstObjFields = document.getElementById('TownNames');
                    for(var i = 0; i < result.length; i++)
                    {
                        var objFields  = document.createElement('option');
                        objFields.value = result[i];
                        objFields.text =  result[i];
                        lstObjFields.appendChild(objFields);
                    }
                }
            }
        );   
    }
    
    
    function validateDetails(kid){
    alertify.set({ labels: {
                    ok     : "Dismiss"
                    
                } });
                 var isGap0 = true;
                 var errMsg = '';
                 var manFieldName=document.getElementById('IdPage:Idform:IdPB1:IDPBSection2:IDAccount').value;
                 var manFieldPhone=document.getElementById('IdPage:Idform:IdPB1:IDPBSection2:PhoneAcc').value;
                 //var manFieldProspect=document.getElementById('IdPage:Idform:IdPB1:IDPBSection2:ProspectAcc').value;
                 var manFieldStreet1=document.getElementById('IdPage:Idform:IdPB1:IDPBSection3:street1').value;
                 var manFieldStreet2=document.getElementById('IdPage:Idform:IdPB1:IDPBSection3:street2').value;
                 var manFieldOwnership=document.getElementById('IdPage:Idform:IdPB1:IDPBSection2:OwnerShip').value;
                 var manFieldPotetial=document.getElementById('IdPage:Idform:IdPB1:IDPBSection2:potential').value;
                 var manFieldState=document.getElementById('IdPage:Idform:IdPB1:IDPBSection3:state').value;
                 var manFieldDistrict=document.getElementById('DistrictNames').value;
                 var manFieldTown=document.getElementById('TownNames').value;
                 var manFieldPin=document.getElementById('IdPage:Idform:IdPB1:IDPBSection3:pin').value;
                 var manFieldSalesDistrict=document.getElementById('IdPage:Idform:IdPB1:IDPBSection4:salesDis').value;
                 var manFieldCustGrp=document.getElementById('IdPage:Idform:IdPB1:IDPBSection4:CustGrp').value;
                 var manFieldNatureOFBuss=document.getElementById('IdPage:Idform:IdPB1:IDPBSection2:natureBuss').value;
                 var manFieldKeyReq=document.getElementById('IdPage:Idform:IdPB1:IDPBSection2:keyReq').value;
                 var checkNumberSDS ;//= document.getElementById('IdPage:Idform:IdPB1:pageblock4:j_id54').value;
                 var sdsVal = document.getElementById('IdPage:Idform:IdPB1:pageblock4:j_id54');
                 if(sdsVal  != null){
                     checkNumberSDS = sdsVal.value;
                 }
                 //alert(manFieldPhone + '---manFieldPhone--'+manFieldProspect+'---manFieldProspect--'+manFieldStreet1+'----manFieldStreet1--'+manFieldDistrict+'---manFieldDistrict---');
                 var isnub = true;
        var errMsg1 = '';
      //alert(manFieldPhone);
      if((isNaN(manFieldPhone))){  
          errMsg1 += 'Phone number'+'\n'+'<br/>';
          isnub = false;
      } 
      if((isNaN(manFieldPin))){  
          errMsg1 += 'Pin Code'+'\n'+'<br/>';
          isnub = false;
      }  
      if(checkNumberSDS!=null && (isNaN(checkNumberSDS))){  
          errMsg1 += 'SDS'+'\n'+'<br/>';
          isnub = false;
      } 
      if(isnub == false){
                    alertify.alert("Must Enter Number in following field :<br/>"+errMsg1, function(e){
                        if(e){
                            isnub = true;
                        } else {
                            isnub = false;
                           
                        }                             
                    });
                }
       if(isnub == true) {
           alertify.set({ labels: {
           ok     : "OK"
           
           } });
        } 
                if(manFieldName == ''){
                    errMsg += 'Customer Name'+'\n'+'<br/>';
                }
                if(manFieldPhone == ''){
                    errMsg += 'Phone'+'\n'+'<br/>';
                    isGap0 = false;
                }
              
                if(manFieldOwnership == ''){
                    errMsg += 'Type Of Ownership'+'\n'+'<br/>';
                    isGap0 = false;
                }
                if(manFieldPotetial == ''){
                    errMsg += 'Potential Value'+'\n'+'<br/>';
                    isGap0 = false;
                }
                if(manFieldStreet1 == ''){
                    errMsg += 'Street1'+'\n'+'<br/>';
                    isGap0 = false;
                }
                if(manFieldStreet2 == ''){
                    errMsg += 'Street2'+'\n'+'<br/>';
                    isGap0 = false;
                }
                if(manFieldState == ''){
                    errMsg += 'State'+'\n'+'<br/>';
                    isGap0 = false;
                }
                if(manFieldDistrict == 'None'){
                    errMsg += 'District'+'\n'+'<br/>';
                    isGap0 = false;
                }
                if(manFieldTown == 'None'){
                    errMsg += 'Town'+'\n'+'<br/>';
                    isGap0 = false;
                }
                if(manFieldPin == ''){
                    errMsg += 'PinCode'+'\n'+'<br/>';
                    isGap0 = false;
                }
                if(manFieldSalesDistrict == '' ){
                    errMsg += 'Sales District'+'\n'+'<br/>';
                    isGap0 = false;
                }
                if(manFieldCustGrp == ''){
                    errMsg += 'Customer Group'+'\n'+'<br/>';
                    isGap0 = false;
                }
                if(manFieldNatureOFBuss == ''){
                    errMsg += 'Nature Of Business'+'\n'+'<br/>';
                    isGap0 = false;
                }
                if(manFieldKeyReq == ''){
                    errMsg += 'Key Requirements'+'\n'+'<br/>';
                    isGap0 = false;
                }
                if(isGap0 == false){
                    alertify.alert("Following required fields are missing :<br/>"+errMsg, function(e){
                       
                        
                        
                        if(e){
                            isGap0 = true;
                        } else {
                            isGap0 = false;
                           
                        }                             
                    });
                }
                if(isGap0 == true && isnub == true) {
                
                    alertify.set({ labels: {
                    ok     : "OK"
                    
                    } });
                //alert(errMsg);
                   
                   
                document.getElementById(kid).disabled= true;
                createAcc(document.getElementById('TownNames').value,document.getElementById('DistrictNames').value);
                }
               
        
        
    }
    
    </script>
    <apex:form id="Idform">
        
        <apex:pageBlock title="New Prospect" id="IdPB1">
            <apex:pageMessages id="showmsg"></apex:pageMessages>
            <apex:pageblockbuttons id="IdPBSection1" location="bottom">            
                <input type='button' onclick="validateDetails(this.Id);" value="Save" id="pbSaveButton"/>
                <apex:commandbutton value="Cancel" action="{!Cancel}"/>
            </apex:pageblockbuttons>
                <apex:actionFunction name="createAcc" action="{!createProspect}" oncomplete="if({!redirectPage} == true) { window.top.location = '/{!prospectId}' } else { alertify.alert('Please Enter Correct Sales District Code');}">
               
                <apex:param name="myCity" value=""/>
                <apex:param name="myDistrict" value=""/> 
           </apex:actionFunction> 
            <apex:outputpanel style="overflow:scroll;height:300px;" >
                <apex:pageblocksection title="Prospect Information" showheader="true" columns="1" id="IDPBSection2">
                    <apex:inputfield value="{!accObj.Name}" id="IDAccount"/>
                    <apex:inputfield value="{!accObj.Email__c}" id="EmailAcc"/>
                    <apex:inputfield value="{!accObj.Phone}" required="true" id="PhoneAcc"/>
                    <apex:inputfield value="{!accObj.AD_TLNMBR__c}" /> 
                    <apex:inputfield value="{!accObj.Nature_of_business__c}" required="true" id="natureBuss"/>
                    <apex:inputfield value="{!accObj.Type_of_ownership__c}" required="true" id="OwnerShip"/> 
                    <apex:inputfield value="{!accObj.Potential_Value__c}" required="true" id="potential"/>
                    <apex:inputfield value="{!accObj.Key_Requirements__c}" required="true" id="keyReq"/>
                </apex:pageblocksection>
                <apex:pageBlockSection title="Address Information" columns="1" id="IDPBSection3">
                    <apex:inputfield value="{!accObj.Street_1__c}" required="true" id="street1"/>                  
                    <apex:inputfield value="{!accObj.Street_2__c}" required="true" id="street2"/>
                    <apex:selectList id="state" label="State" value="{!selectedState}" onchange="DepDistrict(this.value)" multiselect="false" size="1">
                        <apex:selectOptions value="{!states}" ></apex:selectOptions>
                    </apex:selectList>

                    <apex:pageblocksectionitem >
                        <apex:outputLabel >District</apex:outputLabel>
                        <select id="DistrictNames" name="DistrictNames" onchange="DepTown(this.value)" required="true"/>
                    </apex:pageblocksectionitem>
                    <apex:pageblocksectionitem >
                        <apex:outputLabel >Town</apex:outputLabel>
                        <select id="TownNames" name="TownNames" required="true"/>
                    </apex:pageblocksectionitem>
                    <apex:inputfield value="{!accObj.PIN_code__c}" required="true" id="pin"/>
                </apex:pageBlockSection>                
                
                <apex:pageblocksection title="SAP Information" showheader="true" columns="1" id="IDPBSection4">
                    <apex:inputfield value="{!accObj.Sales_District_Text__c}" required="true" id="salesDis"/>
                    <apex:inputfield value="{!accObj.Customer_Group__c}" required="true" id="CustGrp"/>
                </apex:pageblocksection>
                <apex:pageblocksection title="Financial Information" showheader="true" columns="1" id="pageblock4">
                    <apex:inputfield value="{!accObj.Bank_Name__c}" />
                    <apex:inputfield value="{!accObj.Bank_Account_no__c}" />
                    <apex:inputfield value="{!accObj.Bank_branch__c}" />
                    <apex:inputfield value="{!accObj.IFSC_Code__c}" />
                    <apex:inputfield value="{!accObj.TIN_Number__c}" />
                    <apex:inputfield value="{!accObj.PAN_Number__c}" />
                    <apex:inputfield value="{!accObj.Security_Deposit__c}" /> 
                    <apex:inputfield value="{!accObj.SDS__c}" id="sds"/>               
                </apex:pageblocksection>
            </apex:outputpanel>
            
        </apex:pageBlock>
    </apex:form>
</apex:page>