<apex:page showHeader="true" standardController="Account" extensions="OpenClosedActivityLogController" sidebar="true">
	<apex:pageMessages id="pageMsg"/>
	<apex:form >
		<apex:pageBlock >
			<apex:pageBlockSection title="Open Activity Logs" columns="1">
				<apex:pageBlockTable value="{!openTaskList}" var="tsk" >
                    <apex:column >
                        <apex:facet name="header">Subject</apex:facet>
                        <apex:outputText value="{!tsk.Subject}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Description</apex:facet>
                        <apex:outputText value="{!tsk.Description}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Due Date</apex:facet>
                        <apex:outputText value="{!tsk.System_Activity_Date__c}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Status</apex:facet>
                        <apex:outputText value="{!tsk.Status}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Priority</apex:facet>
                        <apex:outputText value="{!tsk.Priority}"/>
                    </apex:column>
                </apex:pageBlockTable>
			</apex:pageBlockSection>
		</apex:pageBlock>
		<apex:pageBlock >
			<apex:pageBlockSection title="Closed Activity Logs" columns="1">
				<apex:pageBlockTable value="{!closedTaskList}" var="tsk" >
                    <apex:column >
                        <apex:facet name="header">Subject</apex:facet>
                        <apex:outputText value="{!tsk.Subject}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Conclusion</apex:facet>
                        <apex:outputText value="{!tsk.Conclusion__c}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Due Date</apex:facet>
                        <apex:outputText value="{!tsk.ActivityDate}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Status</apex:facet>
                        <apex:outputText value="{!tsk.Status}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Priority</apex:facet>
                        <apex:outputText value="{!tsk.Priority}"/>
                    </apex:column>
                </apex:pageBlockTable>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>