<apex:page showHeader="false" 
           sidebar="false" 
           docType="html-5.0" 
           standardStylesheets="false" 
           applyBodyTag="false" 
           applyHtmlTag="false"
           controller="OrderPlacementContoller"
           >
    <html ng-app="orderapp" lang="en">
        <head>
            <title>Order Creation</title>
            <link href="{!URLFOR($Resource.BootstrapComplete,'BoostWatchTheams/sandstone/bootstrap.min.css')}" rel="stylesheet" />
            <!-- <link href="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/css/bootstrap.min.css')}" rel="stylesheet" /> -->
            <link href="{!URLFOR($Resource.BootstrapComplete,'BoostWatchTheams/asset/css/bootswatch.min.css')}" rel="stylesheet" /> 
            <link href="{!URLFOR($Resource.LoadingAnimation)}" rel="stylesheet" />
            <link href="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/css/ng-table.min.css')}" rel="stylesheet" />
            
            <base href="/"></base> 
        <script type="text/javascript">
        
        var accountId;
        var myapp = angular.module('orderapp', ['mgcrea.ngStrap','ngTable']);
        myapp.config(function($modalProvider) {
            angular.extend($modalProvider.defaults, {
                html: true
            });
        });
        myapp.factory("SFDC", ['$q', '$log', function($q, $log){
            var handleReq = function(remoteCall,accId,pass) {
                var defer = $q.defer();
                remoteCall(accId,pass,
                           function(result, event) {
                               if(event.status) {
                                   defer.resolve(result);
                               }
                               else {
                                   $log.error(event.message);
                                   defer.reject(event.message);
                               }
                           },
                           {escape:false, buffer: false}
                          );
                return defer.promise;
            }
            
            var handleReq2 = function(remoteCall,accId,pass,addr,div) {
                var defer = $q.defer();
                remoteCall(accId,pass,addr,div,
                           function(result, event) {
                               if(event.status) {
                                   defer.resolve(result);
                               }
                               else {
                                   $log.error(event.message);
                                   defer.reject(event.message);
                               }
                           },
                           {escape:false, buffer: false}
                          );
                return defer.promise;
            }
            
            return {
                getCustomerInfo: function(accId,pass) {
                    return handleReq(OrderPlacementContoller.getAccountInfo,accId,pass);
                },
                createOrder: function(acc,olis,addr,div) {
                    return handleReq2(OrderPlacementContoller.submitOrder,acc,olis,addr,div);
                },
                
            }
        }]);
        
        myapp.factory('GET_PROD_DIVISION',['$q','$log', function($q,$log){
            var handleReq = function(remoteCall) {
                var defer = $q.defer();
                remoteCall(function(result, event) {
                               if(event.status) {
                                   defer.resolve(result);
                               }
                               else {
                                   $log.error(event.message);
                                   defer.reject(event.message);
                               }
                           },
                           {escape:false, buffer: false}
                          );
                return defer.promise;
             }
             return {
                getProductDivision: function() {
                    return handleReq(OrderPlacementContoller.getProductDivision);
                }                
            }
        }]);

        myapp.factory('GET_CATEGORIES', ['$q','$log', function($q,$log){
            var handleReq = function(remoteCall,div) {
                var defer = $q.defer();
                remoteCall(div,
                    function(result, event) {
                        if(event.status) {
                            defer.resolve(result);
                        }
                        else {
                            $log.error(event.message);
                            defer.reject(event.message);
                        }
                    },
                    {escape:false, buffer: false}
                );
                return defer.promise;
            }
            
            return {
                getProductCategory: function(div) {
                    return handleReq(OrderPlacementContoller.getMaterialGroup,div);
                }
                
            }
        }])
        
        myapp.factory("SEARCH_PROD", ['$q', '$log', function($q, $log){
            var handleReq = function(remoteCall,prodKey) {
                var defer = $q.defer();
                remoteCall(prodKey,
                           function(result, event) {
                               if(event.status) {
                                   defer.resolve(result);
                               }
                               else {
                                   $log.error(event.message);
                                   defer.reject(event.message);
                               }
                           },
                           {escape:false, buffer: false}
                          );
                return defer.promise;
            };
            
            var handleReq2 = function(remoteCall,prodKey,second) {
                var defer = $q.defer();
                remoteCall(prodKey,second,
                           function(result, event) {
                               if(event.status) {
                                   defer.resolve(result);
                               }
                               else {
                                   $log.error(event.message);
                                   defer.reject(event.message);
                               }
                           },
                           {escape:false, buffer: false}
                          );
                return defer.promise;
            };
            
            var handleReq3 = function(remoteCall,prodKey,second,thrid) {
                var defer = $q.defer();
                remoteCall(prodKey,second,thrid,
                           function(result, event) {
                               if(event.status) {
                                   defer.resolve(result);
                               }
                               else {
                                   $log.error(event.message);
                                   defer.reject(event.message);
                               }
                           },
                           {escape:false, buffer: false}
                          );
                return defer.promise;
            };
            
            return {
                getSerchedProduct: function(prodKey,divi) {
                    return handleReq2(OrderPlacementContoller.getMaterialDetails,prodKey,divi);
                },
                getProductStock : function(salesDis){
                    return handleReq(OrderPlacementContoller.fetchUnrestrictedStock,salesDis);  
                },
                getProductBasedOnCategory : function(salesDis,divi){
                    return handleReq2(OrderPlacementContoller.fetchProductsCategoryW,salesDis,divi);  
                },
                getProductBasedOnSize : function(size,cate){
                    return handleReq2(OrderPlacementContoller.fetchProductsSize,size,cate);  
                },
                getProductBasedOnSizeAndPly : function(ply,size,cate){
                    return handleReq3(OrderPlacementContoller.fetchProductsPlayRating,ply,size,cate);  
                },
                getShipToAddress : function(customerCode){
                    return handleReq(OrderPlacementContoller.fetchShipToAddress,customerCode);  
                }
                
            }
        }]);
        
        myapp.controller('OrderController', ['$log','$q','$scope','SFDC','$alert','SEARCH_PROD','GET_CATEGORIES','$timeout','$modal','GET_PROD_DIVISION', function($log,$q,$scope,SFDC,$alert,SEARCH_PROD,GET_CATEGORIES,$timeout,$modal,GET_PROD_DIVISION){
            $scope.urlParma = '{!$currentpage.parameters.Id}';
            $scope.loadingH = true;
            $log.info($scope.urlParma + " Customer Id");
            $scope.passcodeObj = {};
            $scope.showbanner = false;
            $scope.firstPanel = true;
            $scope.secondPanel = false;
            $scope.thirdPanel = false;
            $scope.alternate = false;
            $scope.category = [];
            $scope.materialList = [];
            $scope.MaterialStock = [];
            $scope.productDivisions = [];
            $scope.addQty='';
            
            
            if($scope.urlParma != ''){
                
                $scope.firstPanel = true;
                
                $q.all({ 
                    CUSTOMER : SFDC.getCustomerInfo($scope.urlParma,false),
                    //CATE_G   : GET_CATEGORIES.getProductCategory(),
                    PROD_DIV : GET_PROD_DIVISION.getProductDivision()
                }).then(function(resp) {
                    $scope.userDetails = resp.CUSTOMER;
                    accountId = $scope.userDetails.Id;
                    $scope.productDivisions = resp.PROD_DIV;
                    //$scope.category    = resp.CATE_G;
                    $scope.loadingH = false;
                    $scope.selectedProductDiv = $scope.productDivisions[0];
                    //$log.info('DIVISION' + JSON.stringify($scope.selectedProductDiv));
                });
            }else{
                $scope.loadingH = false; 
                $scope.showTable = false;
            }
            
            $scope.populateProductSize = function(){
                $scope.sizeList = [];
                $scope.loadingH = true; 
                $log.info('DIVISION' + JSON.stringify($scope.selectedProductDiv));
                var divi = ($scope.selectedProductDiv.Code__c == undefined ? '00' : $scope.selectedProductDiv.Code__c);
                SEARCH_PROD.getProductBasedOnCategory($scope.searchCategory,divi).then(function(response){
                    
                    //$scope.materialList = response;
                    for(var i =0 ; i < response.length ; i++){
                        if($scope.sizeList.indexOf(response[i].Tyre_Size__c) == -1){
                            $scope.sizeList.push(response[i].Tyre_Size__c)
                        }
                    }
                    
                    //$log.info(response);
                    //$scope.searchMaterial = '';
                    $scope.loadingH = false; 
                    
                },function(error){
                    $scope.loadingH = false; 
                });
            }
            
            $scope.populateProductList = function(){
                $scope.plyList = [];
                $scope.loadingH = true;
                SEARCH_PROD.getProductBasedOnSize($scope.searchSize,$scope.searchCategory).then(function(response){
                    //$scope.plyList = response;
                    for(var i =0 ; i < response.length ; i++){
                        if($scope.plyList.indexOf(response[i].Ply_Rating__c) == -1){
                            $scope.plyList.push(response[i].Ply_Rating__c)
                        }
                    }
                    $scope.loadingH = false; 
                    
                },function(error){
                    $scope.loadingH = false; 
                });
            }
            
            $scope.populateProductListPly = function(){
                $scope.materialList = [];
                $scope.loadingH = true;
                SEARCH_PROD.getProductBasedOnSizeAndPly($scope.plyRating,$scope.searchSize,$scope.searchCategory).then(function(response){
                   // $log.info(response);
                    $scope.materialList = response;
                    
                    $scope.loadingH = false; 
                    
                },function(error){
                    $scope.loadingH = false; 
                });
            }
            
            $scope.showCustomerDetail = function(){
                
                $scope.loadingH = true;
                var divi = ($scope.selectedProductDiv.Code__c == undefined ? '00' : $scope.selectedProductDiv.Code__c);
                GET_CATEGORIES.getProductCategory(divi).then(function(response){
                    $scope.category    = response;
                    searchProductDetail();
                    $scope.loadingH = false;
                },function(error){
                    $scope.loadingH = false;
                });
                // $log.info($scope.passcodeObj.pass + " Customer Id");
                // if($scope.passcodeObj.pass == undefined){
                //     $alert({title: 'Error !!', content: 'Please enter passcode ',container:'body', placement: 'topheader', type: 'danger', show: true,duration:4,dismissable:true});
                // }else{
                //     $scope.loadingH = true;
                //     $q.all({ 
                //         CUSTOMER : SFDC.getCustomerInfo($scope.passcodeObj.pass,true),
                //     }).then(function(resp) {
                //         $scope.userDetails = resp.CUSTOMER;
                //         $scope.loadingH = false;
                //         $scope.showTable = true;
                //     },function(error){
                //         $log.error(JSON.stringify(error));
                //         $scope.loadingH = false;
                //         $alert({title: 'Error !!', content: 'Wrong passcode ',container:'body', placement: 'topheader', type: 'danger', show: true,duration:4,dismissable:true});
                //     });
                // }
                
            }
            
            searchProductDetail = function(){
               // $log.info('DIVISION' + JSON.stringify($scope.selectedProductDiv));
                $scope.showbanner = true;
                $scope.firstPanel = false;
                $scope.secondPanel= true;
                $scope.thirdPanel = false;
                
                $scope.MaterialStock = [];
                 //$log.debug('STOCK CALL'); 
                
                $q.all({ 
                    STOCK     : SEARCH_PROD.getProductStock($scope.userDetails.Sales_District_Text__c),
                    //SHIP_TO   : SEARCH_PROD.getShipToAddress($scope.userDetails.UniqueIdentifier__c),
                }).then(function(response) {
                    $scope.MaterialStock = response.STOCK;
                    
                    //$log.info(JSON.stringify($scope.MaterialStock));

                    if($scope.MaterialStock.length == 0){
                        $alert({title: 'Error !!', content: 'No stock records found for this territory',container:'body', placement: 'topheader', type: 'warning', show: true,duration:4,dismissable:true});
                    }
                    
                    SEARCH_PROD.getShipToAddress($scope.userDetails.UniqueIdentifier__c).then(function(res){
                        $scope.ShipToAddress = res;
                        if($scope.ShipToAddress.length > 0){
                            $scope.shipToAdd = $scope.ShipToAddress[0];
                        }
                    },function(err){
                        $alert({title: 'Error !!', content: '<b>Ship to Address</b> is not found',container:'body', placement: 'topheader', type: 'warning', show: true,duration:4,dismissable:true});

                        $log.error(JSON.stringify(error));
                    });

                    //$log.debug('STOCK - ' + JSON.stringify(response.STOCK));

                    
                    $scope.loadingH = false;
                    
                },function(error){
                    $alert({title: 'Error !!', content: 'Unable to fetch <b>Stock</b> right now.',container:'body', placement: 'topheader', type: 'danger', show: true,duration:4,dismissable:true});

                    $log.error(JSON.stringify(error));
                    $scope.loadingH = false;
                });
                
                // SEARCH_PROD.getProductStock($scope.userDetails.Sales_District_Text__c).then(function(response){
                //     $scope.MaterialStock = response;
                
                // },function(error){
                //   $log.error(JSON.stringify(error));
                //   $scope.loadingH = false;
                // });
                
            }
            $scope.itemsFound = [];
            $scope.searchProduct = function(){
                //$log.info("Product Key" + $scope.productName );
                if($scope.productName != undefined){
                    if($scope.productName.length > 3){
                        $scope.loadingH = true;
                        var divi = ($scope.selectedProductDiv.Code__c == undefined ? '00' : $scope.selectedProductDiv.Code__c);
                        SEARCH_PROD.getSerchedProduct($scope.productName,divi).then(function(response){
                            $scope.itemsFound = response;
                            $scope.loadingH = false;
                        },function(error){
                            $log.error(JSON.stringify(error));
                            $scope.loadingH = false;
                        });
                    }else{
                        $scope.itemsFound = [];
                    }
                }
            }
            
            $scope.addedItems = [];
            
            $scope.addProductList = function(item,flagClear,qty){
              console.log(item);
              console.log(qty);
                item.Quantity__c= qty;
                if(!$scope.alternate){
                    var flag = true;
                    for(var i = 0;i < $scope.addedItems.length;i++){
                        if($scope.addedItems[i].Material_Number__c == item.Material_Number__c){
                            flag = false;
                            break;
                        }
                    }
                    
                    if(flag){
                        item.Flag__c = 'Send to SAP';
                        $scope.addedItems.push(item);
                    }
                    
                    if(flagClear){
                        $scope.itemsFound = [];
                        $scope.productName = '';
                    }
                }else{
                    if($scope.alternateProducts.length == 0){
                        
                        item.Flag__c = 'Alternate';
                        item.OrignalItem = $scope.orignalProdcut;
                        
                        $scope.alternateProducts.push(item);
                        
                        $scope.itemsFound = [];
                        $scope.productName = '';
                    }else{
                        $alert({title: 'Error !!', content: 'Only one alternated product can be added at a time, If want to replace please remove the product first',container:'body', placement: 'topheader', type: 'danger', show: true,duration:4,dismissable:true});
                        $scope.itemsFound = [];
                        $scope.productName = '';
                    }
                }
                
                $scope.addQty='';
                
            }
            
            $scope.alternateProducts = [];
            
            $scope.addProduct = function(){
                var flag = true;
                
                if(!$scope.alternate){
                    
                    for(var i = 0;i < $scope.addedItems.length;i++){
                        if($scope.addedItems[i].Material_Number__c == $scope.searchMaterial.Material_Number__c){
                            flag = false;
                            break;
                        }
                    } 
                    
                    if(flag){
                        $scope.searchMaterial.Flag__c = 'Send to SAP';
                        $scope.addedItems.push($scope.searchMaterial);
                    }
                }else{
                    if($scope.alternateProducts.length == 0){
                        
                        $scope.searchMaterial.Flag__c = 'Alternate';
                        
                        if($scope.orignalProdcut.Flag__c == 'Alternate' ){
                            for(var i = 0; i < $scope.addedItems.length ; i++ ){
                                if($scope.addedItems[i].Material_Number__c == $scope.orignalProdcut.Material_Number_for_Alt__c){
                                    $scope.searchMaterial.OrignalItem = $scope.addedItems[i];
                                }
                            } 
                        }else{
                            $scope.searchMaterial.OrignalItem = $scope.orignalProdcut;
                        }
                        
                        
                        
                        $scope.alternateProducts.push($scope.searchMaterial);
                    }else{
                        $alert({title: 'Error !!', content: 'Only one alternated product can be added at a time, If want to replace please remove the product first',container:'body', placement: 'topheader', type: 'danger', show: true,duration:4,dismissable:true});
                    }
                }
            }
            
            $scope.removeProduct = function(ind){
                $scope.addedItems.splice(ind,1);
            }
            $scope.removeProductAlt =function(ind) {
                $scope.alternateProducts.splice(ind,1);
            }
            
            $scope.goToNextScreen = function(){
                
                if($scope.alternateProducts.length > 0 && $scope.alternate){
                    $log.info('IN IF');
                    $log.info(" REST " + JSON.stringify($scope.addedItems));
                    
                    var flag = true;
                    //$log.info(" REST " + JSON.stringify(response));
                    for (var i = 0; i < $scope.alternateProducts.length; i++) {
                        //$log.info(" REST " + $scope.addedItems[i].Quantity__c);
                        if($scope.alternateProducts[i].Quantity__c == undefined || $scope.alternateProducts[i].Quantity__c =='' || $scope.alternateProducts[i].Quantity__c == 0){
                            $alert({title: 'Error !!', content: 'Please enter valid Quantity for ' + $scope.alternateProducts[i].Name,container:'body', placement: 'topheader', type: 'danger', show: true,duration:4,dismissable:true});
                            var flag = false;
                        }
                    }
                    
                    for(var i = 0; i< $scope.alternateProducts.length;i++){
                        $scope.addedItems.splice($scope.indOfItems+1,0,{
                            Name : $scope.alternateProducts[0].Name, 
                            Mat_Grp_Desc__c : $scope.alternateProducts[0].Mat_Grp_Desc__c, 
                            Material_Group__c : $scope.alternateProducts[0].Material_Group__c,
                            Ply_Rating__c : $scope.alternateProducts[0].Ply_Rating__c,
                            Material_Number__c : $scope.alternateProducts[0].Material_Number__c ,
                            Quantity__c : $scope.alternateProducts[0].Quantity__c,
                            Material_Number_for_Alt__c : $scope.alternateProducts[0].OrignalItem.Material_Number__c,
                            Flag__c :$scope.alternateProducts[0].Flag__c });
                        
                    }
                    
                    
                    
                    if(flag){
                        $scope.firstPanel = false;
                        $scope.secondPanel= false;
                        $scope.thirdPanel = true;
                        $scope.loadingH = true;
                        
                        
                        for(var i=0; i < $scope.addedItems.length; i++) { 
                            
                            //$log.info(' BEFORE' + JSON.stringify($scope.addedItems[i]));
                            
                            var isExist = false;
                            for(var j=0; j<$scope.MaterialStock.length; j++) {
                                //$scope.MaterialStock[j].Matnr = (parseInt($scope.MaterialStock[j].Matnr)).toString();
                                if($scope.addedItems[i].Material_Number__c == $scope.MaterialStock[j].Matnr) {                                        
                                    $scope.addedItems[i].Stock = parseInt($scope.MaterialStock[j].Labst);
                                    $scope.addedItems[i].Werks = $scope.MaterialStock[j].Werks;
                                    $scope.addedItems[i].Lgort = $scope.MaterialStock[j].Lgort;
                                    isExist = true;
                                    if($scope.addedItems[i].Stock < $scope.addedItems[i].Quantity__c) {
                                        $scope.LabelClass = "redColor";
                                        if($scope.addedItems[i].Flag__c == 'Send to SAP'){
                                            $scope.addedItems[i].Flag__c = 'Original';
                                        }
                                    } else {
                                        $scope.addedItems[i].Flag__c = 'Send to SAP';
                                        $scope.LabelClass = "";
                                    }                                        
                                }
                            } 
                            if(!isExist) {
                                $scope.addedItems[i].Stock = 0;
                                if($scope.addedItems[i].Stock < $scope.addedItems[i].Quantity__c) {
                                    $scope.LabelClass = "redColor";
                                    if($scope.addedItems[i].Flag__c == 'Send to SAP'){
                                        $scope.addedItems[i].Flag__c = 'Original';
                                    }
                                } else {
                                    $scope.addedItems[i].Flag__c = 'Send to SAP';
                                    $scope.LabelClass = "";
                                }
                            }
                            // $log.info(' AFTER' + JSON.stringify($scope.addedItems[i]));
                        }
                        $scope.loadingH = false;
                        
                    }
                    
                    
                    
                }else{

                    $log.info('IN ELSE')

                    var flag = true;
                    //$log.info(" REST " + JSON.stringify(response));
                    for (var i = 0; i < $scope.addedItems.length; i++) {
                        //$log.info(" REST " + $scope.addedItems[i].Quantity__c);
                        if($scope.addedItems[i].Quantity__c == undefined || $scope.addedItems[i].Quantity__c =='' || $scope.addedItems[i].Quantity__c == 0){
                            $alert({title: 'Error !!', content: 'Please enter valid Quantity for ' + $scope.addedItems[i].Name,container:'body', placement: 'topheader', type: 'danger', show: true,duration:4,dismissable:true});
                            var flag = false;
                        }
                    }
                    
                    if(flag){
                        $scope.firstPanel = false;
                        $scope.secondPanel= false;
                        $scope.thirdPanel = true;
                        $scope.loadingH = true;
                        
                        var werks = '';
                        var lgort = '';
                        
                        for(var i=0; i<$scope.addedItems.length; i++) { 
                            var isExist = false;
                            for(var j=0; j<$scope.MaterialStock.length; j++) {

                                $log.info( $scope.addedItems[i].Material_Number__c + ' MAT NUM');

                                  werks = $scope.MaterialStock[j].Werks;
                                  lgort = $scope.MaterialStock[j].Lgort;

                                if($scope.addedItems[i].Material_Number__c == $scope.MaterialStock[j].Matnr) {                                        
                                    $scope.addedItems[i].Stock = parseInt($scope.MaterialStock[j].Labst);
                                    $scope.addedItems[i].Werks = $scope.MaterialStock[j].Werks;
                                    $scope.addedItems[i].Lgort = $scope.MaterialStock[j].Lgort;
                                    
                                    

                                    isExist = true;
                                    if($scope.addedItems[i].Stock < $scope.addedItems[i].Quantity__c) {
                                        $scope.LabelClass = "redColor";
                                        if($scope.addedItems[i].Flag__c == 'Send to SAP'){
                                            $scope.addedItems[i].Flag__c = 'Original';
                                        }
                                    } else {
                                        $scope.LabelClass = "";
                                    }                                        
                                }
                            } 
                            if(!isExist) {
                                $log.info('DOES NOT EXIST');
                                $scope.addedItems[i].Stock = '0';
                                $scope.addedItems[i].Werks = werks;
                                $scope.addedItems[i].Lgort = lgort;
                                if($scope.addedItems[i].Stock < $scope.addedItems[i].Quantity__c) {
                                    $scope.LabelClass = "redColor";
                                    if($scope.addedItems[i].Flag__c == 'Send to SAP'){
                                        $scope.addedItems[i].Flag__c = 'Original';
                                    }
                                } else {
                                    $scope.LabelClass = "";
                                }
                            }
                        }
                        $scope.loadingH = false;
                        
                    }
                }
                
            } 
            
            $scope.goBackToPrevious = function(item,ind){
                
                $scope.alternateProducts = [];
                
                $scope.firstPanel = false;
                $scope.secondPanel= true;
                $scope.thirdPanel = false;
                $scope.alternate = true;
                $scope.orignalProdcut = item;
                $scope.indOfItems  = ind;
                
                $scope.addedItems[$scope.indOfItems].ShowAddAlternte = true;
                
                //$log.info(" REST " + JSON.stringify($scope.addedItems));
                
            }
            
            var myModal = $modal({scope: $scope, template: 'confimationDialog.html', show: false});
            $scope.finalItems = [];
            $scope.submitOrderToSap = function(){
                
                $scope.finalItems = [];
                $scope.alternateProductsFinal = [];
                
                if($scope.addedItems.length == 0){
                    $alert({title: 'Error !!', content: 'Please add products first ',container:'body', placement: 'topheader', type: 'danger', show: true,duration:4,dismissable:true});
                }else{
                    var flag = false;
                    var counter = 0;
                    for(var i = 0; i < $scope.addedItems.length;i++){
                        
                        var elem = { Name : $scope.addedItems[i].Name,
                                    Material_Name__c : $scope.addedItems[i].Name,
                                    Flag__c : $scope.addedItems[i].Flag__c ,
                                    Material_Number__c : $scope.addedItems[i].Material_Number__c,
                                    Material_Number_for_Alt__c: $scope.addedItems[i].Material_Number_for_Alt__c,
                                    Plant__c: $scope.addedItems[i].Werks,
                                    Quantity__c: $scope.addedItems[i].Quantity__c,
                                    Storage_Location__c: $scope.addedItems[i].Lgort };
                        
                        $scope.finalItems.push(elem);
                        
                        if($scope.addedItems[i].Quantity__c > $scope.addedItems[i].Stock && !$scope.addedItems[i].ShowAddAlternte){
                            // $alert({title: 'Error !!', content: 'Please add alternate product for' + $scope.addedItems[i].Name ,container:'body', placement: 'topheader', type: 'danger', show: true,duration:4,dismissable:true});
                            flag = true;
                            $scope.alternateProductsFinal.push($scope.addedItems[i].Name);
                        }else{
                            counter++;
                        }
                    }
                    
                    
                    
                    
                    if(flag){
                        if(counter == 0){
                            $scope.firstTitle = 'Out of Stock';
                            $scope.secondtitle = 'Selected product/s are out of stock. Are you sure you want to continue ?';
                            $scope.showSaveMEthod = true; 
                            $scope.showtable = false; 
                            $scope.buttonTitle = 'No';
                            
                            myModal.$promise.then(myModal.show);
                            
                            
                            
                        }else{
                            $scope.firstTitle = 'Some products are out of stock ';
                            $scope.secondtitle = 'Are you sure you want to place order with below products out of stock. They will not be part of the order';
                            $scope.buttonTitle = 'No';
                            $scope.showSaveMEthod = true;
                            $scope.showtable = true; 
                            
                            myModal.$promise.then(myModal.show);
                        }
                    }else{
                        $scope.firstTitle = 'Confirm';
                        $scope.secondtitle = 'Are you sure you want to place the order ?';
                        $scope.showSaveMEthod = true; 
                        $scope.showtable = false;  
                        $scope.buttonTitle = 'No';                
                        myModal.$promise.then(myModal.show);
                    }
                }
                
                
            }

            $scope.goBackToFirst = function(){
                $scope.firstPanel = true;
                $scope.secondPanel= false;
            }
            
            $scope.callSaveMethod = function(){
                //$log.info('Called');
                //$log.info(" REST " + JSON.stringify($scope.finalItems)); 
                $scope.loadingH = true;
                $log.info('DIVISION' + JSON.stringify($scope.selectedProductDiv));
                var divi = ($scope.selectedProductDiv.Code__c == undefined ? '00' : $scope.selectedProductDiv.Code__c);

                $log.info('DIVISION ' + divi);

                SFDC.createOrder($scope.userDetails,$scope.finalItems,$scope.shipToAdd,divi).then(function(response){
                    $alert({title: 'Success', content: response.mesg ,container:'body', placement: 'topheader', type: 'success', show: true,duration:6,dismissable:true});
                    
                    if(response.naviga){
                        $timeout(function(){
                            window.open(response.ulrN,"_self");
                        }, 3000);
                    }
                    
                    
                    $scope.loadingH = false;
                },function(error){
                    $scope.loadingH = false;
                    $log.error('ERROR' + JSON.stringify(error));
                });
            }
            
            
        }]);
        
        
        var callOpenSubtab=function callOpenSubtab(result) {
            sforce.console.openSubtab(result.id, 
                                      '/apex/CPORT_PortalPage_BPO?Id='+accountId, true, 'Customer Details');
        };
        
        function openSubtab() {
            
            sforce.console.getEnclosingPrimaryTabId(callOpenSubtab);
        }
        
        //Sets the title of the current tab to "SFDC"
        function setTitle() {
            sforce.console.setTabTitle('SFDC');
        }
        
        
        </script>
        <style>
            body{
            padding-top: 0px !important;
            }
            .panel{
            margin-bottom: 0px;
            }
            
            .navbar-default{
            background-color: #0055aa !important;
            border-color: #0055aa !important;
            }
            .navbar-default .navbar-nav>li>a{
            color: #fff !important;
            }
            .panel-heading{
            background-color: #0055aa !important;
            border-color: #0055aa !important;
            }
            .panel-primary{
            border-color: #0055aa !important;
            }
            
            .topheader{
            position: fixed;
            top: 2%;
            width: 80%;
            margin-right: 10%;
            margin-left: 10%;
            }
            
            .redColor {
            color : red;
            }
            
            
            .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
            background-color: #f5822d;
            }
            
            .onselectBox{
              background-color:#E6E6E6;
            }

            .onselectBoxFoucsOut{
              background-color: #fff;
            }
            
            
            
        </style>
    </head>
    <body ng-controller="OrderController">
        <div class="loading" ng-show="loadingH" >Loading&#8230;</div>
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" >CEAT</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-if="showbanner"><a href="" style="font-size:16px;"> {{userDetails.Name }}- {{userDetails.UniqueIdentifier__c}}  </a> </li>
                    <li></li><li ng-if="showbanner"><a href="#" onClick="openSubtab();return false" style="font-size:10px;">View Customer Details</a></li>
                </ul>
            </div>
            
            
        </div>
        
        
        <div class="panel panel-primary" ng-show="firstPanel">
            <div class="panel-heading">
                <h3 class="panel-title">Product Division</h3>
            </div>
            <div class="panel-body">
               
                <div class="form-group" >
                    <label for="inputEmail" class="col-lg-4 control-label">Please select division </label>
                    <div class="col-lg-4">
                         <select id="inputEmail" class="form-control" ng-model="selectedProductDiv" ng-options="(mat.Code__c+'-'+mat.Name) for mat in productDivisions" >
                        </select> 
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-primary btn-sm" ng-click="showCustomerDetail()">Next</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="checkbox" style="padding-left:5%;" ng-show="secondPanel">
            <button class="btn btn-primary btn-sm" style="margin-right: 20px;" ng-click="goBackToFirst()">Back</button>
            <label>
                <input type="checkbox" ng-model="showOptions" /> 
                <label ng-show="!showOptions">Search Product Wise</label>
                <label ng-show="showOptions">Search Category Wise</label>
            </label>
             
        </div>
        
        <div class="panel panel-default" ng-show="secondPanel">
            
            <div class="panel-body">
                <div class="form-group" ng-show="!showOptions">
                    <label for="exampleInputEmail1">Search SKU</label>
                    <input type="text" class="form-control" ng-model="productName"  placeholder="Material Code" ng-keyup="searchProduct()"/>
                </div>
                
                <form class="form-inline" ng-show="showOptions">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Select Category &nbsp; &nbsp;</label>
                        <!-- <input type="text" class="form-control"  placeholder="Product Name"/> -->
                        <select  class="form-control" ng-model="searchCategory" ng-options="cat as cat for cat in category" ng-change="populateProductSize()" ng-class="{onselectBox: focused===true, onselectBoxFoucsOut: focused===false}" ng-focus="focused=true" ng-blur="focused=false">
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">&nbsp; &nbsp; Select Size &nbsp; &nbsp;</label>
                        
                        <select  class="form-control" ng-model="searchSize" ng-options="o as o for o in sizeList" ng-change="populateProductList()"  ng-class="{onselectBox: focused1===true, onselectBoxFoucsOut: focused1===false}" ng-focus="focused1=true" ng-blur="focused1=false">
                        </select>  
                        
                        
                    </div> 
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">&nbsp; &nbsp; Play Rating &nbsp; &nbsp;</label>
                        
                        <select  class="form-control" ng-model="plyRating" ng-options="o as o for o in plyList" ng-change="populateProductListPly()" ng-class="{onselectBox: focused2===true, onselectBoxFoucsOut: focused2===false}" ng-focus="focused2=true" ng-blur="focused2=false">
                        </select>  
                        
                        
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">&nbsp; &nbsp; Select Material &nbsp; &nbsp;</label>
                        
                        <select  class="form-control" ng-model="searchMaterial" ng-options="mat.Pattern_Brand__c for mat in materialList" ng-class="{onselectBox: focused3===true, onselectBoxFoucsOut: focused3===false}" ng-focus="focused3=true" ng-blur="focused3=false">
                        </select>  
                        
                        
                    </div>
					
					<div class="form-group">
                        <label for="exampleInputEmail1">&nbsp; &nbsp; Select SKU &nbsp; &nbsp;</label>
                        
                        <select  class="form-control" ng-model="searchMaterial" ng-options="mat.Material_Number__c for mat in materialList" ng-class="{onselectBox: focused4===true, onselectBoxFoucsOut: focused4===false}" ng-focus="focused4=true" ng-blur="focused4=false">
                        </select>  
                        
                        
                    </div>
                    
                    <button class="btn btn-primary btn-sm" ng-click="addProduct()">Add</button>
                    
                </form>
                
                <div ng-if="itemsFound.length > 0">
                    <table class="table table-striped table-hover" >
                        <thead>
                            <tr>
                                <th>Product Number</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Category Description</th>
                                <th>Tyre Size</th>
                                <th>Ply Rating</th>
                                <th>Quantity</th>
                                <th>Add</th>
                                <!-- <th>Clear</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in itemsFound">
                                <td>{{item.Material_Number__c.startsWith("0")?((item.Material_Number__c|number).replace(",","")):item.Material_Number__c}}</td>
                                <td>{{ item.Name }}</td>
                                <td>{{ item.Material_Group__c }}</td>
                                <td>{{ item.Mat_Grp_Desc__c }}</td>
                                <td>{{ item.Tyre_Size__c }}</td>
                                <td>{{ item.Ply_Rating__c }}</td>
                                
                                <td><input type="number" class="form-control" ng-model="addQty" /> </td>
                                <td><button class="btn btn-primary btn-sm" ng-click="addProductList(item,false,addQty)">Add</button></td>
                                <!-- <td><button class="btn btn-primary btn-sm" ng-click="addProductList(item,'true')">Add &amp; Clear</button></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <!-- Main products -->
                <div class="col-lg-12" ng-if="addedItems.length > 0 && !alternate">
                    <table class="table table-striped table-hover" >
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Product Number</th>
                                <!-- <th>Category</th>
                                <th>Category Description</th>
                                <th>Tyre Size</th>
                                <th>Ply Rating</th> -->
                                <th>Quantity</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in addedItems">
                                <td>{{ item.Name }}</td>
                                <td>{{item.Material_Number__c.startsWith("0")?((item.Material_Number__c|number).replace(",","")):item.Material_Number__c}}</td>
                                <!-- <td>{{ item.Material_Group__c }}</td>
                                <td>{{ item.Mat_Grp_Desc__c }}</td>
                                <td>{{ item.Tyre_Size__c }}</td>
                                <td>{{ item.Ply_Rating__c }}</td> -->
                                <td> {{item.Quantity__c}} </td>
                                <td><button class="btn btn-primary btn-sm" ng-click="removeProduct($index)">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary btn-sm" ng-click="goToNextScreen()">Next</button>
                    <button class="btn btn-primary btn-sm" ng-click="">Validate Stock  &amp; Catg Limit</button>
                </div>
                
                <!-- Alternate Products  -->
                <div class="col-lg-12" ng-if="alternateProducts.length > 0 && alternate">
                    <table class="table table-striped table-hover" >
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Product Number</th>
                                <!--<th>Category</th>
                                <th>Category Description</th>
                                <th>Size</th> 
                                <th>Ply Rating</th> -->
                                <th>Orignal Product</th>
                                <th>Quantity</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in alternateProducts">
                                <td>{{ item.Name }}</td>
                                <td>{{item.Material_Number__c.startsWith("000")?((item.Material_Number__c|number).replace(",","")):item.Material_Number__c}}</td>
                                <!--<td>{{ item.Material_Group__c }}</td>
                                <td>{{ item.Mat_Grp_Desc__c }}</td>
                                <td>{{ item.Tyre_Size__c }}</td>
                                <td>{{ item.Ply_Rating__c }}</td> -->
                                <td>{{item.OrignalItem.Name}}</td>
                                <td> <input type="number" class="form-control" ng-model="item.Quantity__c" /> </td>
                                <td><button class="btn btn-primary btn-sm" ng-click="removeProductAlt($index)">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary btn-sm" ng-click="goToNextScreen()">Next</button>
                </div>
                
                
            </div>
        </div>
        
        <div class="panel panel-primary" ng-show="thirdPanel">
            <div class="panel-heading">
                <h3 class="panel-title">Final Order</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-12" ng-if="addedItems.length > 0">
                    <table class="table table-striped table-hover" >
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Product Number</th>
                                <!-- <th>Category</th>
                                <TH>Size</TH>
                                <th>Ply Rating</th> -->
                                <th>Flag</th>
                                <th>Quantity</th>
                                <th>Stock</th>
                                
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in addedItems">
                                <td>{{ item.Name }}</td>
                                <td>{{item.Material_Number__c.startsWith("000")?((item.Material_Number__c|number).replace(",","")):item.Material_Number__c}}</td>
                                <!--<td>{{ item.Mat_Grp_Desc__c }}</td>
                                <td>{{ item.Tyre_Size__c }}</td>
                                <td>{{ item.Ply_Rating__c }}</td> -->
                                <td>{{ item.Flag__c }}</td>
                                
                                <td>{{item.Quantity__c}} </td>
                                <td> <label  class="redColor" ng-if="ite[/[[[[m.Quantity__c > item.Stock && !item.ShowAddAlternte" > {{item.Stock}} </label>
<label ng-if="item.Quantity__c <= item.Stock" > In Stock </label>
                                </td>
                                <td><button class="btn btn-primary btn-sm" ng-click="goBackToPrevious(item,$index)" ng-if="item.Quantity__c > item.Stock && !item.ShowAddAlternte">Add Alternate </button></td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <br/>
                    <div class="form-group">
                        <label for="shipAddress">&nbsp; &nbsp; Ship To Address &nbsp; &nbsp;</label>
                        
                        <select  class="form-control" name="shipAddress" ng-model="shipToAdd" ng-options="ship as ship for ship in ShipToAddress">
                        </select> 
                    </div>  
                    <!-- <a type="button" class="btn btn-primary btn-sm" data-animation="am-fade-and-slide-top" data-template="confimationDialog.html" bs-modal="modal">Submit Order</a>  -->
                    <button class="btn btn-primary btn-sm" ng-click="submitOrderToSap()">Submit Order</button>
                </div>
            </div>
        </div>
        
        <script type="text/ng-template" id="confimationDialog.html">
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" >
                        <button type="button" class="close" ng-click="$hide()">&times;</button>
                        <h4 class="modal-title"  > {{firstTitle}} </h4>
                        </div>
                        <div class="modal-body" >
                            <h4 > {{secondtitle}} </h4>
                            <table class="table table-striped table-hover" ng-if="showtable">
                                <thead>
                                <tr>
                                <th>#</th>
                            <th>Product Name</th>
                            
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in alternateProductsFinal">
                                    <td>{{$index+1}}</td>
                                    <td>{{item}}</td>
                                    
                                    </tr>
                                    </tbody>
                                    </table>
                                    
                                    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" ng-click="$hide()">{{buttonTitle}}</button>
                                        <button type="button" class="btn btn-primary" ng-if="showSaveMEthod" ng-click="callSaveMethod();$hide()">Yes</button>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        
                                        
        }
        </script>
        
       
        <!--  JS Files -->
        <apex:includeScript value="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/js/angular.min.js')}"/>
        
        <apex:includeScript value="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/js/angular-strap.min.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/js/angular-strap.tpl.min.js')}"/>
        <apex:includeScript value="/support/console/22.0/integration.js"/>
        
        <apex:includeScript value="{!URLFOR($Resource.AngularBootPack,'AngularBootStapNew/js/ng-table.min.js')}"/>
        
    </body>
</html>
</apex:page>