<apex:page showHeader="false" 
sidebar="false" 
docType="html-5.0" 
standardStylesheets="false" 
applyBodyTag="false" 
applyHtmlTag="false" 
controller="PAL_ReportController_v2">

<html>
    <head>
    <apex:includeScript value="{!URLFOR($Resource.ExcellentExport,'/excellentexport-1.4/excellentexport.min.js')}"/>
     <link href="{!URLFOR($Resource.BootstrapComplete,'BoostWatchTheams/sandstone/bootstrap.min.css')}" rel="stylesheet" />
            <link href="{!URLFOR($Resource.BootstrapComplete,'BoostWatchTheams/asset/css/bootswatch.min.css')}" rel="stylesheet" /> 
             <link href="{!URLFOR($Resource.DataTables,'DataTables-1.10.4/media/css/jquery.dataTables.min.css')}" rel="stylesheet" />
            <link href="{!URLFOR($Resource.DataTables,'DataTables-1.10.4/extensions/FixedColumns/css/dataTables.fixedColumns.min.css')}" rel="stylesheet" />
            <link href="{!URLFOR($Resource.LoadingAnimation)}" rel="stylesheet" />
        <script>
            var $j = jQuery.noConflict();
            
            var QuaterArray = [];
            var table;
            $j(document).ready(function(){
            $j("#filterPanel").toggle('slow');
           
                
                loadCustomSetting();

                $j("#filtersDe").click(function(){
                    $j("#filterPanel").toggle('slow');
                }); 
                
                $j("#returnBack").click(function(){
                     window.location.href = "https://ceat--sneha.cs5.my.salesforce.com/home/home.jsp";
                  
                });
                

                $j("#showReportButton").click(function(){
                    $j("#dwnButton").show();
                    if($j.fn.dataTable.isDataTable('#example')){
                        table.destroy();
                    }

                    $j("#filterPanel").hide('slow');

                    $j("#tableHeadDynamic").empty();

                    for(var i = 0;i< QuaterArray.length ;i++){

                        console.log(QuaterArray[i].Name + ''+ $j("#selectQuater").val());
                        if( QuaterArray[i].Name == $j("#selectQuater").val() ){
                            $j("#tableHeadDynamic").append('<tr><th>Priority Area</th>'+
                                '<th>Action Planning</th>'+
                                '<th>Name of Dealer/ Fleet/ Distributor</th>'+
                                '<th>SAP code</th>'+
                                '<th>Territory Code</th>'+
                                '<th>1. What actions are to be taken?</th>'+
                                '<th>2. Who is the owner?</th>'+
                                '<th>4. What intervention is required?</th>'+
                                '<th>Action plan <p class="firstSlotFirstMonth">'+QuaterArray[i].Month_1_Slab_1__c+'</p></th>'+
                                '<th>Achievement <p class="firstSlotFirstMonth">'+QuaterArray[i].Month_1_Slab_1__c+'</p></th>'+
                                '<th>Action plan <p class="secondSlotFirstMonth">'+QuaterArray[i].Month_1_Slab_2__c+'</p></th>'+
                                '<th>Achievement <p class="secondSlotFirstMonth">'+QuaterArray[i].Month_1_Slab_2__c+'</p></th>'+
                                '<th>Action plan <p class="firstSlotsecondMonth">'+QuaterArray[i].Month_2_Slab_1__c+'</p></th>'+
                                '<th>Achievement <p class="firstSlotsecondMonth">'+QuaterArray[i].Month_2_Slab_1__c+'</p></th>'+
                                '<th>Action plan <p class="secondSlotsecondMonth">'+QuaterArray[i].Month_2_Slab_2__c+'</p></th>'+
                                '<th>Achievement <p class="secondSlotsecondMonth">'+QuaterArray[i].Month_2_Slab_2__c+'</p></th>'+
                                '<th>Action plan <p class="firstSlotThirdMonth">'+QuaterArray[i].Month_3_Slab_1__c+'</p></th>'+
                                '<th>Achievement <p class="firstSlotThirdMonth">'+QuaterArray[i].Month_3_Slab_1__c+'</p></th>'+
                                '<th>Action plan <p class="secondSlotThirdMonth">'+QuaterArray[i].Month_3_Slab_2__c+'</p></th>'+
                                '<th>Achievement <p class="secondSlotThirdMonth">'+QuaterArray[i].Month_3_Slab_2__c+'</p></th>'+
                                '<th>Base <p>(Average of Quarter of this year in ₹ cr)</p></th>'+
                                '<th>Proposed Monthly Impact over Base (₹ cr/ Month)</th>'+
                                '<th><p class="firstMonth">'+QuaterArray[i].First_Month__c+'</p> Proposed Impact</th>'+
                                '<th><p class="firstMonth">'+QuaterArray[i].First_Month__c+'</p> Accrued Impact</th>'+
                                '<th><p class="secMonth">'+QuaterArray[i].Second_Month__c+'</p> Proposed Impact</th>'+
                                '<th><p class="secMonth">'+QuaterArray[i].Second_Month__c+'</p> Accrued Impact</th>'+
                                '<th><p class="thirdMonth">'+QuaterArray[i].Third_Month__c+'</p> Proposed Impact</th>'+
                                '<th><p class="thirdMonth">'+QuaterArray[i].Third_Month__c+'</p> Accrued Impact Status</th>'+
                                '<th>Status</th></tr>');
                        }
                    }

                    

                    



                   // $j('#example').focus();
                    $j("#filterText").empty();
                    $j("#filterText").text($j("#selectZone").val()+'-'+$j("#selectArea").val()+'-'+$j("#selectQuater").val());
                    $j(".loading").show();
                    PAL_ReportController_v2.getAllPalWrapper($j("#selectZone").val(),$j("#selectArea").val(),$j("#selectQuater").val(),function(response,event){
                        $j(".loading").hide();
                            if(event.status){
                                
                                $j("#tableBodyData").empty();
                                console.log(response);
                                $j.each(response, function( key, rec ) {               
                                    $j("#tableBodyData").append('<tr><td class="headCol">'+checkUndefined(rec.actionPlan.Priority_Area_T__c)+'</td>'+
                                    '<td class="headCol">'+checkUndefined(rec.actionPlan.Action_Planning__c)+'</td>'+
                                    '<td class="headCol">'+checkUndefined(rec.actionPlan.Customer__r.Name)+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.SAP_Code__c)+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.Territory_Code__c)+'</td>'+
                                    //'<td>NA</td>'+
                                    //'<td>'+rec.actionPlan.Start_Date__c+'</td>'+
                                    //'<td>'+rec.actionPlan.When_will_it_be_done__c+'</td>'+
                                    //'<td>'+rec.actionPlan.Commitment_Sheet_Signed__c+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.What_actions_are_to_be_taken__c)+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.CreatedBy.Name)+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.Whose_intervention_is_required__c)+'</td>'+
                                    '<td>'+(rec.fNightly1 == undefined ?'':checkUndefined(rec.fNightly1.Fortnightly_Action_Plan__c))+'</td>'+
                                    
                                            '<td>'+(rec.fNightly1 == undefined ?'':checkUndefined(rec.fNightly1.Achievement__c))+'</td>'+
                                            '<td>'+(rec.fNightly2 == undefined ?'':checkUndefined(rec.fNightly2.Fortnightly_Action_Plan__c))+'</td>'+
                                            '<td>'+(rec.fNightly2 == undefined ?'':checkUndefined(rec.fNightly2.Achievement__c))+'</td>'+
                                            '<td>'+(rec.fNightly3 == undefined ?'':checkUndefined(rec.fNightly3.Fortnightly_Action_Plan__c))+'</td>'+
                                            '<td>'+(rec.fNightly3 == undefined ?'':checkUndefined(rec.fNightly3.Achievement__c))+'</td>'+
                                            '<td>'+(rec.fNightly4 == undefined ?'':checkUndefined(rec.fNightly4.Fortnightly_Action_Plan__c))+'</td>'+
                                            '<td>'+(rec.fNightly4 == undefined ?'':checkUndefined(rec.fNightly4.Achievement__c))+'</td>'+
                                            '<td>'+(rec.fNightly5 == undefined ?'':checkUndefined(rec.fNightly5.Fortnightly_Action_Plan__c))+'</td>'+
                                            '<td>'+(rec.fNightly5 == undefined ?'':checkUndefined(rec.fNightly5.Achievement__c))+'</td>'+
                                            '<td>'+(rec.fNightly6 == undefined ?'':checkUndefined(rec.fNightly6.Fortnightly_Action_Plan__c))+'</td>'+
                                            '<td>'+(rec.fNightly6 == undefined ?'':checkUndefined(rec.fNightly6.Achievement__c))+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.Base__c)+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.Proposed_Month_Impact_over_Base__c)+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.M1_Proposed_Impact__c)+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.M1_Accrued_Impact__c)+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.M2_Proposed_Impact__c)+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.M2_Accrued_Impact__c)+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.M3_Proposed_Impact__c)+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.M3_Accrued_Impact__c)+'</td>'+
                                    '<td>'+checkUndefined(rec.actionPlan.Status__c)+'</td></tr>');
                                });

                            table = $j('#example').DataTable( {
                                scrollY:        "400px",
                                scrollX:        true,
                                scrollCollapse: true,
                                searching:      false,
                                autoWidth:      true,
                                paging:         false
                            } );
                                new $j.fn.dataTable.FixedColumns( table, {
                                    leftColumns: 3
                                } );
                            }else{

                            }
                        console.log(response);
                        console.log(event);
                        //$j("#example").show();
                        
                        
                        
                        
                        
                        
                    },{escape:true});
                });
                 

                
                fetchZoneInformation();
                $j("#selectZone").change(function() {
                    $j(".loading").show();
                    if($j( "#selectZone" ).val() != 'none'){
                        PAL_ReportController_v2.fetchAreaNames($j("#selectZone").val(),function(response,event){
                                    if(event.status){
                                        $j("#selectArea").empty();
                                        $j('#selectArea').append("<option value='none'>--None--</li>");
                                          
                                          $j.each(response, function( key, record ) {               
                                            $j('#selectArea').append("<option value='"+record+"'>"+record+"</li>");
                                          });
                                       
                                      $j('#selectArea').removeAttr("disabled");
                                      $j(".loading").hide();   
                                      
                                    }else{
                                    
                                    }
                              
                        },{escape:true});
                    }else{
                        $j('#selectArea').attr("disabled","disabled");
                    }
                });

                $j("#selectArea").change(function() {
                    if($j( "#selectArea" ).val() != 'none'){
                        $j('#selectQuater').removeAttr("disabled");
                    }else{
                        $j('#selectQuater').attr("disabled","disabled");
                    }
                });
                

            });
            
            

         fetchZoneInformation = function(){
                $j(".loading").show(); 
                
                  PAL_ReportController_v2.fetchZoneName(function(response,event){
                                if(event.status){
                                    $j("#selectZone").empty();
                                    $j('#selectZone').append("<option value='none'>--None--</li>");
                                      
                                      $j.each(response, function( key, record ) {               
                                        $j('#selectZone').append("<option value='"+record+"'>"+record+"</li>");
                                      });
                                   
                                  //$j('#selectZone').removeAttr("disabled");
                                  $j(".loading").hide();   
                                  
                                }else{
                                
                                }
                          
                },{escape:true});
            } 

            checkUndefined = function(k){
                return (k == undefined || k == null ? '':k);
            }

            loadCustomSetting = function(){
                PAL_ReportController_v2.fetchCustomSettingForQuater(function(response,event){
                    if(event.status){
                        QuaterArray = [];

                        $j.each(response,function(key,rec){
                            QuaterArray.push(rec);
                        });
                    }
                },{escape:true});
            }

        </script>
       
        <style>
        body{
            font-size: 13px;
            font-family: "Calibri (Body)";
            padding-top:0px !important;
        }

        td{
            vertical-align: top;
        }
        .panel{
            margin-bottom: 0px;
        }

        .panel-heading{
            background-color: #0055aa !important;
            border-color: #0055aa !important;
        }
        .panel-primary{
            border-color: #0055aa !important;
        }

        .breadcrumb{
            background-color: #f5822d !important;
            border: 1px solid #f5822d !important;
        }
        .breadcrumb a{
            color: #fff;
        }
        .form-control{
            height: 34px !important;
            padding: 0px !important;
        }
        .scrollClass{
            padding-left: 5px;
            width: 72%; 
            overflow-x:scroll;  
            overflow-y:visible;
        }

        .headRow{ 
            position:absolute; 
            width:5em; 
            left:0;
            top:auto;
            border-right: 0px none black;
        }

        .fixedDiv{
            width: 25%;
            float: left;
        }

        .headCol{
            background-color: #f5822d !important;
            color: #fff !important;
        }

      

    </style>
    <style type="text/css" class="init">

    /* Ensure that the demo table scrolls */
    
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }

    </style>
      
    </head>
    
    <body>
    <div class="loading" style="display:none;">Loading&#8230;</div>
    
    <div class="panel panel-primary">
      <div class="panel-heading" style="height:40px;">
        <h3 class="panel-title pull-left" ><label id="returnBack"><u> BACK </u></label></h3>
        <h3 class="panel-title pull-right"><label id="filtersDe"><u> FILTERS:- </u></label><label id="filterText"></label></h3>
      </div>
      <div class="panel-body">
        <div class="panel panel-default" id="filterPanel" style="display:none;">
          <div class="panel-body">
                
                  <label for="select" class="col-sm-2 control-label">ZONE</label>
                  <div class="col-sm-2">
                    <select class="form-control" id="selectZone">
                    
                    </select>
                    
                  </div>
                
                
                  <label for="select" class="col-sm-2 control-label">AREA</label>
                  <div class="col-sm-2">
                    <select class="form-control" id="selectArea" disabled="disabled">
                      
                    </select>
                    
                  </div>
                  <label for="select" class="col-sm-2 control-label">Quater</label>
                  <div class="col-sm-2">
                    <select class="form-control" id="selectQuater" disabled="disabled">
                      <option value="Q1">Q1</option>
                      <option value="Q2">Q2</option>
                      <option value="Q3">Q3</option>
                      <option value="Q4">Q4</option>
                    </select>
                    
                  </div>
                <div class="col-sm-12">
                    <a href="#" class="btn btn-primary btn-sm pull-left" id="showReportButton">Show Report</a>
                </div>
          </div>
        </div>

      
      </div>
    </div>
  
<br/>
    <div><a class="btn btn-primary" id="dwnButton" style="color:white;background: #0000CC;float:right;margin-right:10px;display:none" download="Pal_Report.xls" href="#" onclick="return ExcellentExport.excel(this, 'headerDiv', 'PAL Report');">Download as Excel</a>  </div>
    <div id="headerDiv" >
     <table id="example" class="stripe row-border order-column" cellspacing="0" width="100%" >
              
                <thead id="tableHeadDynamic">
                     
                </thead>

                <tbody id="tableBodyData">
                  
                </tbody>
                
            </table>
    </div>
            <!--
    JS Files
    -->
    <apex:includeScript value="{!URLFOR($Resource.JQuery, '/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js')}"  />
   <!-- 
    <apex:includeScript value="{!URLFOR($Resource.BootstrapComplete,'BoostWatchTheams/asset/js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.BootstrapComplete,'BoostWatchTheams/asset/js/bootswatch.js')}"/>
    -->
    <apex:includeScript value="{!URLFOR($Resource.DataTables,'DataTables-1.10.4/media/js/jquery.dataTables.min.js')}"/>
     <apex:includeScript value="{!URLFOR($Resource.DataTables,'DataTables-1.10.4/extensions/FixedColumns/js/dataTables.fixedColumns.min.js')}"/>
    </body>
</html>

</apex:page>