<apex:page sidebar="false" id="myPage" standardStylesheets="false" showHeader="false" applyBodyTag="false" applyHtmlTag="false" controller="PJP_TLDClass">
    <apex:form id="myForm">    
    <link href="{!URLFOR($Resource.BootstrapComplete,'BoostWatchTheams/sandstone/bootstrap.min.css')}" rel="stylesheet" />
    <link href="{!URLFOR($Resource.BootstrapComplete,'BoostWatchTheams/asset/css/bootswatch.min.css')}" rel="stylesheet" /> 

    <apex:includeScript value="{!URLFOR($Resource.JqueryKishlay,'/jquery-ui-1.11.1.custom/external/jquery/jquery.js')}"/> 
    <apex:includeScript value="{!URLFOR($Resource.Bootstrap, '/bootstrap-3.2.0-dist/js/bootstrap.js')}"/>  
    <apex:includeScript value="{!URLFOR($Resource.Bootbox, '/makeusabrew-bootbox-4de42da/bootbox.js')}"/>   
    <apex:stylesheet value="{!$Resource.Loader}"/> 
    <!-- alertify -->
    <apex:stylesheet value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/themes/alertify.core.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/themes/alertify.bootstrap.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/lib/alertify.min.js')}"/>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta charset="utf-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <script src="https://code.jquery.com/jquery.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/stupidtable/0.0.1/stupidtable.min.js"></script>
        </head>    
    <style>

        body {
            padding-top: 0px;
        }

        .weekends
        {
            background-color:#BDBDBD !important;
            //color:#FFF;
        }
        
        .publicHoliday {
            background-color:#BDBDBD !important;//#F47B22;//#F3F781;
            //color:#FFF !important;
        }
        
        .disableDay
        {
            background-color:#d9534f !important;
            color:#FFF !important;
        }
        
        .waitingSearchDiv {
            position: absolute;
            text-align: center;
            top: 0;
            z-index: 100;
            left: 0;
            height: 100%;
        }
        
        .waitingSearchDiv .waitingHolder, .waitingSearchDiv .waitingSearchHolder {
            border: none;
            background-color: transparent;
            font-size: 1em;
            font-weight: normal;
            height: 100%;
            padding: 0;
        }
        
        .waitingSearchDiv .waitingHolder {
            font-weight: bold;
            font-size: 1.20em;
            position: relative;
            padding: .5em;
            white-space: nowrap;
            margin: auto;
            width: 40%;
            height: 100%;
            top: 45%;
        }
        
        .TargetEQPlanned {
        color: #6b9430;//00FF00;
        }
        
        .TargetNEQPlanned {
         color: #d9534f;
        }  

        .TargetEQPlannedBack {
        background-color: #6b9430;//00FF00;
        }
        
        .TargetNEQPlannedBack {
        background-color: #d9534f;
        }       
        
        div#pop-up {
            display: none;
            position: absolute;
            width: 250px;
            padding: 10px;
            background: rgba(217, 237, 247, 0.8);
            color: #000000;
            border: 1px solid #A4C4CA;
            font-size: 90%;
            border-radius:5px;
        }
        
        .onHover {
            background-color : #e3f3ff
        }
        
        .sticky {  }

        .fixed {
            position: fixed;
            //top:0; 
            left:0;
            width: 100%; 
        }
        
        .colorYellow {
            background-color : orange;
        }

        .navbar-inverse{
            background-color: #213F99 !important;
            border-color: #213F99 !important;//0055aa
        }
        .navbar-inverse .navbar-nav>li>a{
            color: #fff !important;
        }
        .panel-heading{
            background-color: #213F99 !important;
            border-color: #213F99 !important;
        }
        .panel-primary{
            border-color: #213F99 !important;
        }
        .nav{
            padding-left: 33% !important;
        }

        .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
            background-color: #f5822d;
        }

        .navbar .nav>li>a {
            text-transform: none;
        }
        
        .backgroundBlue {
            background-color: #213F99 !important;
        }

        .bootbox-close-button {
            display: none;
        }
    </style>
    <body>
    <script type="text/javascript">
    $j = jQuery.noConflict();
    
    var widthDlrName;
    var widthTarget;
    var widthPlanned;
    var widthDays = [];
    var monthlyTargetWidth;
    
    var totalDealer;            
    var noOfDays;
    var holidays = [];

    var accountArray = 'DSE-Beat'.split(',');
    for(var i=0; i<accountArray.length; i++) {
        accountArray[i] = accountArray[i].replace(/\s+/g, "_");     
    }

    var tableBodyArray = [];
    var tableHeadArray = [];
    var accountDetails = [];
    var headerTopArray = [];    
    var noOfRecordsPerType = [];
    
    var tdDaysTop;    
	var padBorder =0;	    
    var startScroll = 0;

    var pjpDetails = {};
    var salesforceUrl = '{!salesforceBaseUrl}';

    // Used for header fixing and setting the width after fixing the header
    $j(window).scroll(function(){ 
		padBorder= $j('#thDays').css('padding-left');
        padBorder=padBorder.replace('px','');
        padBorder=parseInt(padBorder);
        padBorder=(padBorder*2)+2;	
        var sticky = $j('.sticky'),
        scroll = $j(window).scrollTop(); 
        var b = true;
                
        if(scroll >= tdDaysTop) {            
            $j('#headDays').addClass('fixed');
            $j('#headDays').css("top", 0);

            $j('#thDays').css("width", (widthDlrName+18)+'px');
            
            for(var i=1; i<=noOfDays; i++) {
                $j('#thDay'+i).css("width", (widthDays[i-1]+18)+'px');                             
            }
                            
            $j('#thDay32').css("width", (widthTarget+18)+'px');
            $j('#thDay33').css("width", (widthPlanned+18)+'px');
			
			$j('#headTotalDailyPlanned').addClass('fixed');
            $j('#headTotalDailyPlanned').css("top", $j('#headDays').height() - 1);
            $j('#thTotalDailyPlan').css("width", (widthDlrName+padBorder)+'px');            
            for(var i=1; i<=noOfDays; i++) {
                $j('#thTotalDailyPlan'+i).css("width", (widthDays[i-1]+padBorder)+'px');                             
            }                            
            $j('#thTotalDailyPlan32').css("width", (widthTarget+padBorder)+'px');
            $j('#thTotalDailyPlan33').css("width", (widthPlanned+padBorder)+'px');            
        } else {
            $j('#headDays').removeClass('fixed');
			$j('#headTotalDailyPlanned').removeClass('fixed');
        }
        
        for(var j=accountArray.length-1; j>=0; j--) {
            var cellWidth = $j('#headDays').height();
            var cellWidthFactor = ((j == 0 ? 0 : 3)+2)*cellWidth*2;

            if((scroll >= headerTopArray[accountArray[j]] - cellWidthFactor) && b) {
                $j('#head'+accountArray[j]+'Name').addClass('fixed');           
                $j('#head'+accountArray[j]+'Name').css("top", ($j('#headTotalDailyPlanned').height() + $j('#headTotalDailyPlanned').position().top - 1)+'px');                    
                b = false;                                            
            } else {                    
                $j('#head'+accountArray[j]+'Name').removeClass('fixed');                
            }
            
            $j('#th'+accountArray[j]+'Name').css("width", (widthDlrName+18)+'px');
            $j('#td'+accountArray[j]+'Name1').css("width", (widthDlrName+18)+'px');
            
            for(var i=1; i<=noOfDays; i++) {                    
                $j('#th'+accountArray[j]+'Name'+i).css("width", (widthDays[i-1]+18)+'px');  
                $j('#1tdCheck'+accountArray[j]+i).css("width", (widthDays[i-1]+18)+'px');
            }
            
            $j('#th'+accountArray[j]+'MonTar').css("width", (widthTarget+18)+'px');
            $j('#tdTarget'+accountArray[j]+'1').css("width", (widthTarget+18)+'px');
            
            $j('#th'+accountArray[j]+'MonPlan').css("width", (widthPlanned+18)+'px');
            $j('#tdPlanned'+accountArray[j]+'1').css("width", (widthPlanned+18)+'px');
        }               
    });       

    window.onload = function() {    
        $j("#el_loading").show();
        $j('div#pop-up').hide(); 

        for(var i=0; i<accountArray.length; i++) {
            noOfRecordsPerType[accountArray[i]] = 0;
        }      

        fetchPjpDetails();        
    }
        
    //Used to highlight the row when cursor is focused
    function trMouseOver(got) {
        $j(got).addClass('onHover');
    }
    
    //Used to unhighlight the highlighted row when cursor is unfocused
    function trMouseOut(got) {
        $j(got).removeClass('onHover');
    }

    //Used to highlight the column when cursor is focused
    function tdMouseOver(got) {        
        var gotId = $j(got).attr('id');        
        var n = gotId.split('tdCheck');
        
        for(var j=0; j<accountArray.length; j++){
            var m = n[1].split(accountArray[j]);                    
            if(m.length == 2 && !isNaN(parseInt(m[1]))) {               
                for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {
                    for(var k=1; k<=noOfDays; k++) {                                        
                        if(k == parseInt(m[1])) {                                                       
                            $j('#'+i+'tdCheck'+accountArray[j]+k).addClass('onHover');
                        }
                    }
                }
                break;  
            }        
        }        
    }
    
    //Used to unhighlight the highlighted column when cursor is unfocused
    function tdMouseOut(got) {
        var gotId = $j(got).attr('id');        
        var n = gotId.split('tdCheck');
        
        for(var j=0; j<accountArray.length; j++){
            var m = n[1].split(accountArray[j]);                    
            if(m.length == 2 && !isNaN(parseInt(m[1]))) {               
                for(var i=1; i<=noOfRecordsPerType[accountArray[j]];i++) {
                    for(var k=1; k<=noOfDays; k++) {                
                        if(k == parseInt(m[1])) {                    
                            $j('#'+i+'tdCheck'+accountArray[j]+k).removeClass('onHover');
                        }
                    }
                }
                break;
            }
        }        
    }    
     
    //Calculates the Plan for OE Days, Mor and Company Activities
    function calPlanned(gotId) {                         
        var bool = $j('#'+gotId).is(':checked');
        var parentId = $j('#'+gotId).parent().attr("id");
        var n = 0;
        var num = 0;
        var dayType = gotId.split('Check')[0];

        if(!isNaN(parseInt(parentId.substr(parentId.length - 2, parentId.length)))) {
            n = 2;  
            num = parseInt(parentId.substr(parentId.length - 2, parentId.length));
        } else {
            n = 1;
            num = parseInt(parentId.substr(parentId.length - 1, parentId.length));
        }        
        
        for(var j=0; j<accountArray.length; j++){
            for(var i=1; i<=noOfRecordsPerType[accountArray[j]];i++) {
                if($j("#"+i+"check"+accountArray[j]+num).is(':checked')){
                    var str = '';
                    if(dayType == 'oe')
                        str = 'OE Day';
                    else if(dayType == 'mor')
                        str = 'MOR';
                    else if(dayType == 'compAct')
                        str = 'Company Activity';

                    $j('#'+gotId).prop( "checked", false );
                    alertify.alert("This day can not be selected as "+str+" as you have already planned visits for the day.");                
                    return 0;                   
                }   
            }
        }
              
        var plannedId = parentId.substr(0, parentId.length - n);        
        var planVal = $j("#"+plannedId+"33").html();
        
        if(planVal == '') {
            planVal = 0;
        } else {
            planVal = parseInt(planVal);
        }
          
        if(bool) {            
            planVal++;            
        } else {
            planVal--;        
        }
        
        $j("#"+plannedId+"33").html(planVal);
        
        colorPlanned($j("#"+plannedId+"32").html() >= $j("#"+plannedId+"33").html(), $j("#"+plannedId+"33"));
        
        if(bool) {        
            for(var j=0; j<accountArray.length; j++){               
                for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {
                    $j("#"+i+"check"+accountArray[j]+num).attr("disabled", true);
                    $j("#"+i+"tdCheck"+accountArray[j]+num).addClass('disableDay');             
                }
            }
                    
            if(pjpDetails.isMOR == true) {
                $j("#morCheck"+num).attr("disabled", true);
                $j("#tdMor"+num).addClass('disableDay');
            } 
            if(pjpDetails.isOE == true) {
                $j("#oeCheck"+num).attr("disabled", true);
                $j("#tdOeDay"+num).addClass('disableDay');
            } 
            if(pjpDetails.isCompAct == true) {
                $j("#compActCheck"+num).attr("disabled", true);
                $j("#tdCompAct"+num).addClass('disableDay');
            }    
        } else {
            for(var j=0; j<accountArray.length; j++){
                for(var i=1; i<=noOfRecordsPerType[accountArray[j]];i++) {
                    $j("#"+i+"check"+accountArray[j]+num).removeAttr("disabled");
                    $j("#"+i+"tdCheck"+accountArray[j]+num).removeClass('disableDay');
                }               
            }
            
            if(pjpDetails.isMOR == true) {
                $j("#morCheck"+num).removeAttr("disabled");
                $j("#tdMor"+num).removeClass('disableDay');
            } 
            if(pjpDetails.isOE == true) {
                $j("#oeCheck"+num).removeAttr("disabled");
                $j("#tdOeDay"+num).removeClass('disableDay');
            } 
            if(pjpDetails.isCompAct == true) {
                $j("#compActCheck"+num).removeAttr("disabled");
                $j("#tdCompAct"+num).removeClass('disableDay');
            }    
        }
        
        $j("#"+gotId).removeAttr("disabled");  
        calculateCounters();                     
    }
    
    //Calculates the no of visits planned for a Dealer in a month
    function onclickchecked(x) {
        var plannedId;        
        if(x.charAt(1) == 'c') {      //1check
            plannedId = x.charAt(0).toString();
        }  else if(x.charAt(1) != 'c' && x.charAt(2) == 'c') { //99check
            plannedId = x.charAt(0).toString()+x.charAt(1).toString();
        } else if(x.charAt(2) != 'h' && x.charAt(1) != 'c' && x.charAt(3) == 'c') { //100check
            plannedId = x.charAt(0).toString()+x.charAt(1).toString()+x.charAt(2).toString();
        } 

        var acc = '';

        for(var j=0; j<accountArray.length; j++) {             
            if(x.search(accountArray[j]) != -1) {
                acc = accountArray[j];
            }
        }

        var planVal = $j("#"+plannedId+acc+"planned").html();
        var calcVal;

        if(document.getElementById(x).checked) { // Chekcing the checkbox value.
            $j("#"+plannedId+acc+"planned").html(parseInt(planVal)+1);
            calcVal = parseInt(planVal)+1;
        } else {
            $j("#"+plannedId+acc+"planned").html(parseInt(planVal)-1);
            calcVal = parseInt(planVal)-1;
        }
        
        var targetVal = $j("#"+plannedId+acc+"Target").html();
                
        colorPlanned(targetVal <= calcVal, $j("#"+plannedId+acc+"planned"));       
        calculateMonthly();
        calculateCounters();       
        calTotalDailyPlanned();    
    } 
    
    //Calculates the no of visits planned in a day
    function calculatePlanned(gotId) {
        var bool = $j('#'+gotId).is(':checked');
        var day = gotId.charAt(gotId.length - 2);                
        if (!isNaN(day)) {
            day = Number(day) * 10 + Number(gotId.charAt(gotId.length-1));
        }
        else {
            day = Number(gotId.charAt(gotId.length-1));
        }

        var n = gotId.split('check');
        var m = n[1].split(day);
                
        for(var i=1; i<=noOfRecordsPerType[m[0]]; i++) {                            
            $j('#'+i+'check'+m[0]+day).addClass('onHover');                     
        }

        var dayTarget = document.getElementById('th'+m[0]+'DailyTar'+day);//thDealerDailyPlan1
        var dayPlan = document.getElementById('th'+m[0]+'DailyPlan'+day);
        
        if(bool == true) {
            dayPlan.innerHTML = Number(dayPlan.innerHTML) + 1;                
        }                    
        else {
            dayPlan.innerHTML = Number(dayPlan.innerHTML) - 1;
        }  

        colorPlanned(parseInt(dayTarget.innerHTML) <= parseInt(dayPlan.innerHTML), dayPlan);
        
        calculateMonthly();
    } 
        
    //Calculates the no of visits planned for the month
    function calculateMonthly() {
        var t = 0;
        var p = 0;
        for(var j=0; j<accountArray.length; j++) { 
            for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) { 
                if($j('#'+i+accountArray[j]+'Target').text() != '' && $j('#'+i+accountArray[j]+'Target').text() != undefined) {
                	t += parseInt($j('#'+i+accountArray[j]+'Target').text());
                }
                if($j('#'+i+accountArray[j]+'planned').text() != '' && $j('#'+i+accountArray[j]+'planned').text() != undefined) {
                	p += parseInt($j('#'+i+accountArray[j]+'planned').text());   
                }
            }                     
        }
        
        if(t!=0)
        	$j('#thDSE-BeatMonTar').html('Target (<span style="color:#213F99">'+t+'</span>)');
        else
            $j('#thDSE-BeatMonTar').html('Target');
        
        $j('#thDSE-BeatMonPlan').html('Planned (<span id="aggPlan">'+p+'</span>)');
                
        colorPlanned(t <= p, $j('#aggPlan'));        
    }            
    
    function accountInfo(i, n, to, distributorName, dseName) {
        this.id = i;
        this.name = n;                
		this.town = to;
		this.distributorName = distributorName;
		this.dseName = dseName;
    }           
    
    //Used to show the account details on mouse hover
    function accountMouseOver(got,th) {
        var moveLeft = 10;
        var moveDown = 10;        
        $j('div#pop-up').show();        
        $j('div#pop-up').css('top', got.pageY + moveDown);
        $j('div#pop-up').css('left', got.pageX + moveLeft);                        
        
        var x = $j(th).find('input').val();
        for(var i=0; i<accountDetails.length; i++) {
            if(accountDetails[i].id == x) {				
                $j('div#pop-up').html('<b>DSE-Beat: </b>'+accountDetails[i].name+' <br /><b>Distributor Name: </b>'+accountDetails[i].distributorName+' <br /><b>DSE Name: </b>'+accountDetails[i].dseName);            
            }
        }       
    }
    
    function accountMouseOut(got) {
        $j('div#pop-up').hide();                
    }            

    function getHeaderTop() {       
        tdDaysTop = $j('#headDays').position().top;
        for(var j=0; j<accountArray.length; j++) {
            if(tableBodyArray[accountArray[j]] != undefined) {
                headerTopArray[accountArray[j]] = $j("#th"+accountArray[j]+"Name1").position().top;                 
            }           
        }
    }

    function calculateCounters() {                
        var noOfPlanOe = parseInt($j('#tdOeDay33').html());
        var noOfPlanMor = parseInt($j('#tdMor33').html());
        var noOfPlanCompAct = parseInt($j('#tdCompAct33').html());
        var noOfOffs = holidays.length;
        var dayTar = 0;
        var noOfChecked = 0;
        
        for(var j=0; j<accountArray.length; j++){
            for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {
                for(var k=1; k<=noOfDays; k++) {
                    if($j('#'+i+'check'+accountArray[j]+k).is(':checked')) {
                        noOfChecked++;
                    }
                }   
            }                      
        }
        
        var noOfVisits = noOfRecordsPerType[accountArray[0]] * parseInt(pjpDetails.dseBeatTarget);
        if(pjpDetails.isOE == true) {
            $j('#noOeTarDown').html( $j('#tdOeDay32').html());
            $j('#noOePlanDown').html( $j('#tdOeDay33').html());
            colorBackPlanned(parseInt($j('#noOeTarDown').html()) >= parseInt($j('#noOePlanDown').html()), $j('#noOePlanDown'));
            
            $j('#noOeTarUp').html( $j('#noOeTarDown').html());
            $j('#noOePlanUp').html( $j('#noOePlanDown').html());
            colorBackPlanned(parseInt($j('#noOeTarUp').html()) >= parseInt($j('#noOePlanUp').html()), $j('#noOePlanUp'));
        }
        
        if(pjpDetails.isMOR == true) {
            $j('#noMorTarDown').html( $j('#tdMor32').html());
            $j('#noMorPlanDown').html( $j('#tdMor33').html());
            colorBackPlanned(parseInt($j('#noMorTarDown').html()) >= parseInt($j('#noMorPlanDown').html()), $j('#noMorPlanDown'));
            
            $j('#noMorTarUp').html( $j('#noMorTarDown').html());
            $j('#noMorPlanUp').html( $j('#noMorPlanDown').html());
            colorBackPlanned(parseInt($j('#noMorTarUp').html()) >= parseInt($j('#noMorPlanUp').html()), $j('#noMorPlanUp'));
        }
        
        if(pjpDetails.isCompAct == true) {
            $j('#noCompActTarDown').html( $j('#tdCompAct32').html());
            $j('#noCompActPlanDown').html( $j('#tdCompAct33').html());
            colorBackPlanned(parseInt($j('#noCompActTarDown').html()) >= parseInt($j('#noCompActPlanDown').html()), $j('#noCompActPlanDown'));
            
            $j('#noCompActTarUp').html( $j('#noCompActTarDown').html());
            $j('#noCompActPlanUp').html( $j('#noCompActPlanDown').html());
            colorBackPlanned(parseInt($j('#noCompActTarUp').html()) >= parseInt($j('#noCompActPlanUp').html()), $j('#noCompActPlanUp'));
        }
        
        $j('#noVisitsTarDown').html(noOfVisits);
        $j('#noVisitsPlanDown').html(noOfChecked);
        colorBackPlanned(true, $j('#noVisitsPlanDown'));
        //colorBackPlanned(parseInt($j('#noVisitsTarDown').html()) <= parseInt($j('#noVisitsPlanDown').html()), $j('#noVisitsPlanDown'));
        
        $j('#noVisitsTarUp').html(noOfVisits);
        $j('#noVisitsPlanUp').html(noOfChecked);
        colorBackPlanned(true, $j('#noVisitsPlanUp'));
        //colorBackPlanned(parseInt($j('#noVisitsPlanUp').html()) >= parseInt($j('#noVisitsTarUp').html()), $j('#noVisitsPlanUp'));
    }

    function colorBackPlanned(bool, gotEle) {
        if(bool) {
            $j(gotEle).addClass('TargetEQPlannedBack');
            $j(gotEle).removeClass('TargetNEQPlannedBack');
        }
        else {
            $j(gotEle).addClass('TargetNEQPlannedBack');
            $j(gotEle).removeClass('TargetEQPlannedBack');
        }
    }

    function calculateReferencedWidth() {
        widthDlrName = $j("#thDays").width();
        widthTarget = $j("#thDay32").width();
        widthPlanned = $j("#thDay33").width();                    

        for(var i=1; i<=noOfDays; i++) {                        
            widthDays.push($j('#thDay'+i).width());
        }
    }
        
    function hideTargetColumn() {
        $j('#thDay32').hide();
		$j('#thTotalDailyPlan32').hide();        
        $j('#thDSE-BeatMonTar').hide();
        
        if(pjpDetails.isOE == true) {
        	$j('#tdOeDay32').hide();
        }
        if(pjpDetails.isMOR == true) {
        	$j('#tdMor32').hide();
        }
        if(pjpDetails.isCompAct == true) {
        	$j('#tdCompAct32').hide();
        }        
        
        for(var j=0; j<accountArray.length; j++){
            for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {
        		$j('#tdTargetDSE-Beat'+i).hide();    
            }
        }
    }
    
    function getUrlParameter(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) 
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) 
            {
                return sParameterName[1];
            }
        }
        return null;
    }

    function fetchPjpDetails() {
        $j("#el_loading").show();

        PJP_TLDClass.getWriteAccess(getUrlParameter('month'), getUrlParameter('year'), getUrlParameter('owner'), function(result, event){                
            if(event.type == 'exception') {
                alertify.alert('PJP Norms or Access Control Window is not set. Please contact Administrator for the same.');                    
                $j("#el_loading").hide();
            } else {                                
                if(result != null){
                    pjpDetails = result;

                    $j('#labelHeader').html('PJP for '+pjpDetails.monthString+' '+pjpDetails.yearInt);
                    if(pjpDetails.pjpId == undefined)
                        $j("#linkImgCeat").attr("href", salesforceUrl+"/");
                    else
                        $j("#linkImgCeat").attr("href", salesforceUrl+"/"+pjpDetails.pjpId);
                    $j("#textComments").val(pjpDetails.pjpComments);

                    fetchDetails();
                } else {
                    alertify.alert('Something went wrong. Please contact Administrator for the same.');
                    $j("#el_loading").hide();   
                }            
            }                
        });
    }

    // On click of View Details, get the accounts and other details under logged in TL 
    function fetchDetails() {                                            
        $j("#el_loading").show();
        $j("#visitDetailDiv").show();        
        $j('#imgCeat').css('margin-top','-20px');                
        
        var tabBody = $j("#tableBody");
        var tabHead = $j("#tableHead");                
        var tabDays = $j("#headDays");
		var tabTotPlan = $j("#headTotalDailyPlanned");

        Visualforce.remoting.timeout = 120000;
        Visualforce.remoting.Manager.invokeAction(            
            '{!$RemoteAction.PJP_TLDClass.getRelatedDseBeats}',    
            pjpDetails.yearInt.toString(), pjpDetails.monthInt, pjpDetails.monthString, pjpDetails.ownerId,
            function(result,event) {
                if(result.length > 0){                   
                    if(event.status) {               
                        $j("#tableBody").empty();
                        
                        var tabTableHeader = document.getElementById('tableHead');

                        for(var i=3; i<tabTableHeader.children.length; i++) {                            
                            tabTableHeader.removeChild(tabTableHeader.children[i]);   
                            i--;                                             
                        }
                      
                        $j("#headDays").empty();
						$j("#headTotalDailyPlanned").empty();                        
                
                        totalDealer = result.length;
                        noOfDays = new Date(pjpDetails.yearInt, pjpDetails.monthInt, 0).getDate();                        
                        
                        for(var rs = 0; rs < result.length; rs++){                                                   
                            if(result[rs]['typeOfDay'] == 'Visit Day') 
                            {
								if(result[rs].dseBeatId == undefined) result[rs].dseBeatId = '';
								if(result[rs].dseBeatName == undefined) result[rs].dseBeatName = '';
								if(result[rs].accountTown == undefined) result[rs].accountTown = '';
								if(result[rs].distributorName == undefined) result[rs].distributorName = '';
								if(result[rs].dseName == undefined) result[rs].dseName = '';
								
                                accountDetails.push(new accountInfo(result[rs].dseBeatId, result[rs].dseBeatName, result[rs].accountTown, result[rs].distributorName, result[rs].dseName));
                            }

                            if(rs == 0) {                                
                                holidays = [];
                                
                                for(var i=0; i< noOfDays; i++) {
                                    if(result[0].dayMon[i].typeCol == "Holiday" || result[0].dayMon[i].typeCol == "PublicHoliday") {
                                        holidays.push(i+1);
                                    }
                                }  
                                                                
                                var oeDays = "<tr><td style='background:#f2f3f3;' id='thOeDays'><b>OE Days</b></td>";
                                var mor = "<tr><td style='background:#f2f3f3;' id='thMor'><b>MOR</b></td>";
                                var compAct = "<tr><td style='background:#f2f3f3;' id='thCompAct'><b>Company Activities</b></td>";
                                var days = "<th style='background:#f2f3f3;' id='thDays'><b>Days</b></th>";        
								var totPlan = "<th style='background:#f2f3f3;' id='thTotalDailyPlan'><b>Total Planned</b></th>";								
                                
                                for(var i=1; i<=noOfDays; i++) {                                                                                                            
                                    var isHoliday = 0;
                                    for(var j=0; j<holidays.length; j++) {
                                        if(i == holidays[j]) {
                                            isHoliday = 1;
                                            break;
                                        }
                                    }

                                    var tdClass = '';
                                    
                                    if(isHoliday == 1) {                                                                                
                                        if(result[rs].dayMon[i-1].typeCol == "Holiday") {
                                            tdClass = 'weekends'
                                        } else if(result[rs].dayMon[i-1].typeCol == "PublicHoliday") {                                       
                                            tdClass = 'publicHoliday'
                                        }
                                    }
                                      
                                    days += '<th style="background:#f2f3f3;" class="'+tdClass+'" id="thDay'+i+'"><b>'+result[0]['day'+i]+'</b></th>';   
									totPlan += '<th style="background:#f2f3f3; font-weight:lighter;" class="" id="thTotalDailyPlan'+i+'"></th>';//'+tdClass+'
                                    oeDays += "<td id='tdOeDay"+i+"' class='"+tdClass+"'><input type='checkbox' id='oeCheck"+i+"' onclick='calPlanned(this.id);'/></td>";
                                    mor += "<td id='tdMor"+i+"' class='"+tdClass+"'><input type='checkbox' id='morCheck"+i+"' onclick='calPlanned(this.id);'/></td>";
                                    compAct += "<td id='tdCompAct"+i+"' class='"+tdClass+"'><input type='checkbox' id='compActCheck"+i+"' onclick='calPlanned(this.id);'/></td>"; 
                                }                                                               
                                
                                days +="<td style='font-weight:bold; background:#f2f3f3;' id='thDay32'></td><td style='font-weight:bold; background:#f2f3f3;' id='thDay33'></td>";
                                totPlan +="<td style='font-weight:bold; background:#f2f3f3;' id='thTotalDailyPlan32'></td><td style='font-weight:bold; background:#f2f3f3;' id='thTotalDailyPlan33'></td>"; 
								oeDays += "<td style='background:#f2f3f3; color:#213F99' id='tdOeDay32'>"+pjpDetails.oeDays+"</td><td style='background:#f2f3f3;' id='tdOeDay33'>0</td></tr>";
                                mor += "<td style='background:#f2f3f3; color:#213F99' id='tdMor32'>"+pjpDetails.morDays+"</td><td style='background:#f2f3f3;' id='tdMor33'>0</td></tr>";
                                compAct += "<td style='background:#f2f3f3; color:#213F99' id='tdCompAct32'>"+pjpDetails.compActDays+"</td><td style='background:#f2f3f3;' id='tdCompAct33'>0</td></tr>";
								
                                if(pjpDetails.isOE == false) oeDays = '';
                                if(pjpDetails.isMOR == false) mor = '';
                                if(pjpDetails.isCompAct == false) compAct = '';

                                tableHeader = oeDays+mor+compAct;                                
                                tabDays.append(days);
								tabTotPlan.append(totPlan);								
                                tabHead.append(tableHeader);   

                                for(var j=0; j<accountArray.length; j++) { 
                                    var accHead = tableHeadArray[accountArray[j]];
                                    if(accHead == undefined) accHead = '';
                                    
                                    var accType = '<tr rowspan="2" style="background:#f2f3f3;" class="sticky" id="head'+accountArray[j]+'Name"><th id="th'+accountArray[j]+'Name"><b>'+accountArray[j].replace(/_/g," ")+'</b></th>';
                                                                        
                                    for(var i=1; i<=noOfDays+2; i++) {                                                                              
                                        if(i<=noOfDays) {                                           
                                            accType += '<th id="th'+accountArray[j]+'Name'+i+'"></th>';                                         
                                        } else {                                            
                                            if(i==noOfDays+1) accType += '<th id="th'+accountArray[j]+'MonTar">Target</th>';
                                            if(i==noOfDays+2) accType += '<th id="th'+accountArray[j]+'MonPlan">Planned</th>';
                                        }                                       
                                    }

                                    tableHeadArray[accountArray[j]] = accType+'</tr>';
                                }                                                        
                            }
                            
                            if(result[rs]['typeOfDay'] == 'Visit Day') 
                            {                                                          
                                var count = 0;

                                for(var j=0; j<accountArray.length; j++) {                                  
                                    noOfRecordsPerType[accountArray[j]]++;
                                    var acc = tableBodyArray[accountArray[j]];                                  
                                    if(acc == undefined) acc = '';

                                    acc=acc+'<tr onMouseOver="trMouseOver(this)" onMouseOut="trMouseOut(this)" id="'+parseInt(rs+1)+'tr">';

                                    var x= result[rs]['beatCode'].length > 15?result[rs]['beatCode'].substring(0,12)+'... || '+result[rs]['accountTown'] :result[rs]['beatCode']+' || '+result[rs]['accountTown'];//dseBeatName
                                    acc=acc+'<td id="td'+accountArray[j]+'Name'+parseInt(rs+1)+'" onMouseOver="accountMouseOver(event,this);" onMouseOut="accountMouseOut(event);"><input type="hidden" id="'+noOfRecordsPerType[accountArray[j]]+accountArray[j]+'Id" value= "'+result[rs]['dseBeatId']+'"/>'+x+'</td>';

                                    for(var i=0; i<noOfDays; i++) {
                                        var cName='';
                                        var onHoverMethods = "";
                                        var isChecked = '';
                                        
                                        if(result[rs].dayMon[i].typeCol == "Holiday" || result[rs].dayMon[i].typeCol == "PublicHoliday") {                                          
                                            if(result[rs].dayMon[i].typeCol == "PublicHoliday") {
                                                cName = 'publicHoliday';
                                            } else if(result[rs].dayMon[i].typeCol == "Holiday") {
                                                cName = 'weekends';
                                            }
                                        } else {
                                            onHoverMethods = "onMouseOver='tdMouseOver(this)' onMouseOut='tdMouseOut(this)'";                                               
                                        }
                                        if((result[rs]['availableDayList'][i]['value'] != i) && (result[rs]['availableDayList'][i]['dateAvailable'])) {   // checking the value is true              
                                            count++;
                                            isChecked = 'checked="checked"';
                                        }
                                        acc=acc+"<td id='"+noOfRecordsPerType[accountArray[j]]+"tdCheck"+accountArray[j]+parseInt(i+1)+"' class='"+cName+"' "+onHoverMethods+">"+'<input type="checkbox" onclick="onclickchecked(this.id);" '+isChecked+' id="'+noOfRecordsPerType[accountArray[j]]+'check'+accountArray[j]+parseInt(i+1)+'"/><input type="hidden" id = "'+noOfRecordsPerType[accountArray[j]]+'hide'+accountArray[j]+parseInt(i+1)+'" value= "'+result[rs]['availableDayList'][i]['planVisitId']+'"/>'+"</td>";
                                    }

                                    if(result[rs]['targetDays'] == undefined) result[rs]['targetDays'] = '';                                    
                                    acc=acc+'<td style="background:#f2f3f3; color:#213F99" id="tdTarget'+accountArray[j]+parseInt(rs+1)+'"><span id="'+noOfRecordsPerType[accountArray[j]]+accountArray[j]+'Target">'+result[rs]['targetDays']+'</span></td>';
                                    
                                    acc=acc+'<td style="background:#f2f3f3;" id="tdPlanned'+accountArray[j]+parseInt(rs+1)+'"><span id="'+noOfRecordsPerType[accountArray[j]]+accountArray[j]+'planned">'+count+'</span></td>';
                                    tableBodyArray[accountArray[j]] = acc;
                                }
                            }
                        }

                        for(var i=0; i<accountArray.length; i++) {                         
                            if(tableBodyArray[accountArray[i]] != undefined) {
                                tabBody.append(tableHeadArray[accountArray[i]]);
                                tabBody.append(tableBodyArray[accountArray[i]]);        
                            }                           
                        }                                                
						
                        for(var rs = 0; rs < result.length; rs++) {                         
                            if(result[rs]['typeOfDay'] != 'Visit Day') {
                                var dayType = '';
                                var dayType1 = '';
                                 
                                if(pjpDetails.isMOR == true && result[rs]['typeOfDay'] == 'MOR') {
                                    dayType = 'mor';                                    
                                    dayType1 = 'Mor';                                    
                                } 
                                if(pjpDetails.isOE == true && result[rs]['typeOfDay'] == 'OE') {
                                    dayType = 'oe';
                                    dayType1 = 'OeDay';                                    
                                } 
                                if(pjpDetails.isCompAct == true && result[rs]['typeOfDay'] == 'Company Activity') {
                                    dayType = 'compAct';
                                    dayType1 = 'CompAct';                                    
                                }
                                
                                if(dayType != '') {
                                    for(var i=0; i<noOfDays; i++) {  
                                        if((result[rs]['availableDayList'][i]['value'] != i) && (result[rs]['availableDayList'][i]['dateAvailable'])){   
                                            document.getElementById(dayType+'Check'+(i+1)).checked = true;
                                            calPlanned(dayType+'Check'+(i+1));
                                        }
                                    }                                    
                                }                                                           
                            }                            
                        }

                        calculateCounters();        

                        $j("#el_loading").hide();                                                                
                        $j("#tableAccounts").stupidtable();
                    }

                    for(var i=0; i<accountArray.length; i++) {      
                        if(noOfRecordsPerType[accountArray[i]] == 0) {
                            accountArray.splice(i, 1);
                            i--;
                        }                           
                    }        
					hideTargetColumn();
                    $j( "#ulButtons" ).show();
                    $j( "#btnSaveUp" ).show();
                    $j( "#btnSaveDown" ).show();
                    $j( "#btnSubmitUp" ).show();
                    $j( "#btnSubmitDown" ).show();

                    $j( "#ulCountersUp" ).show();
                    $j( "#ulCountersDown" ).show();
                    $j( "#divComments" ).show();

                    $j( "#liTotVisUp" ).show();
                    $j( "#liTotVisDown" ).show();
                    if(pjpDetails.isOE == true) {   
                        $j( "#liOeDaysUp" ).show();
                        $j( "#liOeDaysDown" ).show();      
                        //$j( "#liTotVisUp" ).css('margin-left', '12%');
                        //$j( "#liTotVisDown" ).css('margin-left', '12%');
                    }
                    if(pjpDetails.isMOR == true) {   
                        $j( "#liMorUp" ).show();
                        $j( "#liMorDown" ).show();      
                        //$j( "#liTotVisUp" ).css('margin-left', '12%');
                        //$j( "#liTotVisDown" ).css('margin-left', '12%');
                    }
                    if(pjpDetails.isCompAct == true) {   
                        $j( "#liCompActUp" ).show();
                        $j( "#liCompActDown" ).show();      
                        //$j( "#liTotVisUp" ).css('margin-left', '12%');
                        //$j( "#liTotVisDown" ).css('margin-left', '12%');
                    }

                    for(var j=0; j<accountArray.length; j++) { 
                        for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {                     
                            colorPlanned($j("#"+i+accountArray[j]+"Target").html() <= $j("#"+i+accountArray[j]+"planned").html(), $j("#"+i+accountArray[j]+"planned"));
                        }                     
                    }

                    colorPlanned($j("#tdOeDay32").html() >= $j("#tdOeDay33").html(), $j("#tdOeDay33"));
                    colorPlanned($j("#tdMor32").html() >= $j("#tdMor33").html(), $j("#tdMor33"));
                    colorPlanned($j("#tdCompAct32").html() >= $j("#tdCompAct33").html(), $j("#tdCompAct33"));
                    
					calTotalDailyPlanned();
                    monthlyTargetWidth = $j('#headTarget').width();
                    
                    calculateMonthly();                    
                    calculateReferencedWidth();
                    //alert(pjpDetails.isReadOnly);
                    if(pjpDetails.isReadOnly == true) {
                        $j( "#ulButtons" ).hide();
                        $j( "#btnSaveUp" ).hide();
                        $j( "#btnSaveDown" ).hide();
                        $j( "#btnSubmitUp" ).hide();
                        $j( "#btnSubmitDown" ).hide();
                        $j( "input:checkbox" ).attr("disabled", pjpDetails.isReadOnly);
                        $j( "#textComments").attr("disabled", pjpDetails.isReadOnly);
                    }
                    getHeaderTop();
                }
                else{                    
                    $j("#el_loading").hide();
                    $j("#tableBody").empty();
                    $j("#tablehead").empty();                    

                    alertify.alert("There is no account under this type.");
                }
            });            
        return false;   
    }
    
    function colorPlanned(bool, gotEle) {
        if(bool) {
            $j(gotEle).addClass('TargetEQPlanned');
            $j(gotEle).removeClass('TargetNEQPlanned');
        }
        else {
            $j(gotEle).addClass('TargetNEQPlanned');
            $j(gotEle).removeClass('TargetEQPlanned');
        }
    }
        
    function getColumnPlanned() {
        var oePlan = $j('#tdOeDay33').html();
        var morPlan = $j('#tdMor33').html();
        var compActPlan = $j('#tdCompAct33').html();              
        
        for(var k=1; k<=noOfDays; k++) {            
            for(var j=0; j<accountArray.length; j++){               
                var daysPlanned = 0;
                for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {                             
                    if(document.getElementById(i+"check"+accountArray[j]+k).checked) {
                        daysPlanned++;                      
                    }                              
                }
                
                var plan = document.getElementById('th'+accountArray[j]+'DailyPlan'+k);
                var tar = document.getElementById('th'+accountArray[j]+'DailyTar'+k);
                plan.innerHTML = daysPlanned;
                
                colorPlanned(parseInt(tar.innerHTML) <= parseInt(plan.innerHTML), plan);
            }
            
            if(pjpDetails.isOE == true) {
                if($j('#oeDay'+k).is(':checked')) {
                    $j('#tdOeDay33').html(parseInt($j('#tdOeDay33').html())+1);
                }
            }
            if(pjpDetails.isMOR == true) {
                if($j('#mor'+k).is(':checked')) {
                    $j('#tdMor33').html(parseInt($j('#tdMor33').html())+1);
                }   
            }
            
            if(pjpDetails.isCompAct == true) {
                if($j('#compAct'+k).is(':checked')) {
                    $j('#tdCompAct33').html(parseInt($j('#tdCompAct33').html())+1);
                }            
            }
        }
		
		calTotalDailyPlanned();

        if(pjpDetails.isMOR == true) {
            colorPlanned($j('#tdMor32').html() >= $j('#tdMor33').html(), $j('#tdMor33'));
        } 
        if(pjpDetails.isOE == true) {
            colorPlanned($j('#tdOeDay32').html() >= $j('#tdOeDay33').html(), $j('#tdOeDay33'));
        } 
        if(pjpDetails.isCompAct == true) {
            colorPlanned($j('#tdCompAct32').html() >= $j('#tdCompAct33').html(), $j('#tdCompAct33'));
        }                                  
    }
	
	function calTotalDailyPlanned() {
        for(var k=1; k<=noOfDays; k++) {            
            var daysPlanned = 0;
            for(var j=0; j<accountArray.length; j++){                               
				for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {                             
                    if(document.getElementById(i+"check"+accountArray[j]+k).checked) {
                        daysPlanned++;                      
                    }                              
                }
            }
            $j('#thTotalDailyPlan'+k).html(daysPlanned);
        }
    }
    
    function Visits_Plan__c() {
        this.DSE_Beat__c = null;
        this.Day__c = null;
        this.Id = null;
    }
    
    function verifyMonthlyAct(str) {            
        if(pjpDetails.isOE == true && parseInt($j('#tdOeDay33').text()) > parseInt($j('#tdOeDay32').text())){
            str+='<br/>Planned OE Days should not be greater than '+parseInt($j('#tdOeDay32').text())+' in a month.';
        }
        if(pjpDetails.isMOR == true && parseInt($j('#tdMor33').text()) > parseInt($j('#tdMor32').text())) {
            str+='<br/>Planned MOR Days should not be greater than '+parseInt($j('#tdMor32').text())+' in a month.';
        }
        if(pjpDetails.isCompAct == true && parseInt($j('#tdCompAct33').text()) > parseInt($j('#tdCompAct32').text())) {
            str+='<br/>Planned Company Activities should not be greater than '+parseInt($j('#tdCompAct32').text())+' in a month.';
        }
        return str;
    }

    function verifySegmentNorms(str) {
        for(var j=0; j<accountArray.length; j++) { 
            for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) { 
                if(parseInt($j("#"+i+accountArray[j]+"planned").text()) < parseInt($j("#"+i+accountArray[j]+"Target").text())) {
                    str+='<br/>Monthly Norms for '+accountArray[j]+' are not met.';
                    break;
                }                                                
            }                     
        }                           
        return str;
    }    

    var visitPlanList;

    function disableAllButtons() {
        $j('#btnSaveUp').attr('disabled','disabled');
        $j('#btnSaveDown').attr('disabled','disabled');
        $j('#btnSubmitUp').attr('disabled','disabled');
        $j('#btnSubmitDown').attr('disabled','disabled');
    }

    function enableAllButtons() {
        $j('#btnSaveUp').removeAttr('disabled');
        $j('#btnSaveDown').removeAttr('disabled');
        $j('#btnSubmitUp').removeAttr('disabled');
        $j('#btnSubmitDown').removeAttr('disabled');
    }
    
    // Saving the plan and verifying if all the norms are met or not  
    function savePlans(buttonStr) { 
        $j("#el_loading").show();
        disableAllButtons();       
        var isChecked = 0;

        for(var j=0; j<accountArray.length; j++){
            for(var i=1; i<=noOfRecordsPerType[accountArray[j]];i++) {
                for(var k=1; k<=noOfDays; k++) {  
                    if(document.getElementById(i+"check"+accountArray[j]+k).checked) {
                        isChecked = 1;
                        break;
                    }              
                }
            }
        }
        
        if(isChecked == 0) {
            alertify.alert('Please select the days to visit.');
            enableAllButtons();        
            $j("#el_loading").hide();
            return 0;
        }
        
        if(buttonStr == 'Submit') {            
            var str = '';
            str = verifyMonthlyAct(str);            
            str = verifySegmentNorms(str);                                
            
            if(str != '') {                
                bootbox.dialog({
                    message: str,
                    buttons: {
                        success: {
                            label: "Submit Anyway",
                            className: "btn-success",
                            callback: function() {
                                callSavePlan(buttonStr);                        
                            }
                        },
                        danger: {
                            label: "Save",
                            className: "btn-success",
                            callback: function() {
                            buttonStr = 'Save';
                                callSavePlan(buttonStr);                        
                            }
                        },
                        main: {
                            label: "Cancel",
                            className: "btn-danger",
                            callback: function() {
                                enableAllButtons();        
                                $j("#el_loading").hide();
                                return 0;                        
                            }
                        }
                    }
                });                
            } else {
                callSavePlan(buttonStr);
            }
        } else {
            callSavePlan(buttonStr);
        }        
    }
    
    // Saving the plan and verifying if all the norms are met or not    
    function callSavePlan(buttonStr) {        
        $j("#el_loading").show();
        
        visitPlanList = new Array();
        
        for(var j=0; j<accountArray.length; j++){
            for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {
                for(var k=1; k<=noOfDays; k++) {  
                    if(document.getElementById(i+"check"+accountArray[j]+k).checked) {
                        var visitPlanInstance = new Visits_Plan__c();
                        visitPlanInstance.DSE_Beat__c = document.getElementById(i+accountArray[j]+"Id").value;
                        visitPlanInstance.Day__c = String(k);
                        visitPlanInstance.Type_of_Day__c = 'Visit Day';
                        visitPlanInstance.Id = $j("#"+i+"hide"+accountArray[j]+k).val();
                        if(visitPlanInstance.Id == 'undefined') {
                            visitPlanInstance.Id = null;
                        }
                        visitPlanList.push(visitPlanInstance);
                    }              
                }
            }
        }

        for(var k=1; k<=noOfDays; k++) {        
            var visitPlanInstance = new Visits_Plan__c();                
            visitPlanInstance.Day__c = String(k);
            var isTrue = 0;
            if(pjpDetails.isOE == true && document.getElementById("oeCheck"+k).checked) {                
                isTrue = 1;
                visitPlanInstance.Type_of_Day__c = 'OE';                
            }
            if(pjpDetails.isMOR == true && document.getElementById("morCheck"+k).checked) {                
                isTrue = 1;
                visitPlanInstance.Type_of_Day__c = 'MOR';                
            }
            if(pjpDetails.isCompAct == true && document.getElementById("compActCheck"+k).checked) {                
                isTrue = 1;
                visitPlanInstance.Type_of_Day__c = 'Company Activity';                
            }              

            if(isTrue == 1) {
                visitPlanInstance.Id = $j("#"+i+"hide"+accountArray[j]+k).val();
                if(visitPlanInstance.Id == 'undefined') {
                    visitPlanInstance.Id = null;
                }
                visitPlanList.push(visitPlanInstance);          
            }            
        }

        if(visitPlanList.length > 0) {
            PJP_TLDClass.saveVisitPlans(visitPlanList,pjpDetails.yearInt.toString(),pjpDetails.monthInt, pjpDetails.monthString, buttonStr, $j("#textComments").val(), function(result, event){                
                if(event.type == 'exception') {
                    alertify.alert('Plan not saved. Session timeout, please refresh the page and try again.');                    
                    enableAllButtons();        
                    $j("#el_loading").hide();
                }
                else {
                    if(result.split('; ')[0] == 'Submit')
                        window.top.location = '/'+ result.split('; ')[1];
                    else {
                        alertify.alert('Plan has been saved.');
                        pjpDetails.pjpId = result.split('; ')[1];
                        if(pjpDetails.pjpId == undefined)
                            $j("#linkImgCeat").attr("href", salesforceUrl+"/");
                        else
                            $j("#linkImgCeat").attr("href", salesforceUrl+"/"+pjpDetails.pjpId);
                        enableAllButtons();        
                        $j("#el_loading").hide();
                    }
                }
                $j("#el_loading").hide();         
            });
        }       
    }    

    </script>
    <body> 
    <!--       
        <div class="panel panel-primary" id='filterDiv' style="display:none;">
            <div class="panel-heading" style="background:#213F99">                
                <center><span class="panel-title "><b>Plan Visit</b></span></center> <span style="cursor:pointer" class = "glyphicon glyphicon-home " onClick='window.top.location = "/";' >&nbsp;<b style="margin-left:-10px" >HOME</b></span> 
                <img id="imgCeat" style="margin-top:-14px" src="{!$Resource.Ceatlogo}" alt="Logo not found" align="right"/><br/>
            </div>
            <div class="panel-body"> 
                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <form class="form-inline" role="form">
                            <div class="form-group">  
                                <label class="control-label" for="multiSelect"><b>Select Quarter</b></label>  
                                <div class="controls">                                      
                                    <select name="selectYear" id="selectYear" class="form-control" disabled="disable">
                                        <option value="Q1">Q1</option>
                                        <option value="Q2">Q2</option>
                                        <option value="Q3">Q3</option>
                                        <option value="Q4">Q4</option>
                                    </select>
                                </div> 
                            </div>
                        </form>  
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <form class="form-inline" role="form">
                            <div class="form-group">  
                                <label class="control-label" for="multiSelect"><b>Select Month</b></label>  
                                <div class="controls">  
                                    <select name="selectMonth" id="selectMonth" class="form-control">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>                                    
                                </div>                
                            </div>                            
                        </form>         
                    </div>                                       
                    <div class="col-xs-2 col-sm-1">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="control-label" for="multiSelect"><div> <br/>  </div> </label>
                                <div class="controls"> 
                                    <input type="button" value="View Details" class="btn-primary btn-md" onclick="fetchDetails(); return false;"> </input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                                
            </div>
        </div>
           --> 
        <div style="display:none;" id="visitDetailDiv">
            <div class="navbar navbar-inverse">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" title="Home" id="linkImgCeat">
                    <img id="imgCeat1"  src="{!$Resource.CeatLogo}" alt="Logo not found" style="margin-top:-8px" align="right"/>
                    </a>
              </div>
              <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav">
                  <li ><a style="font-size: 15px;" href="#" id="labelHeader"></a></li>             
                </ul>
               
                <ul id="ulButtons" class="nav navbar-nav navbar-right" style="display:none;">
                  <li style="margin-right: 3px;"><a type="button" id="btnSaveUp" class="btn-sm btn-danger" onclick="savePlans('Save');" style="display:none">Save</a></li>
                  <!--<li>&nbsp;</li>-->
                   <li><a type="button" id="btnSubmitUp" class="btn-sm btn-danger" onclick="savePlans('Submit');" style="display:none">Submit</a></li>
                </ul>                
              </div>
            </div>        
            <div class="panel-body,container" id="panelbody">                
                <ul class="nav nav-pills" style="padding-bottom: 10px;padding-left: 50%;" id="ulCountersUp">
                    <li style="margin-left: -5%; display:none" id="liTotVisUp">
                        <a href="#">Planned Visits 
                            <span class="badge backgroundBlue" id="noVisitsTarUp"></span>
                            <span class="badge" id="noVisitsPlanUp"></span>
                        </a>
                    </li>
                    <li id="liOeDaysUp" style='display:none'>
                        <a href="#">OE Days (Maximum)
                        <span class="badge backgroundBlue" id="noOeTarUp"></span>
                        <span id="noOePlanUp" class="badge"></span>
                        </a>
                    </li>
					<li id="liMorUp" style='display:none'>
                        <a href="#">MOR (Maximum)
                        <span class="badge backgroundBlue" id="noMorTarUp"></span>
                        <span id="noMorPlanUp" class="badge"></span>
                        </a>
                    </li>
					<li id="liCompActUp" style='display:none'>
                        <a href="#">Company Activities (Maximum)
                        <span class="badge backgroundBlue" id="noCompActTarUp"></span>
                        <span id="noCompActPlanUp" class="badge"></span>
                        </a>
                    </li>                    
                </ul>

                <table class="table table-bordered" id="tableAccounts" >
                    <thead id="tableHead">                         
                        <tr id="headDays" class="sticky" ></tr>  
						<tr id="headTotalDailyPlanned" class="sticky" ></tr>						
                    </thead>
                    <tbody id="tableBody">
                    </tbody>                     
                </table> 

                <div class="form-group" style='width:80%' id="divComments">  
                    <label class="control-label" for="multiSelect" style="padding-left: 1%;"><b>Comments</b></label>  
                    <div class="controls" style="padding-left: 0.5%;">  
                        <input type='text' id="textComments" style='height:50px' class="form-control" placeholder="Enter Comments" />
                    </div> 
                </div>

                <ul class="nav nav-pills" style="padding-bottom: 10px; padding-left:50%;" id="ulCountersDown">
                    <li style="margin-left: -5%; display:none" id="liTotVisDown">
                        <a href="#">Planned Visits 
                            <span class="badge backgroundBlue" id="noVisitsTarDown"></span>
                            <span class="badge" id="noVisitsPlanDown"></span>
                        </a>
                    </li>
                    <li id="liOeDaysDown" style='display:none'>
                        <a href="#">OE Days (Maximum)
                        <span class="badge backgroundBlue" id="noOeTarDown"></span>
                        <span id="noOePlanDown" class="badge"></span>
                        </a>
                    </li>    
                    <li id="liMorDown" style='display:none'>
                        <a href="#">MOR (Maximum)
                        <span class="badge backgroundBlue" id="noMorTarDown"></span>
                        <span id="noMorPlanDown" class="badge"></span>
                        </a>
                    </li>
					<li id="liCompActDown" style='display:none'>
                        <a href="#">Company Activities (Maximum)
                        <span class="badge backgroundBlue" id="noCompActTarDown"></span>
                        <span id="noCompActPlanDown" class="badge"></span>
                        </a>
                    </li>
                </ul>

                <center>                
                    <input type="button" id="btnSaveDown" style="display:none" value="Save" class="btn-danger btn-sm" onclick="savePlans('Save');"/>
                    <input type="button" id="btnSubmitDown" style="display:none" value="Submit" class="btn-danger btn-sm" onclick="savePlans('Submit');"/>
                </center>
                <br/><br/>

            </div>
        </div>
    </body>
    <div class="loading" id="el_loading">Loading&#8230;</div>
        <div id="pop-up">
            <h3>Pop-up div Successfully Displayed</h3>
            <p>
                This div only appears when the trigger link is hovered over. Otherwise it is hidden from view.<br/>
                <a href="anotherPage">This is a link you can select.</a>
            </p>
        </div>
    </body>
    </html>
    </apex:form>
</apex:page>