<apex:page sidebar="false" id="myPage" showHeader="false" applyBodyTag="false" applyHtmlTag="false" controller="PJP_OEClass" standardStylesheets="false">
    <apex:form id="myForm">
    <link href="{!URLFOR($Resource.BootstrapComplete,'BoostWatchTheams/sandstone/bootstrap.min.css')}" rel="stylesheet" />
    <link href="{!URLFOR($Resource.BootstrapComplete,'BoostWatchTheams/asset/css/bootswatch.min.css')}" rel="stylesheet" />
    <apex:includeScript value="{!URLFOR($Resource.JqueryKishlay,'/jquery-ui-1.11.1.custom/external/jquery/jquery.js')}"/> 
    <apex:includeScript value="{!URLFOR($Resource.Bootstrap, '/bootstrap-3.2.0-dist/js/bootstrap.js')}"/>  
    <apex:includeScript value="{!URLFOR($Resource.Bootbox, '/makeusabrew-bootbox-4de42da/bootbox.js')}"/>  
    <apex:stylesheet value="{!$Resource.Loader}"/>
    <!-- alertify -->
    <apex:stylesheet value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/themes/alertify.core.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/themes/alertify.bootstrap.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.alertify, 'alertify.js-0.3.11/lib/alertify.min.js')}"/>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta charset="utf-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <script src="https://code.jquery.com/jquery.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/stupidtable/0.0.1/stupidtable.min.js"></script>
        </head>    
    <style>

        body {
            padding-top: 0px;
        }

        .weekends
        {
            background-color:#BDBDBD !important;
            //color:#FFF;
        }
        
        .publicHoliday {
            background-color:#BDBDBD !important;//#F47B22;//#F3F781;
            //color:#FFF !important;
        }
        
        .disableDay
        {
            background-color:#F47B22 !important;
            color:#FFF !important;
        }
        
        .waitingSearchDiv {
            position: absolute;
            text-align: center;
            top: 0;
            z-index: 100;
            left: 0;
            height: 100%;
        }
        
        .waitingSearchDiv .waitingHolder, .waitingSearchDiv .waitingSearchHolder {
            border: none;
            background-color: transparent;
            font-size: 1em;
            font-weight: normal;
            height: 100%;
            padding: 0;
        }
        
        .waitingSearchDiv .waitingHolder {
            font-weight: bold;
            font-size: 1.20em;
            position: relative;
            padding: .5em;
            white-space: nowrap;
            margin: auto;
            width: 40%;
            height: 100%;
            top: 45%;
        }
        
        .TargetEQPlanned {
        color: #6b9430;//00FF00;
        }
        
        .TargetNEQPlanned {
         color: #d9534f;
        }  

        .TargetEQPlannedBack {
        background-color: #6b9430;//00FF00;
        }
        
        .TargetNEQPlannedBack {
        background-color: #d9534f;
        }      
        
        div#pop-up {
            display: none;
            position: absolute;
            width: 250px;
            padding: 10px;
            background: rgba(217, 237, 247, 0.8);
            color: #000000;
            border: 1px solid #A4C4CA;
            font-size: 90%;
            border-radius:5px;
        }
        
        .onHover
        {
            background-color : #e3f3ff
        }
        
        .sticky {  }

        .fixed {
            position: fixed;
            //top:0; 
            left:0;
            width: 100%; 
        }
        
        .colorYellow {
            background-color : orange;
        }

        .navbar-inverse{
            background-color: #213F99 !important;
            border-color: #213F99 !important;//0055aa
        }
        .navbar-inverse .navbar-nav>li>a{
            color: #fff !important;
        }
        .panel-heading{
            background-color: #213F99 !important;
            border-color: #213F99 !important;
        }
        .panel-primary{
            border-color: #213F99 !important;
        }
        .nav{
            padding-left: 34% !important;
        }

        .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
                background-color: #f5822d;
        }
        
        .navbar .nav>li>a {
            text-transform: none;
        }

        .backgroundBlue {
            background-color: #213F99 !important;
        }
        .bootbox-close-button {
            display : none;
        }

        .bootbox-close-button {
            display: none;
        }
        
    </style>
    <body>
    <script type="text/javascript">
    $j = jQuery.noConflict();
    
    var widthDlrName;
    var widthTarget;
    var widthPlanned;
    var widthDays = [];
    var monthlyTargetWidth;
    
    var totalDealer;            
    var noOfDays;
    var holidays = [];

    var trArray = [];    
    var PAGE_LENGTH = 20;
    var nextElement = 0;

    var accountArray = 'OE'.split(',');

    for(var i=0; i<accountArray.length; i++) {
        accountArray[i] = accountArray[i].replace(/\s+/g, "_");     
    }

    var tableBodyArray = [];
    var tableHeadArray = [];
    var accountDetails = [];
    var headerTopArray = [];    
    var noOfRecordsPerType = [];
    var tdDaysTop;

    var CONST_DEALER = 'Dealer';
    var noOfServiceCamps = 0;
    var quarServiceCamps = 0;

    var pjpDetails = {};
    var salesforceUrl = '{!salesforceBaseUrl}'; 

    // Allows you to change the filter
    function changeFilter() {                
        $j('#linkFilter').hide();
        $j('#filterDiv').show();
        $j('#btnCancelFilter').show();
        $j('#divFilterButtons').css('margin-left','-100%');        
        $j('#pCiba').show();
        nextElement = 0; 
        trArray = [];
    }                    

    function hideFilter() {
        $j('#linkFilter').show();
        $j('#filterDiv').hide();
        $j('#btnCancelFilter').hide(); 
        $j('#divFilterButtons').css('margin-left','-200%');        
    }
    
    var startScroll = 0;
    var padBorder =0;
    
    // Used for header fixing and setting the width after fixing the header
    $j(window).scroll(function(){   
        padBorder= $j('#thDays').css('padding-left');
        padBorder=padBorder.replace('px','');
        padBorder=parseInt(padBorder);
        padBorder=(padBorder*2)+2;            
        var sticky = $j('.sticky'),
        scroll = $j(window).scrollTop(); 
        var b = true;

        if(scroll >= tdDaysTop) {
            $j('#headDays').addClass('fixed');
            $j('#headDays').css("top", 0);
            $j('#thDays').css("width", (widthDlrName+padBorder)+'px');            
            for(var i=1; i<=noOfDays; i++) {
                $j('#thDay'+i).css("width", (widthDays[i-1]+padBorder)+'px');                             
            }                                        
            $j('#thDay33').css("width", (widthPlanned+padBorder)+'px');

            $j('#headTotalDailyPlanned').addClass('fixed');
            $j('#headTotalDailyPlanned').css("top", $j('#headDays').height() - 1);
            $j('#thTotalDailyPlan').css("width", (widthDlrName+padBorder)+'px');            
            for(var i=1; i<=noOfDays; i++) {
                $j('#thTotalDailyPlan'+i).css("width", (widthDays[i-1]+padBorder)+'px');                             
            }                                        
            $j('#thTotalDailyPlan33').css("width", (widthPlanned+padBorder)+'px');            
        } else {
            $j('#headDays').removeClass('fixed');
            $j('#headTotalDailyPlanned').removeClass('fixed');
        } 
        
        for(var j=accountArray.length-1; j>=0; j--) {
            var cellWidth = $j('#headDays').height();
            var cellWidthFactor = ((j == 0 ? 0 : 1)+2)*cellWidth*2;
        
            if((scroll >= headerTopArray[accountArray[j]] ) && b) {                                
                $j('#head'+accountArray[j]+'Name').addClass('fixed');           
                $j('#head'+accountArray[j]+'Name').css("top", ($j('#headTotalDailyPlanned').height() + $j('#headTotalDailyPlanned').position().top - 1)+'px');
                
                b = false;                                            
            } else {                
                $j('#head'+accountArray[j]+'Name').removeClass('fixed');                
            }
            
            $j('#th'+accountArray[j]+'Name').css("width", (widthDlrName+padBorder)+'px');
            $j('#td'+accountArray[j]+'Name1').css("width", (widthDlrName+padBorder)+'px');
        
            for(var i=1; i<=noOfDays; i++) {                
                $j('#th'+accountArray[j]+'Name'+i).css("width", (widthDays[i-1]+padBorder)+'px');
                $j('#1tdCheck'+accountArray[j]+i).css("width", (widthDays[i-1]+padBorder)+'px');
            }

            $j('#th'+accountArray[j]+'MonPlan').css("width", (widthPlanned+padBorder)+'px');
            $j('#tdPlanned'+accountArray[j]+'1').css("width", (widthPlanned+padBorder)+'px');
        }              
    });

    function setQuarter(currentMonth) {     
        if(currentMonth <= 3) {
            $j("#selectQuarter").val('Q4');
        } else if(currentMonth <= 6) {
            $j("#selectQuarter").val('Q1');
        } else if(currentMonth <= 9) {
            $j("#selectQuarter").val('Q2');
        } else if(currentMonth <= 12) {
            $j("#selectQuarter").val('Q3');
        }       
        setMonthOptions(currentMonth);
    }

    function setMonthOptions(currentMonth) {        
        $j("#selectMonth").empty();
        var m1, m2, m3;
        var n1, n2, n3;
        if(currentMonth <= 3) {
            m1 = 'January';
            m2 = 'February';
            m3 = 'March';
            n1 = 1;
            n2 = 2;
            n3 = 3;
        } else if(currentMonth <= 6) {
            m1 = 'April';
            m2 = 'May';
            m3 = 'June';
            n1 = 4;
            n2 = 5;
            n3 = 6;
        } else if(currentMonth <= 9) {
            m1 = 'July';
            m2 = 'August';
            m3 = 'September';
            n1 = 7;
            n2 = 8;
            n3 = 9;
        } else if(currentMonth <= 12) {
            m1 = 'October';
            m2 = 'November';
            m3 = 'December';
            n1 = 10;
            n2 = 11;
            n3 = 12;
        }
        $j("#selectMonth").append('<option value="'+n1+'">'+m1+'</option>');
        $j("#selectMonth").append('<option value="'+n2+'">'+m2+'</option>');
        $j("#selectMonth").append('<option value="'+n3+'">'+m3+'</option>');

        $j("#selectMonth").val(currentMonth);
    }
        
    window.onload = function() { 
        $j("#el_loading").show();   
        $j('div#pop-up').hide(); 

        for(var i=0; i<accountArray.length; i++) {
            noOfRecordsPerType[accountArray[i]] = 0;
        }

        fetchQuarterMonth();           
    }

    function getUrlParameter(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) 
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) 
            {
                return sParameterName[1];
            }
        }
        return null;
    }

    function fetchQuarterMonth() {                
        PJP_OEClass.getQuarterMonth(getUrlParameter('month'), getUrlParameter('year'), getUrlParameter('owner'), function(result, event){                
            if(event.type == 'exception') {
                alertify.alert('Something went wrong. Please contact Administrator for the same.');
                $j("#el_loading").hide();
            } else {                                
                if(result != null){
                    pjpDetails = result;                    
                    setQuarter(pjpDetails.monthInt);                    
                    if(getUrlParameter('month') != null) {                        
                        fetchPjpDetails(getUrlParameter('month'), getUrlParameter('year'), getUrlParameter('owner'));
                    } else {
                        $j("#el_loading").hide();   
                    }
                } else {
                    alertify.alert('Something went wrong. Please contact Administrator for the same.');
                    $j("#el_loading").hide();   
                }            
            }                
        });
    }

    function fetchPjpDetails(gotMonth, gotYear, gotOwner) {
        $j("#el_loading").show();        
        
        if(gotMonth == undefined) gotMonth = $j("#selectMonth option:selected").text();
        if(gotYear == undefined) gotYear = getUrlParameter('year'); 
        if(gotOwner == undefined) gotOwner = getUrlParameter('owner'); 
        
        PJP_OEClass.getWriteAccess(gotMonth, gotYear, gotOwner, function(result, event){
            if(event.type == 'exception') {
                alertify.alert('PJP Norms or Access Control Window are not set. Please contact Administrator for the same.');                    
                $j("#el_loading").hide();
            } else {                                
                if(result != null){
                    pjpDetails = result;   
                
                    noOfServiceCamps = pjpDetails.serviceCampDays;
                    $j('#labelHeader').html('PJP for '+pjpDetails.monthString+' '+pjpDetails.yearInt);
                    $j("#imgCeat1").attr("href", salesforceUrl+"/"+pjpDetails.pjpId);
                    $j("#textComments").val(pjpDetails.pjpComments);
                    fetchDetails();
                } else {
                    alertify.alert('Something went wrong. Please contact Administrator for the same.');
                    $j("#el_loading").hide();   
                }            
            }                
        });
    }
        
    //Used to highlight the row when cursor is focused
    function trMouseOver(got) {
        $j(got).addClass('onHover');
    }
    
    //Used to unhighlight the highlighted row when cursor is unfocused
    function trMouseOut(got) {
        $j(got).removeClass('onHover');
    }

    //Used to highlight the column when cursor is focused
    function tdMouseOver(got) {        
        var gotId = $j(got).attr('id');        
        var n = gotId.split('tdCheck');
        
        for(var j=0; j<accountArray.length; j++){
            var m = n[1].split(accountArray[j]);                    
            if(m.length == 2 && !isNaN(parseInt(m[1]))) {               
                for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {
                    for(var k=1; k<=noOfDays; k++) {                                        
                        if(k == parseInt(m[1])) {                                                       
                            $j('#'+i+'tdCheck'+accountArray[j]+k).addClass('onHover');
                        }
                    }
                }
                break;  
            }        
        }        
    }
    
    //Used to unhighlight the highlighted column when cursor is unfocused
    function tdMouseOut(got) {
        var gotId = $j(got).attr('id');        
        var n = gotId.split('tdCheck');
        
        for(var j=0; j<accountArray.length; j++){
            var m = n[1].split(accountArray[j]);                    
            if(m.length == 2 && !isNaN(parseInt(m[1]))) {               
                for(var i=1; i<=noOfRecordsPerType[accountArray[j]];i++) {
                    for(var k=1; k<=noOfDays; k++) {                
                        if(k == parseInt(m[1])) {                    
                            $j('#'+i+'tdCheck'+accountArray[j]+k).removeClass('onHover');
                        }
                    }
                }
                break;
            }
        }        
    }    

    function calServiceCamps(gotId) {    
        if($j("#"+gotId).is(':checked')) {
            $j('#tdServiceCamp33').html(parseInt($j('#tdServiceCamp33').html())+1);
            quarServiceCamps++;
        } else {
            $j('#tdServiceCamp33').html(parseInt($j('#tdServiceCamp33').html())-1);
            quarServiceCamps--;
        }
        
        colorPlanned(noOfServiceCamps <= parseInt($j("#tdServiceCamp33").html()), $j("#tdServiceCamp33"));   
        calculateCounters();    
    }

    function calDealershipVisits(gotId) {    
        if($j("#"+gotId).is(':checked')) {
            $j('#tdDealershipVisit33').html(parseInt($j('#tdDealershipVisit33').html())+1);
        } else {
            $j('#tdDealershipVisit33').html(parseInt($j('#tdDealershipVisit33').html())-1);
        }
        
        colorPlanned(true, $j("#tdDealershipVisit33"));   
        calculateCounters();    
    }
        
    //Calculates the Plan for OE Days, Mor and Company Activities
    function calPlanned(gotId) {                 
        
        var bool = $j('#'+gotId).is(':checked');
        var parentId = $j('#'+gotId).parent().attr("id");
        var n = 0;
        var num = 0;
        if(!isNaN(parseInt(parentId.substr(parentId.length - 2, parentId.length)))) {
            n = 2;  
            num = parseInt(parentId.substr(parentId.length - 2, parentId.length));
        } else {
            n = 1;
            num = parseInt(parentId.substr(parentId.length - 1, parentId.length));
        }        

        for(var j=0; j<accountArray.length; j++){
            for(var i=1; i<=noOfRecordsPerType[accountArray[j]];i++) {
                if($j("#"+i+"check"+accountArray[j]+num).is(':checked')){
                    $j('#'+gotId).prop( "checked", false );
                    alertify.alert("This day can not be selected as OE Day as you have already planned visits for the day.");                
                    return 0;                   
                }   
            }
        }
              
        var plannedId = parentId.substr(0, parentId.length - n);        
        var planVal = $j("#"+plannedId+"33").html();
        
        if(planVal == '') {
            planVal = 0;
        } else {
            planVal = parseInt(planVal);
        }
          
        if(bool) {            
            planVal++;            
        } else {
            planVal--;        
        }
        
        $j("#"+plannedId+"33").html(planVal);
        
        colorPlanned(true, $j("#"+plannedId+"33"));
        
        if(bool) {        
            for(var j=0; j<accountArray.length; j++){               
                for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {
                    $j("#"+i+"check"+accountArray[j]+num).attr("disabled", true);
                    $j("#"+i+"tdCheck"+accountArray[j]+num).addClass('disableDay');             
                }
            }
                    
            if(pjpDetails.isMOR == true) {
                $j("#morCheck"+num).attr("disabled", true);
                $j("#tdMor"+num).addClass('disableDay');
            } 
            if(pjpDetails.isOE == true) {
                $j("#oeCheck"+num).attr("disabled", true);
                $j("#tdOeDay"+num).addClass('disableDay');
            } 
            if(pjpDetails.isCompAct == true) {
                $j("#compActCheck"+num).attr("disabled", true);
                $j("#tdCompAct"+num).addClass('disableDay');
            }   
            
            $j("#serviceCampCheck"+num).attr("disabled", true);
            $j("#tdServiceCamp"+num).addClass('disableDay');

            $j("#dealerShipVisitCheck"+num).attr("disabled", true);
            $j("#tdDealerShipVisit"+num).addClass('disableDay');

            $j("#tar"+num).html('');
            
        } else {
            for(var j=0; j<accountArray.length; j++){
                for(var i=1; i<=noOfRecordsPerType[accountArray[j]];i++) {
                    $j("#"+i+"check"+accountArray[j]+num).removeAttr("disabled");
                    $j("#"+i+"tdCheck"+accountArray[j]+num).removeClass('disableDay');
                }               
            }
            
            if(pjpDetails.isMOR == true) {
                $j("#morCheck"+num).removeAttr("disabled");
                $j("#tdMor"+num).removeClass('disableDay');
            } 
            if(pjpDetails.isOE == true) {
                $j("#oeCheck"+num).removeAttr("disabled");
                $j("#tdOeDay"+num).removeClass('disableDay');
            } 
            if(pjpDetails.isCompAct == true) {
                $j("#compActCheck"+num).removeAttr("disabled");
                $j("#tdCompAct"+num).removeClass('disableDay');
            }    

            $j("#serviceCampCheck"+num).removeAttr("disabled");
            $j("#tdServiceCamp"+num).removeClass('disableDay');

            $j("#dealerShipVisitCheck"+num).removeAttr("disabled");
            $j("#tdDealerShipVisit"+num).removeClass('disableDay');
        }
        
        $j("#"+gotId).removeAttr("disabled");   
        calculateCounters();              
    }
    
    //Calculates the no of visits planned for a Dealer in a month
    function onclickchecked(x) {
        var plannedId;        
        if(x.charAt(1) == 'c') {      //1check
            plannedId = x.charAt(0).toString();
        }  else if(x.charAt(1) != 'c' && x.charAt(2) == 'c') { //99check
            plannedId = x.charAt(0).toString()+x.charAt(1).toString();
        } else if(x.charAt(2) != 'h' && x.charAt(1) != 'c' && x.charAt(3) == 'c') { //100check
            plannedId = x.charAt(0).toString()+x.charAt(1).toString()+x.charAt(2).toString();
        } 

        var acc = '';

        for(var j=0; j<accountArray.length; j++) {             
            if(x.search(accountArray[j]) != -1) {
                acc = accountArray[j];
            }
        }

        var planVal = $j("#"+plannedId+acc+"planned").html();
        var calcVal;

        if(document.getElementById(x).checked) { // Chekcing the checkbox value.
            $j("#"+plannedId+acc+"planned").html(parseInt(planVal)+1);
            calcVal = parseInt(planVal)+1;
        } else {
            $j("#"+plannedId+acc+"planned").html(parseInt(planVal)-1);
            calcVal = parseInt(planVal)-1;
        }
        calTotalDailyPlanned();
        colorPlanned(true, $j("#"+plannedId+acc+"planned"));       
        calculateMonthly(x);
        calculateCounters();    
    } 

    function calTotalDailyPlanned() {
        for(var k=1; k<=noOfDays; k++) {            
            var daysPlanned = 0;
            for(var j=0; j<accountArray.length; j++){                               
                for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {                             
                    if(document.getElementById(i+"check"+accountArray[j]+k).checked) {
                        daysPlanned++;                      
                    }                              
                }                  
            }
            $j('#thTotalDailyPlan'+k).html(daysPlanned);
        }
    }
    
    //Calculates the no of visits planned in a day
    function calculatePlanned(gotId) {
        var bool = $j('#'+gotId).is(':checked');
        var day = gotId.charAt(gotId.length - 2);                
        if (!isNaN(day)) {
            day = Number(day) * 10 + Number(gotId.charAt(gotId.length-1));
        }
        else {
            day = Number(gotId.charAt(gotId.length-1));
        }

        var n = gotId.split('check');
        var m = n[1].split(day);
                
        for(var i=1; i<=noOfRecordsPerType[m[0]]; i++) {                            
            $j('#'+i+'check'+m[0]+day).addClass('onHover');                     
        }
        
        var dayPlan = document.getElementById('th'+m[0]+'DailyPlan'+day);
        
        if(bool == true) {
            dayPlan.innerHTML = Number(dayPlan.innerHTML) + 1;                
        }                    
        else {
            dayPlan.innerHTML = Number(dayPlan.innerHTML) - 1;
        }  

        colorPlanned(true, dayPlan);
        
        calculateMonthly(gotId);
    } 
        
    //Calculates the no of visits planned for the month
    function calculateMonthly() {
        var t = 0;
        var p = 0;
        for(var j=0; j<accountArray.length; j++) { 
            for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {                                     
                p += parseInt($j('#'+i+accountArray[j]+'planned').text());   
            }                     
        }
                
        $j('#thDealerMonPlan').html('Planned (<span id="aggPlan">'+p+'</span>)');
                
        colorPlanned(true, $j('#aggPlan'));        
    }            
    
    function accountInfo(i, n, t, r, s) {
        this.id = i;
        this.name = n;
        this.type = t;
        this.recordType = r;
        this.accountSapCode = s;
    }       
    
    //Used to load more accounts when scrolled down to the bottom
    function autoLoadMore() {                
        for(var i=nextElement; i<(nextElement + PAGE_LENGTH) && i<trArray.length; i++) {
            $j(trArray[i]).show();
        }
        nextElement += PAGE_LENGTH;
    }
    
    //Used to show the account details on mouse hover
    function accountMouseOver(got,th) {
        var moveLeft = 10;
        var moveDown = 10;        
        $j('div#pop-up').show();              
        $j('div#pop-up').css('top', got.pageY + moveDown);
        $j('div#pop-up').css('left', got.pageX + moveLeft);                        
        
        var x = $j(th).find('input').val();
        for(var i=0; i<accountDetails.length; i++) {
            if(accountDetails[i].id == x) {
                $j('div#pop-up').html('<b>OE-Plant: </b>'+accountDetails[i].name +' <br /><b>Reference Code: </b>' +accountDetails[i].accountSapCode);
            }
        }       
    }
    
    function accountMouseOut(got) {
        $j('div#pop-up').hide();                
    }            

    function getHeaderTop() {       
        tdDaysTop = $j('#headDays').position().top;
        for(var j=0; j<accountArray.length; j++) {
            if(tableBodyArray[accountArray[j]] != undefined) {
                headerTopArray[accountArray[j]] = $j("#th"+accountArray[j]+"Name1").position().top;
            }           
        }
    }

    function calculateReferencedWidth() {
        widthDays = [];
        widthDlrName = $j("#thDays").width();        
        widthPlanned = $j("#thDay33").width();                    

        for(var i=1; i<=noOfDays; i++) {                        
            widthDays.push($j('#thDay'+i).width());
        }        
    }

    function calculateCounters() {         
        $j('#noServiceCampTarDown').html( noOfServiceCamps );        
        $j('#noServiceCampPlanDown').html( quarServiceCamps );        
        colorBackPlanned(parseInt(noOfServiceCamps) <= parseInt($j('#noServiceCampPlanDown').html()), $j('#noServiceCampPlanDown'));

        $j('#noServiceCampTarUp').html( noOfServiceCamps );
        $j('#noServiceCampPlanUp').html( $j('#noServiceCampPlanDown').html());
        colorBackPlanned(parseInt(noOfServiceCamps) <= parseInt($j('#noServiceCampPlanUp').html()), $j('#noServiceCampPlanUp'));
    }

    function colorBackPlanned(bool, gotEle) {
        if(bool) {
            $j(gotEle).addClass('TargetEQPlannedBack');
            $j(gotEle).removeClass('TargetNEQPlannedBack');
        }
        else {
            $j(gotEle).addClass('TargetNEQPlannedBack');
            $j(gotEle).removeClass('TargetEQPlannedBack');
        }
    }
    
    // On click of View Details, get the accounts and other details under logged in TL 
    function fetchDetails() {                        
        $j('#filterDiv').hide();
        $j('#linkFilter').show();
        $j('#pCiba').hide();
        $j('#imgCeat1').css('margin-top','-20px');
        $j("#el_loading").show();
        $j("#visitDetailDiv").show();
        
        $j('#imgCeat').css('margin-top','-20px');                      
        $j("#vdetails").html("");
        
        var tabBody = $j("#tableBody");
        var tabHead = $j("#tableHead");
        var tabFoot = $j("#tableFoot");        
        var tabDays = $j("#headDays");
        var tabTotPlan = $j("#headTotalDailyPlanned"); 

        Visualforce.remoting.timeout = 120000;
        Visualforce.remoting.Manager.invokeAction(            
            '{!$RemoteAction.PJP_OEClass.getRelatedAccounts}',    
            pjpDetails.yearInt.toString(), pjpDetails.monthInt, pjpDetails.monthString, pjpDetails.quarterString, pjpDetails.ownerId,
            function(result,event) {
                for(var i=0; i<accountArray.length; i++) {
                    noOfRecordsPerType[accountArray[i]] = 0;
                }
                $j('#labelHeader').html('PJP for '+pjpDetails.monthString+' '+pjpDetails.yearInt);
                if(result.length > 0){                   
                    if(event.status) {               
                        $j("#tableBody").empty();
                        
                        var tabTableHeader = document.getElementById('tableHead');                        
                        var serviceCampRow;
                        var dealershipVisitRow;
                        for(var i=3; i<tabTableHeader.children.length; i++) {                            
                            tabTableHeader.removeChild(tabTableHeader.children[i]);   
                            i--;                                             
                        }
                        
                        $j("#headDays").empty();
                        $j("#tableBody").empty();
                        $j("#tableFoot").empty();
                        $j("#headTotalDailyPlanned").empty();

                         for(var i=0; i<accountArray.length; i++) {                         
                            if(tableBodyArray[accountArray[i]] != undefined) {
                                tableHeadArray[accountArray[i]] = '';
                                tableBodyArray[accountArray[i]] = '';        
                            }                           
                        }
                
                        totalDealer = result.length;
                        noOfDays = new Date(pjpDetails.yearInt, pjpDetails.monthInt, 0).getDate();                        
                        
                        for(var rs = 0; rs < result.length; rs++){                                                   
                            if(result[rs]['typeOfDay'] == 'Visit Day') 
                            {
                                accountDetails.push(new accountInfo(result[rs].accountId, result[rs].accountName, result[rs].accountType, result[rs].accountRecordType, result[rs].accountSapCode));
                            }

                            if(rs == 0) {                                
                                holidays = [];
                                
                                for(var i=0; i< noOfDays; i++) {
                                    if(result[0].dayMon[i].typeCol == "Holiday" || result[0].dayMon[i].typeCol == "PublicHoliday") {
                                        holidays.push(i+1);
                                    }
                                }                                
                                var oeDays = "<tr><td style='background:#f2f3f3;' id='thOeDays'><b>OE Days</b></td>";
                                var mor = "<tr><td style='background:#f2f3f3;' id='thMor'><b>MOR</b></td>";
                                var compAct = "<tr><td style='background:#f2f3f3;' id='thCompAct'><b>Company Activities</b></td>";
                                var days = "<th style='background:#f2f3f3;' id='thDays'><b>Days</b></th>";
                                var totPlan = "<th style='background:#f2f3f3;' id='thTotalDailyPlan'><b>Total Planned</b></th>";

                                serviceCampRow = "<tr><td bgcolor='#FFFFFF' colspan='"+(noOfDays+2)+"'>&nbsp;</td></tr><tr><td style='background:#f2f3f3;' id='thServiceCamps'><b>Service Camp</b></td>";
                                dealershipVisitRow = "<tr></tr><tr><td style='background:#f2f3f3;' id='thDealershipVisits'><b>Dealership Visits</b></td>";
                                
                                for(var i=1; i<=noOfDays; i++) {                                                                                                            
                                    var isHoliday = 0;
                                    for(var j=0; j<holidays.length; j++) {
                                        if(i == holidays[j]) {
                                            isHoliday = 1;
                                            break;
                                        }
                                    }

                                    var tdClass = '';
                                    
                                    if(isHoliday == 1) {                                                                                  
                                        if(result[rs].dayMon[i-1].typeCol == "Holiday") {
                                            tdClass = 'weekends';
                                        } else if(result[rs].dayMon[i-1].typeCol == "PublicHoliday") {                                      
                                            tdClass = 'publicHoliday';
                                        }
                                    }
                                    days += '<th style="background:#f2f3f3;" class="'+tdClass+'" id="thDay'+i+'"><b>'+result[0]['day'+i]+'</b></th>';   
                                    totPlan += '<th style="background:#f2f3f3; font-weight:lighter;" class="" id="thTotalDailyPlan'+i+'"></th>';
                                    oeDays += "<td id='tdOeDay"+i+"' class='"+tdClass+"'><input type='checkbox' id='oeCheck"+i+"' onclick='calPlanned(this.id);'/></td>";
                                    mor += "<td id='tdMor"+i+"' class='"+tdClass+"'><input type='checkbox' id='morCheck"+i+"' onclick='calPlanned(this.id);'/></td>";
                                    compAct += "<td id='tdCompAct"+i+"' class='"+tdClass+"'><input type='checkbox' id='compActCheck"+i+"' onclick='calPlanned(this.id);'/></td>"; 

                                    serviceCampRow += "<td id='tdServiceCamp"+i+"' class='"+tdClass+"'><input type='checkbox' id='serviceCampCheck"+i+"' onclick='calServiceCamps(this.id);'/></td>";

                                    dealershipVisitRow += "<td id='tdDealershipVisit"+i+"' class='"+tdClass+"'><input type='checkbox' id='dealershipVisitCheck"+i+"' onclick='calDealershipVisits(this.id);'/><input type='hidden' id='hideDealershipVisit"+i+"' value= '"+result[rs]["availableDayList"][i]["planVisitId"]+"'/></td>";
                                }
                                
                                days +="<td style='font-weight:bold; background:#f2f3f3;' id='thDay33'></td>";
                                totPlan +="<td style='font-weight:bold; background:#f2f3f3;' id='thTotalDailyPlan33'></td>";
                                oeDays += "<td style='background:#f2f3f3; color:#213F99' id='tdOeDay32'>"+pjpDetails.oeDays+"</td><td style='background:#f2f3f3;' id='tdOeDay33'>0</td></tr>";
                                mor += "<td style='background:#f2f3f3; color:#213F99' id='tdMor32'>"+pjpDetails.morDays+"</td><td style='background:#f2f3f3;' id='tdMor33'>0</td></tr>";
                                compAct += "<td style='background:#f2f3f3; color:#213F99' id='tdCompAct32'>"+pjpDetails.compActDays+"</td><td style='background:#f2f3f3;' id='tdCompAct33'>0</td></tr>";

                                serviceCampRow += "<td style='background:#f2f3f3;' id='tdServiceCamp33'>0</td></tr>";

                                dealershipVisitRow += "<td style='background:#f2f3f3;' id='tdDealershipVisit33'>0</td></tr>";

                                if(pjpDetails.isOE == false) oeDays = '';
                                if(pjpDetails.isMOR == false) mor = '';
                                if(pjpDetails.isCompAct == false) compAct = '';

                                tableHeader = oeDays+mor+compAct;                                
                                tabDays.append(days);
                                tabTotPlan.append(totPlan);                                       
                                tabHead.append(tableHeader);   

                                for(var j=0; j<accountArray.length; j++) { 
                                    var accHead = tableHeadArray[accountArray[j]];
                                    if(accHead == undefined) accHead = '';
                                    
                                    var accType = '<tr rowspan="2" style="background:#f2f3f3;" class="sticky" id="head'+accountArray[j]+'Name"><th id="th'+accountArray[j]+'Name"><b>'+accountArray[j].replace(/_/g," ")+'</b></th>';
                                                                        
                                    for(var i=1; i<=noOfDays+2; i++) {                                                                              
                                        if(i<=noOfDays) {                                           
                                            accType += '<th id="th'+accountArray[j]+'Name'+i+'"></th>';                                         
                                        } else {                                                                                        
                                            if(i==noOfDays+2) accType += '<th id="th'+accountArray[j]+'MonPlan">P</th>';
                                        }                                       
                                    }

                                    tableHeadArray[accountArray[j]] = accType+'</tr>';
                                }                                                        
                            }
                            
                            if(result[rs]['typeOfDay'] == 'Visit Day') 
                            {                                                          
                                var count = 0;

                                for(var j=0; j<accountArray.length; j++) {
                                    if(accountArray[j] == result[rs].accountRecordType.replace(/\s+/g, "_")) {
                                        noOfRecordsPerType[accountArray[j]]++;
                                        var acc = tableBodyArray[accountArray[j]];                                  
                                        if(acc == undefined) acc = '';

                                        acc=acc+'<tr onMouseOver="trMouseOver(this)" onMouseOut="trMouseOut(this)" id="'+parseInt(rs+1)+'tr">';

                                        var x= result[rs]['accountName'];
                                        acc=acc+'<td id="td'+accountArray[j]+'Name'+parseInt(rs+1)+'" onMouseOver="accountMouseOver(event,this);" onMouseOut="accountMouseOut(event);"><input type="hidden" id="'+noOfRecordsPerType[accountArray[j]]+accountArray[j]+'Id" value= "'+result[rs]['accountId']+'"/>'+x+'</td>';

                                        for(var i=0; i<noOfDays; i++) {                                                     
                                            var cName='';
                                            var onHoverMethods = "";
                                            var isChecked = '';
                                            
                                            if(result[rs].dayMon[i].typeCol == "Holiday" || result[rs].dayMon[i].typeCol == "PublicHoliday") {                                          
                                                if(result[rs].dayMon[i].typeCol == "PublicHoliday") {
                                                    cName = 'publicHoliday';
                                                } else if(result[rs].dayMon[i].typeCol == "Holiday") {
                                                    cName = 'weekends';
                                                }
                                            } else {
                                                onHoverMethods = "onMouseOver='tdMouseOver(this)' onMouseOut='tdMouseOut(this)'";                                               
                                            }
                                            if((result[rs]['availableDayList'][i]['value'] != i) && (result[rs]['availableDayList'][i]['dateAvailable'])) {   // checking the value is true              
                                                    count++;
                                                    isChecked = 'checked="checked"';                                                    
                                                }
                                            acc=acc+"<td id='"+noOfRecordsPerType[accountArray[j]]+"tdCheck"+accountArray[j]+parseInt(i+1)+"' class='"+cName+"' "+onHoverMethods+">"+'<input type="checkbox" onclick="onclickchecked(this.id);" '+isChecked+' id="'+noOfRecordsPerType[accountArray[j]]+'check'+accountArray[j]+parseInt(i+1)+'"/><input type="hidden" id = "'+noOfRecordsPerType[accountArray[j]]+'hide'+accountArray[j]+parseInt(i+1)+'" value= "'+result[rs]['availableDayList'][i]['planVisitId']+'"/>'+"</td>";                                
                                        }

                                        acc=acc+'<td style="background:#f2f3f3;" id="tdPlanned'+accountArray[j]+parseInt(rs+1)+'"><span id="'+noOfRecordsPerType[accountArray[j]]+accountArray[j]+'planned">'+count+'</span></td>';//count

                                        tableBodyArray[accountArray[j]] = acc;
                                    }
                                }
                            }
                        }

                        for(var i=0; i<accountArray.length; i++) {                         
                            if(tableBodyArray[accountArray[i]] != undefined) {
                                tabBody.append(tableHeadArray[accountArray[i]]);
                                tabBody.append(tableBodyArray[accountArray[i]]);        
                            }                           
                        }
                        
                        tabBody.append(serviceCampRow);
                        tabBody.append(dealershipVisitRow);
                    
                        for(var rs = 0; rs < result.length; rs++) {
                            if(result[rs]['typeOfDay'] == 'Service Camp') {
                                
                                for(var i=0; i<noOfDays; i++) {  
                                    if((result[rs]['availableDayList'][i]['value'] != i) && (result[rs]['availableDayList'][i]['dateAvailable'])){ 
                                        document.getElementById('serviceCampCheck'+(i+1)).checked = true;                  
                                        calServiceCamps('serviceCampCheck'+(i+1));   
                                    }
                                }                                                            
                                quarServiceCamps = result[rs]['quarPlannedVisits'];
                            } else if(result[rs]['typeOfDay'] == 'Dealership Visit') {                                
                                for(var i=0; i<noOfDays; i++) {  
                                    if((result[rs]['availableDayList'][i]['value'] != i) && (result[rs]['availableDayList'][i]['dateAvailable'])){ 
                                        document.getElementById('dealershipVisitCheck'+(i+1)).checked = true;                  
                                        calDealershipVisits('dealershipVisitCheck'+(i+1));   
                                        document.getElementById('hideDealershipVisit'+(i+1)).value = result[rs]['availableDayList'][i]['planVisitId'];
                                    }
                                }                                                     
                            } else if(result[rs]['typeOfDay'] != 'Visit Day') {
                                var dayType = '';
                                var dayType1 = '';
                                 
                                if(pjpDetails.isMOR == true && result[rs]['typeOfDay'] == 'MOR') {
                                    dayType = 'mor';                                    
                                    dayType1 = 'Mor';                                    
                                } 
                                if(pjpDetails.isOE == true && result[rs]['typeOfDay'] == 'OE') {
                                    dayType = 'oe';
                                    dayType1 = 'OeDay';                                    
                                } 
                                if(pjpDetails.isCompAct == true && result[rs]['typeOfDay'] == 'Company Activity') {
                                    dayType = 'compAct';
                                    dayType1 = 'CompAct';                                    
                                }
                                
                                if(dayType != '') {
                                    for(var i=0; i<noOfDays; i++) {  
                                        if((result[rs]['availableDayList'][i]['value'] != i) && (result[rs]['availableDayList'][i]['dateAvailable'])){                                        
                                            document.getElementById(dayType+'Check'+(i+1)).checked = true;
                                            calPlanned(dayType+'Check'+(i+1));                                        
                                        }
                                    }                                    
                                    $j("#td"+dayType1+"33").html(result[rs]['quarPlannedVisits']);
                                }                                                           
                            }                            
                        }
                        
                        calculateCounters();                           

                        $j("#el_loading").hide();
                        $j("#tableAccounts").stupidtable();
                    }
                    
                    for(var i=0; i<accountArray.length; i++) {      
                        if(noOfRecordsPerType[accountArray[i]] == 0) {
                            accountArray.splice(i, 1);
                            i--;
                        }                           
                    }        

                    $j( "#ulButtons" ).show();
                    $j( "#btnSaveUp" ).show();
                    $j( "#btnSaveDown" ).show();
                    $j( "#btnSubmitUp" ).show();
                    $j( "#btnSubmitDown" ).show();
                    
                    for(var j=0; j<accountArray.length; j++) { 
                        for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {                     
                            colorPlanned(true, $j("#"+i+accountArray[j]+"planned"));
                        }                     
                    }

                    colorPlanned($j("#tdOeDay32").html() >= $j("#tdOeDay33").html(), $j("#tdOeDay33"));
                    colorPlanned($j("#tdMor32").html() >= $j("#tdMor33").html(), $j("#tdMor33"));
                    colorPlanned($j("#tdCompAct32").html() >= $j("#tdCompAct33").html(), $j("#tdCompAct33"));
                    colorPlanned(parseInt(noOfServiceCamps) <= parseInt($j("#tdServiceCamp33").html()), $j("#tdServiceCamp33"));
                    colorPlanned(true, $j("#tdDealershipVisit33"));
                   
                    for(var j=0; j<accountArray.length; j++) { 
                        $j('#th'+accountArray[j]+'MonPlan').text($j("#selectQuarter").val()+' Planned');
                    }

                    calculateMonthly();                    
                    calculateReferencedWidth();
                    calTotalDailyPlanned();

                    if(pjpDetails.isReadOnly == true) {
                        $j( "#ulButtons" ).hide();
                        $j( "#btnSaveUp" ).hide();
                        $j( "#btnSaveDown" ).hide();
                        $j( "#btnSubmitUp" ).hide();
                        $j( "#btnSubmitDown" ).hide();
                        $j( "input:checkbox" ).attr("disabled", pjpDetails.isReadOnly);
                        $j( "#textComments").attr("disabled", pjpDetails.isReadOnly);
                    } else {
                        $j( "#textComments").removeAttr("disabled");
                    }
                    getHeaderTop();
                }
                else{                    
                    $j("#el_loading").hide();
                    $j("#tableBody").empty();
                    $j("#tablehead").empty();
                    $j("#tableFoot").empty();

                    alertify.alert("There is no account under this type.");
                }
            });            
        return false;   
    }
    
    function colorPlanned(bool, gotEle) {
        if(bool) {
            $j(gotEle).addClass('TargetEQPlanned');
            $j(gotEle).removeClass('TargetNEQPlanned');
        }
        else {
            $j(gotEle).addClass('TargetNEQPlanned');
            $j(gotEle).removeClass('TargetEQPlanned');
        }
    }
        
    function getColumnPlanned() {
        var oePlan = $j('#tdOeDay33').html();
        var morPlan = $j('#tdMor33').html();
        var compActPlan = $j('#tdCompAct33').html();              
        
        for(var k=1; k<=noOfDays; k++) {            
            for(var j=0; j<accountArray.length; j++){               
                var daysPlanned = 0;
                for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {                             
                    if(document.getElementById(i+"check"+accountArray[j]+k).checked) {
                        daysPlanned++;                      
                    }                              
                }
                
                var plan = document.getElementById('th'+accountArray[j]+'DailyPlan'+k);
                var tar = document.getElementById('th'+accountArray[j]+'DailyTar'+k);
                plan.innerHTML = daysPlanned;
                
                colorPlanned(parseInt(tar.innerHTML) <= parseInt(plan.innerHTML), plan);
            }
            
            if(pjpDetails.isOE == true) {
                if($j('#oeDay'+k).is(':checked')) {
                    $j('#tdOeDay33').html(parseInt($j('#tdOeDay33').html())+1);
                }
            }
            if(pjpDetails.isMOR == true) {
                if($j('#mor'+k).is(':checked')) {
                    $j('#tdMor33').html(parseInt($j('#tdMor33').html())+1);
                }   
            }
            
            if(pjpDetails.isCompAct == true) {
                if($j('#compAct'+k).is(':checked')) {
                    $j('#tdCompAct33').html(parseInt($j('#tdCompAct33').html())+1);
                }            
            }
        }

        if(pjpDetails.isMOR == true) {
            colorPlanned($j('#tdMor32').html() >= $j('#tdMor33').html(), $j('#tdMor33'));
        } 
        if(pjpDetails.isOE == true) {
            colorPlanned($j('#tdOeDay32').html() >= $j('#tdOeDay33').html(), $j('#tdOeDay33'));
        } 
        if(pjpDetails.isCompAct == true) {
            colorPlanned($j('#tdCompAct32').html() >= $j('#tdCompAct33').html(), $j('#tdCompAct33'));
        }                                  
    }
    
    function Visits_Plan__c() {
        this.Dealer__c = null;
        this.Day__c = null;
        this.Id = null;
    }
    
    function verifyMonthlyAct(str) {            
        if(pjpDetails.isOE == true && parseInt($j('#tdOeDay33').text()) > parseInt($j('#tdOeDay32').text())) {
            str+='<br/>Planned OE Days should not be greater than '+parseInt($j('#tdOeDay32').text())+' in a month.';
        }
        if(pjpDetails.isMOR == true && parseInt($j('#tdMor33').text()) > parseInt($j('#tdMor32').text())) {
            str+='<br/>Planned MOR Days should not be greater than '+parseInt($j('#tdMor32').text())+' in a month.';
        }
        if(pjpDetails.isCompAct == true && parseInt($j('#tdCompAct33').text()) > parseInt($j('#tdCompAct32').text())) {
            str+='<br/>Planned Company Activities should not be greater than '+parseInt($j('#tdCompAct32').text())+' in a month.';
        }
        return str;
    }

    function verifySegmentNorms(str) {

        for(var j=0; j<accountArray.length; j++) { 
            for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) { 
                if(parseInt($j("#"+i+accountArray[j]+"planned").text()) < parseInt($j("#"+i+accountArray[j]+"Target").text())) {
                    str+='<br/>Quarterly Norms for '+accountArray[j]+' are not met.';
                    break;
                }                                                
            }                     
        }                   
        
        return str;
    }

    function verifyServiceCampNorms(str) {
        if(quarServiceCamps < parseInt(noOfServiceCamps)) {
            str+='<br/>Quarterly Norms for Service Camps not met.';
        }
        return str;
    }

    function verifyQuarterlyNorms(str) {
        var sMon = $j("#selectMonth option:selected").text();
        if(sMon == 'March' || sMon == 'June' || sMon == 'September' || sMon == 'December') {
            str = verifyServiceCampNorms(str);            
        } 
        return str;
    }

    var visitPlanList;
    
    function disableAllButtons() {
        $j('#btnSaveUp').attr('disabled','disabled');
        $j('#btnSaveDown').attr('disabled','disabled');
        $j('#btnSubmitUp').attr('disabled','disabled');
        $j('#btnSubmitDown').attr('disabled','disabled');
    }

    function enableAllButtons() {
        $j('#btnSaveUp').removeAttr('disabled');
        $j('#btnSaveDown').removeAttr('disabled');
        $j('#btnSubmitUp').removeAttr('disabled');
        $j('#btnSubmitDown').removeAttr('disabled');
    }

    // Saving the plan and verifying if all the norms are met or not  
    function savePlans(buttonStr) {  
        $j("#el_loading").show();     
        disableAllButtons();      
        var isChecked = 0;

        for(var j=0; j<accountArray.length; j++){
            for(var i=1; i<=noOfRecordsPerType[accountArray[j]];i++) {
                for(var k=1; k<=noOfDays; k++) {  
                    if(document.getElementById(i+"check"+accountArray[j]+k).checked) {
                        isChecked = 1;
                        break;
                    }              
                }
            }
        }
        
        if(isChecked == 0) {
            alertify.alert('Please select the days to visit.');
            enableAllButtons();        
            $j("#el_loading").hide();
            return 0;
        }
        
        if(buttonStr == 'Submit') {
            var str = '';
            str = verifyQuarterlyNorms(str);
            
            if(str != '') {
                bootbox.dialog({
                    message: str,
                    buttons: {
                        success: {
                            label: "Submit Anyway",
                            className: "btn-success",
                            callback: function() {
                                callSavePlan(buttonStr);                        
                            }
                        },
                        danger: {
                            label: "Save",
                            className: "btn-success",
                            callback: function() {
                                buttonStr = 'Save';
                                callSavePlan(buttonStr);                        
                            }
                        },
                        main: {
                            label: "Cancel",
                            className: "btn-danger",
                            callback: function() {
                                enableAllButtons();        
                                $j("#el_loading").hide();
                                return 0;                    
                            }
                        }
                    }
                });
            } else {
                callSavePlan(buttonStr);
            }
        } else {
            callSavePlan(buttonStr);
        }        
    }
    
    // Saving the plan and verifying if all the norms are met or not    
    function callSavePlan(buttonStr) {        
        $j("#el_loading").show();
        
        visitPlanList = new Array();
        
        for(var j=0; j<accountArray.length; j++){
            for(var i=1; i<=noOfRecordsPerType[accountArray[j]]; i++) {
                for(var k=1; k<=noOfDays; k++) {  
                    if(document.getElementById(i+"check"+accountArray[j]+k).checked) {       
                             
                        var visitPlanInstance = new Visits_Plan__c();
                        visitPlanInstance.Dealer__c = document.getElementById(i+accountArray[j]+"Id").value;
                        visitPlanInstance.Day__c = String(k);
                        visitPlanInstance.Type_of_Day__c = 'Visit Day';
                        visitPlanInstance.Id = $j("#"+i+"hide"+accountArray[j]+k).val();
                        if(visitPlanInstance.Id == 'undefined') {
                            visitPlanInstance.Id = null;
                        }
                        visitPlanList.push(visitPlanInstance);
                    }              
                }
            }
        }

        for(var k=1; k<=noOfDays; k++) {        
            var visitPlanInstance = new Visits_Plan__c();                
            visitPlanInstance.Day__c = String(k);
            var isTrue = 0;            
            if(document.getElementById("serviceCampCheck"+k).checked) {                
                isTrue = 1;
                visitPlanInstance.Type_of_Day__c = 'Service Camp';                 
            }
            
            if(isTrue == 1) {
                visitPlanInstance.Id = $j("#"+i+"hide"+accountArray[j]+k).val();
                if(visitPlanInstance.Id == 'undefined') {
                    visitPlanInstance.Id = null;
                }
                visitPlanList.push(visitPlanInstance);          
            }            
        }

        for(var k=1; k<=noOfDays; k++) { 
            if(document.getElementById("dealershipVisitCheck"+k).checked) {                
                var visitPlanInstance = new Visits_Plan__c();                
                visitPlanInstance.Day__c = String(k);   
                visitPlanInstance.Type_of_Day__c = 'Dealership Visit';                          
                visitPlanInstance.Id = $j("#hideDealershipVisit"+k).val();
                if(visitPlanInstance.Id == 'undefined') {
                    visitPlanInstance.Id = null;
                }
                visitPlanList.push(visitPlanInstance);                                           
            }
        }

        if(visitPlanList.length > 0) {
            PJP_OEClass.saveVisitPlans(visitPlanList,pjpDetails.yearInt.toString(),pjpDetails.monthInt,pjpDetails.monthString, buttonStr, $j("#textComments").val(), function(result, event){                
                if(event.type == 'exception') {
                    alertify.alert('Plan not saved. Session timeout, please refresh the page and try again.'); 
                    enableAllButtons();        
                    $j("#el_loading").hide();
                }
                else {
                    if(result.split('; ')[0] == 'Submit')
                        window.top.location = '/'+ result.split('; ')[1]; 
                    else {
                        alertify.alert('Plan has been saved.');
                        enableAllButtons();        
                        $j("#el_loading").hide();
                    }

                }
                $j("#el_loading").hide();         
            });
        }       
    }    

    </script>
    <body>        
        <div class="panel panel-primary" id='filterDiv'>        
            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" title="Home"><img id="imgCeat1"  src="{!$Resource.CeatLogo}" alt="Logo not found" style="margin-top:-8px" align="right"/></a>
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse">
                    <ul class="nav navbar-nav">
                        <li ><a style="font-size: 15px;" href="#">PJP</a></li>             
                    </ul>                               
                </div>
            </div>

            <div class="panel-body"> 
                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <form class="form-inline" role="form">
                            <div class="form-group">  
                                <label class="control-label" for="multiSelect"><b>Select Quarter</b></label>  
                                <div class="controls">                                      
                                    <select name="selectQuarter" id="selectQuarter" class="form-control" disabled="disable">
                                        <option value="Q1">Q1</option>
                                        <option value="Q2">Q2</option>
                                        <option value="Q3">Q3</option>
                                        <option value="Q4">Q4</option>
                                    </select>
                                </div> 
                            </div>
                        </form>  
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <form class="form-inline" role="form">
                            <div class="form-group">  
                                <label class="control-label" for="multiSelect"><b>Select Month</b></label>  
                                <div class="controls" style="margin-top: 4px;">  
                                    <select name="selectMonth" id="selectMonth" class="form-control">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>                                    
                                </div>                
                            </div>                            
                        </form>         
                    </div>                                       
                    <div class="col-xs-2 col-sm-1">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="control-label" for="multiSelect"><div> <br/>  </div> </label>
                                <div id="divFilterButtons" class="controls" style="margin-top: 10px; margin-left: -200%;"> 
                                    <input type="button" value="Go" class="btn-primary btn-sm backgroundBlue" onclick="fetchPjpDetails(); return false;"> </input>
                                    <input type="button" value="Cancel" class="btn-danger btn-sm backgroundBlue" id='btnCancelFilter' style="display:none; background-color: #d9534f !important; color: #ffffff !important;" onclick="hideFilter(); return false;"> </input>                              
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                                
            </div>
        </div>
            
        <div style="display:none;" id="visitDetailDiv">            
            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <input type="button" value="Change Month" id="linkFilter" style="margin-top:18px;color:white;font-size: small" class="btn-link" onclick="changeFilter();"/>
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse">
                    <ul class="nav navbar-nav">
                        <li ><a style="font-size: 15px;" href="#" id="labelHeader">PJP</a></li>
                    </ul>
                   
                    <ul id="ulButtons" class="nav navbar-nav navbar-right" style="display:none; ">
                        <li><a type="button" id="btnSaveUp" class="btn-sm btn-danger" onclick="savePlans('Save');" style="display:none">Save</a></li>
                        <li>&nbsp;</li>
                        <li><a type="button" id="btnSubmitUp" class="btn-sm btn-danger" onclick="savePlans('Submit');" style="display:none">Submit</a></li>
                    </ul>                
                </div>
            </div>

            <div class="panel-body,container" id="panelbody">
                <ul class="nav nav-pills" style="padding-bottom: 10px;padding-left: 38% !important;">
                    <li>
                        <a href="#">Service Camps (Quarterly)
                            <span id="noServiceCampTarUp" class="badge backgroundBlue"></span>
                            <span id="noServiceCampPlanUp" class="badge"></span>
                        </a>
                    </li>
                </ul>        

                <table class="table table-bordered" id="tableAccounts" >
                    <thead id="tableHead">                         
                        <tr id="headDays" class="sticky" ></tr>                       
                        <tr id="headTotalDailyPlanned" class="sticky" ></tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody> 
                    <tfoot id="tableFoot">
                    </tfoot>
                </table> 

                <div class="form-group" style='width:80%'>  
                    <label class="control-label" for="textComments" style="padding-left: 1%;"><b>Comments</b></label>  
                    <div class="controls" style="padding-left: 0.5%;">  
                        <input type='text' id="textComments" style='height:50px' class="form-control" placeholder="Enter Comments"/>
                    </div> 
                </div>

                <ul class="nav nav-pills" style="padding-bottom: 10px; padding-left:42% !important;;">
                    <li>
                        <a href="#">Service Camps (Quarterly)
                            <span id="noServiceCampTarDown" class="badge backgroundBlue"></span>
                            <span id="noServiceCampPlanDown" class="badge"></span>
                        </a>
                    </li>
                </ul>

                <center>                
                    <input type="button" id="btnSaveDown" style="display:none" value="Save" class="btn-danger btn-sm" onclick="savePlans('Save');"/>
                    <input type="button" id="btnSubmitDown" style="display:none" value="Submit" class="btn-danger btn-sm" onclick="savePlans('Submit');"/>
                </center>
                <br/><br/>

            </div>
        </div>
    </body>
    <div class="loading" id="el_loading">Loading&#8230;</div>    
        <div id="pop-up">
            <h3>Pop-up div Successfully Displayed</h3>
            <p>
                This div only appears when the trigger link is hovered over. Otherwise it is hidden from view.<br/>
                <a href="anotherPage">This is a link you can select.</a>
            </p>
        </div>
    </body>
    </html>
    </apex:form>
</apex:page>