<apex:page standardController="Account" sidebar="false" showHeader="false">
    <apex:variable var="gridPage" value="{!URLFOR($Page.GBFree__Grid)}" />
    <apex:variable var="gridPage" value="{!gridPage & IF(CONTAINS(gridPage, '?'), '&', '?')}" />

    <iframe id="gridFrame" scrolling="auto" height="480" width="100%" frameborder="0" src="{!gridPage}gname=Group Account Info - 360 View&id={!Account.Id}&sh=0&ssb=0&sbb=1"></iframe>
</apex:page>