<apex:page sidebar="false" id="myPage" showHeader="false" applyBodyTag="false" applyHtmlTag="false" controller="SP_Replacement_Controller_TL">
<apex:form id="myForm">
   
    <c:SalesPlanningComponent />
    <html>
        <head>
           <c:SalesPlanningComponentHeader />
        </head>
        <body>
        <Script>
                function isNumberKey(evt){
                    var charCode = (evt.which) ? evt.which : event.keyCode
                    if (charCode > 31 && (charCode < 48 || charCode > 57))
                        return false;
                    return true;
                }     
                function isTabKey(evt,i,j){                       
                       var charCode = (evt.which) ? evt.which : event.keyCode
                      
                       if(j==(keyLength-1)){
                         i=i+1;
                         j=0;
                        }else{
                            j=j+1;
                        }
                        var charCode = (evt.which) ? evt.which : event.keyCode
                        if (evt.keyCode == 9){
                            //alert('99999')
                             evt.preventDefault();
                            
                             
                             document.getElementById('cat_gap_'+i+'_'+j).focus();
                             
                        }
                   }   
        </script>
         <Script>
               function isUpKey(evt,i,j){
                      
                     if(i!=0)
                     {
                      i=i-1;
                     }             
                    var charCode = (evt.which) ? evt.which : event.keyCode
                    if (evt.keyCode == 38){
                         document.getElementById('cat_gap_'+i+'_'+j).focus();
                        
                    }
                    
                }
           </script>
           <Script>
                function isDownKey(evt,i,j){
                     
                    i=i+1;
                    var charCode = (evt.which) ? evt.which : event.keyCode
                    if (evt.keyCode == 40)
                          document.getElementById('cat_gap_'+i+'_'+j).focus();
                }
        </script>
        <script>
            $j = jQuery.noConflict();
            $j( document ).ready(function() {
                 
                fetchSalesPlanning();
                $j("input").blur(function () {
                    window.scrollTo(0, 0);
                    document.body.scrollTop = 0;
                });
                            
            });
            
            //--------Developed by Swayam Arora--------
            //--------Use to fix the first row and first column when scrolling---------
             
            var lastTopScroll       = 0;
            var lastLeftScroll      = 0;
            var noOfTlDealer        = 0;
            var noOfCategories      = 0;
            var firstColWidth       = 0;
            var firstColCellHeight  = 0;
            var getWidth            = true;
            var allWidth            = 0;
            var leftScrollPad       = 0;
            var topScrollPad        = 0;
            var keyLength           = 0; 
            var resLength           = 0;
            var st                  = '430px';
            var tablefix;
            
            function fetchSalesPlanning() {
                var tab = $j("#tableOfSales");
                var tab2 = $j('#tableBody');
                resLength = 0;
                var customArr = [];
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1;
                var yyyy = today.getFullYear();
                
                
                Visualforce.remoting.timeout = 120000;
                var catResultLength;
                $j('#tableBody').empty();
                
                //*********If logged in date is before RM screen ACW open window date and RM has not submitted Sales planning then it should not show the page*******
                if((dd < {!parFromDay}) && ({!submitted} == false)){
                      $j("#el_loading").hide();         
                      alertify.alert("Sales Planning Will Be Available From : " + {!fromDay}+'/'+mm +'/'+yyyy);
                      
                }//*********If RM TODATE is not equal to FROMDATE of TL*******
                else if({!parToDay} !=  {!fromDay} && {!submitted} == false && ({!parFromDay} <= dd)  && (dd <=  {!parToDay})){ 
                      $j("#el_loading").hide();
                     //*********If Current loggedin date lies between ToDate and  FromDdate of RM, it should not show the page*******                
                     
                         alertify.alert("Sales Planning Will Be Available From : " +{!fromDay}+'/'+mm+'/'+yyyy);
                                   
                }//**********If RM TODATE is equal to FROMDATE of TL******      
                else if({!parToDay} ==  {!fromDay} && {!submitted} == false && ({!parFromDay} < dd) && (dd <  {!parToDay})){
                     $j("#el_loading").hide();
                    //*********If Current loggedin date lies between ToDate and  FromDdate of RM, it should not show the page*******          
                                           
                            alertify.alert("Sales Planning will be available on" +{!fromDay}+'/'+mm+'/'+yyyy);
                    
                }//Else the page will be available for Sales planning
                else{
                
                  SP_Replacement_Controller_TL.getDealersOfTL('{!loggedInUserId}',function(result,event){
                   // alert('----else----');
                  if(result == null){
                             $j("#el_loading").hide();
                             alertify.alert("Sales Planning are not available");
                     }
                  else{

                  
                      var trHead ='';
                      keyLength=0; 
                      for(var i=0;i<result.length;i++){
                          keyLength = result[i].catList.length;   
                          
                          customArr.push('<td class="fontBold" style="background:#DDDDDD;height:33px;line-height:30px;text-align: center;" onmouseover="dlNameMouseOver(event,this);" onmouseout="dlNameMouseOut(event);"><input type="hidden" id="dlname_'+i+'" value="'+result[i]['dlName']+'@@'+result[i]['dlNumber']+'@@'+result[i]['dlType']+'@@'+result[i]['prospectNum']+'"/>'+(result[i]['dlName'].length > 7?result[i]['dlName'].substring(0,7).trim()+'..' :result[i]['dlName'])+'<td class="fontBold font14" style="background:#DDDDDD;height:33px;line-height:30px;text-align: center;">'+((result[i].SDS)/100000).toFixed(2)+'</td><td id="cat_planned_'+i+'" class="fontBold font14" style="background:#DDDDDD;height:33px;line-height:30px;text-align: center;">'+((result[i].plannedTargetRunning)/100000).toFixed(2)+'</td>'); 
                          if(result[i].link != ''){
                            var link = document.getElementById("openrec");
                            link.setAttribute('href',result[i].link);
                            $j( "#openrec" ).show();
                          }else{
                            $j( "#openrec" ).hide();
                          }
                       }
                      resLength = result.length;
                    
                      //Fixing header    
                      var rowL = '<tr style="height:33px;">';
                     //alert(result[0].plannedTargetValue+'value');
                     //alert(result[0].plannedTargetValue+'value');
                   var trsN= trsN +'<th class="widthOfColTwo" style="padding:0px;background:#213F99;"><div class="widthOfColTwo floatingLeft"><div style="background:#213F99;color:White;height:35px;text-align: center;">Total Value <br/> Target</div><div class="fontFamily" style="background:#213F99;color:White;height:35px;text-align: center;">Total Value <br/> Actual</div><div class="fontFamily" style="text-align: center;background:#213F99;color:White;height:65px;text-align: center;"><br/><br/>Dealers</div></div></th>';
                      trsN = trsN + '<th style="padding:0px;text-align: center;"><div class="widthOfColOne floatingLeft"><div class="cat_Asp_Total fontFamily font14" style="height:42px;width:63px;background:#DDDDDD;" >'+((result[0].plannedTargetValue)/100000).toFixed(2)+'</div><div class="cat_runAsp_Total fontFamily font14" style="height:42px;width:63px;background:#DDDDDD;" >'+((result[0].plannedTargetValue)/100000).toFixed(2)+'</div><div class="fontFamily" style="background:#213F99;color:White;height:65px;width:71px;text-align: center;"><br/><br/>SDS</div></div></th>';
                      //trsN = trsN + '<th style="padding:0px;"><div class="widthOfColOne floatingLeft"><div class="fontFamily" style="background:#213F99;color:White;height:65px;text-align: center;width:71px;"><br/>Specialty <br/> Value</div></div></th>';
                      trsN = trsN + '<th style="padding:0px;background:#213F99;"><div class="widthOfColOne floatingLeft"><div  class="fontFamily" style="background:#213F99;color:White;height:85px;"><br/>Category</div><div class="fontFamily" style="background:#213F99;color:White;height:65px;overflow: hidden;text-align: center;"><br/> Planned<br/>  Values</div></div></th>';  
                     
                    
                      rowL = rowL + trsN;
                     
                      for(var j=0;j< keyLength ;j++){
                              if(result[0].catList[j] != undefined){
                                 
                                  var thsN = '<th  style="padding:0px;border-right-width: 3px;border-right-color: black;"><div class="widthOfCol floatingLeft">';

                                  thsN = thsN + '<div class="paddingleft27 padding6 colorWhite" style="width:211px;height:30px;float:left;background:#213F99;margin-left: -1px;">Category Target Total</div><div style="width:70px;height:30px;float:left;background:#213F99;color:White;text-align: center;" id="cat_total_'+j+'">'+result[0].catList[j].catTarget+'</div>'; 

                                  thsN = thsN + '<div class="paddingleft27 padding6" style="width:210px;height:30px;float:left;background:#DDDDDD;">Running Total</div><div style="width:70px;float:left;height:30px;background:#DDDDDD;text-align: center;" id="cat_run_total_'+j+'">'+result[0].catList[j].catRunning+'</div>';

                                  thsN = thsN + '<div class="paddingleft27 padding6" style="background:white;width:210px;height:30px;float:left;">Gap</div><div class="font14" style="background:white;width:70px;float:left;height:30px;text-align: center;" id="cat_gap_total_'+j+'">'+result[0].catList[j].catGap+'</div>';

                                  thsN = thsN + '<div class="colorWhite textCenter" style="width:281px;height:30px;float:left;background:#213F99;margin-left: -1px;" id="cat_catname_'+j+'">'+result[0].catList[j].catName+'</div>';

                                  thsN = thsN + '<div class="padding6" style="width:70px;height:30px;float:left;background:#DDDDDD;text-align: center;">Budget</div><div class="padding6" style="width:70px;height:30px;float:left;background:#DDDDDD;text-align: center;">LYCM</div><div class="padding6" style="width:70px;height:30px;float:left;background:#DDDDDD;text-align: center;">L3M</div><div class="padding6" style="width:70px;height:30px;float:left;background:#DDDDDD;text-align: center;">Planned</div>';

                                  thsN = thsN+'</div></th>';
                                  
                                  rowL = rowL + thsN;
                                 // alert(result[0].catList[j].catGap);
                              }
                          }
                          rowL + '</tr>';                        
                       tab.append(rowL);  
                       var bodyRow = '';
                  for(var i=0;i<result.length;i++){
                               bodyRow = '<tr style="height:33px;">'+customArr[i];

                               var bodyTd = '';
                              for(var j=0;j <keyLength ;j++){
                              
                                  if(result[i].catList[j] != undefined){ 
                                      bodyTd = '<td style="padding:0px;border-right-width: 3px;border-right-color: black;">';
                                      if(result[i].lockedTL == true){
                                      
                                          $j('#divSubmitTop').hide(); 
                                          $j('#divSubmitTop1').hide(); 
                                          st = '420px';
                                        if(keyLength==j+1){
                                            bodyTd = bodyTd + '<div style="width:280px;height:33px;float:left;text-align: center;"><div class="font14" style="width:70px;height:33px;float:left;line-height:50px;">'+(result[i].catList[j].budget)+'</div><div class="font14" style="width:70px;height:33px;float:left;line-height:50px;">'+(result[i].catList[j].Lycm)+'</div><div class="font14" style="width:70px;height:33px;float:left;line-height:50px;">'+(result[i].catList[j].L3M)+'</div><div class="font14" style="width:70px;height:33px;float:left;"><b class="cat_gap cat_gap_'+j+'"><input type="hidden" value="'+(result[i].catList[j].spDLID)+'@@'+(result[i].dlNumber)+'@@'+(result[i].dlRegCode)+'@@'+(result[i].dlTerritoryCode)+'@@'+(result[i].catList[j].catCode)+'@@'+(result[i].dlName)+'@@'+(result[i].accID)+'@@'+(result[i].catList[j].catASP)*(result[i].catList[j].planned)+'" /><input type="hidden" id="cat_asp_'+i+'_'+j+'" value="'+(result[i].catList[j].catASP)+'"/><input type="text" class="font14" style="width:50px;height:24px;background:#ADD6FF;padding-left: 1px;margin-top:12px;text-align:center;" maxlength="5" value="'+(result[i].catList[j].planned)+'" id="cat_gap_'+i+'_'+j+'" onchange="calculateTotal('+j+',this.id,'+i+');" onkeypress="return isNumberKey(event);calculateTotal('+j+',this.id,'+i+');" onKeyDown="isDownKey(event,'+i+','+j+');isUpKey(event,'+i+','+j+');isTabKey(event,'+i+','+j+');" onblur="checkNotNull(this.id);" saveit= "'+(result[i].catList[j].saveit)+'" readonly="true" /></b></div>';
                                          }else{
                                            bodyTd = bodyTd + '<div style="width:280px;height:33px;float:left;text-align: center;"><div class="font14" style="width:70px;height:33px;float:left;line-height:50px;">'+(result[i].catList[j].budget)+'</div><div class="font14" style="width:70px;height:33px;float:left;line-height:50px;">'+(result[i].catList[j].Lycm)+'</div><div class="font14" style="width:70px;height:33px;float:left;line-height:50px;">'+(result[i].catList[j].L3M)+'</div><div class="font14" style="width:70px;height:33px;float:left;"><b class="cat_gap cat_gap_'+j+'"><input type="hidden" value="'+(result[i].catList[j].spDLID)+'@@'+(result[i].dlNumber)+'@@'+(result[i].dlRegCode)+'@@'+(result[i].dlTerritoryCode)+'@@'+(result[i].catList[j].catCode)+'@@'+(result[i].dlName)+'@@'+(result[i].accID)+'@@'+(result[i].catList[j].catASP)*(result[i].catList[j].planned)+'" /><input type="hidden" id="cat_asp_'+i+'_'+j+'" value="'+(result[i].catList[j].catASP)+'"/><input type="text" class="font14" style="width:50px;height:24px;background:#ADD6FF;padding-left: 1px;margin-top:12px;text-align:center;" maxlength="5" value="'+(result[i].catList[j].planned)+'" id="cat_gap_'+i+'_'+j+'" onchange="calculateTotal('+j+',this.id,'+i+');" onkeypress="return isNumberKey(event);calculateTotal('+j+',this.id,'+i+');" onKeyDown="isDownKey(event,'+i+','+j+');isUpKey(event,'+i+','+j+');isTabKey(event,'+i+','+j+');" onblur="checkNotNull(this.id);" saveit= "'+(result[i].catList[j].saveit)+'"  readonly="true"  /></b></div>';
                                          }
                                      }else{
                                       $j('#divSubmitTop').show();
                                       $j('#divSubmitTop1').show(); 
                                        st = '420px';
                                      if(keyLength==j+1){
                                        
                                            bodyTd = bodyTd + '<div style="width:280px;height:33px;float:left;text-align: center;"><div class="font14"  style="width:70px;height:33px;float:left;line-height:50px;">'+(result[i].catList[j].budget)+'</div><div class="font14" style="width:70px;height:33px;float:left;line-height:50px;">'+(result[i].catList[j].Lycm)+'</div><div class="font14" style="width:70px;height:33px;float:left;line-height:50px;">'+(result[i].catList[j].L3M)+'</div><div class="font14" style="width:70px;height:33px;float:left;"><b class="cat_gap cat_gap_'+j+'"><input type="hidden" value="'+(result[i].catList[j].spDLID)+'@@'+(result[i].dlNumber)+'@@'+(result[i].dlRegCode)+'@@'+(result[i].dlTerritoryCode)+'@@'+(result[i].catList[j].catCode)+'@@'+(result[i].dlName)+'@@'+(result[i].accID)+'@@'+(result[i].catList[j].catASP)*(result[i].catList[j].planned)+'" /><input type="hidden" id="cat_asp_'+i+'_'+j+'" value="'+(result[i].catList[j].catASP)+'"/><input type="text" class="font14" style="width:50px;height:24px;background:#ADD6FF;padding-left:1px;margin-top:12px;text-align:center;" maxlength="5" value="'+(result[i].catList[j].planned)+'" id="cat_gap_'+i+'_'+j+'" onchange="calculateTotal('+j+',this.id,'+i+');" onkeypress="return isNumberKey(event);calculateTotal('+j+',this.id,'+i+');" onKeyDown="isDownKey(event,'+i+','+j+');isUpKey(event,'+i+','+j+');isTabKey(event,'+i+','+j+');" onblur="checkNotNull(this.id);" saveit= "'+(result[i].catList[j].saveit)+'"  /></b></div>';
                                          }else{
                                            bodyTd = bodyTd + '<div  style="width:280px;height:33px;float:left;text-align: center;"><div class="font14" style="width:70px;height:33px;float:left;line-height:50px;">'+(result[i].catList[j].budget)+'</div><div class="font14" style="width:70px;height:33px;float:left;line-height:50px;">'+(result[i].catList[j].Lycm)+'</div><div class="font14" style="width:70px;height:33px;float:left;line-height:50px;">'+(result[i].catList[j].L3M)+'</div><div class="font14" style="width:70px;height:33px;float:left;"><b class="cat_gap cat_gap_'+j+'"><input type="hidden" value="'+(result[i].catList[j].spDLID)+'@@'+(result[i].dlNumber)+'@@'+(result[i].dlRegCode)+'@@'+(result[i].dlTerritoryCode)+'@@'+(result[i].catList[j].catCode)+'@@'+(result[i].dlName)+'@@'+(result[i].accID)+'@@'+(result[i].catList[j].catASP)*(result[i].catList[j].planned)+'"/><input type="hidden" id="cat_asp_'+i+'_'+j+'" value="'+(result[i].catList[j].catASP)+'"/><input type="text" class="font14" style="width:50px;height:24px;background:#ADD6FF;padding-left: 1px;margin-top:12px;text-align:center;" maxlength="5" value="'+(result[i].catList[j].planned)+'" id="cat_gap_'+i+'_'+j+'" onchange="calculateTotal('+j+',this.id,'+i+');" onkeypress="return isNumberKey(event);calculateTotal('+j+',this.id,'+i+');" onKeyDown="isDownKey(event,'+i+','+j+');isUpKey(event,'+i+','+j+');isTabKey(event,'+i+','+j+');" onblur="checkNotNull(this.id);" saveit= "'+(result[i].catList[j].saveit)+'"   /></b></div>';
                                          }
                                      }
                                      bodyTd = bodyTd + '</td>';  
                                      // For Table Body End
                                      bodyRow = bodyRow + bodyTd;
                                  }
                              }                          
                          bodyRow = bodyRow + '</tr>';
                          tab2.append(bodyRow);
                          $j("tr:even").css("background-color", "#E0E0D1");

                       }
                   tablefix = $j('#demo_stupidtable').DataTable( {
                            scrollY: st,
                            scrollX: "100%",
                            searching: false,
                            scrollCollapse: true,
                            paging: false,
                            ordering:  false,
                            info:false
                           
                        } );
                      // Fixing code end  
                   new $j.fn.dataTable.FixedColumns( tablefix,{
                             leftColumns: 3
                        } );
                  if(resLength <= 8){
                        $j('.dataTables_scrollBody').css("overflow" , "overlay");
                  }
                  $j("#el_loading").hide(); 
                  $j("#salesPlan").fadeIn('slow'); 
                  for(var i=0;i<keyLength;i++){
                        if(parseInt($j( "#cat_total_"+i ).text()) ==  $j( "#cat_run_total_"+i ).text()) {
                            $j( "#cat_gap_total_"+i ).removeClass('TargetNEQPlanned');
                            $j( "#cat_gap_total_"+i ).addClass('TargetEQPlanned');
                        }else{
                            $j( "#cat_gap_total_"+i ).removeClass('TargetEQPlanned');
                            $j( "#cat_gap_total_"+i ).addClass('TargetNEQPlanned');
                        }
                  }  
                  //for(var k=0;k<result.length; k++){
                     // calculatePlanRunningASP(k,'');   
                  //}
                  saveSalesPlanOnload(); 
                 }
                        
                });
                }  
            }
            
            function dlNameMouseOver(got,th) {
                            var moveLeft = 10;
                            var moveDown = 10;        
                            $j('div#pop-up').show();       
                            $j('div#pop-up').css('top', got.pageY + moveDown);
                            $j('div#pop-up').css('left', got.pageX + moveLeft);  
                            //String key=x.spit
                            var x = $j(th).find('input').val();
                            
                            var hoverText = x.split('@@');  
                            
                            if(hoverText[2]!='Prospect'){
                                $j('div#pop-up').html('<b>Name : '+hoverText[0]+'</b><br /><b>SAP Code : '+hoverText[1]+' </b><br/>');
                            }else{
                               $j('div#pop-up').html('<b>Name : '+hoverText[0]+'</b><br /><b>Type : '+hoverText[2]+' </b><br /><b>Prospect Number : '+hoverText[3]+' </b><br/>');                            
                                 
                            }
            }  
                   
            function dlNameMouseOut(got) {
                        $j('div#pop-up').hide();   
                                  
            }
            checkNotNull=function(id){
                if($j('#'+id).val()=='' || $j('#'+id).val()==null)
                $j('#'+id).val('0');
            }   
            calculateTotal=function(i1,ths,i2){
                var difference          = 0;
                var x                   = 0;
                //var cal               = 0;
                var calruntotal         = 0; 
                var length              = 0;
                var extra               = 0;
                var plan_running_total=0;
                var cal    = 0;
                var caltotal = 0;
                var calruntotal = 0;
                var unit_dealer_total=0;
                
                if(ths!=null && ths!='')
                $j("#"+ths).attr('saveit','true');
                if($j('#'+ths).val()=='' || $j('#'+ths).val()==null){
                        $j('#'+ths).val('0');
                }
                var running_total=0;
                $j( ".cat_gap_"+i1+" input[type=text]").each(function( index ) {                  
                  if(!isNaN($j( this ).val()))
                  running_total+=parseInt($j( this ).val());
                  // alert(running_total);
                }); 
                if(!isNaN(running_total)){
                    $j( "#cat_run_total_"+i1 ).text(running_total);
                    $j( "#cat_gap_total_"+i1 ).text(parseInt($j( "#cat_total_"+i1 ).text())-running_total);
                }
                for(var j =0 ;j <keyLength ;j++){
                    cal += parseInt($j("#cat_gap_"+i2+"_"+j).val()) *  parseInt($j("#cat_asp_"+i2+"_"+j).val());
                    $j("#cat_planned_"+i2).text((cal/100000).toFixed(2));       
                    caltotal += parseInt($j("#cat_total_"+j).text()) *  parseInt($j("#cat_asp_"+i2+"_"+j).val());                               
                    calruntotal += parseInt($j("#cat_run_total_"+j).text()) * parseInt($j("#cat_asp_"+i2+"_"+j).val());     
                               
                    $j("div.cat_Asp_Total").text((caltotal/100000).toFixed(2));
                    $j("div.cat_runAsp_Total").text((calruntotal/100000).toFixed(2));
                }
                if(!isNaN(calruntotal)){
                  $j("div.cat_runAsp_Total").text((calruntotal/100000).toFixed(2));                 
                }
                if(parseInt($j( "#cat_total_"+i1 ).text()) == running_total) {
                //if(parseInt($j( "#cat_gap_total_"+i1 ).text()) !=0) { 
                    $j( "#cat_gap_total_"+i1 ).removeClass('TargetNEQPlanned');
                    $j( "#cat_gap_total_"+i1 ).addClass('TargetEQPlanned');
                }else{
                    $j( "#cat_gap_total_"+i1 ).removeClass('TargetEQPlanned');
                    $j( "#cat_gap_total_"+i1 ).addClass('TargetNEQPlanned');
                } 
                new $j.fn.dataTable.FixedColumns( tablefix,{
                             leftColumns: 3
                        } );  
                       $j("#"+ths).focus();                                    
            }
            calculateTotalOnBlur=function(i1,ths,i2){
                var difference          = 0;
                var x                   = 0;
                //var cal               = 0;
                var calruntotal         = 0; 
                var length              = 0;
                var extra               = 0;
                var plan_running_total=0;
                var cal    = 0;
                var caltotal = 0;
                var calruntotal = 0;
                var unit_dealer_total=0;
                
                if(ths!=null && ths!='')
               // $j("#"+ths).attr('saveit','true');
                if($j('#'+ths).val()=='' || $j('#'+ths).val()==null){
                        $j('#'+ths).val('0');
                }
                var running_total=0;
                $j( ".cat_gap_"+i1+" input[type=text]").each(function( index ) {                  
                  if(!isNaN($j( this ).val()))
                  running_total+=parseInt($j( this ).val());
                }); 
                if(!isNaN(running_total)){
                    $j( "#cat_run_total_"+i1 ).text(running_total);
                    $j( "#cat_gap_total_"+i1 ).text(parseInt($j( "#cat_total_"+i1 ).text())-running_total);
                }
                for(var j =0 ;j <keyLength ;j++){
                    cal += parseInt($j("#cat_gap_"+i2+"_"+j).val()) *  parseInt($j("#cat_asp_"+i2+"_"+j).val());
                    $j("#cat_planned_"+i2).text((cal/100000).toFixed(2));       
                    caltotal += parseInt($j("#cat_total_"+j).text()) *  parseInt($j("#cat_asp_"+i2+"_"+j).val());                               
                    calruntotal += parseInt($j("#cat_run_total_"+j).text()) * parseInt($j("#cat_asp_"+i2+"_"+j).val());     
                               
                    $j("div.cat_Asp_Total").text((caltotal/100000).toFixed(2));
                    $j("div.cat_runAsp_Total").text((calruntotal/100000).toFixed(2));
                }
                if(!isNaN(calruntotal)){
                  $j("div.cat_runAsp_Total").text((calruntotal/100000).toFixed(2));                 
                }
                if(parseInt($j( "#cat_total_"+i1 ).text()) == running_total) {
                //if(parseInt($j( "#cat_gap_total_"+i1 ).text()) !=0) { 
                    $j( "#cat_gap_total_"+i1 ).removeClass('TargetNEQPlanned');
                    $j( "#cat_gap_total_"+i1 ).addClass('TargetEQPlanned');
                }else{
                    $j( "#cat_gap_total_"+i1 ).removeClass('TargetEQPlanned');
                    $j( "#cat_gap_total_"+i1 ).addClass('TargetNEQPlanned');
                } 
                new $j.fn.dataTable.FixedColumns( tablefix,{
                             leftColumns: 3
                        } ); 
                $j("#"+ths).focus();
            }
            
           
         submitSalesPlan=function(){
                var plannedValues={};
                var plannedQuantity = {};                
                   $j(".cat_gap").each(function( index ) {
                
                  if($j( this ).children("input[type=hidden]").val()!=null && $j( this ).children("input[type=hidden]").val()!='undefined' && $j( this ).children("input[type=text]").attr('saveit')=='true'){
                      plannedQuantity[($j( this ).children("input[type=hidden]").val())]=$j( this ).children("input[type=text]").val();                      
                  }
                }); 
                
                alertify.set({ labels: {
                    ok     : "Dismiss"
                } });                
                var errMsg = '';
                var isGap0 = true;
                for(var i=0; i<keyLength; i++) {
                    
                    if(parseInt($j( "#cat_gap_total_"+i ).text()) != 0){
                        errMsg += $j( "#cat_catname_"+i ).text() + ' : ' +$j( "#cat_gap_total_"+i ).text()+'\n'+'<br/>'; 
                        isGap0 = false;
                    }
                }
                if(isGap0 == false){
                    alertify.alert("Sales Planning can not be submitted as Gap is not 0 for some Categories :\n"+errMsg, function(e){
                        if(e){
                            isGap0 = true;
                        } else {
                            isGap0 = false;
                        }                             
                    });
                }                
                if(isGap0 == true) {
                    alertify.set({ labels: {
                    ok     : "OK"                    
                    } });
                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.SP_Replacement_Controller_TL.updateDlSpRecord}',plannedQuantity,'{!loggedInUserId}',function(result,event) {
                alertify.alert("Sales planning submitted successfully");  
                $j('#divSubmitTop').hide();  
                $j('#divSubmitTop1').hide(); 
                } );
                 for(var i=0;i<resLength;i++){
                        for(var j=0;j< keyLength ;j++){
                               //var d = document.getElementById();
                               //alert($j('#cat_gap_0_0'));
                               $j("#cat_gap_"+i+"_"+j).attr("readonly",true);
                        }
                    }
            }  
         } 
         saveSalesPlanOnload=function(){
                var plannedValues={};
                var plannedQuantity = {};                
                   $j(".cat_gap").each(function( index ) {
                
                  if($j( this ).children("input[type=hidden]").val()!=null && $j( this ).children("input[type=hidden]").val()!='undefined' && $j( this ).children("input[type=text]").attr('saveit')=='true'){
                      plannedQuantity[($j( this ).children("input[type=hidden]").val())]=$j( this ).children("input[type=text]").val();                      
                      
                  }
                }); 
                
                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.SP_Replacement_Controller_TL.saveAsDraftDlSpRecord}',plannedQuantity,'{!loggedInUserId}',function(result,event) {
                //alertify.alert("Sales planning saved successfully");  
                //$j('#divSubmitTop1').hide(); 
                 } );
                 
             
         }
         saveSalesPlan=function(){
                var plannedValues={};
                var plannedQuantity = {};                
                   $j(".cat_gap").each(function( index ) {
                
                  if($j( this ).children("input[type=hidden]").val()!=null && $j( this ).children("input[type=hidden]").val()!='undefined' && $j( this ).children("input[type=text]").attr('saveit')=='true'){
                      plannedQuantity[($j( this ).children("input[type=hidden]").val())]=$j( this ).children("input[type=text]").val();                      
                  }
                }); 
                
                alertify.set({ labels: {
                    ok     : "Dismiss"
                    
                } });                
                var errMsg = '';
                var isGap0 = true;
                for(var i=0; i<keyLength; i++) {
                    
                    if(parseInt($j( "#cat_gap_total_"+i ).text()) != 0){
                        errMsg += $j( "#cat_catname_"+i ).text() + ' : ' +$j( "#cat_gap_total_"+i ).text()+'\n'+'<br/>'; 
                        isGap0 = false;
                    }
                }
                if(isGap0 == false){
                    alertify.alert("Sales Planning can not be submitted as Gap is not 0 for some Categories :\n"+errMsg, function(e){
                        if(e){
                            isGap0 = true;
                        } else {
                            isGap0 = false;
                        }                             
                    });
                }                
                if(isGap0 == true) {
                    alertify.set({ labels: {
                    ok     : "OK"                    
                    } });
                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.SP_Replacement_Controller_TL.saveAsDraftDlSpRecord}',plannedQuantity,'{!loggedInUserId}',function(result,event) {
                alertify.alert("Sales planning saved successfully");  
                //$j('#divSubmitTop1').hide(); 
                 } );
                 
            }  
         }                     
        </script> 
          <div id="salesPlan" style="display:none"> 
           <div class="navbar navbar-inverse navbar-collapse collapse navbar-inverse-collapse" style="background:#213F99 !important;">
              <div class="navbar-header">
               <a class="navbar-brand" href="/" title="Home"><img id="imgCeat1"  src="{!$Resource.CeatLogo}" alt="Logo not found" style="margin-top:-8px;" align="right"/></a>
              </div>
                <ul class="nav navbar-nav" style="width:1200px;background:#213F99 !important;">
                  <li style="background:#213F99 !important;"><a style="font-size: 15px;margin-left: -123px;position: fixed;" href="#" class="fontFamily">Sales Planning For {!loggedInUserTerritory} {!myDatetimeStr} </a></li>
                  <li style="background:#213F99 !important;"> <a type="button" id="divSubmitTop1"  class="btn-sm btn-danger navbar-right" onclick="saveSalesPlan();" style="position: fixed; margin-left: 635px;height: 61px;">Save</a></li>
                  <li style="background:#213F99 !important;"><a type="button" id="divSubmitTop"  class="btn-sm btn-danger navbar-right" onclick="submitSalesPlan();" style="margin-left: 696px;width: 64px;height: 61px;position:fixed;">Submit</a></li>
                </ul>
                <ul class="nav navbar-nav">
                  <li ><a id="openrec" href="/" style="font-size:11px;margin-top: -57px;margin-left: 630px;color:yellow!important">Click here to Approve / Reject </a></li>             
                </ul>
            </div>
            </div>
            <div class="panel-body,container" id="panelbody" style="padding-top: 10px;">
                <table class="table table-bordered" id="demo_stupidtable" style="border: 1px solid;">
                    <thead id="tableOfSales" class="fontFamily" style="border: 1px solid;">
                    </thead>
                    <tbody id="tableBody" class="stickyTop fontFamily" style="height:33px;border: 1px solid ;">
                    </tbody> 
                    <tfoot id="tablefoot" class="stickyTop fontFamily" style="border: 1px solid ;">
                    </tfoot>
                </table>                 
                <br/><br/><br/>
            </div>
            <div id="pop-up">
                    </div>
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height: 90%;opacity:0.65;width:100%;" onclick="return false;"> 
            <div class="waitingHolder" style="center: 104.2px; width: 100px; right:50px;">
                <img class="waitingImage" src="/img/loading32.gif" title="Please Wait..." />
                <span class="waitingDescription">Loading Plan...</span>
            </div>
            </div>           
        </body>
    </html>
</apex:form>
</apex:page>