<apex:page sidebar="false" id="myPage" showHeader="false" applyBodyTag="false" applyHtmlTag="false" controller="SP_SpecialityExports" >
<apex:form id="myForm">
    <c:SalesPlanningComponent />
    <html>
        <head> 
           <c:SalesPlanningComponentHeader />           
        </head>
        <body>
            <Script>
                    function isNumberKey(evt){
                        var charCode = (evt.which) ? evt.which : event.keyCode
                        if (charCode > 31 && (charCode < 48 || charCode > 57))
                            return false;
                            
                        return true;
                    }
                    function isTabKey(evt,i,j){
                       var charCode = (evt.which) ? evt.which : event.keyCode
                        console.log('keyLength'+keyLength); 
                       if(j==(keyLength-1)){
                         i=i+1;
                         j=0;
                        }else{
                            j=j+1;
                        }
                        
                        var charCode = (evt.which) ? evt.which : event.keyCode
                        if (evt.keyCode == 9){
                             evt.preventDefault();
                              console.log('i---'+i); 
                              console.log('j--'+j); 
                             document.getElementById('cat_gap_'+i+'_'+j).focus();
                             console.log('Tab key Pressed');
                        }
                       
                       // console.log('cat_gap_'+i+'_'+j);
                    }
                    
                   
            </Script>
             <Script>
               function isUpKey(evt,i,j){
                    console.log(i);   
                     if(i!=0)
                     {
                         i=i-1;
                     }             
                    var charCode = (evt.which) ? evt.which : event.keyCode
                    if (evt.keyCode == 38){
                         document.getElementById('cat_gap_'+i+'_'+j).focus();
                         console.log('Up key Pressed');
                    }
                    console.log('cat_gap_'+i+'_'+j);
                }
           </script>
           <Script>
                function isDownKey(evt,i,j){
                     
                    i=i+1;
                    var charCode = (evt.which) ? evt.which : event.keyCode
                    if (evt.keyCode == 40)
                          document.getElementById('cat_gap_'+i+'_'+j).focus();
                }
        </script>
        <script>
            $j = jQuery.noConflict();
            $j( document ).ready(function() {
                //$j("#el_loading").hide();
                 $j("#summaryDiv").hide();
                fetchSalesPlanning();
                console.log( "document loaded" );                
            });
            var showButton          =true;
            var resLength           = 0;
            var keyLength           =0;
            var table; 
            var tableSummary;
            var nbpCatarr={};
            function fetchSalesPlanning() {
                    var tab = $j("#tableOfSales");
                    var tab2 = $j('#tableBody');
                    var tab3 = $j("#tableOfSummary");
                    var tab4 = $j('#tableBodySummary');                
                    var customArr = [];
                    
                    resLength = 0;
                    Visualforce.remoting.timeout = 120000;
                    var catResultLength;
                    $j('#tableBody').empty();
                    $j('#tableBodySummary').empty();
                   	
                    Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.SP_SpecialityExports.getTLsOfRM}','{!loggedInUserId}',
                        function(result,event) { 
                                if(result == null){
                                    $j("#el_loading").hide();
                                    alertify.alert("Sales Planning are not available");
                                }
                                else{
                                console.log(result);  
                                //alert(result[0].catList[0].catNBPRO);
                                var trHead ='';
                                keyLength=0; 
                                for(var i=0;i<result.length;i++){
                                      keyLength = result[i].catList.length;     
                                      //customArr.push('<td style="background:#DDDDDD;">'+(result[i].tlName)+'</td><td id="cat_planned_'+i+'" style="background:#DDDDDD;"></td><td id="cat_planned_'+i+'" style="background:#DDDDDD;"></td>'); 
                                      customArr.push('<td id="dealer_cusgrp_'+i+'" style="background:#DDDDDD;font-weight: bold;font-size: 14px !important;text-align: center;">'+(result[i].dealerCustGrp)+'</td><td style="background:#DDDDDD;font-weight: bold;" onmouseover="dlNameMouseOver(event,this);" onmouseout="dlNameMouseOut(event);"><input type="hidden" id="tlname_'+i+'" value="'+result[i]['dlName']+'@@'+result[i]['dlNumber']+'"/>'+(result[i]['dlName'].length > 7?result[i]['dlName'].substring(0,8)+'...' :result[i]['dlName'])+'</td>');                      
                                      
                                      if(result[i].link != ''){
                                        var link = document.getElementById("detailLink");
                                        link.setAttribute('href',result[i].link);
                                        $j( "#detailLink" ).show();
                                      }else{
                                        $j( "#detailLink" ).hide();
                                      } 
                                  }
                                  resLength = result.length;
                                  //resLength = 10;
                              //alert(resLength);
                                //alert('hhii1');
                              var rowL = '<tr><th style="background:#213F99;color:White;vertical-align: bottom; padding-bottom: 4px;width:40px;">Customer <br/> Group</th><th style="background:#213F99;color:White;vertical-align: bottom; padding-bottom: 4px;width:40px;">Category ><br/><br/>Channels</th>';
                              for(var j=0;j< keyLength ;j++){
                                      if(result[0].catList[j] != undefined){
                                          
                                        // bodyRow = bodyRow + customArr[0];
        
                                          var thsN = '<th style="padding:0px;"><div class="widthOfCol floatingLeft">';
                                          
                                          thsN = thsN + '<div class="paddingleft27 padding6" style="width:210px;height:30px;float:left;background:#213F99;color:White;">Category Value Total</div><div style="width:70px;height:30px;float:left;background:#213F99;color:White;line-height: 30px;" id="cat_totalZone_'+j+'">'+((result[0].catList[j].catNBPZone)/10000000).toFixed(2)+'</div>'; 
                                          
                                          thsN = thsN + '<div class="paddingleft27 padding6" style="width:210px;height:30px;float:left;background:#213F99;color:White;">Category Target Total</div><div style="width:70px;height:30px;float:left;background:#213F99;color:White;line-height: 30px;" id="cat_total_'+j+'">'+result[0].catList[j].catTarget+'</div>'; 
        
                                          thsN = thsN + '<div class="paddingleft27 padding6" style="width:210px;height:30px;float:left;background:#DDDDDD;">Running Total</div><div style="width:70px;float:left;height:30px;background:#DDDDDD;line-height: 30px;line-height: 30px;" class ="cat_running_'+j+'" id="cat_run_total_'+j+'">'+result[0].catList[j].catRunning+'</div>';
        
                                          thsN = thsN + '<div class="paddingleft27 padding6" style="background:white;width:210px;height:30px;float:left;">Gap</div><div style="background:white;width:70px;float:left;height:30px;line-height: 30px;" id="cat_gap_total_'+j+'">'+result[0].catList[j].catGap+'</div>';
        
                                          thsN = thsN + '<div class="padding6" style="width:280px;height:30px;float:left;background:#213F99;color:White;text-align: center;" id="cat_catname_'+j+'">'+result[0].catList[j].catName+'</div>';
        
                                          thsN = thsN + '<div class="padding6" style="width:70px;height:30px;float:left;background:#DDDDDD;text-align: center;">Budget</div><div class="padding6" style="width:70px;height:30px;float:left;background:#DDDDDD;text-align: center;">LYCM</div><div class="padding6" style="width:70px;height:30px;float:left;background:#DDDDDD;text-align: center;">L3M</div><div class="padding6" style="width:70px;height:30px;float:left;background:#DDDDDD;text-align: center;">Planned</div>';
        
                                          thsN = thsN+'</div></th>';
        
                                          //heads + thsN;
        
                                          rowL = rowL + thsN;
        
        
                                          // For Table Body
                                          
                                          //alert(thsN);
                                      }
                                  }
                                  var thsNone = '<th style="padding:0px;"><div class="widthOfColTwo floatingLeft">';
                                  thsNone = thsNone + '<div style="width:200px;height:30px;float:left;padding-top: 6px;background:#213F99;color:White;text-align: center;" id="cat_totalZone_total1">Total Value</div>';
                                  thsNone = thsNone + '<div style="width:200px;height:30px;float:left;padding-top: 6px;background:#213F99;color:White;text-align: center;" id="cat_totalZone_total"></div>';
                                  thsNone = thsNone + '<div style="width:200px;height:28px;float:left;padding-top: 6px;background:#213F99;margin-top: 1px;color:White;text-align: center;" id="cat_totalZone_total_cat1">Total Unit</div>';
                                  thsNone = thsNone + '<div style="width:200px;height:30px;float:left;padding-top: 6px;background:#213F99;color:White;text-align: center;" id="cat_totalZone_total_cat"></div>';
                                  thsNone = thsNone + '<div style="width:200px;height:30px;float:left;padding-top: 6px;background:#213F99;margin-top: 1px;color:White;text-align: center;" id="cat_totalZone_unit">Channel Totals</div>';
                                  thsNone = thsNone + '<div style="width:200px;height:30px;float:left;background:#DDDDDD;color:White;text-align: center;" id="cat_totalZone_blank1"></div>';
                                  thsNone = thsNone+'</div></th>';
                                  //alert('hhii2');
                                  rowL = rowL + thsNone;
                                  rowL + '</tr>';      
        
                                  tab.append(rowL);
                                  
                                  
                              var bodyRow = '';
                              for(var i=0;i<result.length;i++){
        
                                       bodyRow = '<tr>'+customArr[i];
                                       var bodyTd = '';
                                       nbpCatarr={};
                                      for(var j=0;j <keyLength ;j++){
                                          nbpCatarr[result[i].catList[j].catName]= result[i].catList[j].catNBPRO ;  
                                          //console.log(nbpCatarr);
                                          if(result[i].catList[j] != undefined){ 
                                              bodyTd = '<td style="padding:0px;">';
                                              if(result[i].lockedRM == true){
                                              console.log('5555');
                                                $j('#divSubmitTop').hide(); 
                                                $j('#divSubmitTop1').hide(); 
                                                $j('#divNext').show(); 
                                                
                                                  if(keyLength==j+1){
                                                    bodyTd = bodyTd + '<div style="width:280px;height:33px;float:left;text-align: center;"><div style="width:70px;height:33px;float:left;line-height:41px;font-size: 14px !important;">'+(result[i].catList[j].budget)+'</div><div style="width:70px;height:33px;float:left;line-height:41px;font-size: 14px !important;">'+(result[i].catList[j].Lycm)+'</div><div style="width:70px;height:33px;float:left;line-height:41px;font-size: 14px !important;">'+(result[i].catList[j].L3M)+'</div><div style="width:70px;height:33px;float:left;font-size: 14px !important;"><b class="cat_gap cat_gap_'+j+' cat_class_'+i+'"><input type="hidden" value="'+(result[i].catList[j].spDLID)+'@@'+(result[i].catList[j].dlName1)+'@@'+(result[i].catList[j].catName)+'@@'+(result[i].catList[j].dlNumber)+'@@'+(result[i].accID)+'" /><input type="hidden" id="cat_asp_'+i+'_'+j+'" value="'+(result[i].catList[j].catNBPRO)*(result[i].catList[j].planned)+'"/><input type="text" style="width:50px;height:24px;background:#ADD6FF;padding-left: 1px;margin-top:7px;text-align:center;font-size: 14px !important;" maxlength="5" value="'+(result[i].catList[j].planned)+'" id="cat_gap_'+i+'_'+j+'" onchange="calculateTotal('+j+',this.id,'+i+')" onkeypress="return isNumberKey(event); " onblur ="checkNotNull(this.id) ; calculateTotalOnBlur('+j+',this.id,'+i+');" onKeyDown="isDownKey(event,'+i+','+j+');isUpKey(event,'+i+','+j+');isTabKey(event,'+i+','+j+');" saveit= "'+(result[i].catList[j].saveit)+'" readonly="true" /></b></div>';
                                                  }else{
                                                    bodyTd = bodyTd + '<div style="width:280px;height:33px;float:left;text-align: center;"><div style="width:70px;height:33px;float:left;line-height:41px;font-size: 14px !important;">'+(result[i].catList[j].budget)+'</div><div style="width:70px;height:33px;float:left;line-height:41px;font-size: 14px !important;">'+(result[i].catList[j].Lycm)+'</div><div style="width:70px;height:33px;float:left;line-height:41px;font-size: 14px !important;">'+(result[i].catList[j].L3M)+'</div><div style="width:70px;height:33px;float:left;font-size: 14px !important;"><b class="cat_gap cat_gap_'+j+' cat_class_'+i+'"><input type="hidden" value="'+(result[i].catList[j].spDLID)+'@@'+(result[i].catList[j].dlName1)+'@@'+(result[i].catList[j].catName)+'@@'+(result[i].catList[j].dlNumber)+'@@'+(result[i].accID)+'" /><input type="hidden" id="cat_asp_'+i+'_'+j+'" value="'+(result[i].catList[j].catNBPRO)*(result[i].catList[j].planned)+'"/><input type="text" style="width:50px;height:24px;background:#ADD6FF;padding-left: 1px;margin-top:7px;text-align:center;font-size: 14px !important;" maxlength="5" value="'+(result[i].catList[j].planned)+'" id="cat_gap_'+i+'_'+j+'" onchange="calculateTotal('+j+',this.id,'+i+')" onkeypress="return isNumberKey(event);" onblur ="checkNotNull(this.id);calculateTotalOnBlur('+j+',this.id,'+i+');" onKeyDown="isDownKey(event,'+i+','+j+');isUpKey(event,'+i+','+j+');isTabKey(event,'+i+','+j+');" saveit= "'+(result[i].catList[j].saveit)+'" readonly="true" /></b></div>';
                                                  }
                                                  //$j("#divSubmitTop").style("display",none);
                                              }else{
                                              console.log('666');
                                                  $j('#divSubmitTop').show(); 
                                                  $j('#divSubmitTop1').show(); 
                                                  $j('#divNext').hide(); 
                                                 
                                                  //console.log('------i--'+i+'--j---'+j+'-------catNBPRO-------'+result[1].catList[0].catNBPRO+'----------------planned--------'+result[1].catList[0].planned+'============'+((result[1].catList[0].catNBPRO)*(result[1].catList[0].planned)));
                                                    
                                                   
                                                  if(keyLength==j+1){
                                                   bodyTd = bodyTd + '<div style="width:280px;height:33px;float:left;text-align: center;"><div style="width:70px;height:33px;float:left;line-height:41px;font-size: 14px !important;">'+(result[i].catList[j].budget)+'</div><div style="width:70px;height:33px;float:left;line-height:41px;font-size: 14px !important;">'+(result[i].catList[j].Lycm)+'</div><div style="width:70px;height:33px;float:left;line-height:41px;font-size: 14px !important;">'+(result[i].catList[j].L3M)+'</div><div style="width:70px;height:33px;float:left;font-size: 14px !important;"><b class="cat_gap cat_gap_'+j+' cat_class_'+i+'"><input type="hidden" value="'+(result[i].catList[j].spDLID)+'@@'+(result[i].catList[j].dlName1)+'@@'+(result[i].catList[j].catName)+'@@'+(result[i].catList[j].dlNumber)+'@@'+(result[i].accID)+'" /><input type="hidden" id="cat_asp_'+i+'_'+j+'" value="'+((result[i].catList[j].catNBPRO)*(result[i].catList[j].planned))+'"/><input type="text" style="width:50px;height:24px;background:#ADD6FF;padding-left: 1px;margin-top:7px;text-align:center;font-size: 14px !important;" maxlength="5" value="'+(result[i].catList[j].planned)+'" id="cat_gap_'+i+'_'+j+'" onchange="calculateTotal('+j+',this.id,'+i+')" onkeypress="return isNumberKey(event);" onblur ="checkNotNull(this.id);calculateTotalOnBlur('+j+',this.id,'+i+');" onKeyDown="isDownKey(event,'+i+','+j+');isUpKey(event,'+i+','+j+');isTabKey(event,'+i+','+j+');" saveit="'+(result[i].catList[j].saveit)+'" /></b></div>';
                                                   console.log('------i--'+i+'--j---'+j);
                                                   //alert(parseInt($j( "#cat_asp_"+i+"_"+j).val())); 
                                                  }else{
                                                    //console.log('--elseee----i--'+i+'--j---'+j+'-------catNBPRO-------'+result[i].catList[j].catNBPRO+'----------------planned--------'+result[i].catList[j].planned);
                                                  
                                                    bodyTd = bodyTd + '<div style="width:280px;height:33px;float:left;text-align: center;"><div style="width:70px;height:33px;float:left;line-height:41px;font-size: 14px !important;">'+(result[i].catList[j].budget)+'</div><div style="width:70px;height:33px;float:left;line-height:41px;font-size: 14px !important;">'+(result[i].catList[j].Lycm)+'</div><div style="width:70px;height:33px;float:left;line-height:41px;font-size: 14px !important;">'+(result[i].catList[j].L3M)+'</div><div style="width:70px;height:33px;float:left;font-size: 14px !important;"><b class="cat_gap cat_gap_'+j+' cat_class_'+i+'"><input type="hidden" value="'+(result[i].catList[j].spDLID)+'@@'+(result[i].catList[j].dlName1)+'@@'+(result[i].catList[j].catName)+'@@'+(result[i].catList[j].dlNumber)+'@@'+(result[i].accID)+'" /><input type="hidden" id="cat_asp_'+i+'_'+j+'" value="'+((result[i].catList[j].catNBPRO)*(result[i].catList[j].planned))+'"/><input type="text" style="width:50px;height:24px;background:#ADD6FF;padding-left: 1px;margin-top:7px;text-align:center;font-size: 14px !important;" maxlength="5" value="'+(result[i].catList[j].planned)+'" id="cat_gap_'+i+'_'+j+'" onchange="calculateTotal('+j+',this.id,'+i+')" onkeypress="return isNumberKey(event);" onblur ="checkNotNull(this.id);calculateTotalOnBlur('+j+',this.id,'+i+');"  onKeyDown="isDownKey(event,'+i+','+j+');isUpKey(event,'+i+','+j+');isTabKey(event,'+i+','+j+');" saveit="'+(result[i].catList[j].saveit)+'" /></b></div>';
                                                  }
                                              }
            
                                              bodyTd = bodyTd + '</td>';  
                                              // For Table Body End
                                              bodyRow = bodyRow + bodyTd;
                                          }
            
                                          //alert(bodyTd);
                                      }
                                        //alert('hhii3');
                                  var bodyTd1 = '<td style="padding:0px;">';    
                                  bodyTd1 = bodyTd1 + '<b><div style="width:200px;height:30px;float:left;text-align: center;line-height: 41px;" id="cat_dealer_'+i+'">'+result[i].dealerTotalPlan+'</div></b>'; 
                                  bodyTd1 = bodyTd1 + '</td>'; 
                                  bodyRow = bodyRow + bodyTd1; 
                                  bodyRow = bodyRow + '</tr>';
                                  tab2.append(bodyRow);
                                  $j("tr:even").css("background-color", "#E0E0D1");
        
                               }
                               table = $j('#demo_stupidtable').DataTable( {
                                    scrollY: "395px",
                                    //scrollY: "100%",
                                    scrollX: "100%",
                                    searching: false,
                                    scrollCollapse: true,
                                    paging: false,
                                    ordering:  false,
                                    info:false
                                } );
                                new $j.fn.dataTable.FixedColumns( table,{
                                    leftColumns: 2
                                } );
                                if(resLength <= 10){
                                    $j('.dataTables_scrollBody').css("overflow" , "overlay");
                                }
                                $j("#el_loading").hide();
                                $j("#salesPlan").fadeIn('slow'); 
                                
                                 var totValue = 0.00 ;
                                 var totTarget = 0;
                                 var totRun = 0;
                                for(var i=0;i<keyLength;i++){
                                      totValue = totValue + parseFloat($j( "#cat_totalZone_"+i ).text());
                                      totTarget = totTarget + parseInt($j("#cat_total_"+i).text());
                                      if(!isNaN(totTarget )){
                                          $j("#cat_totalZone_total_cat").text(totTarget);
                                      }
                                      totRun = totRun + parseInt($j( "#cat_run_total_"+i ).text());
                                      if(!isNaN(totRun )){
                                          $j("#cat_totalZone_run").text(totRun);
                                      }
                                    if(parseInt($j( "#cat_total_"+i ).text()) == parseInt($j("#cat_run_total_"+i).text())) {
                                        $j( "#cat_gap_total_"+i ).removeClass('TargetNEQPlanned');
                                        $j( "#cat_gap_total_"+i ).addClass('TargetEQPlanned');
                                    }else{
                                        $j( "#cat_gap_total_"+i ).removeClass('TargetEQPlanned');
                                        $j( "#cat_gap_total_"+i ).addClass('TargetNEQPlanned');
                                    }                  
                                 } 
                                 if(!isNaN(totValue )){
                                      totValue = totValue.toFixed(2);
                                      $j( "#cat_totalZone_total" ).text(totValue);
                                 }
                               //Summary table
                              var rowLS = '<tr><th style="background:#213F99;color:White;vertical-align: bottom; padding-bottom: 0px;width:40px;">Customer <br/>Group</th><th style="background:#213F99;color:White;vertical-align: bottom; padding-bottom: 5px;width:40px;">Category > <br/><br/>Channels</th>';
                              for(var j=0;j< keyLength ;j++){
                                      if(result[0].catList[j] != undefined){
                                          
                                          var thsNS = '<th style="padding:0px;width:270px;"><div class="floatingLeft">';
                                          
                                          thsNS = thsNS + '<div class="paddingleft27 padding6" style="width:200px;height:30px;float:left;background:#213F99;color:White;">Category Value Total</div><div style="width:70px;height:30px;float:left;background:#213F99;color:White;text-align:center;" id="cat_totalZone_Sammary_'+j+'">'+((result[0].catList[j].catNBPZone)/10000000).toFixed(2)+'</div>'; 
                                          
                                          thsNS = thsNS + '<div class="paddingleft27 padding6" style="width:200px;height:30px;float:left;background:#213F99;color:White;">Category Target Total</div><div style="width:70px;height:30px;float:left;background:#213F99;color:White;text-align:center;" id="cat_total_Sammary_'+j+'">'+result[0].catList[j].catTarget+'</div>'; 
        
                                          thsNS = thsNS + '<div style="width:270px;height:29px;margin-top: 1px;float:left;background:#213F99;padding-top: 6px;color:White;text-align: center;" id="cat_catname_Sammary_'+j+'">'+result[0].catList[j].catName+'</div>';
        
                                          thsNS = thsNS + '<div style="width:270px;height:30px;float:left;background:#DDDDDD;text-align:center;">Planned Value</div>';
        
                                          thsNS = thsNS+'</div></th>';
       
                                          rowLS = rowLS + thsNS;
                                          // For Table Body
                                      }
                                  }
                                  var thsNoneS = '<th style="padding:0px;width:182px;"><div class="floatingLeft">';
                                  thsNoneS = thsNoneS + '<div style="width:112px;height:30px;float:left;background:#213F99;color:White;text-align: center;" id="cat_totalZone_total2">Total Value</div><div style="width:70px;height:30px;float:left;background:#213F99;color:White;text-align: center;" id="cat_totalZone_totalS">Total Value</div>';
                                  thsNoneS = thsNoneS + '<div style="width:112px;height:30px;float:left;background:#213F99;color:White;text-align: center;" id="cat_totalZone_total3">Total Unit</div><div style="width:70px;height:30px;float:left;background:#213F99;color:White;text-align: center;" id="cat_totalZone_total_catS">Total</div>';
                                  thsNoneS = thsNoneS + '<div style="width:182px;height:30px;float:left;background:#213F99;color:White;" id="cat_totalZone_blank"></div>';
                                  thsNoneS = thsNoneS + '<div style="width:182px;height:30px;float:left;background:#DDDDDD;color:Black;text-align: center;" id="cat_totalZone_unit">Channel Planned Value</div>';
                                  thsNoneS = thsNoneS+'</div></th>';
                                  rowLS = rowLS + thsNoneS;
                                  rowLS + '</tr>';      
                                  tab3.append(rowLS);    
 
                                  var bodyRowS = '';
                                  for(var i=0;i<result.length;i++){
                                       bodyRowS = '<tr>'+customArr[i];
                                       var bodyTdS = '';
                                      for(var j=0;j <keyLength ;j++){ 
                                          if(result[i].catList[j] != undefined){ 
                                              bodyTdS = '<td style="padding:0px;">';
                                              var tot = 0;
                                                  if(keyLength==j+1){
                                                    if(i == 0 && j == 0){
                                                    alert(parseInt($j( "#cat_asp_"+i+"_"+j).val()));
                                                    }
                                                    tot = (( parseInt($j( "#cat_asp_"+i+"_"+j).val()))/10000000).toFixed(2);
                                                    bodyTdS = bodyTdS + '<div style="width:270px;height:33px;float:left;text-align: center;"><b><div style="width:270px;height:40px;float:left;line-height: 36px;" id="cat_summary_'+i+'_'+j+'">'+(result[i].catList[j].catPlannedVal/10000000).toFixed(2)+'</div></b>';
                                                  }else{
                                                    tot = ((parseInt($j( "#cat_asp_"+i+"_"+j).val()))/10000000).toFixed(2);
                                                    bodyTdS = bodyTdS + '<div style="width:270px;height:33px;float:left;text-align: center;"><b><div style="width:270px;height:40px;float:left;line-height: 36px;" id="cat_summary_'+i+'_'+j+'">'+(result[i].catList[j].catPlannedVal/10000000).toFixed(2)+'</div></b>';
                                                  }
                                                  //$j("#divSubmitTop").style("display",none);
                                              bodyTdS = bodyTdS + '</td>';  
                                              // For Table Body End
                                              bodyRowS = bodyRowS + bodyTdS;
                                          }
                                      }
                                  var bodyTdS1 = '<td style="padding:0px;width:182px;">';    
                                  bodyTdS1 = bodyTdS1 + '<b><div style="width:182px;height:30px;float:left;text-align: center;line-height: 36px;" id="totalVal_'+i+'">'+(result[i].dealerTotalPlanValue/10000000).toFixed(2)+'</div></b>'; 
                                  bodyTdS1 = bodyTdS1 + '</td>'; 
                                  bodyRowS = bodyRowS + bodyTdS1; 
                                  bodyRowS = bodyRowS + '</tr>';
                                  tab4.append(bodyRowS);
                               }  
                               
                               tableSummary = $j('#summeryTable').DataTable( {
                                    scrollY: "470px",
                                    scrollX: "100%",
                                    searching: false,
                                    scrollCollapse: true,
                                    paging: false,
                                    ordering:  false,
                                    info:false
                                } );
                             
                                var totValueSummary = 0.00 ;
                                var totTargetSummary = 0;
                                for(var i=0;i<keyLength;i++){
                                      totValueSummary = totValueSummary + parseFloat($j( "#cat_totalZone_Sammary_"+i ).text());
                                      totTargetSummary = totTargetSummary + parseInt($j("#cat_total_Sammary_"+i).text());
                                      if(!isNaN(totTargetSummary )){
                                          $j("#cat_totalZone_total_catS").text(totTargetSummary);
                                      }
                                                     
                                 } 
                                 if(!isNaN(totValueSummary )){
                                      totValueSummary = totValueSummary.toFixed(2);
                                      $j( "#cat_totalZone_totalS" ).text(totValueSummary);
                                 }
                                 saveSalesPlanOnload();
                             }
                        });
                }
                function dlNameMouseOver(got,th) {
                            //alert('hiiiiiiiiiiiiiii');
                            var moveLeft = 10;
                            var moveDown = 10;        
                            $j('div#pop-up').show();  
                            //alert('hi2');     
                            $j('div#pop-up').css('top', got.pageY + moveDown);
                            $j('div#pop-up').css('left', got.pageX + moveLeft); 
                            //alert(got.pageY + moveDown + '*****' + got.pageX + moveLeft); 
                            //String key=x.spit
                            var x = $j(th).find('input').val();
                            //alert('hi3');
                            var hoverText = x.split('@@');  //dlname/dlNumber/dltype/prospect number
                            console.log(x+'-------'+hoverText);
                            //if(hoverText[3]=='Prospect'){
                                // $j('div#pop-up').html('<b>Name : '+hoverText[0]+'</b><br /><b>Type : '+hoverText[3]+' </b><br/><br /><b>Prospect Number : '+hoverText[2]+' </b><br/>');
                           // }else{                            
                                 $j('div#pop-up').html('<b>Name : '+hoverText[0]+'</b><br /><b>SAP Code : '+hoverText[1]+' </b><br/>');
                           // }
                            //alert('hiii4');
            }  
             
                   
            function dlNameMouseOut(got) {
                        $j('div#pop-up').hide();                
            }
                checkNotNull=function(id){
                    if($j('#'+id).val()=='' || $j('#'+id).val()==null)
                    $j('#'+id).val('0');
                } 
              
            calculateTotal=function(i1,ths,j1){
                        
                        var difference          = 0;
                        var x                   = 0;
                        var len              = 0;
                        var extra               = 0;
                        if(ths!=null && ths!='')
                        $j("#"+ths).attr('saveit','true');
                        var running_total=0;
                        var running_total_side=0;
                        var unit_dealer_total=0;
                        var val_dealer_total=0;
                        var value_Cal = 0;
                        var value_cal1 = 0.0;
                        var aspid = '';
                        var aspSummaryid = '';
                        var aspSummaryidval = '';
                        $j( ".cat_gap_"+i1+" input[type=text]").each(function( index ) {                  
                          if(!isNaN($j( this ).val()))
                          running_total+=parseInt($j( this ).val());
                        }); 
                        if(!isNaN(running_total)){
                            $j( "#cat_run_total_"+i1 ).text(running_total);
                            $j( "#cat_gap_total_"+i1 ).text(parseInt($j( "#cat_total_"+i1 ).text())-running_total);
                        }
                        for(var j=0;j<keyLength;j++){
                            running_total_side +=parseInt($j( "#cat_run_total_"+j ).text());
                        }
                        if(!isNaN(running_total_side)){
                            //$j( "#cat_totalZone_run" ).text(running_total_side);
                        }                        
                        aspid = ths.replace("gap", "asp");
                        aspSummaryid = ths.replace("gap","summary");
                        value_Cal = $j("#"+ths).val() * nbpCatarr[$j("#cat_catname_"+i1 ).text()];
                        value_cal1 = (value_Cal/10000000).toFixed(2);
                        $j( "#"+aspid ).val(value_Cal);
                        $j( "#"+aspSummaryid ).text(value_cal1);
                        $j( ".cat_class_"+j1+" input[type=text]").each(function( index ) {                  
                          if(!isNaN($j( this ).val())){
                               aspSummaryidval = ($j(this).attr('id')).replace("gap","summary");
                               unit_dealer_total += parseInt($j( this ).val());
                               val_dealer_total += parseFloat($j( "#"+aspSummaryidval).text());
                          } 
                        }); 
                        if(!isNaN(unit_dealer_total)){
                            $j("#cat_dealer_"+j1).text(unit_dealer_total);
                        }
                        if(!isNaN(val_dealer_total)){
                            $j("#totalVal_"+j1).text(val_dealer_total);
                        }
                        if(parseInt($j( "#cat_total_"+i1 ).text()) == running_total) {
                            
                            $j( "#cat_gap_total_"+i1 ).removeClass('TargetNEQPlanned');
                            $j( "#cat_gap_total_"+i1 ).addClass('TargetEQPlanned');
                        }else{
                            $j( "#cat_gap_total_"+i1 ).removeClass('TargetEQPlanned');
                            $j( "#cat_gap_total_"+i1 ).addClass('TargetNEQPlanned');
                        }                                             
                }
          
          calculateTotalOnBlur=function(i1,ths,j1){
                        
                        var difference          = 0;
                        var x                   = 0;
                        var len              = 0;
                        var extra               = 0;
                        if(ths!=null && ths!='')
                        //$j("#"+ths).attr('saveit','true');
                        var running_total=0;
                        var running_total_side=0;
                        var unit_dealer_total=0;
                        var val_dealer_total=0;
                        var value_Cal = 0;
                        var value_cal1 = 0.0;
                        var aspid = '';
                        var aspSummaryid = '';
                        var aspSummaryidval = '';
                        $j( ".cat_gap_"+i1+" input[type=text]").each(function( index ) {                  
                          if(!isNaN($j( this ).val()))
                          running_total+=parseInt($j( this ).val());
                        }); 
                        if(!isNaN(running_total)){
                            $j( "#cat_run_total_"+i1 ).text(running_total);
                            $j( "#cat_gap_total_"+i1 ).text(parseInt($j( "#cat_total_"+i1 ).text())-running_total);
                        }
                        for(var j=0;j<keyLength;j++){
                            running_total_side +=parseInt($j( "#cat_run_total_"+j ).text());
                        }
                        if(!isNaN(running_total_side)){
                            //$j( "#cat_totalZone_run" ).text(running_total_side);
                        }                        
                        aspid = ths.replace("gap", "asp");
                        aspSummaryid = ths.replace("gap","summary");
                        value_Cal = $j("#"+ths).val() * nbpCatarr[$j("#cat_catname_"+i1 ).text()];
                        value_cal1 = (value_Cal/10000000).toFixed(2);
                        $j( "#"+aspid ).val(value_Cal);
                        $j( "#"+aspSummaryid ).text(value_cal1);
                        $j( ".cat_class_"+j1+" input[type=text]").each(function( index ) {                  
                          if(!isNaN($j( this ).val())){
                               aspSummaryidval = ($j(this).attr('id')).replace("gap","summary");
                               unit_dealer_total += parseInt($j( this ).val());
                               val_dealer_total += parseFloat($j( "#"+aspSummaryidval).text());
                          } 
                        }); 
                        if(!isNaN(unit_dealer_total)){
                            $j("#cat_dealer_"+j1).text(unit_dealer_total);
                        }
                        if(!isNaN(val_dealer_total)){
                            $j("#totalVal_"+j1).text(val_dealer_total);
                        }
                        if(parseInt($j( "#cat_total_"+i1 ).text()) == running_total) {
                            
                            $j( "#cat_gap_total_"+i1 ).removeClass('TargetNEQPlanned');
                            $j( "#cat_gap_total_"+i1 ).addClass('TargetEQPlanned');
                        }else{
                            $j( "#cat_gap_total_"+i1 ).removeClass('TargetEQPlanned');
                            $j( "#cat_gap_total_"+i1 ).addClass('TargetNEQPlanned');
                        }                                             
                }
                
                      
          submitSalesPlan=function(){
                //console.log($j(".cat_gap"));
                var plannedValues={};
                var plannedQuantity = {};
                showButton = false;
                $j(".cat_gap").each(function( index ) {
                
                  if($j( this ).children("input[type=hidden]").val()!=null && $j( this ).children("input[type=hidden]").val()!='undefined' && $j( this ).children("input[type=text]").attr('saveit')=='true'){
                      plannedQuantity[($j( this ).children("input[type=hidden]").val())]=$j( this ).children("input[type=text]").val();
                      
                      //console.log($j( this ).children("input[type=hidden]").val());
                      //console.log(plannedValues);
                  }
                  if($j( this ).children("input[type=text]").val() != null && $j( this ).children("input[type=text]").attr('saveit')=='true'){
                    plannedValues[($j( this ).children("input[type=hidden]").val())]=($j( this ).children("input[type=hidden]").next().val());
                  }
                  
                }); 
                //console.log(plannedValues);
                //console.log(plannedQuantity);
                alertify.set({ labels: {
                    ok     : "Dismiss"
                    
                } });
                
                var errMsg = '';
                var isGap0 = true;
                for(var i=0; i<keyLength; i++) {
                    //cat_gap_total_0   cat_catname_0
                    if(parseInt($j( "#cat_gap_total_"+i ).text()) != 0){
                        errMsg += $j( "#cat_catname_"+i ).text() + ' : ' +$j( "#cat_gap_total_"+i ).text()+'\n'+'<br/>'; 
                        isGap0 = false;
                    }
                }
                if(isGap0 == false){
                    alertify.alert("Sales Planning can not be submitted as Gap is not 0 for some Categories :\n"+errMsg, function(e){
                        if(e){
                            isGap0 = true;
                        } else {
                            isGap0 = false;
                        }                             
                    });
                }
                if(isGap0 == true) {
                    alertify.set({ labels: {
                    ok     : "OK"
                    
                    } });
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.SP_SpecialityExports.saveDLSpRecord }',plannedValues,plannedQuantity,'{!loggedInUserId}',function(result,event) {
                    alertify.alert("Sales planning submitted successfully");
                   
                    divSubmitTop.style.display = 'none';
                    divSubmitTop1.style.display = 'none';
                    panelbody.style.display = 'none';
                    //$j('#divSubmitTop').hide(); 
                    
                    $j("#summaryDiv").show(); 
                    $j("#divBack").show(); 
                   
                    tableSummary.destroy();
                    
                    tableSummary = $j('#summeryTable').DataTable( {
                                    scrollY: "470px",
                                    scrollX: "100%",
                                    searching: false,
                                    scrollCollapse: true,
                                    paging: false,
                                    ordering:  false,
                                    info:false
                                } );
                               new $j.fn.dataTable.FixedColumns( tableSummary,{
                                    leftColumns: 2
                                } );
                      $j("#summeryTable").show();
                    });
                    $j("#divSubmitTop").hide();
                    $j("#divSubmitTop1").hide();
                    $j("#panelbody").show(); 
                    
                    for(var i=0;i<resLength;i++){
                        for(var j=0;j< keyLength ;j++){
                               //var d = document.getElementById();
                               //alert($j('#cat_gap_0_0'));
                               $j("#cat_gap_"+i+"_"+j).attr("readonly",true);
                        }
                    }
                    
                }                  
            }    
            
            saveSalesPlanOnload=function(){
                //console.log($j(".cat_gap"));
               
                var plannedValues={};
                var plannedQuantity = {};
                $j(".cat_gap").each(function( index ) {
                
                  if($j( this ).children("input[type=hidden]").val()!=null && $j( this ).children("input[type=hidden]").val()!='undefined' && $j( this ).children("input[type=text]").attr('saveit')=='true'){
                      plannedQuantity[($j( this ).children("input[type=hidden]").val())]=$j( this ).children("input[type=text]").val();
                      
                      //console.log($j( this ).children("input[type=hidden]").val());
                      //console.log(plannedValues);
                  }
                  if($j( this ).children("input[type=text]").val() != null && $j( this ).children("input[type=text]").attr('saveit')=='true'){
                    plannedValues[($j( this ).children("input[type=hidden]").val())]=($j( this ).children("input[type=hidden]").next().val());
                  }
                  
                }); 
                console.log(plannedValues);
                //console.log(plannedQuantity);
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.SP_SpecialityExports.saveAsDraftSpRecord }',plannedValues,plannedQuantity,'{!loggedInUserId}',function(result,event) {
                   // $j("#divSubmitTop1").show();
                    
                    });
                }                  
               
            
            saveSalesPlan=function(){
                //console.log($j(".cat_gap"));
               
                var plannedValues={};
                var plannedQuantity = {};
                $j(".cat_gap").each(function( index ) {
                
                  if($j( this ).children("input[type=hidden]").val()!=null && $j( this ).children("input[type=hidden]").val()!='undefined' && $j( this ).children("input[type=text]").attr('saveit')=='true'){
                      plannedQuantity[($j( this ).children("input[type=hidden]").val())]=$j( this ).children("input[type=text]").val();
                      
                      //console.log($j( this ).children("input[type=hidden]").val());
                      //console.log(plannedValues);
                  }
                  if($j( this ).children("input[type=text]").val() != null && $j( this ).children("input[type=text]").attr('saveit')=='true'){
                    plannedValues[($j( this ).children("input[type=hidden]").val())]=($j( this ).children("input[type=hidden]").next().val());
                  }
                  
                }); 
                console.log(plannedValues);
                //console.log(plannedQuantity);
                alertify.set({ labels: {
                    ok     : "Dismiss"
                    
                } });
                
                var errMsg = '';
                var isGap0 = true;
                for(var i=0; i<keyLength; i++) {
                    //cat_gap_total_0   cat_catname_0
                    if(parseInt($j( "#cat_gap_total_"+i ).text()) != 0){
                        errMsg += $j( "#cat_catname_"+i ).text() + ' : ' +$j( "#cat_gap_total_"+i ).text()+'\n'+'<br/>'; 
                        isGap0 = false;
                    }
                }
                if(isGap0 == false){
                    alertify.alert("Sales Planning can not be saved as Gap is not 0 for some Categories :\n"+errMsg, function(e){
                        if(e){
                            isGap0 = true;
                        } else {
                            isGap0 = false;
                        }                             
                    });
                }
                if(isGap0 == true) {
                    alertify.set({ labels: {
                    ok     : "OK"
                    
                    } });
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.SP_SpecialityExports.saveAsDraftSpRecord }',plannedValues,plannedQuantity,'{!loggedInUserId}',function(result,event) {
                    $j("#divSubmitTop1").hide();
                    alertify.alert("Sales planning saved successfully");
                    divSubmitTop.style.display = 'none';
                    panelbody.style.display = 'none';
                    
                    $j("#summaryDiv").show(); 
                    $j("#divBack").show(); 
                    
                    tableSummary.destroy();
                    
                    tableSummary = $j('#summeryTable').DataTable( {
                                    scrollY: "470px",
                                    scrollX: "100%",
                                    searching: false,
                                    scrollCollapse: true,
                                    paging: false,
                                    ordering:  false,
                                    info:false
                                } );
                               new $j.fn.dataTable.FixedColumns( tableSummary,{
                                    leftColumns: 2
                                } );
                                
                      $j("#summeryTable").show();
          
                    });
                     
                    $j("#divSubmitTop").show();
                    $j("#panelbody").show(); 
                    /*
                    for(var i=0;i<resLength;i++){
                        for(var j=0;j< keyLength ;j++){
                               //var d = document.getElementById();
                               //alert($j('#cat_gap_0_0'));
                               $j("#cat_gap_"+i+"_"+j).attr("readonly",true);
                        }
                    }
                    */
                }                  
            }    
            backToSalesPlan=function(){
                summaryDiv.style.display = 'none';
                divBack.style.display = 'none';
                //summeryTable.style.display = 'none';
                //$j("#divSubmitTop1").show();
                $j("#panelbody").show(); 
                table.destroy();
                table = $j('#demo_stupidtable').DataTable( {
                                    scrollY: "395px",
                                    //scrollY: "100%",
                                    scrollX: "100%",
                                    searching: false,
                                    scrollCollapse: true,
                                    paging: false,
                                    ordering:  false,
                                    info:false
                                } );
                                new $j.fn.dataTable.FixedColumns( table,{
                                    leftColumns: 2
                                } );
                                $j("#demo_stupidtable").show();
                
                //$j("#divSubmitTop").show();
               
                if(showButton==false){
                      $j("#divSubmitTop").hide(); 
                      $j("#divSubmitTop1").hide();  
                      $j("#divNext").show();                 
                }else {
                      $j("#divSubmitTop").show(); 
                      $j("#divSubmitTop1").show(); 
                      $j("#divNext").hide(); 
                }
                tableSummary.destroy();
                tableSummary = $j('#summeryTable').DataTable( {
                                    scrollY: "470px",
                                    scrollX: "100%",
                                    searching: false,
                                    scrollCollapse: true,
                                    paging: false,
                                    ordering:  false,
                                    info:false
                                } );
                               new $j.fn.dataTable.FixedColumns( tableSummary,{
                                    leftColumns: 2
                                } );
                                if(resLength <= 10){
                                    $j('.dataTables_scrollBody').css("overflow" , "overlay");
                                }
                                
                      //$j("#summeryTable").show();
            }    
           
            nextToSalesPlan=function(){
                panelbody.style.display = 'none';
                divNext.style.display = 'none';
                showButton=false;
                //summeryTable.style.display = 'none';
                $j("#divSubmitTop").hide(); 
                $j("#divSubmitTop1").hide();  
                $j("#divBack").show();
                $j("#summaryDiv").show(); 
              
                tableSummary.destroy();
                tableSummary = $j('#summeryTable').DataTable( {
                                    scrollY: "470px",
                                    //scrollY: "100%",
                                    scrollX: "100%",
                                    searching: false,
                                    scrollCollapse: true,
                                    paging: false,
                                    ordering:  false,
                                    info:false
                                } );
                                new $j.fn.dataTable.FixedColumns( table,{
                                    leftColumns: 2
                                } );
                                $j("#summeryTable").show();
              
                table.destroy();
                table = $j('#demo_stupidtable').DataTable( {
                                    scrollY: "395px",
                                    scrollX: "100%",
                                    searching: false,
                                    scrollCollapse: true,
                                    paging: false,
                                    ordering:  false,
                                    info:false
                                } );
                               new $j.fn.dataTable.FixedColumns( tableSummary,{
                                    leftColumns: 2
                                } );
                                if(resLength <= 6){
                                    $j('.dataTables_scrollBody').css("overflow" , "overlay");
                                }
                                
                     // $j("#summeryTable").show();
            }    
        </script>
         <div id="salesPlan" style="display:none;background:#213F99 !important;"> 
          <!--   <div id="divPageHeader">
            <div style="background:#213F99" id="divPageHead">                       
                     <center><span style="color:white;font-size: 14px !important;" class="fontFamily panel-title stickyTop" id="monthName"><b>Sales Planning For {!loggedInTerritory}</b></span></center> 
                        <img onClick='window.top.location = "/";' id="imgCeat" style="margin-top:-21px" src="{!$Resource.Ceatlogo}" alt="Logo not found" align="left"/><br/>
                    
            </div>
            </div>
             <br/><br/><br/>
            <div id="total_value_target" >
                <table style="display: inline-block;">
                        <tr><td bgcolor = "#213F99" color="white" style="width: 130px; border-style: solid;border-width: medium;"><font color="#FFFFFF">Total Value Target</font></td><b><td id="catTotalASP" align="center" style="width: 130px;border-style: solid;border-width: medium;"></td></b></tr>
                </table>
                <table style="display: inline-block;margin-left: 252px;">
                        <tr><td bgcolor = "#213F99" color="white" style="width: 130px; border-style: solid;border-width: medium;"><font color="#FFFFFF">Sp. Value Target</font></td><b><td id="catTotalASP1" align="center" style="width: 130px;border-style: solid;border-width: medium;">0</td></b></tr>
                </table>
                <div id="divSubmitTop" style="margin-left: 261px;background='#6E6E6E';"><input type="button" style="margin-left: 389px; " value="Save" onClick="submitSalesPlan()" class="btn-sm"/></div>
                <div id="divBack" style="display: none;margin-left: 261px;background='#6E6E6E';"><input type="button" style="margin-left: 389px;" value="<<Back" onClick="backToSalesPlan()" class="btn-sm"/></div>
            </div>  -->
              
            <div class="navbar navbar-inverse navbar-collapse collapse navbar-inverse-collapse" style="background:#213F99 !important;">
              <div class="navbar-header">
               <a class="navbar-brand" href="/" title="Home"><img id="imgCeat1"  src="{!$Resource.CeatLogo}" alt="Logo not found" style="margin-top: -9px;margin-left: -19px;position: fixed;" align="right"/></a>
              </div>
                <ul class="nav navbar-nav" style="width:1200px; background:#213F99 !important;">
                  <li style="background:#213F99 !important;"><a style="font-size: 15px;margin-left: -64px;position: fixed;" href="#" class="fontFamily">Sales Planning For {!loggedInTerritory} {!myDatetimeStr} </a></li>
                  
                  <li style="background:#213F99 !important;"><a type="button" id="divSubmitTop1"  class="btn-sm btn-danger navbar-right" onclick="saveSalesPlan();" style="position: fixed; margin-left: 724px;height: 61px;" >Save</a></li>
                  <li style="background:#213F99 !important;"><a type="button" id="divSubmitTop"  class="btn-sm btn-danger navbar-right" onclick="submitSalesPlan();" style="margin-left: 785px;width: 64px;height: 61px;position:fixed;" >Submit</a></li>
                  <li style="background:#213F99 !important;"><a type="button" id="divBack" class="btn-sm btn-danger navbar-right" onclick="backToSalesPlan();" style="display: none;margin-left: 780px;position: fixed;height: 61px;">Back</a></li>
                  <li style="background:#213F99 !important;"><a type="button" id="divNext" class="btn-sm btn-danger navbar-right" onclick="nextToSalesPlan();" style="display: none;margin-left: 780px;position: fixed;height: 61px;">Next</a></li>
                </ul>
                <ul class="nav navbar-nav">
                  <li ><a id="detailLink" href="/" style="margin-top: 9px;margin-left: 527px;position: fixed;">Click here to Approve / Reject </a></li>             
                </ul>
            </div>
            </div>
            <div class="panel-body,container" id="panelbody" >
                <table class="table table-bordered" id="demo_stupidtable" >
                    <thead id="tableOfSales" class="fontFamily" style="border: 1px solid;">
                    </thead>
                    <tbody id="tableBody" class="stickyTop fontFamily" style="height:33px;border: 1px solid;">
                    </tbody> 
                    <tfoot id="tablefoot" class="stickyTop fontFamily" style="border: 1px solid;">
                    </tfoot>
                </table>   
            </div>  
           
            <div class="panel-body,container" id="summaryDiv">
                <table class="table table-bordered" id="summeryTable" >
                        <thead id="tableOfSummary" class="fontFamily" style="border: 1px solid;">
                        </thead>
                        <tbody id="tableBodySummary" class="stickyTop fontFamily" style="height:33px;border: 1px solid;">
                        </tbody> 
                        <tfoot id="tablefootSummary" class="stickyTop fontFamily" style="border: 1px solid;">
                        </tfoot>
                    </table>                 
                <br/><br/>  
            </div> 
             <div id="pop-up">
                    </div>
        <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height: 90%;opacity:0.65;width:100%;" onclick="return false;"> 
            <div class="waitingHolder" style="center: 104.2px; width: 100px; right:50px;">
                <img class="waitingImage" src="/img/loading32.gif" title="Please Wait..." />
                <span class="waitingDescription">Loading Plan...</span>
            </div>
        </div>        
       
        </body>
</html>
</apex:form> 
</apex:page>