<apex:page standardStylesheets="false" showHeader="false" sidebar="false">
  <html>
      <head>
            <apex:includeScript value="https://code.jquery.com/jquery-2.1.4.min.js"/>
            <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"/>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
             <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
            
            <script type="text/javascript">
                $j = jQuery.noConflict();
                
               /* window.onload = function() {
                    $j('.selectpicker').selectpicker({
                        style: 'btn-info',
                        size: 4
                    });
    
                }*/
            </script>
      </head>
      <body>
          <select class="selectpicker" multiple= "true" data-style="btn-info" data-size="4">
              <option>Mustard</option>
              <option>Ketchup</option>
              <option>Relish</option>
          </select>
      </body>
  </html>
</apex:page>