<apex:page showHeader="false" 
           sidebar="false" 
           docType="html-5.0" 
           standardStylesheets="false" 
           applyBodyTag="false">
           
           <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    
                    <h3 class="panel-title text-center" style="font-size:18px;">Tyre Details{{name}}</h3>
                </div>
                <div class="panel-body" >
                    <ul class="list-group" >
                        <input type="text" class="form-control" ng-model="" placeholder="Search Customer.."/>
                       <!-- <li class="list-group-item" ng-repeat="account in accountList | filter:searchAccount" style="cursor:pointer;" ng-click="openFleetCustomerDetail(account.Id,$index)">
                            <span class="badge">{{account.UniqueIdentifier__c}}</span>
                            {{account.Name}}
                        </li>-->
                        
                    </ul>
                </div>
            </div>
        </div>
	
</apex:page>