<apex:component >
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
            <apex:includeScript value="{!URLFOR($Resource.JQuery,'jquery-ui-1.10.3.custom/js/jquery-1.9.1.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.JQuery,'jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/jspdf.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/require/config.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/require/require.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/dist/html2canvas.js')}"/>
            <!-- <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/renderers/canvas.js')}"/> -->
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/Downloadify/js/downloadify.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/Downloadify/js/swfobject.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/Downloadify/src/downloadify.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/dist/html2canvas.js')}"/>
            
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/core.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/dummyimagecontainer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/fallback.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/font.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/fontmetrics.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/framecontainer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/gradientcontainer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/imagecontainer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/imageloader.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/lineargradientcontainer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/log.js')}"/>
            
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/nodecontainer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/nodeparser.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/promise.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/proxy.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/proxyimagecontainer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/pseudoelementcontainer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/renderer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/stackingcontext.js')}"/>
            
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/dist/jspdf.debug.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/dist/jspdf.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/support.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/svgcontainer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/svgnodecontainer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/textcontainer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/webkitgradientcontainer.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2canvas/src/xhr.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/png_support/png.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/png_support/zlib.js')}"/>
            
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/require/require.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/plugins/standard_fonts_metrics.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/plugins/split_text_to_size.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/plugins/from_html.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/css_colors.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/deflate.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/html2pdf.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.PDFGenerator,'jsPDF-master/libs/polyfill.js')}"/>
</apex:component>