<apex:component >
    <apex:attribute name="destinationforselectedid" type="String" description="TODO: Describe me"/>
    <apex:attribute name="object" type="String" description="TODO: Describe me"/>
  <!-- Begin Default Content REMOVE THIS -->
  <h1>Congratulations</h1>
  This is your new Component: typeahead
  <!-- End Default Content REMOVE THIS -->
</apex:component>